[2016-10-06 10:53] PurviJani commented on #236
Yeah Sure. I am using Swift 3 Xcode 8
source 'https://github.com/CocoaPods/Specs.git'
platform :ios, '9.0'
use_frameworks!

pod 'Alamofire', '~> 4.0'

pod 'FBSDKCoreKit'
pod 'FBSDKLoginKit'
pod 'FBSDKShareKit'

pod 'SVProgressHUD'

pod 'Google/SignIn'

pod 'IQKeyboardManagerSwift','4.0.6'

pod 'EAIntroView', '~> 2.9.0'

 pod 'SMPageControl', '~> 1.2'

pod "SwiftSignatureView"

[2016-10-06 15:02] retsohuang commented on #236
Podfile seems good, can you update CocoaPods to the latest version and try again? Or provide a sample project that can reproduce the issue.

[2016-10-07 05:03] hackiftekhar commented on #236
Looks like your local repo isn't updated, please update cocoapods local repo and then try again.

[2016-10-09 06:18] #662 closed

[2016-10-09 06:18] #660 closed

[2016-10-10 02:23] zuihuodeman opened #664 "textFieldShouldBeginEditing Repeated calls"
I met a problem when two textField in a cell inside, set up a textFiled delegate: "textFieldShouldBeginEditing:", but another textField will also enter this method, in this example. Thank you.

https://github.com/zuihuodeman/textFieldTest

[2016-10-10 05:20] hackiftekhar commented on #664
Please check manual management guide, there is a workaround for this.

[2016-10-10 05:20] #664 closed

[2016-10-10 05:56] vbresults commented on #580
@hackiftekhar Any updates?

[2016-10-10 06:32] zuihuodeman commented on #664
thank you, it work well.

[2016-10-10 07:54] soumil-chugh opened #665 "Unable to hide Keyboard for specific fields"
Hi,
I want to hide keyboard for a specific text field.When i switch to next field using keyboard, in the  func textFieldDidBeginEditing(textField: UITextField) i have a check for that specific field and i set self.view  .endEditing=true.
I have also tried other options like textField.resignFirstResponder() but with no success.
Kindly provide some solution and help me to resolve this issue.

[2016-10-10 09:38] PurviJani commented on #236
Hey my pod version is 0.39.0 & I have also installed ruby 2.3.1 still it isn't working. Please help me.

[2016-10-10 09:41] hackiftekhar commented on #236
Please update pod version. You are using outdated version of CocoaPods.

[2016-10-10 10:11] PurviJani commented on #236
Now my pod version is    1.1.0.rc.2 still it's not working.

[2016-10-10 11:47] hackiftekhar commented on #580
@vbresults There is no update yet, but it's a bug I know which needs to be fix.

[2016-10-10 12:23] hackiftekhar commented on #665
So why don't you implement textFieldShouldBeginEditing and return NO for that special textfield.

[2016-10-10 14:46] beginlove opened #666 "4.0.6 Crash on iOS7"
-[UIView(IQToolbarAddition) addPreviousNextDoneOnKeyboardWithTarget:previousAction:nextAction:doneAction:titleText:] (in axd) (IQUIView+IQKeyboardToolbar.m:541)

======================================

+[UIImage imageNamed:inBundle:compatibleWithTraitCollection:]: unrecognized selector sent to class 0x39555af0
(null)
((
	0   CoreFoundation                      0x2e08efeb <redacted> + 154
	1   libo

[2016-10-10 17:03] hackiftekhar commented on #666
iOS7 isn't supported by latest version. 3.3.7 is the last supported version for iOS7

[2016-10-10 17:07] #666 closed

[2016-10-10 17:08] hackiftekhar commented on #236
Then I think it's something our mistake and not the library because it's working great on my system.

[2016-10-11 06:51] NVAT opened #667 "Hi everybody when I touch textfield my context view go down and my window gets black, size of keyboard"

[2016-10-11 08:42] hackiftekhar commented on #667
Hello @NVAT you have not provided enough detail to debug this issue.

[2016-10-11 09:40] alucarders opened #668 "iPad in landscape mode."
Hi!

I'm using IQKeyboardManager for the app that supports only landscape mode. I have 2 textfields in a stackview and everything works fine for the top textfield but it fails for the bottom textfield.
I'm using Swift 3, iPad simulator with iOS 10 and IQKeyboardManagerSwift v.4.0.6.

Setting `keyboardDistanceFromTextField` to some bigger values doesn't help either.

![screen shot 2016-10-11 at 12

[2016-10-11 10:15] hackiftekhar commented on #668
Have you pinned your constraints with top layout guide or bottom layout guide?

[2016-10-11 11:20] alucarders commented on #668
@hackiftekhar I'm using constraints pinned to the top layout guide. Should I pin 'em to the bottom?

[2016-10-11 11:21] alucarders commented on #668
Hmmm, it seems that pinning to the bottom layout guide did solve the problem :)

[2016-10-11 11:47] NVAT commented on #667
@hackiftekhar This is screenshot for this problem.After submit content view scrolling down.Thank You.
![7c5bbf7e-8fc2-11e6-9e89-3f65d13f1650](https://cloud.githubusercontent.com/assets/16933227/19269158/f24458f2-8fc9-11e6-9fec-2c9aa9767810.png)

[2016-10-11 12:47] hackiftekhar commented on #668
Not sure but I think this souldn't solve the problem and you should avoid pinning to top/bottom layout guide (If this doesn't required). And if this extremely required then please see manual management guide to know a workaround with layout guides.

[2016-10-11 12:48] hackiftekhar commented on #667
Looks strange, could you please share a demo so that I can debug it?

[2016-10-11 12:48] hackiftekhar commented on #667
Also make sure you are not changing view frame from your own code.

[2016-10-11 12:58] vbresults commented on #644
ping @hackiftekhar

[2016-10-11 13:02] hackiftekhar commented on #644
@vbresults I don't think that this should happen, but will check this.

[2016-10-11 13:05] hackiftekhar commented on #615
@rs10693 can you share any demo project to debug it?

[2016-10-11 13:06] #621 closed

[2016-10-11 13:06] #622 closed

[2016-10-11 13:07] hackiftekhar commented on #637
@Raghvendra7 Can you share a demo?

[2016-10-11 13:09] hackiftekhar commented on #640
@Rahulgupta-cdnsol Could you please send more info?

[2016-10-12 03:24] rs10693 commented on #615
@hackiftekhar Now it's solved.

[2016-10-12 04:40] PurviJani commented on #236
It was working perfectly in xcode 7.2 i am facing problems in xcode 8

[2016-10-12 04:54] hackiftekhar commented on #236
I'' also
Ising Xcode8

[2016-10-12 04:55] hackiftekhar commented on #236
I'' also using Xcode8

[2016-10-12 04:56] hackiftekhar commented on #615
@rs10693 how it is solved?

[2016-10-12 05:25] rs10693 commented on #615
@hackiftekhar  In my case we open action sheet on textfield but right now i am replace button.

[2016-10-12 07:00] soumil-chugh commented on #665
Yes that would resolve the issue but I want the user to go to that field using the next button keyboard functionality provided.
I am able to resolve the issue by adding a delay before self.view.endEditing=true.
Thanks for your input.

[2016-10-12 07:00] #665 closed

[2016-10-12 12:17] hackiftekhar commented on #615
ok, so you did a UI change to solve your problem.

[2016-10-12 12:17] #615 closed

[2016-10-13 09:23] X901 opened #669 "How to disable IQKeyboardManager in some textfield ?"
Hi ,
I have AlertviewController with textfield , I want to disable IQKeyboardManager from only this textfield

[2016-10-13 10:08] gopaldevra opened #670 "How to enable IQKeyboardManager in a particular class?"
Hi

This tool is really fantastic. I just want to use this class in the particular view controller. Is it possible. Please let me know.

[2016-10-13 13:07] hackiftekhar commented on #669
Please read manual management guide and you'll find something for you to disable for that particular viewController. Currenly There is no way to disable for particular textField.

[2016-10-13 13:07] hackiftekhar commented on #670
Please read manual management guide and you'll find how to disable it for a particular view controller.

[2016-10-13 17:18] tatimagdalena commented on #659
I'm having this issue as well.

In my case, I'm using a UITableViewController with static table view and one of it's cells has a UITextField, all in storyboard.

In my code, on viewDidLoad, I do as following:
`IQKeyboardManager.sharedManager().enableAutoToolbar = true`
`IQKeyboardManager.sharedManager().shouldResignOnTouchOutside = true`
`IQKeyboardManager.sharedManager().shouldShowTextFieldPlaceh

[2016-10-14 01:04] X901 commented on #669
Thank you , It work fine

[2016-10-15 01:27] BlaineOmega opened #671 "Does not seem to work with Swift 3.0"
I tried to use this with Swift 3.0 and xCode 8 and had no luck. I was told that I had to convert the syntax and then I had over 325 errors.

[2016-10-15 06:32] quicken commented on #671
I also had this issue, the trick is to do the conversion. click save. See lots of errors, clean your build folder and compile again. You may now see a warning to update project setting. Accept Xcode recommendations after that you may need to do another clean your build folder. After that it works. I had to do the above with a bunch of other PODs as well.

I definitely works, I litterally just conf

[2016-10-15 06:43] hackiftekhar commented on #671
Make sure you are using 4.0.6 version.it's swift3 compatible.

[2016-10-15 10:32] ujikol commented on #642
any news?

[2016-10-15 16:32] hackiftekhar commented on #642
Not yet @ujikol I didn't get free time to check this.

[2016-10-16 10:39] wangyi1998 opened #672 "DemoObjC requires a provisioning profile."
亲爱的作者，下载完Demo后，无法编辑运行
=================================
Dear author, after the Demo download, can't run.
error ：DemoObjC requires a provisioning profile.

[2016-10-16 11:54] hackiftekhar commented on #672
Please either use your own provisioning to run in device or run in iOS simulator.

[2016-10-16 11:54] #672 closed

[2016-10-16 16:57] Premal-Khetani commented on #21
I am getting still this issue in ios 10

[2016-10-16 17:00] hackiftekhar commented on #21
@Premal-Khetani Have you tried navigation bar trick mentioned in manual management guide?

[2016-10-16 17:01] Premal-Khetani commented on #21
@hackiftekhar  yes i tried it with adding uiscrollview as a class but still not working

[2016-10-16 17:11] hackiftekhar commented on #21
If you are using Autolayout then make sure your UIScrollView is calculating your contentSize properly or if you are using Autoresizing then make sure to set it's contentSize externally.

[2016-10-16 17:22] Premal-Khetani commented on #21
@hackiftekhar i am using Autolayout and i am using tableview to show chatting screen and in the bottom of main view i added uitextview but when i set uiscrollview as main class instead of uiview the functionality doesn't work but when i remove uiscrollview and add uiview then it works but then the navigationbar is goes up. :(

[2016-10-16 17:53] hackiftekhar commented on #21
ahh, if you are trying to implement something like chatting screen then it would be hard for IQKeyboardManager for managing the things. I would suggest to disable IQKeyboardManager for that particular class and write your own logic there.

[2016-10-16 18:52] Premal-Khetani commented on #21
oky But the thing is that it was working fine before ios 10 so i am not getting the point why it is not working  :(

[2016-10-17 01:58] tan2547 opened #673 "IQKeyboardManagerhad no effect on iOS 10"
IQKeyboardManager had no effect on  iOS 10.

[2016-10-17 09:16] hackiftekhar commented on #21
Not sure because I didn't get any issues at my end with iOS10 updates.

[2016-10-17 09:27] Premal-Khetani commented on #21
ok let me find out the exact point for that :(

[2016-10-17 09:39] MVakas commented on #671
Just tried the newer version, it’s compatible with Swift 3.0

[2016-10-17 12:11] #671 closed

[2016-10-17 17:46] ltlombardi commented on #638
To my knowledge Swift2.3 has no syntax change, but some of the objects returned by apple core APIs are Optionals in 2.3, so you'll have to add some exclamation marks....

I would recommend changing the version of the Swif3 release... and stating clearly what version supports 2.3 and what has to be done.

[2016-10-18 01:41] junhg521 opened #674 "IQKeyboardManager has crash when used in iOS version 9.1"
Hi,
IQKeyboardManager has crash when controller interface switching,  i think it's crash when keyboard show in the disappear controller and trigger a keyboard hide notification
[code]

[2016-10-18 07:22] hackiftekhar commented on #674
Hmm, looks like IQKeyboardManager did layoutIfNeeded and app gets crashed due to some invalidate layout (due to your app logic). I think it's more related to your layout.

[2016-10-18 07:41] junhg521 commented on #674
app will point out invalidate layout in xib file when controller has push,but i found has no layout warning in my project.so i think NSArray has insert some nil or invalidate index

[2016-10-18 07:44] hackiftekhar commented on #674
Above this line

You'll see all layout related stacks that why I think it's a layout related issues.

[2016-10-18 07:50] junhg521 commented on #674
frame #0: 0x000000010c74bdda libsystem_kernel.dylib`__pthread_kill + 10
frame #1: 0x000000010c866797 libsystem_pthread.dylib`pthread_kill + 90
frame #2: 0x000000010c4c5ff7 libsystem_c.dylib`abort + 129
frame #3: 0x000000010c5fc533 libsystem_malloc.dylib`nanozone_error + 525
frame #4: 0x000000010c5fe937 libsystem_malloc.dylib`_nano_malloc_check_clear + 417
frame #5: 0x000000010c5fd81c libsystem_mal

[2016-10-18 13:34] vbresults commented on #644
This was an issue with my layout's constraints somewhere; it seems to only show the bug when the field focus is invoked programmatically, not in response to an actual tap.

Anyway, not an issue, thank you @hackiftekhar for helping me pin this down (:

[2016-10-18 13:34] #644 closed

[2016-10-18 17:55] #580 closed

[2016-10-18 17:56] hackiftekhar commented on #580
@vbresults, @Rachel829 @mr746866  Just fixed, please check

[2016-10-18 19:30] hackiftekhar commented on #560
@younanjo Do you think you are still getting issues with this method?

[2016-10-19 10:11] hackiftekhar commented on #571
Not sure what action should I take here. Can you guys let me know.

[2016-10-19 10:11] hackiftekhar commented on #582
I tested with iOS10 and it doesn't crash for me.

[2016-10-19 10:11] #582 closed

[2016-10-19 10:11] #597 closed

[2016-10-19 10:12] #564 closed

[2016-10-19 10:12] #565 closed

[2016-10-19 10:13] #599 closed

[2016-10-19 10:14] #607 closed

[2016-10-19 10:15] #608 closed

[2016-10-19 10:16] #612 closed

[2016-10-19 10:17] #624 closed

[2016-10-19 11:34] OktayGardener commented on #582
Awesome. Thanks for closing, I have not had time until now to reach out regarding this.

[2016-10-19 14:37] BMR731 opened #675 "How to use in Xcode8, Swift3"

[2016-10-19 14:37] BMR731 commented on #675
how to write podfile

[2016-10-19 14:38] hackiftekhar commented on #675
It's already in README.md

[2016-10-19 14:38] #675 closed

[2016-10-19 14:39] #640 closed

[2016-10-19 14:40] #646 closed

[2016-10-19 14:41] hackiftekhar commented on #649
@dizialina Any updates on demo?

[2016-10-19 14:41] #656 closed

[2016-10-19 14:44] hackiftekhar commented on #667
@NVAT Any updates for a demo?

[2016-10-19 14:46] #669 closed

[2016-10-19 14:46] #670 closed

[2016-10-19 14:46] hackiftekhar commented on #673
@tan2547 Please share more info

[2016-10-19 15:15] gopaldevra commented on #670
Thanks @hackiftekhar, but I want to enable it for the particular class.

[2016-10-19 20:17] Andre113 commented on #671
Installed the newer version right now, its working.

[2016-10-19 20:44] Andre113 opened #676 "Not working in Iphone presentedViewController"
So, i'm calling **self.present(myModalView, animated: true, completion: nil)** with formSheet option on IPhone (which by default covers the whole screen) and in this view the keyboard still hides my textField.
While running on IPad (which allows me to set the modal view to cover only some part of the view), the view moves to the top, but makes a strange animation.
I already tried to set **self.dis

[2016-10-19 21:37] hackiftekhar commented on #670
@gopaldevra there is also the documentation about enabling for a particular View controller.

[2016-10-19 21:38] hackiftekhar commented on #671
Great!

[2016-10-19 21:44] hackiftekhar commented on #676
Please check two things.
1) If you are using UITableViewController, then it havd it's own logic to manage keyboard. If this is your case the library doesn't do anything in favour of default behaviour.
1) Please check if you pinned top layout constraint or bottom layout constant, If yes tyen please check manual management guide for working with top layout or bottom layout guide.

[2016-10-19 23:52] vbresults commented on #580
@hackiftekhar Just ran the new version from cocoapods, works like a charm, thank you (:

[2016-10-20 05:53] hackiftekhar commented on #580
Grrat @vbresults

[2016-10-20 09:44] gopaldevra commented on #670
Thank you @hackiftekhar, I got it.

[2016-10-20 15:56] mradzinski opened #677 "Autogrowing UITextView"
Hey @hackiftekhar, first and foremost, thanks for building this. My question is related to my app itself. I have a ```UITextView``` which grows depending on the amount of entered text. I noticed that IQKeyboardManager does not seem to handle this cases out of the box (In the sense that my ```UITextView``` grows and gets hidden behind the keyboard without IQKeyboardManage adjusting the position).

[2016-10-20 16:23] hackiftekhar commented on #677
Yes @mradzinski you can do that using `reloadLayoutIfNeeded` method of IQKeyboardManager. Even there is a demo in repo demo app demo strating same functionality as exactly you need.

[2016-10-20 16:23] #677 closed

[2016-10-20 16:26] mradzinski commented on #677
reloadLayoutIfNeeded() is not working for this scenario, I actually tried it before opening up the issue

[2016-10-20 16:35] mradzinski commented on #677
After using ```reloadLayoutIfNeeded()```. Same outcome

<img width="335" alt="captura de pantalla 2016-10-20 a las 13 34 32" src="https://cloud.githubusercontent.com/assets/4214209/19568923/fad96db6-96c9-11e6-8308-60b677662a33.png">

[2016-10-20 16:36] hackiftekhar commented on #677
Have you checked repo demo and find out how it is implemented?

[2016-10-20 16:46] mradzinski commented on #677
Yes, you have it implemented in a button:
[code]

Autogrowing UITextView cannot have this implementation on a button, the Keyboard should adust itself whenevert the field grows, and the field grows not because of a stepper but because o entered text.

[2016-10-20 17:23] hackiftekhar commented on #677
Then you should detect where your textView height changes and make a call to `reloadLayoutIfNeeded`. Generally speaking library is not responsible if your textView grows dynamically, it's the developer who responsible for textView grow, so as a developer I added standard method so that app developer can call according to their convenience if they need.

So your job is to find exact time where you

[2016-10-20 18:10] hackiftekhar commented on #595
I checked this and found that if UIView has other category class having same method name then library code compiles fine and works fine. This is the only issue with subclasses. So I decided to keep `viewController` method name as it is and doesn't change anything.

[2016-10-20 18:14] hackiftekhar commented on #604
Duplicate of #595 where I already provide my feedback today.

[2016-10-20 18:14] #604 closed

[2016-10-20 18:24] #625 closed

[2016-10-20 18:26] hackiftekhar commented on #648
ahh, I interpreted it wrong. So please check manual management guide to overcome with textFieldShouldBeginEditing multiple time gets called issue.

[2016-10-20 18:26] #648 closed

[2016-10-20 18:41] Andre113 commented on #676
No tableView here, but the guide for working with top layout constraints worked. My textField is pinned to another element which is pinned to another element which is then pinned to the top. I just had to reference the constraint in this last element to IQLayoutGuideConstraint.

However, in another view, I'm having some problems because of an UITableView, so I'm probably going to change it to a Sc

[2016-10-20 19:06] hackiftekhar commented on #618
Not sure what is the actual issue but writing this

Solve my issue.

[2016-10-20 20:03] #626 closed

[2016-10-20 20:04] #668 closed

[2016-10-20 20:05] #674 closed

[2016-10-21 06:58] luomuwen opened #678 "Can not find property canAdjustTextView! Has the property been removed?"

[2016-10-21 07:24] hackiftekhar commented on #678
Yup, it's been removed in favor of a managing this using contentInset property manually. So now this is automatically managing and you can safely remove this this method from your project. Make sure all works great after doing this change.

[2016-10-21 07:27] #678 closed

[2016-10-21 07:46] kocakmstf opened #679 "why disabled in UITableViewController"
Thanks for the library. It saved lots of time.
I have a question. Why you disabled it in UITableViewController? Is it has a proper reason?

[2016-10-21 08:44] hackiftekhar commented on #679
Because UITableViewController has their own mechanism for moving content above keyboard. For more info please look here:-

https://developer.apple.com/library/ios/documentation/StringsTextFonts/Conceptual/TextAndWebiPhoneOS/KeyboardManagement/KeyboardManagement.html

You could also read previous issues
https://github.com/hackiftekhar/IQKeyboardManager/issues/37
https://github.com/hackiftekhar/IQKe

[2016-10-21 08:44] #679 closed

[2016-10-21 09:09] kocakmstf commented on #679
Ty. In my case it didn't handle. So I replaced your code. I hope it works just like now

[2016-10-21 09:20] hackiftekhar commented on #618
@pcicp I can't understand why it doesn't work with 4.0.5 and 4.0.6 (iOS 8 and 9) but it does work correctly with 4.0.7 (iOS9 and iOS10 I checked).

[2016-10-21 09:20] #618 closed

[2016-10-21 09:44] hackiftekhar commented on #679
Hmm sometimes `UITableViewController` doesn't handle the situation well, but sometimes it does. But if I already tried to allow `UITableViewController` but then it was conflicting with `IQKeyboardManager` logic that's why I disabled that one.

Btw either you can change my code, and if you are using cocoapods then you can remove `UITableViewController` class from `disabledDistanceHandlingClasses` N

[2016-10-21 09:46] hackiftekhar commented on #673
@tan2547 Could you please explain what isn't working correctly?

[2016-10-21 09:52] hackiftekhar commented on #637
@Raghvendra7 If you do not share a demo with me then how can I check the scenario and understand your user case? Unfortunately I don't have much time to reproduce the demo so that's why I'm asking from you.

[2016-10-21 10:42] #560 closed

[2016-10-21 10:42] hackiftekhar commented on #506
@Zach41 Do you have any updates?

[2016-10-21 10:43] hackiftekhar commented on #479
@lfarah Do you have any demo for us?

[2016-10-23 09:50] #642 closed

[2016-10-23 17:54] #673 closed

[2016-10-23 17:57] #571 closed

[2016-10-23 18:17] hackiftekhar commented on #659
@tatimagdalena I tried to reproduce this in my demo by adding header view, but it works perfectly, touching outside does resign the responder. Make sure you are not touching a UIControl subclass (UITextField, UISwitch, UIButton, UISegmentControl etc) and UINavigationBar. Those both kind of classes is explicitly disabled in favor of responding to their own touch behaviour.

[2016-10-23 18:19] #506 closed

[2016-10-24 16:01] leminhtuan2015 opened #680 "Not Working with SearchBar"
I installed with pod ok, And already follow your introduction

@UIApplicationMain
class AppDelegate: UIResponder, UIApplicationDelegate {

[code]

}

I got no error but nothing happend when I focus on searchbar .

I am using Swift 3, Xcode 8, Please take a look for this issue, Thank you sir!

[2016-10-25 02:53] JustToBeBetter opened #681 "why it do not work with xcode8,what should I do?"
I build my project with xcode 8 and i add the IQKeyboardManager to my project,but it do not work,and only show the toolbar,what should i do

[2016-10-25 02:54] lfarah commented on #479
@hackiftekhar I abandoned that project and since then I never had a problem with **IQKeyboardManager** again... Everything seems to be working perfectly

[2016-10-25 04:27] #479 closed

[2016-10-25 04:32] hackiftekhar commented on #479
@lfarah but still if you have a cooy of project and you can create a demo and reopen this issue and share with us since I don't have any plans to stop my work for this library and continuously trying to improve it.

[2016-10-25 04:34] hackiftekhar commented on #681
Please read the README file first, you may probably missing somethjng. Still if your problem doesn't reaolve then please read Manual Management guide.

[2016-10-25 07:29] WinKhantAung commented on #41
I tried to disable toolbar for specific views sth like IQKeyboardManager.sharedManager().disabledToolbarClasses(LoginViewController);.
But it response with an error message "Cannot call value of non-function type '[UIViewController.Type]'.
Any suggestion pls....

[2016-10-25 07:46] WinKhantAung opened #682 "Hiding toolbar for specific views"
I tried to disable toolbar for specific views sth like IQKeyboardManager.sharedManager().disabledToolbarClasses(LoginViewController);.
But it response with an error message "Cannot call value of non-function type '[UIViewController.Type]'.
Any suggestion pls....

[2016-10-25 14:22] tangqi92 commented on #679
@hackiftekhar Thanks for the library!
I have a question, I have a `UITableViewController ` and I want to completely disabled the library.
And I tried to  use the method
[code]
in my AppDelegate, and when I edit the textfield in UITableViewController, the keyboard will first appears, then disappear.Look forward to the reply~

[2016-10-25 15:08] kocakmstf commented on #679
When I checked for the source code, in uitableviewcontroller, it disables otomatically. You don't need to disable again. I suggest you to remove these codes and check your other handlers. They should be doing it. Maybe you just reload tableview at the background etc. This is my opinion, we may wait for the op's answer :)

[2016-10-25 16:31] hackiftekhar commented on #41
You have to use append method to disabledToolbarClasses, you are using this incorrectly.

[2016-10-25 16:36] hackiftekhar commented on #679
It's already disable for distance handling, but you have to explicitly disable for other things like you were doing.

Regarding the issue you are facing, it looks like due to your own code. Please check your code and make sure this issue isn't due to your own code.

[2016-10-25 16:40] hackiftekhar commented on #682
You have to use append method to disabledToolbarClasses, you are using this incorrectly.

[2016-10-25 18:28] reidmain commented on #667
I am having this same issue on my app. It is pretty ingrained into our app code so I am having some difficulty replicating this in a standalone demo app. Also it doesn't seem to be happening everywhere with IQKeyboardManager, other forms we have are continuing to work properly.

What is happening in my scenario is we are displaying a UIAlertController with a UITextField in it. Whenever the user di

[2016-10-25 20:56] reidmain commented on #667
So the issue appeared to be caused by the fact that a UISearchField was the first responder at the time that the UIAlertController with the UITextField was displayed.

When the UIAlertController is shown the UITextField would automatically become the first responder. But then when the alert was dismissed the text field would resign its first responder status and for some reason that would cause th

[2016-10-26 02:27] tangqi92 commented on #679
I have checked my code, and that's my problem, i reload tableview at somewhere. Thx for your answer :)
@kocakmstf @hackiftekhar

[2016-10-26 03:45] JustToBeBetter commented on #681
thanks

[2016-10-26 03:45] #681 closed

[2016-10-26 04:44] hackiftekhar commented on #667
Yeah, it's a workaround but good findings that you at least figureout a scenario.

[2016-10-26 05:54] MHX792 commented on #680
Same here. Any solutions?

[2016-10-26 08:55] hackiftekhar commented on #680
Could you guys let me know what exactly isn't working with UISearchBar?

[2016-10-26 09:18] WinKhantAung commented on #682
I got it...👍 Thanks for your reply

[2016-10-26 11:38] AnilKuadejaSa opened #683 "Textfield delegate doesn't work in swift 3"
Hi There,

After implementing IQKeyboardmanager for swift 3 textfield delegate doesn't work at all.

If i will comment a code of IQKeyboardmanager then it starts working and calling it's delegate method.

Anyone has faced same issue..?

Thanks

[2016-10-26 13:32] iostd commented on #683
Just declare IQKeyboardmanager in AppDelegate You don't need to put in every view controller

[2016-10-26 13:46] hackiftekhar commented on #683
Could you please let us know what exactly you are doung there with IQKeyboardManager?

[2016-10-26 20:43] #682 closed

[2016-10-26 21:37] Alex293 opened #684 "Search bar customisation"
Hi,

How to customise the keyboard of a search bar ?
I'd like to be able to change the search button text and selector if possible

searchBar.addRightButtonOnKeyboardWithText("Add", target: self, action: #selector(test), shouldShowPlaceholder: true)

doesn't do anything is it supposed to ?

[2016-10-27 02:02] hdoria opened #685 "Empty Space Below UIScrollViews"
Hi,

I'm having some problems with IQKeyboardManager and UIScrollView (using Storyboard). I have the same setup as described [here](http://stackoverflow.com/a/28586598/1028009) and [here](http://mokagio.github.io/tech-journal/2015/06/24/ios-scroll-view-and-interface-builder.html):

My interface setup:

-VIew
--UIScrollView
---UIView
----Images, Labels and Text Fields

The problems is exactly the s

[2016-10-27 03:10] lcccch commented on #680
The toolbar is not shown when focus on UISearchBar.
Swift 3, Xcode 8.

[2016-10-27 03:37] hackiftekhar commented on #684
Nope, this is not supported by library and you have to manually do it yourself.

[2016-10-27 03:37] #684 closed

[2016-10-27 03:39] hackiftekhar commented on #685
Then can you please share a demo with me because this shouldn't be an issue after that fix.

[2016-10-27 03:41] hackiftekhar commented on #680
Toolbar in searchBar is explicitly disabled. Because in most of the searchBar the boyyom search button enable/disable to dismiss keyboard.

[2016-10-27 07:15] aelzohry commented on #683
I'm facing same issue in both (Swift 2.2+Xcode 7.3) and (Swift 3+Xcode 8)

my issue: I'm using collection of textFields (something like a form) and using delegate for few textFields of them and fire some code in shouldBeginEditing method depending on tag of textField... when enabling IQKeyboardManager, delegate called for all textFields include ones that doesn't belong to delegate and fire code th

[2016-10-27 11:30] MHX792 commented on #680
Any way to manually enable it? When you have life filtering the search button is kind of useless and a done button would be more user friendly.

[2016-10-27 11:58] hdoria commented on #685
@hackiftekhar link for the demo:

https://github.com/hdoria/IQKeyboardManagerDemo

[2016-10-27 12:12] hackiftekhar commented on #680
You could probably try to add your own inputAccessoryView for searchBar?

[2016-10-27 12:13] hackiftekhar commented on #683
@aelzohry  Please read Manual Management guide, there are some workarounds to overcome with this situation.

[2016-10-27 14:07] hackiftekhar commented on #685
Thanks @hdoria

[2016-10-28 12:06] aelzohry commented on #683
@hackiftekhar thanks

[2016-10-30 17:41] seriyvolk83 commented on #88
It must not all textFieldShouldBeginEditing on each field. It must call it only for the tapped text field.

[2016-10-30 17:43] seriyvolk83 commented on #88
How to turn off this useless feature? It's definitely wrong. What is the reason of calling it on each field? I want to show dropdown list instead of editing the field, but focusing on ANY text field my dropdown is opened because you call textFieldShouldBeginEditing on EACH field.

[2016-10-30 18:38] hackiftekhar commented on #88
@seriyvolk83 looks like you didn't neither read Manual Management Guide or read the comments of this issue. `textFieldShouldBeginEditing` doesn't directly called by my library. The library is calling native `canBecomeFirstResponder` method to know if a textField can become first responder or not, and the iOS call `textFieldShouldBeginEditing` internally. So library is not directly responsible to c

[2016-10-30 18:39] hackiftekhar commented on #88
@seriyvolk83 If you have any better approach then please share with us.

[2016-10-30 18:44] seriyvolk83 commented on #88
@hackiftekhar Right, I already found this documentation. But as a new user it's very unpredictable that it works so by default. May be you need to turn off this by default and a developer will manually turn on if he needs this. Currently you change the expected behavior iOS. What for example if this lib is added to an existing app just for one work. If textFieldShouldBeginEditing is used in anothe

[2016-10-30 18:50] seriyvolk83 commented on #88
@hackiftekhar textFieldShouldBeginEditing means "textField Should Begin Editing". If I tap on a particular field, then why you ask other fields? They never should begin being edited in this case.
I think if the default behavior of this method is to return YES, and if it is invoked twice on the tapped field then why not to add another custom method instead of canBecomeFirstResponder that can be inv

[2016-10-30 19:14] hackiftekhar commented on #88
100% Correct @seriyvolk83

So this method expect to return YES or NO, so why you are writing your main work inside that method. You should only write logic to decide return YES or NO.

[2016-10-30 19:17] seriyvolk83 commented on #88
@hackiftekhar Because I don't want the keyboard to appear. If I will return just NO, then I will have no ability to show a dropdown list instead. So, I do it here. If I will move dropdown logic into another method, then I will have to return YES here and the keyboard will appear for a moment.

[2016-10-30 19:19] seriyvolk83 commented on #88
@hackiftekhar What is the reason of having text field that exists and just return NO in  textFieldShouldBeginEditing? We would never can edit it. Why to have the field, then? For disabling the field we have a special flag, so..

[2016-10-30 19:33] hackiftekhar commented on #88
I know my bro @seriyvolk83 this is why I suggested some workarounds.

Library uses `canBecomeFirstResponder` method for calculating toolbar previous/next buttons state accurately. Most of the people need next/previous to work properly that's why this enabled by default. If you would like to totally get rid of this nonsense then you can simply set `enableAutoToolbar` to NO. So you'll not get multip

[2016-10-30 19:43] seriyvolk83 commented on #88
@hackiftekhar Looks like you right. And this is a bug of iOS because in documentation there is the following:
[code]

So, textFieldShouldBeginEditing definitely should not be called from canBecomeFirstResponder.

May be the better place for my dropdown is becomeFirstResponder() method.

Or I can override canBecomeFirstResponder and return YES without calling super or delegate.

[2016-10-30 19:44] seriyvolk83 commented on #88
Or you can right a hack and remove delegate before calling canBecomeFirstResponder.

[2016-10-31 08:49] hackiftekhar commented on #88
@seriyvolk83 Cannot do that because when textField is enabled then only delegate method know if a textField can become first responder or not. That's why system use delegate method, otherwise if I write your suggested hack then canBecomeFirstResponder will always return YES if textfield is enabled.

[2016-10-31 11:38] al-esok commented on #572
Hello,

Can you please tell me if there is a way to disable the keyboard manager on a specific subclass of UIViewController?

The thing is that I have 3 layers of subclasses of UIViewController and I think that the reason why I am still seeing the IQKeyboard on that uiviewcontroller subclass is because of the check isKindOf UIViewController.

Can you please suggest me how should I proceed in this

[2016-10-31 18:25] JuanPabloBoero opened #686 "When disabling, Auto Toolbar continues to show."
Version 4.0.5

I am using the manager in only one view controller, on `viewDidLoad` i do `IQKeyboardManager.sharedManager().enable = true` , and in my `viewWillDisappear` i do `IQKeyboardManager.sharedManager().enable = false` , so in my other views when i tap on a `textField` the autoToolBar continues to show.

Currently i am using a work around:
[code]

[2016-10-31 20:06] hdoria commented on #685
@hackiftekhar were you able to reproduce the problem? Do you need something else?

[2016-11-01 04:57] hackiftekhar commented on #572
Please read this issue carefully or read tge manual management guide, the answer is already posted here.

[2016-11-01 04:59] hackiftekhar commented on #686
You are doing correct, Autotoolbar is managed by enableAutoToolbar and not by enable property.

[2016-11-01 05:01] hackiftekhar commented on #685
I didn't get a chance to check demo @hdoria, but will try to get some time from my schedule.

[2016-11-01 05:27] al-esok commented on #572
Hello,

Yes you are right.  I did not use the correct version of the pod.

Thanks for the great work :)

Kind Regards,
Avinash

[2016-11-01 05:41] betraying commented on #685
same problem

[2016-11-01 15:46] #686 closed

[2016-11-01 22:21] Siriss opened #688 "Does not seem to working in 10.1?"
I have been using IQKeyboardManager for a while now, but with 10.1, it does not seem to be working anymore. Below are two pictures, the first is my textView before I start editing, and afterwards is the textView covered by the keyboard. I am pretty sure this used to work pre 10.1 update. Am I doing it wrong?

<img width="776" alt="screen shot 2016-11-01 at 4 18 02 pm" src="https://cloud.githubuser

[2016-11-02 03:14] peakerWu opened #689 "If the context of the input box is in Chinese, context up occurs when loses focus"
If the context of the input box is in Chinese, context up occurs when loses focus

[2016-11-02 04:28] hackiftekhar commented on #688
@siriss, Can you run the demo project in Xcode8.1 and let me know if demo works for you or not.

[2016-11-02 04:29] hackiftekhar commented on #689
Please share a video or screenshot.

[2016-11-02 06:08] peakerWu commented on #689
![56d06016-4801-447a-99a8-61965552b07b](https://cloud.githubusercontent.com/assets/16396005/19917556/2e0c0b78-a0ff-11e6-8861-65e90e545a57.png)
in simulator maybe correct.but in iPhone 6p( iOS10) is error.
demo: [https://github.com/peakerWu/IQKeyboardManagerTest.git](https://github.com/peakerWu/IQKeyboardManagerTest.git)

[2016-11-02 06:28] peakerWu commented on #689
only set "text.borderStyle = UITextBorderStyleNone;" happen this. And  if text is English or Arabic numerals also right

[2016-11-02 09:07] Tommson opened #690 "UItextField delegate Method"
- (BOOL)textFieldShouldBeginEditing:(UITextField *)textField ; textField will Call Alltime

[2016-11-02 10:11] abellee opened #691 "where is the "addTextFieldViewDidBeginEditingNotificationName" in swift?"
where is the method "addTextFieldViewDidBeginEditingNotificationName" in swift version?
still existing?

[2016-11-02 10:54] abellee commented on #691
I have found it, it's "registerTextFieldViewClass"

[2016-11-02 13:22] Siriss commented on #688
Everything in the demo seems to work. If I add viewWillAppear to my TableViewController, I can scroll past the keyboard, but it does not do it automatically.

A side note, you lose your navigation bar when demoing the YYTextView.

[2016-11-02 21:31] hackiftekhar commented on #689
Ok, I'll check demo when I get some free time.

[2016-11-02 21:32] hackiftekhar commented on #690
Please read manual maaagenent guide.

[2016-11-02 21:33] hackiftekhar commented on #691
Ahh, Tganks, probably I forget to rebame this in swift. Keeping this card open.

[2016-11-02 21:35] hackiftekhar commented on #688
If you use UITableViewController, then library us explicitly disabled for that.

[2016-11-03 01:47] peakerWu commented on #689
Ok, Thank you.

[2016-11-03 07:37] NVAT commented on #667
Hi Everybody I can't solve this problem when will be new `IQKeyboardManagerSwift` version?
Previous version  `IQKeyboardManager` works fine.
Thank You

[2016-11-04 04:42] hackiftekhar commented on #667
@NVAT I asked you for a demo couple of days ago, how about that?

[2016-11-04 12:14] NVAT commented on #667
Hi Mohd Iftekhar Qurashi ,I send You Demo version.This problem comes only with UIAlertViewcontroller.
Best regards
Artur Sahakyan
[Demo-IQ.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/571420/Demo-IQ.zip)

[2016-11-04 18:59] hackiftekhar commented on #667
Thanks for the demo, I'll take a look at it on this weekend.

[2016-11-05 08:15] #637 closed

[2016-11-05 08:16] #649 closed

[2016-11-05 08:18] #659 closed

[2016-11-05 08:18] #690 closed

[2016-11-05 08:20] hackiftekhar commented on #691
I checked. It's already renamed to `registerTextFieldViewClass` both languages.

[2016-11-05 08:20] #691 closed

[2016-11-05 08:20] #683 closed

[2016-11-05 08:27] hackiftekhar commented on #689
@peakerWu I checked in simulator and it works fine and I don't have real iPhone 6p device to test it. Could you please suggest how should I move or will you try to debug what may be wrong with this.

[2016-11-05 08:38] hackiftekhar commented on #685
@hdoria Library is doing correct. You can check that before showing keyboard, your scrollView height is too big due to your constraints and library is doing nothing to add any empty space. But your constraints are calculating that amount of height so if you cold make adjustments to your constraint to calculate exact height of your scrollView then problem will be solved.

@betraying I'm suggesting

[2016-11-05 08:38] #685 closed

[2016-11-05 08:46] hackiftekhar commented on #667
Able to reproduce easily. Checking what may be the wrong with this.

[2016-11-05 10:16] hdoria commented on #685
@hackiftekhar ok. Just a quick question: but what's wrong with the constraints? My scrollView is using the superview bounds. How should I add my constraints in the case? I've tried everything. Also, I've followed the guides from my first post.

[2016-11-05 10:33] hackiftekhar commented on #685
@hdoria Your scrollView contentSize is equal to the screen bounds and that's the actual issue. But it's Content ends at NEXT button. So you should remove Equal to screen bound constraint and make your NEXT button bottom constraint equal to 10 or something like that. So your scrollView bound will be equal to something like `NEXT.frame.origin.y+NEXT.frame.size.height+10` and that would work.

[2016-11-05 10:33] #667 closed

[2016-11-05 10:56] #680 closed

[2016-11-05 12:44] DarthRamone opened #692 "Changing views height instead of moving"
Let's suppose that we have pinned to top UITextField, and UITableView below that field and pinned to bottom of screen, kinda UISearchController. Is there any way to change UITableView's height instead of overlapping it by keyboard? In case user wants to see whole table, not part of it.

[2016-11-05 13:21] peakerWu commented on #689
First,You should set the system language is Chinese,
Second,You must  input Chinese  in any real iPhone.
Third,You should set UITextField property borderStyle = UITextBorderStyleNone.

do this,The above error may occur

[2016-11-05 13:39] hackiftekhar commented on #689
Is this reproducible with iPhone5S device or iOS simulators?

[2016-11-05 13:47] peakerWu commented on #689
Only in real iPhone happen this, iOS simulators is right.

[2016-11-05 14:02] hackiftekhar commented on #689
Then I don't have real iPhone6p device. I'm having iPhone 5S. Is this reproducible with this device?

[2016-11-05 14:03] hackiftekhar commented on #688
@Siriss Could you please update me here if you find something useful for me?

[2016-11-05 14:05] peakerWu commented on #689
Yes,you can have a try

[2016-11-05 14:07] Siriss commented on #688
I have found that if I add viewWillAppear based on this post http://stackoverflow.com/questions/38768966/iqkeyboardmanager-not-working-when-uitableview-embedded-in-a-container-view
I can scroll past the keyboard, but it does not automatically move when I select the textView.
I will be doing a lot more testing this coming week, and will post back with a more detailed description. Thanks!

[2016-11-05 14:46] hackiftekhar commented on #688
@Siriss Could you please let me know if you  are using UITableViewController?

[2016-11-05 14:48] hackiftekhar commented on #692
As a user @DarthRamone It's an app specific special requirement and I think this should be done by your own logic by adding an observer or something like that. It's would be very hard for library to find what is overlapping keyboard and to move them above the keyboard.

[2016-11-05 15:05] DarthRamone commented on #692
Thank you. That's all I wanted to hear.

[2016-11-05 19:03] NVAT commented on #667
Thank you,this version work on my demo versoin that I had sent you,but still not working on my real version

[2016-11-05 19:29] hackiftekhar commented on #667
Are you using pods? Is this why it isn't working?

[2016-11-05 19:30] hackiftekhar commented on #692
Great! Have a good day!

[2016-11-05 19:30] #692 closed

[2016-11-05 19:33] hackiftekhar commented on #667
@NVAT btw this version works in my demo too, and if are still having issues then you have to reproduce issue in the demo anyhow.

@reidmain You was also having same issues, Could you please confirm if above commit is also working for you now?

[2016-11-05 19:50] NVAT commented on #667
Yes I'm using pods,but when I did pod update nothing to changed I replaced via hand

[2016-11-06 04:11] hackiftekhar commented on #667
Pod isn't updated yet.

[2016-11-07 05:48] hackiftekhar commented on #667
@NVAT If you still want to use pods and want to use latest master branch code then you can point master branch of the repo in podfile to do the same.

[2016-11-07 06:17] NVAT commented on #667
Hello I done copy paste latest commit in may cod but nothing's the same problem.

[2016-11-07 06:52] hackiftekhar commented on #667
Then please share a new demo with reproducing the bug.

[2016-11-07 07:49] NVAT commented on #667
I couldn't send you other Demo version,the problem is appears in my real version If you have opportunity can you connect via teamviewer?

[2016-11-07 14:00] NVAT commented on #667
@hackiftekhar thank you its already ok for me,I recreate my pod file and manualy copy paste commit files then my problem solved.

[2016-11-07 14:02] hackiftekhar commented on #667
Thanks :)

[2016-11-07 14:36] kumaresan-cgvak opened #693 "Next and Previous buttons not displayed"
Next and Previous buttons are not displayed when the textfield is nested inside UIStackView

[2016-11-07 15:17] hackiftekhar commented on #693
Have you checked demo app demonstrating UIStackView?

[2016-11-07 15:32] kumaresan-cgvak commented on #693
Yes..

Upon research i found that.. previous and next buttons are displayed, if a single stackview contains multiple text field.

unfortunately, if parent stackview is nested with child stack view and where each child stack view have single text field, then previous and next buttons are not displayed

[2016-11-07 15:53] hackiftekhar commented on #693
Then have you checked demo app demonstrating IQPreviousNextView? 😆

[2016-11-08 07:52] kumaresan-cgvak commented on #693
Perfect .. Thank You :grin:

[2016-11-08 07:52] #693 closed

[2016-11-09 17:46] jinthreek89 opened #694 "UI issue"
This is critical issue.
I am experiencing this issue when I will behavior follow as these step.
 - 1. Press text field. then it will show keyboard.
 - 2. Press Home button of Device. then app will go to background mode.
 - 3. Open app again from background thread.
 - 4. Press out of textfield. then keyboard will be hide.
**In this case, UIView is cutting like as keyboard height**
Please see this v

[2016-11-09 18:58] hackiftekhar commented on #694
hi @jinthreek89 Can you please share a demo project with me so that I can take a look and will try to fix it?

[2016-11-09 19:14] jinthreek89 commented on #694
Do you want to source code?
 * note : I used IQKeyboardManager with [LGSideMenuController](https://github.com/Friend-LGA/LGSideMenuController)

[2016-11-10 05:18] hackiftekhar commented on #694
Ok, I'll check when I'll have some free time and most probably in weekend.

[2016-11-10 06:49] perwyl opened #695 "UI Issue"
when the keyboard appears, it pushed the navigationBar as well. I want the navigationBar to remain on the screen.

[2016-11-10 08:09] Milosfs opened #696 "UI Issue"
When textFields are embedded in scrollView and keyboard pops out it pushes active field to an invisible point that needs to be scrolled down manually so user can see active textField.

Reproduction sample provided below.

[IQKeyboardScrollviewBug.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/582770/IQKeyboardScrollviewBug.zip)

[2016-11-11 03:01] FelixBubble opened #697 "Conflict with UITableViewController gestures！"
Hello, I use the "IQKeyboardManager" when found in the UITableViewController click on the blank area, the keyboard can not be properly recovered (in UIViewController normal). This should be how to solve it?

XCode:8.1
IQKeyboardManager:4.0.5

[IQKeyboardManagerTestOC.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/584921/IQKeyboardManagerTestOC.zip)

[2016-11-11 07:52] preetam-idyllic opened #698 "'IQKeyboardManagerSwift', '4.0.7' not working properly"
**Frame adjustment is not working properly.**

Reverted to     pod 'IQKeyboardManagerSwift', '4.0.6', and  problem fixed,
is anyone experiencing same issue?

[2016-11-11 09:34] hackiftekhar commented on #698
btw what issue you were getting @preetam-idyllic

[2016-11-11 09:35] hackiftekhar commented on #697
Library totally ignore UITableViewController with respect to it's own implementation of handling keyboard, so if there is an issue then it's either an issue with your code or with UITableViewController handling.

[2016-11-11 09:36] hackiftekhar commented on #695
Please read manual management guide to do navigationBar trick.

[2016-11-11 09:37] hackiftekhar commented on #694
@jinthreek89 I don't need your actual source code you are working on, but I need a standalone demo project where this issue is reproducible.

[2016-11-12 06:04] jinthreek89 commented on #694
[ForIQKeyboard.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/587088/ForIQKeyboard.zip)
This is simple project.
Please reference this [video link](https://drive.google.com/file/d/0BwE-Pzk0GuEeUVpaOGltdVp4VTQ/view?usp=sharing)

[2016-11-12 06:13] hackiftekhar commented on #694
Thanks, I'll take a look.

[2016-11-12 07:23] hackiftekhar commented on #694
@jinthreek89 This issue is due to Top/Bottom Layout constraints and there are some issues with library due to this and you can do some workaround to fix it.
1 - Remove Top/Bottom Layout constraints and make constraint to your view.
2 - Please read Manual Management guide for how to work with Top/Bottom Layout constraints
3 - Set `layoutIfNeededOnUpdate` to `YES`.

Let me know if this issue is solv

[2016-11-12 07:24] #695 closed

[2016-11-12 14:52] jinthreek89 commented on #694
Okay, great.
I have solved problem by remove and rearrange top constraint with super view(not top layout guide).
So, I would like to know one.
This is issue of IQKeyboardManager or it should be must only to arrange with super view?
I think we will solve this issue in featre.
Thank you so much.

[2016-11-12 14:52] #694 closed

[2016-11-12 21:51] bilzz opened #699 "Next and Previous arrows on keyboard toolbar"
Hey! thanks for this owsem library.
But i am facing issue about next and previous arrows on toolbar of keyboard from last one year. I have do every possible things on my end but failed to get those arrows. These arrows are working perfect in one of my application but after that i can't able to get those arrows on toolbar. **Please fix that issue as soon as possible.**

![simulator screen shot 13-n

[2016-11-13 05:53] hackiftekhar commented on #699
Are you joking? You are facing this from last one year?

However please be sure that both textFields are on same view and not on different view. If Yes then you have 2 options:-
1) Check how to use IQPreviousNextView.
2) restructure hierarchy to make sure they bith have on same view.

[2016-11-13 05:56] hackiftekhar commented on #694
Technically this isn't an issue with anythin , neitger with library nor with your code. The thing is that Layout Guide Constraint works differently than normal constraints. That's why it sometimes mess-up the things when layouting hierarchy.

[2016-11-13 12:53] #697 closed

[2016-11-13 14:00] hackiftekhar commented on #696
This is because you've set scrollView.contentInset bottom as 400 that's why it's behaving weird. If you comment that line then it will work perfect.

However why are you trying to put your scrollView inside UICollectionView cell?

[2016-11-13 14:10] hackiftekhar commented on #689
It is reproducible, but if you remove library and then do the same thing then this is still reproducible. So I guess it's the iOS bug and not the library once. Could you please check at your end if this still reproducible after removing library in demo?

[2016-11-13 16:17] peakerWu commented on #689
OK I know it,thank you very much

[2016-11-13 16:57] #689 closed

[2016-11-13 17:57] #696 closed

[2016-11-13 18:15] bilzz commented on #699
hey thanks for your responce.
if the text fields are on different views then how can we show next and previous button?
is there any way for that?

[2016-11-14 04:37] hackiftekhar commented on #699
Use IQPreviousNextView. Xgeck demo app for how to use it or read Manual Management guide in repo.

[2016-11-14 05:49] #698 closed

[2016-11-14 07:26] Milosfs commented on #696
Oh tnx, my bad, however i need that scroll inside so all fields can be reached on all devices and on click to next it should scroll horizontal to next cell..

[2016-11-14 08:41] maulikpat opened #700 "Text filed hiding on Landscap mode for iPad in Present view controller"
Hi,

The old issue is still present in new release.
From your demo code Follow below steps to reproduce it :

Be in Portrait mode.
1. Select 1st option in 1st screen
![screen shot 2016-11-14 at 2 08 39 pm](https://cloud.githubusercontent.com/assets/2304770/20258094/e36b93c6-aa73-11e6-9c39-20340b613906.png)

2. Then click on Push
3. Then Present
4. Select last Text filed and change the orientation.

[2016-11-14 14:24] Siriss commented on #688
Sorry for the delay. I am using a UITableViewController inside a container view inside a UIViewController. It seems to only reliably happen with my UITextView in the tableView footer.

[2016-11-14 17:48] hackiftekhar commented on #688
So if it's UITableViewController then library ignore adjusting in favour of UITableViewController default behaviour of textField and keyboard handling.

[2016-11-14 19:19] bilzz commented on #699
thanks iftikhar.

[2016-11-14 19:19] #699 closed

[2016-11-15 02:00] love-Apricot commented on #673
hi,
iOS10,I click on the input box to crash.

[2016-11-15 04:52] hackiftekhar commented on #673
@love-Apricot Please share more info or demo.

[2016-11-15 08:11] nikitasharmasahu commented on #503
@hackiftekhar Thanks for the help. I will try this next time.

[2016-11-15 16:27] Vanilil opened #701 "Wrong uitextfielddelegate"
I have a uitableviewcell with some uitextfield and some custom views which are uiscrollview with  some uviews and one uitextfield subviews.
My issue is that classic uitextfield call the uitextfield delegate in customview class after the classic uitextfield delegate.

[2016-11-15 18:14] hackiftekhar commented on #701
Are you asking about textFieldShouldBeginEditing?

[2016-11-15 18:32] Vanilil commented on #701
Yes

[2016-11-16 08:21] lbb631160503 opened #702 "In My Project,Xcode8.1 use IQ tap TextFielld popUp KeyBoard Faild"
4.0.6 Faild   ,switch 3.3.7 is Vailable

[2016-11-16 13:45] hackiftekhar commented on #701
Please read Manual Management guide, there is some limitations about delegate methods.

[2016-11-16 19:59] phenomen2277 opened #703 "Deprication warning"
I manually added the swift package (current & 4.0.7) to my project. I'm getting 2 deprecation warnings

/Users/...IQKeyboardManagerSwift/IQKeyboardReturnKeyHandler.swift:642:32: 'textView(_:shouldInteractWith:in:)' was deprecated in iOS 10.0: Use textView:shouldInteractWithURL:inRange:forInteractionType: instead

/Users/j.../IQKeyboardManagerSwift/IQKeyboardReturnKeyHandler.swift:661:32: 'textView

[2016-11-17 04:57] hackiftekhar commented on #703
Do you know a way of conditional compiling like ObjC?
Do you know a way to hide this warnings like we can do in ObjC?

If yoo know then let me know.

[2016-11-17 05:17] nhantrivinh opened #704 "UITextField inside UICollectionViewCell with cell size set programmatically problem"
Problem Demo:
https://youtu.be/cZFzLwvENio

The cell doesn't come back down after keyboard appear. I programmatically set up the collection view cell for dynamic sizing. I want it to reverse what it does when done editing.

[2016-11-17 09:45] RogerFanFan commented on #67
Hi hackiftekhar:

I use tableView with UITableViewStyle.plain
There are two sections in tableView.
2nd section has a textField and footer.
Footer will be a floating view on the bottom of tableView.

When textField's Cell has a footer (like 2nd section),  I also has this problem.
Footer will move up with the keyboard and textField is covered by footer.
But if textField's Cell does not have a footer

[2016-11-17 11:22] tertullianus opened #705 "IQToolBar is missing when the IQKeyboardReturnKeyHandler delegate is set in the Swift version"
If you set the IQKeyboardReturnKeyHandler delegate to the view controller, the tool bar for going to the next field is missing, unless you implement all of the UITextField delegate callbacks. In addition the Next key does not work. This happens only in the Swift version. IQKeyboardReturnKeyHandler behaves normally in the Objective-C version when the delegate is set.

You can reproduce this bug in

[2016-11-17 11:30] hdoria opened #706 "UIRequiredDeviceCapabilities is invalid for frameworks"
I can't submit an app that uses IQKeyboardManager to the App Store.

[Transporter Error Output]: ERROR ITMS-90689: "Invalid Info.plist key. The key 'UIRequiredDeviceCapabilities' in bundle MyApp.app/Frameworks/IQKeyboardManagerSwift.framework is invalid for frameworks"

Deleting the UIRequiredDeviceCapabilities key from the Demo/Swift_Demo/Resources/Info.plist file fixed the problem.

[2016-11-17 13:35] DesmondDAI commented on #706
Same problem. Does any one knows why this would happen even I haven't change the framework? Thanks!

[2016-11-18 00:40] hackiftekhar commented on #706
Merged!

[2016-11-18 00:40] #706 closed

[2016-11-18 14:07] icodesign opened #708 "Weird animation of text change in collectionView"
You can check the demo of collectionView. Repro steps:
1. Enable auto toolbar;
2. Input text in the first text field;
3. Go to next;
4. You can see the text in the first text field jumps with an animation;

[2016-11-22 08:15] Zeeker commented on #667
Is there any chance this will be included in a Swift 2.2 support branch?

[2016-11-22 09:46] hasangyulyustan opened #709 "canBecomeFirstResponder causes calling of textFieldShouldBeginEditing"
canBecomeFirstResponder in function _IQcanBecomeFirstResponder causes calling of textFieldShouldBeginEditing for all textfields in my uiview. Is this a known issue?

[2016-11-22 12:41] Vanilil commented on #701
Nothing works without adding dependency in the third-party library for the custom view.

[2016-11-22 14:22] KelvinEC opened #710 "TableViewController"
Why Touch outside a field on UITableViewController does not cause resign keyboard?

[2016-11-22 15:54] hackiftekhar commented on #667
@zeeker nope, we are going ahead but not backward. So we improve the things in later versions.

[2016-11-22 15:55] hackiftekhar commented on #709
Yes, it's a known issue, please read manual management guide for workarounds.

[2016-11-22 15:56] hackiftekhar commented on #701
@vanilil not sure what you are trying to explain? Could you please reword your sentence?

[2016-11-22 15:57] hackiftekhar commented on #710
This was an issue and recently fixed. This will be available in next release?

[2016-11-23 19:33] jkerrwilson commented on #663
I'm not sure if this is a related issue, but I'm having problems in a similar situation.

When using IQKeyboard with a project containing a web view, the keyboard manager works fine except  for inputs in modals. Specifically we are using angular-bootstrap within the web view, and any text inputs inside a presented angular modal are not properly handled by the keyboard manager. Note that these situ

[2016-11-24 05:44] TWH-KKK opened #711 "textView"
I used textView  and textView is not full screen  and viewControl.view is a ScrollView ;
the keyboard distance is not adjust;
![53e4377ce54b3120f3bd236ab9ead1f5](https://cloud.githubusercontent.com/assets/11454692/20587953/4ef1e9c6-b24c-11e6-9a4c-d6519cbfb690.png)

[2016-11-24 11:27] sina-kh opened #712 "UI Not Responding when touching UITextField"
UI not responding when touching UITextField unexpectedly, and I don't have any idea why this happens...?

My ui structure is something like this:

Custom ViewController
--> Custom View
        --> UIScrollView
                --> UITextField

[2016-11-28 07:00] Otbivnoe opened #713 "Disable UITextField autoscroll, if textfield is fully visible"
Is there solution for disabling `UITextField'`s autoscroll if all textfield area is visible? Some magnetic property, I don't know.

[2016-11-28 09:29] anishparajuli555 commented on #88
I too faced this problem..A way to solve this is

[code]

[2016-11-28 12:44] dipkasyap opened #714 "There is no Animation on Keyboard hide method!"
Hiding keyboard seems quite Strange, i should be animated so that it feels smooth.
Swift 3

[2016-11-28 15:50] dipkasyap opened #715 "Glitch on setting tableView.keyboardDismissMode = UIScrollViewKeyboardDismissMode.onDrag"

[2016-11-29 07:07] love-Apricot opened #716 "Mobile phone installed third party input method leading to crash in iOS 10"

[2016-11-30 07:12] 2005wangliqun opened #717 "[UIToolbarTextButton cs_acceptEventTime]: unrecognized selector sent to instance 0x7fd0927941e0"
dose anybody know how to fix such a question

[2016-11-30 07:15] #717 closed

[2016-11-30 18:45] kuyazee commented on #312
How do I do this for swift? swift2.3

[2016-11-30 21:38] LeakedDave opened #718 "Keyboard Covers When Switching Between Two UITextFields on Same Line"
I have 2 UITextFields, equal widths (each about half the width of the screen), more than halfway down the screen. When I tap the first one, the screen pans perfectly so the UITextField sits right above the keyboard. However, if I tap the UITextField to the right of it, or hit the next button, the keyboard shifts above and covers the new responder UITextField.

Not sure what is causing this to happ

[2016-11-30 23:34] LeakedDave commented on #718
So one thing I've determined is that whenever a UITextField resigns first responder, viewWillLayoutSubviews() and viewDidLayoutSubviews() are getting called on my UIViewController. This is likely causing the entire frame to reset, and the newly selected UITextField is being pushed underneath the keyboard.

Any idea why this is suddenly happening or any proposed fix?

[2016-12-03 10:35] #688 closed

[2016-12-03 10:42] rickyjwhong commented on #711
similar issue. looks like the textview is growing and when i exit and try again, then it works as normal. just not the first time

[2016-12-03 10:56] #702 closed

[2016-12-03 13:42] #709 closed

[2016-12-03 13:43] #710 closed

[2016-12-03 13:47] hackiftekhar commented on #713
If a textField is fully visible then library doesn't scroll textField. However there is a property something like `keyboardDistanceFromTextField` which defaults to 10. So you may try to set it to 0. Let me know if I misunderstood the question.

[2016-12-03 13:47] #713 closed

[2016-12-03 13:48] hackiftekhar commented on #716
Then this must be an issue with third party keyboard. Could you please let me know more details that why app crashed?

[2016-12-05 03:32] love-Apricot commented on #716
*** Assertion failure in -[UICGColor encodeWithCoder:], /BuildRoot/Library/Caches/com.apple.xbs/Sources/UIKit/UIKit-3512.60.12/UIColor.m:1457
libc++abi.dylib: terminate_handler unexpectedly threw an exception

App Name:搜狗输入法-Sogou Keyboard

[2016-12-05 04:19] hackiftekhar commented on #716
Sp how can you say that it's related to IQKeyboardManager? Crash log doesn't say a single word with regards to IQKeyboardManager library.

[2016-12-05 13:49] RomanVolkov opened #719 "Carthage support"
Please, add carthage support

[2016-12-05 18:17] hackiftekhar commented on #719
It's already available for carthage, I need add documentstion for that. If you send a OR then it would be great!

[2016-12-06 01:30] love-Apricot commented on #716
Sorry, I found out that it might have been a reference to other libraries in my project.

[2016-12-06 03:17] #716 closed

[2016-12-06 07:37] WaqarKhalid opened #720 "Default Behaviour of return key of Keyboard"
I want to hide the keyboard at pressing of return key also.How can I achieve that

[2016-12-06 14:32] brunomoreiraw commented on #703
Would be great to eliminate this warnings. Thanks for the great work!

[2016-12-06 17:09] Whirlwind opened #721 "keyboardShowing is always YES"
I find that if I disable it, the `keyboardShowing` always return YES!

I check the code, I find that:

[code]

When `[self privateIsEnabled]` return NO, the `_keyboardShowing` will not be set to NO!

[2016-12-07 04:57] hackiftekhar commented on #721
Correct, this should be fix.

[2016-12-07 04:59] hackiftekhar commented on #720
You either have to implement it your own or use IQKeyboardReturnKeyHandler.

[2016-12-07 17:04] zeiteisen opened #722 "Bottom TextViewCell jumps if resizing using autolayout"
![ezgif com-optimize](https://cloud.githubusercontent.com/assets/861496/20977827/0342cf62-bca7-11e6-8c22-f15a699031f9.gif)

This happens if a TextView is inside a TableViewCell at the bottom of a TableView and the TextView resizes with
[code]

[2016-12-07 17:30] zeiteisen commented on #722
I made a sample project
[keyboard.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/637305/keyboard.zip)

[2016-12-08 01:12] xyfqldy opened #723 "delegate Method invoke multiple time"
if a view has five textfield on it ,when click  one textfield ,all the textfield's textFieldShouldBeginEditing will be called .But I want do something special in this method，how can i distinguish which textfield is current clicked one in textFieldShouldBeginEditing?

[2016-12-08 06:46] sina-kh commented on #712
@hackiftekhar could you help me please?

[2016-12-08 07:59] Whirlwind commented on #721
Could you fix it?

[2016-12-08 08:42] sina-kh commented on #712
After debugging, I found out that i had an extension for UIView in my codes that had `viewController` function, and It had a bug, too! So when I was tapping UITextField, it was running that function with an infinite loop!!

[2016-12-08 10:00] Ponf opened #724 "Moving view when keyboard appears"
Hello, my screen is very similar to this example:
[Working with chat screen](https://github.com/hackiftekhar/IQKeyboardManager/blob/master/MANUAL%20MANAGEMENT.md#working-with-chat-screen-uitableview), but instead of uitextfield in the bottom I have custom UIView. I want to have same appearance:
- view is always visible
- view scrolls up with keyboard

I have attached bottom constraint to `IQLayout

[2016-12-08 11:36] #712 closed

[2016-12-08 11:46] hackiftekhar commented on #721
@Whirlwind Can you make a Pull-Request with the fix?

[2016-12-08 11:46] hackiftekhar commented on #712
Cheers! I think I should rename viewController property to something else since most of the library keep same name and it conflict with my own version of viewController property.

[2016-12-08 14:58] Whirlwind commented on #721
#725

[2016-12-08 20:41] hackiftekhar commented on #721
I think there are some conditions in library which depends on this variable, so if we move this from will hide to dud hide method then thus may have some side effect.

[2016-12-09 03:22] XHJiang opened #726 "tableView scrol con`t end Keyboard"
From April , if a textView on a tableViewcell, it can not end the keyboard when I scrol the tableView.
But in Mar, It work,Please

[2016-12-09 07:19] peterfennema commented on #719
I am using Carthage with Swift 3, works fine.
Add this line to your [CartFile](https://github.com/Carthage/Carthage/blob/master/Documentation/Artifacts.md#cartfile):

github "hackiftekhar/IQKeyboardManager"

[2016-12-09 09:50] RomanVolkov commented on #719
Thanks. Yep, I tried to add it via Carthage and it works fine.
It could be great to add it into installation section

[2016-12-09 14:24] Whirlwind commented on #721
I think that the variable has small effect from will hide move did hide. And the bug should be fixed.

[2016-12-10 08:56] mrfonda opened #727 "Trying to change Toolbar Manage Behavior Setting in Swift Demo cause crash"
I didn't try to investigate what exactly cause the crash. I attached a screen recording that showing the issue.
[crash.mov.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/643641/crash.mov.zip)

[2016-12-11 17:51] Allennes opened #728 "Bug : when no scrollview , the navBar will move up ."
Bug : when no scrollview,the navBar will move up .

I think here have some problems ，This should return a UIViewController, but not.
[code]

and  the style "!= nil   and   == NO" is bad.

[2016-12-12 05:20] RangerZz commented on #728
I have the same problem. According to the Reveal display，The UILayoutContainerView move up with its subviews.

[2016-12-12 08:51] Mrshj opened #729 "UITextfield delegate no work"
I used  IQKeyboardManager ,I can't get textfield.text without click 'done' ,i what know how to get textfield.text with out click 'done' ?   textfield  delegate does't work .

[2016-12-13 04:47] zhigang1992 commented on #638
Here is a fork if you just want to grab it.

[code]

It basically branched off `v4.0.5` and update those flags to make it work with swift2.3.

[2016-12-13 08:36] kakukeme opened #730 "IQKeyboardManager how to registe DTRichTextEditorView"

[2016-12-13 13:38] WowJesse opened #731 "UITableViewController set keyboardDistanceFromTextField no work"
please help me! thanks!

[2016-12-15 08:58] liaodalin19903 opened #732 "Can not click the done button on the keyboard after click the up or down button."
<img width="253" alt="c117379b-10f0-4344-b879-e90f2c12a4f2" src="https://cloud.githubusercontent.com/assets/12727582/21217426/1d5b3358-c2e7-11e6-86ef-acdca10d05e1.png">

The picture is

My project is mixed by `oc` and `swift` .
the IQKeyboardManager version is :

In the `podfile`:

    pod 'IQKeyboardManager', '~>  4.0.6'
    pod 'IQKeyboardManagerSwift', '~> 4.0.7'

Question:

 1)  Could I hide t

[2016-12-15 11:25] SriramKrishnan8 opened #733 "Textfield Placeholder is misplaced"
The placeholder text in the textfield moves a bit towards the left on tapping the textfield. I didn't modify any code but kept the textfield's alignment as centre. On tapping the textfield, the text is moved 3 or 4 spaces to the left along with the cursor. On dismissing the keyboard, the typed text/placeholder comes back to the centre position.

[2016-12-15 18:13] timothybrandspencer opened #734 "keyboardDistanceFromTextField not working in Swift 3 (with UITextField in UITableViewCell)"
Any help appreciated..

My view structure is:

UIViewController
    -> UIView (container view)
        -> UITableView
    -> UIButton

In my UITableViewCell I have a text field with keyboardDistanceFromTextField set to 180 but for some reason it has no affect.

Setting keyboardDistanceFromTextField globally in AppDelegate has no affect either: IQKeyboardManager.shared().keyboardDistanceFromTextFie

[2016-12-16 00:39] eestein opened #735 "Unrecognized selector sent to instance"
Hi, it was working fine until I updated to the new Xcode 8.2 and iOS 10.2. I'm really not sure it's related to that, but only after that it started to happen. I read #104, #578 and #717 but since no answer was provided there I decided to post here. Please let me know if there's a way to continue using the component... I really don't want to stop using it. But if I leave it enabled it breaks all th

[2016-12-16 06:26] hackiftekhar commented on #734
Could you ease confirm if you are using UITableViewController?

[2016-12-16 06:50] hackiftekhar commented on #735
Make sure you added IQUIView+Hierarchy.m in your target.

[2016-12-16 06:53] hackiftekhar commented on #700
Need to check what may be wrong

[2016-12-16 06:55] hackiftekhar commented on #703
@brunomoreiraw @phenomen2277 could you please fix this and make a pull request if you know how to fix it?

[2016-12-16 06:59] hackiftekhar commented on #704
Looks like you are using UIScrollView. In IQUIScrollView+Additions.h you'll find a property shouldRestoreScrollViewContentOffset, set it to YES for that particular scrollView.

[2016-12-16 07:01] hackiftekhar commented on #705
Thanks for the report, I'll check.

[2016-12-16 07:02] hackiftekhar commented on #708
Ok, I'll check.

[2016-12-16 07:04] hackiftekhar commented on #711
Make sure your ScrollView content size is returning correct value, may be you havn't set contentSize or not using autolayout to calculate it's contentSize.

[2016-12-16 07:05] hackiftekhar commented on #714
Please share a demo because library does smooth animation.

[2016-12-16 07:06] hackiftekhar commented on #715
It's not supported atm.

[2016-12-16 07:08] hackiftekhar commented on #718
Looks like it may be some issue with your constraint or layout. Make sure you havn't pinned top/bottom layout constraints with those textFields.

[2016-12-16 07:09] hackiftekhar commented on #719
Yeah,sure! Will add in Installation Section.

[2016-12-16 07:10] hackiftekhar commented on #721
I'll check how it may effect the logic.

[2016-12-16 07:11] hackiftekhar commented on #722
Ok, I'll check.

[2016-12-16 07:11] hackiftekhar commented on #723
Please read manual management guide for workarounds.

[2016-12-16 07:16] hackiftekhar commented on #724
In this case make sure you pinned your view with bottom layout guide and not from superView and connect that constraint with IQLayoutGuideConstraint, I believe it should work.

[2016-12-16 07:17] hackiftekhar commented on #726
Not understand

[2016-12-16 07:18] hackiftekhar commented on #727
Do you have any crash logs?

[2016-12-16 07:20] hackiftekhar commented on #728
So what may be the solution? Can someone explain a solution technically?

[2016-12-16 07:20] hackiftekhar commented on #729
Are you using IQKeyboardReturnKeyHandler?

[2016-12-16 07:22] hackiftekhar commented on #731
UITableViewController has it's default behaviour to manage this situation. So library ignore managing distance in favor of UITableViewController default behaviour.

[2016-12-16 07:25] hackiftekhar commented on #732
First of all, use only one version. Secondly please check if your shouldBeginEditing delegate return NO or anything which may prevent stopping done button to resign.

[2016-12-16 07:27] hackiftekhar commented on #733
I think it's the internal but since linrary doesn't change any UI of internal placeholder of UItextField.

[2016-12-16 08:17] timothybrandspencer commented on #734
Yes, the table view is a UITableViewController.

[2016-12-16 08:43] hackiftekhar commented on #734
UITableViewController has it's own default behaviour for managing textField and keyboard, so library ignore managing distance in case of UITableViewController and respect it's own default handling.

[2016-12-16 09:31] liaodalin19903 commented on #732
@hackiftekhar Hi,bro, could I hide the `up` and `down` button in my code? if yes, how to do with that?

[2016-12-16 09:38] timothybrandspencer commented on #734
Thanks very much! Changing to a plain old UITableView fixed the issue (luckily I didn't really need the UITableViewController).

[2016-12-16 09:38] #734 closed

[2016-12-16 12:02] hackiftekhar commented on #732
If you are using v4.0.7 then set `shouldHidePreviousNext` to `YES`
If you are using the master branch code then change `previousNextDisplayMode` to `IQPreviousNextDisplayModeAlwaysHide`

[2016-12-16 12:02] #732 closed

[2016-12-16 13:02] eestein commented on #735
@hackiftekhar Hi and thanks for this pretty cool lib :) I'm using an adaptation of your lib for Xamarin.iOS. And as I said it was working before iOS 10.2. Would you mind expanding on that? I might try to create my own bindings, but it's better if I understand what you mean by that. Thanks.

[2016-12-16 17:39] hackiftekhar commented on #735
@eestein the method **_IQDescription** is written in that file I mentioned earlier, so I guess the above file is not added to your target. Thus simply means it's not included in you compile files list, that's why app cannot find that method at runtime and app gets a crash due to unrecognized method.

[2016-12-17 02:38] XHJiang commented on #726
A textView in a tableViewCell, zhe keyboard show,I scrol zhe tableView,zhe keyboard con not dismiss

[2016-12-18 13:55] gushenmeiying opened #736 "isScrollEnabled = false 影响判断,导致superView取值失败"
`//set isScrollEnabled = false 影响判断,导致superView取值失败

override func viewDidLoad()
 {
        super.viewDidLoad()
        //supper scrollView
        let scrollView = UIScrollView(frame: CGRect(x: 0, y: 0, width: screenWidth, height: screenHeight))
        scrollView.backgroundColor = UIColor.red
        scrollView.contentSize = CGSize(width: 0, height: screenHeight * 2)
        view.addSubview(scro

[2016-12-19 09:16] NikKovIos opened #738 "How to change Title of right button in accessoryView?"
In viewDidLoad i use
`textField.addRightButtonOnKeyboardWithText("My text", target: self, action: #selector(action))`

but when i touch textField - `addRightButtonOnKeyboardWithText` method called again and button setted title from ` IQKeyboardManager.sharedManager().toolbarDoneBarButtonItemText = "WrongTitle"`

How can i make the unique title for right button in accessoryView above textField for

[2016-12-19 09:39] hackiftekhar commented on #738
I think if you are adding accessoryView using `addRightButton....` then library shouldn't change the title. Could you please provide a demo project demonstrating the issue? So that I can check?

[2016-12-19 12:24] NikKovIos commented on #738
I can't share code, but there is a queue how it called.
![2016-12-19 15 21 36](https://cloud.githubusercontent.com/assets/16647690/21312728/e3682834-c5fe-11e6-9574-48806b64eb91.png)

[2016-12-19 13:04] hackiftekhar commented on #738
I'm asking for a demo app and not your actual source code.

[2016-12-20 03:28] zb1006801184 commented on #571
请问如何解决这个问题的？

[2016-12-20 03:29] zb1006801184 commented on #571
@yuyangdexue  请问如何解决这个问题的

[2016-12-21 05:28] bawangflower commented on #650
how to solve this problem?

[2016-12-21 13:44] hackiftekhar commented on #721
Fixed manually

[2016-12-21 13:44] #721 closed

[2016-12-21 15:23] #700 closed

[2016-12-21 15:24] #701 closed

[2016-12-21 15:25] #704 closed

[2016-12-21 16:35] #705 closed

[2016-12-21 16:38] hackiftekhar commented on #708
I checked it and yeah, it jumps but it looks to be iOS issue and not due to library.

[2016-12-21 16:39] #715 closed

[2016-12-21 16:48] hackiftekhar commented on #719
Added!

[2016-12-21 16:48] #719 closed

[2016-12-21 16:48] #720 closed

[2016-12-21 16:48] #723 closed

[2016-12-21 16:50] #731 closed

[2016-12-21 16:50] #733 closed

[2016-12-21 17:58] hackiftekhar commented on #722
I checked sample project and tested with iPhone SE iOS10.2 Simulator using Xcode 8.2 but the issue isn't reproducible. Could you please confirm if issue is reproducible with the attached sample project? If YES then could you please let me know your configuration?

[2016-12-21 18:08] #727 closed

[2016-12-21 18:43] Ponf commented on #724
@hackiftekhar I have made everything exactly like in example, so autolayout is pinned to bottom layout guide and it's connected to `IQLayoutGuideConstraint`.

I think this logic doesn't work because my firstResponder is outside of attached view.

[2016-12-21 18:48] #735 closed

[2016-12-21 19:15] hackiftekhar commented on #724
That may be the case because library isn't aware of each and every case and can only handle general cases like most of the users have. However if you made it exactly like example then it should work.

[2016-12-21 21:54] zeiteisen commented on #722
You can reproduced on a iOS 10.0 or iOS 9.3 simulator with the sample project

[2016-12-22 02:11] icodesign commented on #708
Sorry to hear that. Thanks @hackiftekhar though.

[2016-12-22 02:58] liaodalin19903 commented on #732
@hackiftekhar I am sure I  did not set  `shouldBeginEditing`, I searched the `.swift` with `shouldBeginEditing `, found nothing.

[2016-12-22 04:40] hackiftekhar commented on #732
You searched incorrect text.

[2016-12-22 04:42] #708 closed

[2016-12-22 23:50] renatords opened #739 "Swift 3 Xcode 8.2.1 not work"
Hi. The version 4.0.7 not works with S3 and Xcode 8.2.1. Is there a solution? Tks

[2016-12-23 22:33] Janneman84 commented on #340
I am using a static table view and I'm having the same problem. I have outlets of all my text fields. Can't I just set an array of textfield outlets somewhere? The up and down buttons then just have to traverse the array instead of the view hierarchy.

Or even a delegate method, something like
indexPathOfPreviousButtonOfTextField:UITextField at IndexPath: indexPath -> IndexPath
for use with tables

[2016-12-24 13:56] hackiftekhar commented on #340
You can change `toolbarManageBehaviour` property to find textfields sorted by tags. For more please check documentation.

[2016-12-24 21:24] Janneman84 commented on #340
I added `IQKeyboardManager.sharedManager().toolbarManageBehaviour = .byTag` and changed the tags of the text fields to force a different order, but it didn't work. Yes the text fields were all on screen.

Either way this won't fix the problem with tables now will it?

[2016-12-25 01:34] phenomen2277 commented on #703
I was compiling for iOS 10. That is why i got the deprecation warnings. If you go to the 2 delegate functions causing the warning, upon them there is the new implementation for iOS 10.

To fix the warnings, I just removed the 2 delegate functions causing the warning. As I said, I'm compiling for iOS 10.

[2016-12-25 03:33] mhtranbn commented on #739
me too, please suports thank you.

[2016-12-25 09:49] hackiftekhar commented on #703
How about others who are compiling against lower version? As a library author, I also need to support lower iOS versions.

[2016-12-25 21:54] phenomen2277 commented on #703
You solve this issue by either validity checking or different branches fro different targets. Happy holidays!

[2016-12-26 03:43] hackiftekhar commented on #703
Can you please let me know how can I do validity checking? Can you please open a pull request? Make sure at least iOS8 should be supported.

[2016-12-26 08:15] liuxu0718 commented on #728
i have the same problem.begin input status，and then navigationBar move up so that only display statusBar.... when end editing，navigationBar normal.

[2016-12-27 05:35] vbresults opened #740 "iOS 10 Severe Distortion"
In iOS 10, if the screen locks while the IQKeyboardManager is open, and then the device is unlocked, the layout is severely distorted by IQKeyboardManager.

Haven't tried on iOS 8/9 so I'm not sure it's iOS-10 specific or not

[2016-12-27 06:09] liaodalin19903 opened #741 "Sometimes the IQKeyboardManager's keyboard placeholder is incorrect"
I am using :

    pod 'IQKeyboardManagerSwift', '~> 4.0.7'

In the `Appdelegate.swift`:

    IQKeyboardManager.shared().isEnabled = true
    IQKeyboardManager.shared().shouldHidePreviousNext = true

The issue is, the keyboard's placeholder is not correct, sometimes:

![3db93c2d65c504873c7983dd9d00bf3a](https://cloud.githubusercontent.com/assets/12727582/21492238/d96d752e-cc3d-11e6-9cd8-ba662c87647

[2016-12-27 07:00] hackiftekhar commented on #740
Ha you pinned any top layout or bottom layout constraint?

[2016-12-27 07:02] hackiftekhar commented on #741
You can hide keyboard placeholder, there is a property to do so, however if you could share a demo project demonstrating the issue then it would be great to debug this issue.

[2016-12-27 07:51] liaodalin19903 commented on #741
@hackiftekhar ， thanks, could leave your email ？

[2016-12-27 07:57] hackiftekhar commented on #741
You can also upload here and other people can also try to figure out. Make sure you didn't upload any of your private content. It should be just a demo project.

[2016-12-27 08:08] liaodalin19903 commented on #741
I have sent your email.

[2016-12-27 08:46] vbresults commented on #740
Not to my knowledge, but my layout engine may do it

[2016-12-28 09:57] peakerWu opened #742 "setting IQKeyboardReturnKeyHandler not work in UITableView"
I dont know when setting this code  in 'TableViewInContainerViewController.m' (you demo)
- (void)viewDidLoad
{
    [super viewDidLoad];

    handler = [[IQKeyboardReturnKeyHandler alloc] initWithViewController:self];
    handler.lastTextFieldReturnKeyType = UIReturnKeyDone;

}
- (void)dealloc
{
    handler = nil;
}
 the Return dont become Next in Keyboard， Thank you.

[2016-12-29 18:07] MarcusByrd commented on #739
Oh no! I hope this is fixed soon. This keyboard is literally my only life line when it comes to keyboards!

[2016-12-31 18:35] pprevalon opened #743 "How can i hide the up and down arrow"
How can i hide the up and down arrow

[2017-01-02 09:03] MohamedAbden opened #744 "Misplaced when In-Call Status Bar is Active"
Before open keyboard :
<img width="487" alt="screen shot 2017-01-02 at 11 51 55 am" src="https://cloud.githubusercontent.com/assets/24872609/21586509/ea53e7fc-d0e2-11e6-8b46-e6b62054690b.png">

When keyboard is Active : (view is moved down even for the first TextField) :
<img width="487" alt="screen shot 2017-01-02 at 11 52 09 am" src="https://cloud.githubusercontent.com/assets/24872609/21586544/5

[2017-01-02 15:05] sany620 opened #745 "interactivePopGestureRecognizer question"
Can appear when used after push interactivePopGestureRecognizer return this problem, how to solve? IQKeyboardManager (3.3.7)
![123567](https://cloud.githubusercontent.com/assets/5379144/21591519/eab70780-d13f-11e6-9df8-95fd6cf94417.png)

[2017-01-03 00:19] KodiKraig commented on #739
It is working for me but extremely slow at times to bring the keyboard up. Not sure what to do to fix this problem.

[2017-01-03 01:26] tospery opened #746 "contentview will more height when show keyboard."
Hi hack,
   In the Test, when hide keyboard, you can scroll the contentview up/down freedom. But, when show keyboard, the contentview will have more height. How can fixed this issue, thanks.
[Test.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/681576/Test.zip)

[2017-01-03 15:42] devandanger opened #747 "How did you generate that control flow diagram?"
Seems like a taxing activity?  Did you use some tool to generate the initial diagram?

[2017-01-04 07:22] narasimhanallamsetty commented on #103
@dducro I have downloaded your sample app which you created. It's working fine.  By following your app I have created another application according to our requirement. In the attached project I have multiple textfields. For nine and ten textfields I have changed inputView to datepickerview. **While entering text on Textfield(nine) it's taking textfield(ten).**  Please check in the attached sample

[2017-01-04 07:23] narasimhanallamsetty commented on #103
I have not add constraints yet. Please let me know if you need any additional information from me.

[2017-01-04 09:04] dducro commented on #103
@narasimhanallamsetty thanks for checking the sample project.
hackiftekhar also downloaded the project and pointed out that the IQKeyboardManager.bundle was not added to my project. That fixed my issue.
Hope others with similar problems find your sample project useful.

[2017-01-04 13:45] pardypanda opened #748 "Request: Can I add a textview on the keyboard toolbar itself?"
Hi,

Can I add a textview and a send button on the keyboard toolbar itself? If yes, how do I manage it?

I have a chat app where the text input needs to happen on the keyboard toolbar itself and then clicking on "Send" on the toolbar should send the message. I'm using JSQMessagesViewController for the chat UI

[2017-01-04 13:48] pardypanda opened #749 "Set cell position back to where it was on keyboard dismiss"
Hi,

IQKeyboard works really well. I have a table view where each cell has a textview for input.

Right now, clicking on any textview on any cell does bring it up or pull it down to above the keyboard when keyboard is shown. This behaviour is correct and works really well.

However, on keyboardWillBeHidden, I want to set the cell position back to what it was before keyboard was shown. How to do th

[2017-01-05 01:35] Sunny-guangge opened #750 "in webview toolbar can not hide"
[IQKeyboardManager sharedManager].enable = NO;
    [IQKeyboardManager sharedManager].enableAutoToolbar = NO;
 set like this

[2017-01-05 07:02] narasimhanallamsetty commented on #103
@dducro  yes. My sample project will be useful for whom who is having problem with IQKeyboardManager.bundle. But for me the issue is different. I would be very helpful if you resolve the issue.

[2017-01-05 10:44] dducro commented on #103
@narasimhanallamsetty I can look in to it later this week. If you have any additional info of what you want to achieve, that could help to find the problem. It sounds like the problem hasn't something to do with IQKeyboardManager though. But it's more likely the problem lies in a reference.

You can also try this for more control over the buttons:
`// Adding previous/next button to textField`
`let

[2017-01-09 06:26] pardypanda commented on #749
Hi @hackiftekhar,

Can you please help me on this one?

Thanks.

[2017-01-09 10:16] CyberMew opened #751 "Does not scroll when clicking on textfield that will be behind keyboard"
This is how it looks like at the start:![screen shot 2017-01-09 at 6 08 41 pm](https://cloud.githubusercontent.com/assets/4715911/21763043/d201aaae-d696-11e6-8ffa-21c7abd2713c.png)

If I click on the 1st textfield and press tab/arrow next then it works:![screen shot 2017-01-09 at 6 08 58 pm](https://cloud.githubusercontent.com/assets/4715911/21763060/e52c4c2e-d696-11e6-8560-7d7c29d4ea6c.png)

If I

[2017-01-10 11:40] viral105 commented on #751
I am having similar problem.
My text field inside the uicollectionview and class is presented modally with form sheet presentation.

Whenever I am pressing last text field of view, this text field shows behind the key board and not able to scroll to see that text field.

If I press next or previous button scroll till last text field is working fine.

I am using pod 'IQKeyboardManagerSwift', ‘4.0.0

[2017-01-10 19:27] m1ch14l commented on #743
In Appdelegate.swift:

`IQKeyboardManager.shared().shouldHidePreviousNext = true`

[2017-01-11 13:04] mayckxavier commented on #638
@zhigang1992, how could I install this swift23 version?

[2017-01-11 13:31] zhigang1992 commented on #638
@mayckxavier I'm guessing you're using cocoapods?

[code]

[2017-01-11 17:09] #743 closed

[2017-01-11 17:12] hackiftekhar commented on #751
@CyberMew Make sure your scrollView does have correct autolayout constraint to calculate it's contentSize

[2017-01-11 17:15] hackiftekhar commented on #749
@pardypanda There is a UIScrollView category and have a property `shouldRestoreScrollViewContentOffset` just set it to YES on your UITableView object.

[2017-01-11 17:16] hackiftekhar commented on #747
@devandanger Nope, I create that manually using draw.io

[2017-01-12 02:57] CyberMew commented on #751
The whole layout has autolayout applied and there wasn't any errors in the storyboard. I will double check again when I have time! Maybe @viral105 can verify in the meantime too

[2017-01-12 06:14] pardypanda commented on #749
Perfect!

Thanks (y)

[2017-01-12 06:14] #749 closed

[2017-01-12 06:47] raj-android-ios commented on #252
there is no such method like 'disableInViewControllerClass'

[2017-01-12 07:06] raj-android-ios commented on #391
there is no such method "disableInViewControllerClass"

[2017-01-12 07:17] fisland opened #752 "Incompatible with third party typewriting"
Hi,
IQkeyboard is very good, but after iOS10, it had a bug that it was incompatible with third party typewriting.
when the third party typewriting keyboard appear, the keyboard  height isn't right, and sometime it will switch to iOS keyboard

[2017-01-12 18:11] hackiftekhar commented on #751
Please check in viewDidAppear that what contentOffset property of your ScrollView does have.

[2017-01-13 10:48] csooi opened #753 "Toolbar's size is extended and become very long after removing and readding all window's subview"
Hi,

I encounter a problem here. I used the following codes to update my UI components once my theme color changes. However, whenever I used this following codes to remove my window's subviews and add them back subsequently, my toolbar seems to extended it's length once I let any textfield becomefirstresponder. I can't reach my "Done" button anymore.

[code]

![simulator screen shot 13 jan 2017 6

[2017-01-13 10:54] hackiftekhar commented on #753
@csooi Please share a demo project so that I can look into it.

[2017-01-13 10:54] viral105 commented on #751
@hackiftekhar I have double checked my view and its constraints its ok. No issue with that.
Also I didn't written viewDidAppear in my VC and in all class i didn't set contentOffSet property.

[2017-01-13 11:15] csooi commented on #753
@hackiftekhar Thanks for the quick reply. I just created a new demo project to address this problem. You can find it from https://github.com/csooi/DemoIQToolbarProblemWithThemeChanged

Thanks a lot!

[2017-01-13 13:48] hackiftekhar commented on #753
Thanks @csooi, I'll check when get some free time.

[2017-01-13 13:50] hackiftekhar commented on #751
ohh, very sorry @viral105 I mean contentSize, my bad.

[2017-01-16 06:26] lbb631160503 opened #754 "4.0.8 Version Overwrite loadView,IQ invaild"
In version 4.0.8，overwrite loadView In navigationBar VC,IQ invaild, But in version 3.3.7,IQ is enabled

[2017-01-16 08:34] viral105 commented on #751
`override func prepareForSegue(segue: UIStoryboardSegue, sender: AnyObject?) {
        if segue.identifier == "MyVC" {
            let obj: MyVC = segue.destinationViewController as! MyVC
            obj.preferredContentSize = CGSizeMake(900, 650)
        }
    }`

This is what i have written in view controller from where I am presenting MyVC.

[2017-01-17 13:28] mayckxavier commented on #638
Thanks, @zhigang1992!
I was so inside my project that  didn't thank you.

[2017-01-17 17:14] pprevalon opened #755 "Does not work on presentViewController"
I present a viewControler modally, for some odd reason the keyboard manager only move the previous view controller not the new viewController that was presented modally. how can this be fixed. Thank you in advance

[2017-01-18 02:28] an-ttt opened #756 "When with NagaitionBar, topLayoutGuide seems is not correct"
I set scollView in UIViewController that navigationBar do not go up. After that:

-(void)adjustFrame,
{
...
    CGRect statusBarFrame = [[UIApplication sharedApplication] statusBarFrame];
...
    CGFloat topLayoutGuide = CGRectGetHeight(statusBarFrame);
...
    //  Checking if there is bottomLayoutGuide attached (Bug ID: #250)
    if (layoutGuidePosition == IQLayoutGuidePositionBottom)
    {

[2017-01-18 11:05] viral105 commented on #751
Also one more thing I have notice that, problem occurs only if presenting vc. When you push vc in that case it is working properly for me.

[2017-01-19 07:58] arjavlad commented on #475
@Deepinder-Lakhi I used your code. it works in iOS 9 but not working iOS 10.

[2017-01-20 06:24] hellowupeng opened #757 "Support bitCode?"

[2017-01-20 07:40] Cutezhao opened #758 "wkwebveiw"
影响wkwebview delegate的工作
when used with wkwebview ,there will be something strang (wkwebveiw)

[2017-01-20 09:13] DevilMrTank opened #759 "textfield in tableview,keyboard display has some error"
A viewcontroller, has a UIView and a UITableView.UIView is above UITableView. UITableView has some UITextField.
When click on UITextField,keyboard show.UITableView's content will scroll some space,but UITableView's position will not change.So the viewcontroller seems so strange。
[screenshot](http://tieba.baidu.com/p/4947298724?pid=102855306408&cid=0#102855306408)

[2017-01-20 17:49] dvanoni opened #760 "IQKeyboardReturnKeyHandler strong reference to delegate"
I'm using the Swift version of `IQKeyboardReturnKeyHandler` in a view controller that adopts `UITextFieldDelegate` and `UITextViewDelegate`. I'm setting the `delegate` of my `IQKeyboardReturnKeyHandler` to this view controller so that it can perform a custom action when handling `textFieldShouldReturn`.

My first attempt, which works, looked like this:
[code]

However, because `IQKeyboardReturnKey

[2017-01-21 02:32] tpctt opened #761 "the tapGesture will conflict with barHideOnSwipeGestureRecognizer"
PRE: Set      [IQKeyboardManager sharedManager].shouldResignOnTouchOutside = YES;
1. set     self.navigationController.hidesBarsOnSwipe = NO;
2. input with textfield and touch on other area,  the keyboard will hide
3.   set     self.navigationController.hidesBarsOnSwipe = YES;
4. input with textfield and touch on other area,  the keyboard will  not hide ,

[2017-01-23 15:11] hackiftekhar commented on #757
It's the source code so this question looks invalid. However if your app support bitcode then Yes.

[2017-01-23 15:11] #757 closed

[2017-01-23 15:15] hackiftekhar commented on #755
Can you please provide tge democode because it works in all hierarchy configuration, not sure what maybe the issue with your code.

[2017-01-23 15:16] hackiftekhar commented on #756
Can you please provide demo project?

[2017-01-23 16:43] eestein commented on #735
@hackiftekhar sorry about the huge delay. I still haven't figured out this one yet. Would you know why did it stop working after 10.2? The same library was working before. Thanks!

[2017-01-23 19:03] ajithrnayak commented on #755
So, on an iPad, I'm presenting a popover with textfield and button. I'm presenting a view controller over the context when button is tapped.
- make textfield first responder by tapping it.
- Without dismissing keyboard, present another view controller (over the context in my case)
possibly, keyboard resigning and resetting layout affects newly presented view controller.

[2017-01-23 22:24] AtharvaVaidya opened #762 "keyBoardDistanceFromTextField not working"
I am setting keyboardDistanceFromTextField like so in App Delegate:

`
[[IQKeyboardManager sharedManager] setEnable:YES];
[[IQKeyboardManager sharedManager] setKeyboardDistanceFromTextField:100];
`

I have a UITextField and another view in a tableViewCell in a UITableView in a UIViewController. How do I override the distance so that IQKeyboardManager calculates it as the height of the tableViewCel

[2017-01-24 03:20] hackiftekhar commented on #735
@eestein could you please let me know what you have tried till now?

[2017-01-24 03:23] hackiftekhar commented on #755
I'm still a but confise with the configuration that's why I asked you the demo. Btw I can say that there may be some issues with the popover, so if you afe getting any then it needs to be fix.

[2017-01-24 14:29] eestein commented on #735
@hackiftekhar as I said I was using a bindings library for Xamarin.iOS. But it's all good now, I'm going to create my own implementation of this behavior to avoid issues. Thank you for your time!

[2017-01-25 13:21] Homeshchopra94 commented on #464
i am still facing this issue any clues to avoid this?

[2017-01-26 13:01] hackiftekhar commented on #464
which version you are using @Homeshchopra94, can you please upload a demo because I'm unable to reproduce this issue anymore.

[2017-01-26 13:04] #703 closed

[2017-01-26 13:04] #711 closed

[2017-01-26 13:05] hackiftekhar commented on #714
@dipkasyap If you were seeing strange in simulator then it's ok, if you see strange animation in device then reopen this pull request.

[2017-01-26 13:07] #718 closed

[2017-01-26 13:33] hackiftekhar commented on #722
I checked and found that tableview trigger setContextOffset on end updates, so this must be iOS side issue and not by library.

[2017-01-26 13:33] #722 closed

[2017-01-26 13:33] #726 closed

[2017-01-26 16:30] hackiftekhar commented on #728
It's expected that the main UIView move up, if we try to not move navigation bar then it would be very tricky.

[2017-01-26 16:30] #728 closed

[2017-01-26 16:43] #729 closed

[2017-01-26 17:09] hackiftekhar commented on #736
@gushenmeiying Where is your textField in the demo code @gushenmeiying?

[2017-01-26 17:18] hackiftekhar commented on #738
@NikKovIos I checked it with my ManualToolbarViewController demo, and it's working fine there and I didn't found any issues.

[2017-01-26 17:18] #738 closed

[2017-01-26 17:24] hackiftekhar commented on #740
I checked and it's working fine for me. You could check if you pinned top/bottom layout guide directly or indirectly to text field.

[2017-01-26 17:24] #740 closed

[2017-01-26 17:25] #741 closed

[2017-01-26 17:26] hackiftekhar commented on #741
@liaodalin19903 If you could upload a demo project here then it would be great, please reopen the issue when you upload the demo.

[2017-01-26 17:40] hackiftekhar commented on #742
I checked my 'NavigationBarViewController' demo and it's working fine there. Using return key handler only work with static fields, if any textfield added after initializing then it should be added manually using **addTextFieldView:** method.

[2017-01-26 17:44] hackiftekhar commented on #744
@MohamedAbden Can you please provide demo project because all works fine with my demo app.

[2017-01-26 17:48] hackiftekhar commented on #745
@sany620 This is fixed with #464 in v4.0.4

[2017-01-26 17:48] #745 closed

[2017-01-26 17:52] hackiftekhar commented on #746
@tospery I checked it and it's working as expected. The contentView height is same all and user can scroll see all the content by scrolling.

[2017-01-26 17:52] #746 closed

[2017-01-26 17:53] #742 closed

[2017-01-26 17:54] #724 closed

[2017-01-26 17:57] hackiftekhar commented on #748
@pardypanda I would suggest you to disable IQKeyboardManager when using JSQMessageViewController because IQKeyboardManager doesn't work well with chat UI.

[2017-01-26 17:57] #748 closed

[2017-01-26 17:59] hackiftekhar commented on #750
@Sunny-guangge WebView doesn't have native UITextField/UITextView and in webView their are html controls, it does have their own mechanism to handle html textfields and library does have no control over there.

[2017-01-26 17:59] #750 closed

[2017-01-26 18:00] hackiftekhar commented on #758
What's strange @Cutezhao, could you please add any screenshot to understand?

[2017-01-26 18:05] hackiftekhar commented on #751
I'm asking to set **contentSize** of **UIScrollView**, not **preferredContentSize**.

[2017-01-26 18:17] hackiftekhar commented on #752
The library extract keyboard height from keyboard notifications, so it's dynamic and doesnt' have any issues with any height third party keyboard. If there is any then there might be issue with the third party keyboard or iOS.

[2017-01-26 18:17] #752 closed

[2017-01-26 18:20] hackiftekhar commented on #754
@lbb631160503 I don't know what's the issue, could you please explain in more detail?

[2017-01-26 18:27] #760 closed

[2017-01-26 18:27] hackiftekhar commented on #760
@dvanoni Thanks a lot for pointing out. Happy coding.

[2017-01-26 18:29] hackiftekhar commented on #762
Nope, it's not possible right now because it's a user specific requirement and not a general one and I believe you may have to write some workaround to overcome with this @AtharvaVaidya.

[2017-01-26 18:29] #762 closed

[2017-01-26 18:30] hackiftekhar commented on #759
@DevilMrTank Screenshot is missing.

[2017-01-26 19:22] JohnTheBastard opened #763 "Feature Request: Expose properties to allow theming of keyboards and inputAccessoryView/UIToolbar without forking"
It would be useful if was possible to configure the IQKeyboardManager to set a color theme for all instances of keyboards, numeric pads, and inputAccessoryViews/UIToolbar. (It would also be great if I could change the font of the letters and numbers on the keys, but I'm not sure Apple allows this.) Here are some mockup examples of the keyboard/numeric pad:

![keyboards](https://cloud.githubusercon

[2017-01-26 19:39] dvanoni commented on #760
Thanks for the fix!

[2017-01-27 12:30] hackiftekhar commented on #753
@csooi I checked the demo and found that the iOS internally changing the toolbar frame and library does nothing in this case. So this looks to be iOS side issues and not by the library.

[2017-01-27 12:30] #753 closed

[2017-01-27 12:52] hackiftekhar commented on #761
I checked and yeah they both conflicts, but it's a very hard thing to create dependency between them.

[2017-01-27 16:23] viral105 commented on #751
My All textfields inside the uicollectionview. Not in uiscrollview.

[2017-01-27 20:42] Tulleb opened #764 "Xcode 8.3 beta compatibility"
The master branch is presenting issues when compiling with Xcode 8.3 beta.

Maybe because of Swift 3.1 version?

Errors are:
IQUIView+IQKeyboardToolbar.swift:91:47: Cannot assign value of type 'String?!' to type 'String?'
IQUIView+IQKeyboardToolbar.swift:111:34: Cannot convert return expression of type 'String?!' to return type 'String?'
IQUIView+IQKeyboardToolbar.swift:70:47: Cannot assign value

[2017-01-28 09:37] hackiftekhar commented on #763
I believe it's not possible to change keyboard color with public API's so I don't think we can expose any properties to do the same.

[2017-01-28 09:37] #763 closed

[2017-01-28 09:39] hackiftekhar commented on #751
@viral105 Do you have any special configuration? Have you checked collection view demo on the demo project?

[2017-01-28 09:40] hackiftekhar commented on #764
beta versions aren't compatible, library will update when public version will be available for users.

[2017-01-28 09:40] #764 closed

[2017-01-28 09:41] #761 closed

[2017-01-28 09:42] #747 closed

[2017-01-28 14:34] Tulleb commented on #764
@hackiftekhar Ok but don't you have a branch / fork to start supporting the incoming versions? 😳

[2017-01-29 12:54] hackiftekhar commented on #764
If I'm going to support incoming feature then I'll have to do it everytime, and I'm not sure if I can maintain it all the time. So easiest solution is to don't do it. If developer wants to do it then please fork the repo and add support for the upcoming features. :)

[2017-01-29 13:28] Tulleb commented on #764
I understand :)
Thank you for all your work anyway.

[2017-01-29 15:58] hackiftekhar commented on #764
@Tulleb However if you would like to make a pull-request with the new features in a new branch, just let me know, I'll create a branch and you can open a pull request to point that branch.

[2017-01-29 15:58] #714 closed

[2017-01-29 15:59] #736 closed

[2017-01-29 16:00] hackiftekhar commented on #739
@renatords @mhtranbn @MarcusByrd @KodiKraig I'll try to add it's support soon.

[2017-01-29 16:01] #754 closed

[2017-01-29 16:02] Tulleb commented on #764
@hackiftekhar I will if the next beta version still present those errors. I don't want to dive to much as well into those new "String??" and "String?!" types too quick if it gets removed after 😁

[2017-01-30 12:25] hackiftekhar commented on #739
I checked with Xcode 8.2.1 and it just work fine without any compilation errors.

[2017-01-30 16:09] viral105 commented on #751
@hackiftekhar As a special configuration i can say that my presentation style is "Form Sheet" if it is "Default" then no issues. Yes, I checked collection view demo.

[2017-01-30 16:22] hackiftekhar commented on #751
@viral105 Can you provide the demo project since I'm unable to reproduce the issue?

[2017-01-31 14:18] viral105 commented on #751
@hackiftekhar I fond the problem.
`override func viewDidLayoutSubviews(){
        self.mycollectionviewobj.collectionViewLayout.invalidateLayout()
    }`
This lines of code are causing the problem.
Commenting this line "IQKeyboardManagerSwift" working fine for me in form sheet presentation style.

[2017-01-31 19:00] Magnat12 commented on #744
Setting `shouldFixInteractivePopGestureRecognizer` to **NO** helps me to resolve this problem
`[IQKeyboardManager sharedManager].shouldFixInteractivePopGestureRecognizer = NO;`

[2017-02-01 09:21] hackiftekhar commented on #751
Thank You! 👍

[2017-02-02 00:21] SketchySwift commented on #739
Works fine for me. By the way, how come when the keyboard disappears, it doesn't animated out nicely, neither is there the <> buttons when the keyboard comes up

[2017-02-03 12:57] RolandasRazma opened #765 "if textView.isEditable = false and text is selected Toolbar becomes visible without keyboard"
How to replicate:
textView.isEditable = true
<select text>
view.endEditing(true)
textView.isEditable = false
<select text>

Some info:
This might be iOS 10 bug (didn't tested other versions) as -[IQKeyboardManager keyboardWillShow:] is triggered

po aNotification
NSConcreteNotification {name = UIKeyboardWillShowNotification; userInfo = {
    UIKeyboardAnimationCurveUserInfoKey = 7;
    UIKeyboardA

[2017-02-03 19:17] santieduardo opened #766 "Order"
Can I set an order to change the fields?

[2017-02-04 04:54] kientux opened #767 "Issue with UISearchController"
This is a very simple setup of an `UIViewController`:

[code]

This is what printed out in the console:

[code]

Because each time search controller is presented, top inset of table view is increased, this is the result when dismiss search controller:

![simulator screen shot feb 4 2017 11 45 35 am](https://cloud.githubusercontent.com/assets/4200743/22615808/ae19b148-eacf-11e6-915d-70f4978cf5ce.pn

[2017-02-04 08:28] hackiftekhar commented on #739
It doesn't animate nicely with the simulator, but if you are on the real device, then it works well.

[2017-02-04 08:28] #739 closed

[2017-02-04 08:29] #756 closed

[2017-02-06 07:48] CyberMew commented on #751
Sorry for the delay, I was busy with other stuffs. I manage to create sample project with this problem. Please let me know what is wrong and what I can do to fix it.
[keyboardbug.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/753897/keyboardbug.zip)

[2017-02-06 16:26] basilmariano opened #768 "TabBarController Moves Up but never return to original frame"
Hi,

i don't know if this is new issue but i'll report it anyway because I cant see it on issue list.

so i have TabBarController that moves Up when it shows the Keyboard,
I have textView inside a viewController that triggers the keyboard and i have referenced the **IQLayoutGuideContraint** to the **bottomLayoutConstraint** of the textView

the images will explain better :)
![simulator screen shot

[2017-02-06 16:40] basilmariano commented on #454
Hi,

Im also encountering this issue now and it is also showing in real device.
![simulator screen shot feb 7 2017 12 17 09 am](https://cloud.githubusercontent.com/assets/5466582/22656304/ea9924be-eccd-11e6-8726-248eefa95040.png)

[2017-02-06 16:52] basilmariano commented on #768
Hi,

I fixed the issue by connecting the  **textView.Botom** to **BottomLayoutGuide.Top**  instead of the **Label.Top** (e.g) _"John Doe"_

for those who also have this issue.
I hope this helps.

best regards,

[2017-02-06 16:53] #768 closed

[2017-02-07 06:10] XHJiang opened #769 "IQKeyboardManager.sharedManager().keyboardDistanceFromTextField = 55 iPhone SE,do not work"
IQKeyboardManager.sharedManager().keyboardDistanceFromTextField = 55
iPhone SE,do not work,please

[2017-02-07 23:47] danielhauagge commented on #644
I'm running into a similar issue here. I'm not sure what @vbresults means when he says that his bug was related to a layout constraint. Is there some specific manner in which auto layout should be setup?

[2017-02-08 02:47] vbresults commented on #644
@danielhauagge I never resolved the issue of it not invoking programmatically, so I've had to resort to only responding to taps

[2017-02-09 03:24] CyberMew commented on #751
Any theories so far as to why it isn't working? Let me know if the sample project is not clear enough to illustrate the problem and I'll see what I can do.

[2017-02-09 05:51] NikKovIos commented on #670
For someone who searched it like me:
```IQKeyboardManager.sharedManager().disabledDistanceHandlingClasses.append(SignInViewController.self)```

[2017-02-10 12:52] oliverfoggin opened #770 "Bluetooth headphones put into "Call mode""
I have no idea why yet but I have narrowed it down to this framework.

When I'm on the simulator and access the software keyboard when my bluetooth heaphones (Bose QC35) are connected to my laptop it switches them into "call mode" and it doesn't turn off without disconnecting bluetooth from my laptop.

I haven't narrowed it down yet to the code but it shouldn't really be going anywhere near the bl

[2017-02-14 09:48] Nirav08 opened #771 "Control "Tab key" same as while Next Previous"
How can I defined order while Tab key is press to move next textfield?

 func textFieldShouldBeginEditing(textField: UITextField) -> Bool {

        if (textField == txtCustom) {
            if(textField.isAskingCanBecomeFirstResponder == false) {
                let alertController = UIAlertController(title: "IQKeyboardManager", message: "Do your custom work here", preferredStyle: .Alert)

[2017-02-16 01:32] bj97301 commented on #238
Can I haz feature?

[2017-02-16 06:40] zzyspace opened #772 "Does not work perfectly with UITextView while using enabledDistanceHandlingClasses"
If IQKeyboardManager working automatically, It's everything fine. But It has some problem when I disabled managing distance, and add the controller class to enabledDistanceHandlingClasses, there just first touch UITextView can handle distance, after that distance handling don't work.
By the way, distance handling with UITextField is working fine.

This is my [Demo](https://www.dropbox.com/s/begaub

[2017-02-16 10:32] mathiarasan24 opened #773 "Remove custom done button action?"
Hi,

I am using `UITableViewCell` with `UITextField`. Add and remove text field based on few condition. Some text field input view as `UIDatePicker` or `UIPickerView`. For these kind of picker view only I need [custom done button action](https://github.com/hackiftekhar/IQKeyboardManager/blob/master/MANUAL%20MANAGEMENT.md#get-notified-when-tapping-on-previousnextdone-button-for-specific-uitextfield

[2017-02-17 01:55] JoeyLyman opened #774 "How do I get the Previous/Next buttons to register UITextFields in different StackViews? Thank you!"

[2017-02-17 02:19] #774 closed

[2017-02-17 10:04] rjcristy commented on #252
IQKeyboardManager.sharedManager().disabledToolbarClasses = [QuantityPickerDialog.self] //of type UIViewController

[2017-02-19 20:05] jigs611989 commented on #650
Sorry for late reply, I have faced this issue due to log in through Touch ID, Make sure that you have the same problem with disabling Touch ID pop up. If the issue with Touch ID pop up then make sure that text field must be empty before showing the TouchID popup.
For Example, I have two text field usernameTextField & passTextFeild then before showing Touch ID popup

`usernameTextField.text = ""`
`

[2017-02-21 08:04] warisappify commented on #391
Kindly use following method instead

`IQKeyboardManager.sharedManager().disabledToolbarClasses = [ViewControllerA.self, ViewControllerB.self]`

[2017-02-22 03:17] hackiftekhar commented on #391
Thanks @warisappify

[2017-02-22 03:20] hackiftekhar commented on #650
Thanks @jigs611989

[2017-02-22 03:22] hackiftekhar commented on #252
Thanks @rjcristy. @raj-android-iOS, they are replaced by properties so now you have to use them like mentioned by @rjcristy.

[2017-02-22 03:26] hackiftekhar commented on #773
You are doing correct to remove done actions, however you also get callback with textFieldDidEndEditing so why you need this custom done button action?

[2017-02-22 03:28] hackiftekhar commented on #772
Thanks for the report and demo project, I'll try your demo when I get some time.

[2017-02-22 03:30] hackiftekhar commented on #238
@bj97301, not sure what you mean.

[2017-02-22 03:35] hackiftekhar commented on #771
Tab key work differently than normal sofware keyboard and we cannot handle it directly. You must return Yes/No only from method. For workaround you can add tap gesture or any other touch event to your text field to get callback.

[2017-02-22 03:37] hackiftekhar commented on #770
I don't think it's related to IQKeyboardManager,

[2017-02-22 03:40] hackiftekhar commented on #751
@cybermew, sorry I'm too busy these days, but will check your demo when I get some time.

[2017-02-22 03:42] CyberMew commented on #751
No problem. That would be great. Appreciate it.

[2017-02-22 03:43] hackiftekhar commented on #769
It works, how it doesn't work @xhjiang

[2017-02-22 06:42] oliverfoggin commented on #770
That's what I would think also. But it only happens on the simulator and only when I'm using this framework. LOL :)

[2017-02-22 07:14] anuragbhai opened #775 "Setting left allignment in dropdowntext"

[2017-02-22 07:24] anuragbhai opened #776 "Setting up the left alignment in textField with no border style"
![screen shot 2017-02-22 at 12 46 24 pm](https://cloud.githubusercontent.com/assets/16654372/23200944/3a798740-f8fd-11e6-9a38-8c3d0f08692c.png)

I set the textField to no border style then customised the corner and all. What I need now is to set a particular alignment from the left. Is this possible using IQDropDownTextField?

[2017-02-22 08:00] tbaranes opened #777 "Split storyboard demo in multiple storyboards"
`IQKeyboardManager`'s `Main.storyboard` makes literally freeze my MBP 😬
Once that storyboard opened, I have no choice than remove `IQKeyboardManager` to make sure that Xcode won't reopen it.

Since iOS9 we can use storyboard reference, it should be an easy task and great improvement to use your demo!

If I could, I would have made a PR, but... that's not possible 👎

[2017-02-22 08:21] tbaranes opened #778 "Issue when textfield is embedded in UIStackView which is embedded in ContainerView"
Thanks for that great framework! It solves me in a lot of project.

I'm struggling with that context, not sure if that's a bug or a bad usage from me. Here the structure:
UIViewController -> ContainerView -> (child)UIViewController -> UIStackView (with top constraints) ->  a few UITextFields.
(where "->" means embed in)

Also, the `UIStackView` superview (main view of the `UIViewController`) is an

[2017-02-22 12:49] pjuzeliunas opened #779 "Non-translucent navigation bar is pushed outside the screen"
Non-translucent navigation bar is pushed outside the screen in a controller with single full-screen text view. Issue does not happen if navigation bar is translucent.

### Steps:

1. Create single view application from Xcode menu.
2. Add IQKeyboardManager to codebase and enable it in app delegate.
3. Create the following view hierarchy in app storyboard: `UINavigationController` → (root) → `ViewCo

[2017-02-22 14:39] schulz89sp opened #780 "CHANGE COLOR ITEM TOOLBAR"
How change color of item toolbar?
Es. Done button in red?
And Backgrounf of toolbar?
Thanks

[2017-02-23 08:00] ManagerLi commented on #677
How did you solve it?

[2017-02-23 08:48] YYHNobug opened #781 "IQKeyboardManager"

[2017-02-23 12:37] malkabani commented on #772
Hi. Is there any solution for this bug. thanks

[2017-02-24 04:54] zzyspace commented on #772
@malkabani Hi, there is my temporary solution, but it is not the ultimate solution:

[code]

[2017-02-24 14:53] mradzinski commented on #677
@ManagerLi, can't remember exactly, but I'm 99.9% sure a call to ```reloadLayoutIfNeeded``` at some specific points of my code solved it.

[2017-02-26 06:47] #781 closed

[2017-02-27 16:05] korovyev opened #782 "Arrow directions in iOS 9 vs iOS 10"
On iOS 9 devices, the keyboard arrows are horizontal. On iOS 10 devices, they are vertical. I am wondering why this is?
I have been asked to have the arrows horizontal for both iOS 9 & 10 - and I'd like to know the reason why this change was made before I think about creating a PR to have the option. (I don't really mind myself, so if theres a good reason for the change that I can use to push back

[2017-02-27 22:03] Benuuu commented on #770
@oliverfoggin I believe I'm observing this behavior too.  I was able to create a simple project with a text field and IQKeyboardManager. Tap into the text field then tap the "Done" button on the accessory view.  This was enough to reproduce the issue I'm seeing

[2017-02-27 22:06] oliverfoggin commented on #770
I found a way to turn it off. It appears to be setting the computers microphone input to be the headphones. Not sure how yet but you can go into sound settings and input devices and it will have selected the headphones.

[2017-02-27 22:07] oliverfoggin commented on #770
@Benuuu ^

[2017-02-27 22:09] Benuuu commented on #770
@oliverfoggin did you trace down why it was trigging any change?

[2017-02-27 22:10] oliverfoggin commented on #770
@Benuuu the current project I'm on we're not using his framework so haven't had time to look into it.

[2017-02-27 22:11] Benuuu commented on #770
[[UIDevice currentDevice] playInputClick];

Is triggering it

[2017-02-27 22:20] Benuuu commented on #770
This appears to be an Apple bug.  A simple VC will reproduce it:

`import UIKit

class ViewController: UIViewController {

    @IBOutlet weak var textField: UITextField!

    override func viewDidLoad() {
        super.viewDidLoad()
        let button = InputView(frame: CGRect(x: 0, y: 0, width: 320, height: 50))
        button.backgroundColor = UIColor.red
        button.addTarget(self, action: #

[2017-02-27 22:35] Benuuu commented on #770
Filed radar: 30742803

[2017-02-28 08:44] aisgirish opened #783 "Screen freezing in iOS 10.2"
Hello I am developing iOS app into which I had added IQKeyboardManager for keyboard show & hide. It is working fine in iOS 9. But when I run into iOS 10.2 (iPhone 6 & 6s), app is freezing in following situation.

APP FREEZE

Open App with Login page.
Goto next page without touch on any textfields. (Username or password).
App Freeze. Not any control on Navigation bar is also not working.
APP NOT FR

[2017-02-28 11:04] hasanmainul commented on #767
@kientux
Did you try your workaround with a scoped searchBar?

Didn't work for me. I had to disable `IQKeyboardManager`

FYI, I meant this
[code]

[2017-02-28 11:09] kientux commented on #767
@hasanmainul I don't understand. Are you having the same problem? Currently I placed the search bar on navigation bar so I don't have this problem, but it's just a issue report. That block of code is what I've done to (temporary) fix this. I don't use a scoped search bar.

[2017-02-28 12:46] MikeFighting commented on #669
What is the solution? Can you show me the code or the text ?

[2017-02-28 17:54] hackiftekhar commented on #782
If you see textfield of WebView (Safari or WKWebKit) then on iOS9 you'll see left/right arrow on keyboard, for iOS10 you'll see up/down arrow, that's why I make it dependent on iOS.

[2017-02-28 17:56] korovyev commented on #782
Good enough for me, thanks!

[2017-02-28 17:56] #782 closed

[2017-02-28 18:00] hackiftekhar commented on #783
@aisgirish You'll need to debug why it's freezing. You could stop rinning by tapping pause debugging icon and check your threads hierarchy.

[2017-02-28 18:01] hackiftekhar commented on #783
If you find something useful for me then let me know.

[2017-03-01 04:59] #783 closed

[2017-03-01 05:02] aisgirish commented on #783
Actually, there is weird problem. I am not sure that IQKeyboardManager create this issue.
Because, I put alert message and auto dismiss it.
And it is not freezing.

[2017-03-01 13:41] mathiarasan24 commented on #773
For `UIDatePickerView` and `UIPickerView`. User doesn't change anything in picker view and select done button it's should fill current selected picker index into `UITextfield`.

[2017-03-01 19:06] lingzlu opened #784 "enabledDistanceHandlingClasses does not work well"
I have IQKeyboardManager enable turn off and add a specific ViewController with UITextViews.

I set the break points in `keyboardWillShow` and `textFieldViewDidBeginEditing` in IQKeyboardManager.swift, and find that `keyboardWillShow` gets call before `textFieldViewDidBeginEditing`. `privateIsEnabled()` in keyboardWillShow return false because `_textFieldView` is `nil` , thus `_kbSize` was never c

[2017-03-01 19:17] lingzlu commented on #772
I'm having similar issue, seems to be the issue with UITextView `didBeginEditing` gets call after keyboard event . just opened issue #784, which would be duplicate of this one

[2017-03-02 06:03] hasanmainul commented on #767
@kientux I have the same problem. `tableView.contentInset` giving me unexpected result.
I've tried your temporary fix which didn't work for me when I used it with scoped search.

[2017-03-03 06:07] zj299792458 opened #785 "it reverses my UITextField's position when finishing input"
My UITextField appears with my own animated movement from point A to point B in viewDidAppear delegate ,  using [UIView animateWithDuration: ...]. Point A is set in storyboard and point B is calculated according to view size in viewWillAppear. After viewDidAppear all views will be fixed at point B.

But when the keyboard is done, all views are reversed to point A again, which is ridiculous because

[2017-03-03 06:52] zj299792458 commented on #785
It seems because of changing frame position against storyboard constraint and it reverses back whatsoever after resigning first responder, sorry.

[2017-03-03 06:52] #785 closed

[2017-03-03 13:04] yuzhongqi opened #786 "the view load x times textfield and invoke x times textFieldShouldBeginEditing"

[2017-03-03 21:01] stachon commented on #779
Have you tried the steps from https://github.com/hackiftekhar/IQKeyboardManager/blob/master/MANUAL%20MANAGEMENT.md ?

[2017-03-07 07:46] lforme opened #787 "IQKeyboardManagerSwift causes UITableviewDelegate didSelected return wrong Indexpath"
First of all thank you very much for creating such a useful keyboard manager.
We have used it in almost every project.
Recently we found an interesting question:
When I use IQKeyboardManagerSwift and I customize the cell, it will cause my tableIveView the indexpath to get confused.
My Customize cell with UITextView, and I set this in AppDelegate:
IQKeyboardManager.sharedManager().enable = true
IQK

[2017-03-07 08:49] lforme commented on #787
We test this case use OC, there is no problem

[2017-03-07 08:51] lforme commented on #787
We test this case use OC version, there is no issue

[2017-03-07 10:30] #775 closed

[2017-03-07 10:32] anuragbhai commented on #776
I just got the solution:
By adding these two lines in IQDropDown class, I got the exactly what I needed

// placeholder position
- (CGRect)textRectForBounds:(CGRect)bounds {
    return CGRectInset(bounds, 28, 5);
}

// text position
- (CGRect)editingRectForBounds:(CGRect)bounds {
    return CGRectInset(bounds, 28, 5);
}

[2017-03-07 10:32] #776 closed

[2017-03-07 14:27] krojas opened #788 "After remove IQKeyboardManagerSwift from podfile I get 39 warning about missing file"
for example:

file:///Users/User/Desktop/Panther.Zoo_iOS/Zoo/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQToolbar/IQUIView+IQKeyboardToolbar.swift: warning: Missing file: /Users/User/Desktop/Panther.Zoo_iOS/Zoo/Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQToolbar/IQUIView+IQKeyboardToolbar.swift is missing from working copy

file:///Users/User/Desktop/Panther.Zoo_iOS/Zoo/Pods/IQKey

[2017-03-07 14:45] krojas commented on #788
Sorry, I found the solution here https://github.com/CocoaPods/CocoaPods/issues/3341

[2017-03-07 14:45] #788 closed

[2017-03-09 09:10] Havusoft opened #789 "Why do I need a textview for textfields to get the done toolbar?"
I'm obviously just not understanding something here. If I have view with just textFields the done toolbar does not appear for the keyboard. But if I add one textview in addition, now all my textFields finally get the toolbar.

[2017-03-09 16:39] ahmadabudawod commented on #787
I have the same issue bug , when use UITableViewController

[2017-03-10 02:28] lforme commented on #787
@ahmadabudawod Temporary solution is the version of oc

[2017-03-12 09:11] ahmadabudawod commented on #787
Sorry , what do you mean by ( version of oc )

[2017-03-12 10:51] varijkapil13 opened #792 "Clicking next/previous button flickers the screen but does not reposition it"
Hi,
First thank you for this awesome library. I use it in almost all projects now.
But I am having a problem with my recent project. This is my first project in swift 3 and maybe I am doing something wrong.

With a screen that have 4 to 5 textfields, clicking on individual textfields separately produces the desired functionality of lifting up the screen to the textfield height, but If I want to na

[2017-03-13 09:52] dimovskidamjan opened #793 "Issue with UITableViewCell selection"
I have a `UITextField` which shows a small `UITableView` underneath it as the user starts typing. There is an issue when the user taps on one of the cells of this table view, because IQKeyboardManager's tapGestureRecognizer catches the tap and the delegate's `didSelectRow` method is not called. Is there a way to prevent this? I can see that in the `shouldReceive touch` method there is a check for

[2017-03-14 04:37] zanesc commented on #766
Did you figure this out?

[2017-03-14 07:43] yasirmturk commented on #88
`isFirstResponder` is alway false at `textFieldShouldBeginEditing`  until `textFieldDidBeginEditing` ...

[2017-03-14 08:00] yasirmturk commented on #88
@hackiftekhar your workaround solution `UIControlEventTouchDown` wont work as touch events are not called on `UITextField` .. plz verify?

[2017-03-14 09:31] lforme commented on #787
@ahmadabudawod I user 'pod IQKeyboardManager' instead of  'pod IQKeyboardManagerSwift'

[2017-03-14 10:48] #766 closed

[2017-03-14 15:48] TechLoveVN commented on #755
@hackiftekhar  I am getting same issue, please give me your email, I will send you my source code.
thanks!

[2017-03-14 16:17] BahaeddinSagar opened #794 "value of type "anyObject " has no member drawingplaceholdertext"
Hello,

When I try to archive the program which uses this keyboard, i get this error (value of type "anyObject " has no member drawingplaceholdertext)

-----------------------------------------------------------------------------------------------

public var shouldHidePlaceholderText: Bool {
        get {
            let aValue: AnyObject? = objc_getAssociatedObject(self, &kIQShouldHidePlaceholde

[2017-03-15 11:38] hackiftekhar commented on #88
@yasirmturk Have you tried adding UIControlEventTouchDown event since when I checked this at that time it was working correctly.

[2017-03-15 11:40] hackiftekhar commented on #793
Then I think you should disable shouldResignOnTouchOutside to prevent this.

[2017-03-15 11:41] hackiftekhar commented on #789
@Havusoft Can you provide any demo since this should not be an issue.

[2017-03-15 11:44] dimovskidamjan commented on #793
No, because I want to keep the touch outside functionality for the surrounding area. It would be better if there was some sort of array where you could define which classes should not respond to the tap gesture, like you have added UIControl and UINavigation bar, so that everyone could tailor the behavior to their specific needs.

[2017-03-15 18:32] yasirmturk commented on #88
yes i did and it was not working so i used the 2nd solution unwillingly :)

[2017-03-16 13:21] majidsaleem105 opened #795 "Remove written text from textfield"
Hi,

When we entered some text in UITextField and hide the keyboard. Now if we click on textfield again, it removes the written text like a placeholder text. Even text gets removed if we use Next/Previous arrows as well.

Can you please help me to fix this issue?
Thank You

[2017-03-17 17:50] imoiseev opened #796 "Not work without Storyboard"
Hello, thank you for your work.
I'm trying to use a library in a project where there is no Storyboard, there are simple XIB files. I installed everything, but unfortunately it did not work. I ask you to direct me to where I can find the error.

If I create a completely new project with Storyboard and just add UITextFiled, then everything works just fine.

But, the old project does not work.

![201

[2017-03-18 13:05] imoiseev commented on #796
Update:
The library was installed using CocoaPods. I thought that maybe it does not work with old projects. I deleted CocoaPods from the project.
Next, I used the manual method and simply moved the IQKeyboardManager folder into my project from the demo project.

Immediately at the first start the library worked, but it is VERY strange. The entire screen is black and apparently it immediately start

[2017-03-18 14:41] imoiseev commented on #796
Update:
This was due to the fact that I was returning NO in some cases. I sometimes do not need a keyboard, but a calendar to select the date.

How can I turn off the IQKeyboardManager for certain UITextField fields?

[2017-03-18 14:54] imoiseev commented on #796
I solved my problem with

[code]

https://github.com/hackiftekhar/IQKeyboardManager/blob/master/MANUAL%20MANAGEMENT.md#doing-custom-work-on-textfield-with-returning-no-in-textfieldshouldbeginediting-delegate

It seems everything works as it should)

[2017-03-18 14:54] #796 closed

[2017-03-20 06:46] Shahbaz-Akram commented on #88
Same issue textFieldShouldBeginEditing calls multiple time face in version # 4.0.8. How to handled this?

[2017-03-20 06:57] Shahbaz-Akram commented on #88
@anishparajuli555 Your method work but keyboard not hide when want to move on next screen after click on specfic textfield.

[2017-03-20 07:03] Shahbaz-Akram opened #797 "Keyboard hiding issue"
I want to hide keyboard when user click on textfiled and move to next screen.But code not work in "textFieldShouldBeginEditing" how to handle this?

[2017-03-21 04:22] Thanhnc85 commented on #792
I have same issue

[2017-03-21 10:36] hackiftekhar commented on #786
Could you please let me know how view is loading x times textfield? For workaround of textFieldShouldBeginEditing please read manual management guide.

[2017-03-22 01:39] sunzhongliangde opened #798 "has warnning"
in XCode 8.2.1, it is has warnning in IQKeyboardReturnKeyHandler.h and IQUIView+IQKeyboardToolbar.h

[2017-03-23 12:09] boyfox opened #800 "IQKeyboardManager: no architecture 'armv7'"
I have following crash :
IQKeyboardManager: no architecture 'armv7' is present in file.
the file's architecture is: arm64 (arm 64)

How to fix this problem?

[2017-03-24 10:47] lqcjdx opened #801 "How to use cocoapods install IQKeyboardManager 3.3.7 ？"

[2017-03-26 16:09] CyberMew commented on #751
Hey @hackiftekhar how are you these days? Still busy?

[2017-03-27 09:55] mattchen opened #802 "Missing headers in umbrella file"
hey, I was using Carthage with IQKeyboardManager, after @import the framework, xcode cant find class IQKeyboardReturnKeyHandler class. After I add IQKeyboardReturnKeyHandler.h into IQKeyboardManager.h, it stopped complain.
And also, there are some build warnings like 'Umbrella header for module IQKeyboardManager does not include header IQBarButtonItem.h', maybe we should add all the header files i

[2017-03-28 02:49] GithubXkw1573 opened #804 "IQ toolbar not appear in keyboard when click in textView , sometimes no appear in textFiled too"
![Uploading IMG_1386.PNG…]()
![Uploading D0DC36B2CCE8A21E5A1EB074BC98181C.png…]()

toolbar not appear in keyboard always and uitableview do not scroll for adjust position

[2017-03-28 09:11] varun-naharia opened #805 "Scroll not working as expected in UITableView inside a UIStackView ?"
I am facing problem only on one screen where scroll is happening but my textview hidden behind another view on the same UIViewController.

![x1h72ipnge](https://cloud.githubusercontent.com/assets/10987732/24397510/10afb45c-13c4-11e7-8583-ae9ece1a60a6.gif)

What I am doing wrong here how to fix this.

![screen shot 2017-03-28 at 2 39 27 pm](https://cloud.githubusercontent.com/assets/10987732/243976

[2017-03-28 21:39] otymartin opened #806 "Swift 3.1 Update"
@hackiftekhar
Afew changes are needed for swift 3.1
` override open class func initialize()`

`//method initialize() defines Objective-c class method initialize, which is not guaranteed to be invoked by swift and will be disallowed in future versions`

[2017-03-30 06:59] JackShengBin opened #808 "superView is UIScrollView,IQKeyboard is bad"
![2017-03-30 2 25 30](https://cloud.githubusercontent.com/assets/19474665/24490346/cb179800-1554-11e7-8f44-7b5f5eb6b849.png)

[2017-04-01 09:43] ahmedAlmasri opened #809 "swift 3.1 not working"
Hello
IQKeyboardManager not working swift 3.1

[2017-04-01 11:21] hackiftekhar commented on #755
@TechLoveVN Can you please attach a demo project here instead of sending source code since we all don't have much time to go through all the project source code?

[2017-04-01 11:27] hackiftekhar commented on #797
Then you should probably write [self.view endEditng:YES] in viewWillDisappear, I think this will solve the issue. Let me know if I don't understand your user scenario correctly.

[2017-04-01 11:28] hackiftekhar commented on #792
I think you've pinned either top layout constraint or bottom layout constraint. If this is the case then please read manual management guide for workarounds.

[2017-04-01 11:50] #798 closed

[2017-04-01 11:52] hackiftekhar commented on #800
Library is available as source code. So you can do whatever you want. how you get armv7 architecture case?

[2017-04-01 11:53] hackiftekhar commented on #801
**pod 'IQKeyboardManager', '3.3.7'**

[2017-04-01 11:53] #801 closed

[2017-04-01 14:05] hackiftekhar commented on #802
@mattchen I checked and found that we are already adding those files to carthage frameworks, not sure why you got those errors.

[2017-04-01 14:31] hackiftekhar commented on #751
Hello @CyberMew I checked the project and I found that it's because you changed UIView class to UIScrollView. If you need scrollView then drag and drop a UIScrollView to storyboard (don't change UIView class to UIScrollView).

The thing is that your scrollView doesn't have correct contentSize and you are not getting any layout errors in storyboard because storyboard considering that view as UIView

[2017-04-01 14:31] #751 closed

[2017-04-01 16:55] hackiftekhar commented on #808
@JackShengBin Can you explain what's the issue? Just for your information, if you are using UIScrollView then make sure it does have proper constraint to calculate it's contenteSize.

[2017-04-01 16:56] hackiftekhar commented on #804
@GithubXkw1573 Can you please attach images again?

[2017-04-01 16:58] hackiftekhar commented on #805
@varun-naharia Looks like you are having a complex hierarchy StackView->StackView->tableView->Cell. There might be something which confusing the library to do proper calculations or somthing like that. Can you provide me a demo project so that I can debug it?

[2017-04-01 17:23] #758 closed

[2017-04-01 17:24] #759 closed

[2017-04-01 17:28] #744 closed

[2017-04-01 17:29] #769 closed

[2017-04-01 17:34] hackiftekhar commented on #770
I think it's better to close this issue since it doesn't related to library and related to playInputClick() method.

[2017-04-01 17:34] #770 closed

[2017-04-01 17:35] #771 closed

[2017-04-01 17:40] hackiftekhar commented on #772
Hey @zzyspace I checked the demo and this looks to be an issue, however I didn't check at code level so I need some time for detailed investigation.

[2017-04-01 17:40] hackiftekhar commented on #784
Marking this as duplicate since #772 does have a demo project.

[2017-04-01 17:42] hackiftekhar commented on #773
@mathiarasan24 if user doesn't change anything and press done, then library work is to dismiss the keyboard (input view) only, you'll have to write logic for selecting currently selected text to textfield.

[2017-04-01 17:42] #773 closed

[2017-04-01 17:44] hackiftekhar commented on #777
@tbaranes I observed that the issue with storyboard start happening with Xcode8, it was working fine with Xcode7. I need some time to move controller's to different storyboards.

[2017-04-01 17:46] hackiftekhar commented on #778
@tbaranes ok, I'll check it however are you sure your UIScrollView is calculating correct content size?

[2017-04-01 17:48] hackiftekhar commented on #779
@pjuzeliunas @stachon I'll try to check what might be the issue with translucent navigation bar.

[2017-04-01 17:51] hackiftekhar commented on #780
@schulz89sp  You can give a try to check `shouldToolbarUsesTextFieldTintColor` and `toolbarTintColor`.

[2017-04-01 17:51] #780 closed

[2017-04-01 17:52] #786 closed

[2017-04-01 17:55] hackiftekhar commented on #787
@ahmadabudawod I updated @lforme comments, by oc he means obj-c.

[2017-04-01 17:56] tbaranes commented on #778
I ended up with a workaround, so can't confirm this anymore... You can either keep that issue open (to check if there's really an issue) or not, up to you 👍

[2017-04-01 18:02] hackiftekhar commented on #787
@ahmadabudawod I can understand your concern, however I cannot do anything. regarding tableview, it's all doing correct.

Technically when user tap outside, library dismiss keyboard and after dismissing keyboard touch is passed to table view and table exactly click where user touched but the thing is that the cell position is adjusted due to keyboard dismiss.

[2017-04-01 18:02] #787 closed

[2017-04-01 18:03] #789 closed

[2017-04-01 18:05] hackiftekhar commented on #793
I like your idea @dimovskidamjan.

[2017-04-01 18:28] #793 closed

[2017-04-01 18:30] hackiftekhar commented on #793
Thanks a lot @dimovskidamjan. You gave me idea to improve things to be in a better shape.

[2017-04-01 18:37] hackiftekhar commented on #794
First of all, with my library there is no line saying `toolbar.title = textField.drawingPlaceholderText`
However in my library it does have
`toolbar.title = self.drawingPlaceholderText`

I don't know why you are casting self as AnyObject that's why it gives you error, You should cast it to a UIView to fix the issue.

[2017-04-01 18:37] #794 closed

[2017-04-01 18:38] hackiftekhar commented on #795
I think this might be related to your own logic for removing previous text before writing new one, you should check your own project code.

[2017-04-01 18:38] #795 closed

[2017-04-01 18:39] #800 closed

[2017-04-01 18:39] #802 closed

[2017-04-01 18:39] hackiftekhar commented on #806
Will update soon.

[2017-04-01 19:12] hackiftekhar commented on #88
@all, Due to seeing too many issues reported for `textFieldShouldBeginEditing call multiple times`, I know that it's due to the Apple API's limitation. But I decided to remove validating `canBecomeFirstResponder` calls to fix this issue for `IQKeyboardManager` library, so this delegate method will not be called multiple times, but developers need to update their logic they wrote with `isAskingCanB

[2017-04-01 19:15] hackiftekhar commented on #797
@Shahbaz-Akram, Due to seeing too many issues reported for `textFieldShouldBeginEditing call multiple times`, I know it's due to the Apple API's limitation. But I decided to remove validating `canBecomeFirstResponder` calls to fix this issue for `IQKeyboardManager` library, so `textFieldShouldBeginEditing` delegate method will not be called multiple times, but developers need to update their logic

[2017-04-01 19:16] hackiftekhar commented on #786
@yuzhongqi, Due to seeing too many issues reported for `textFieldShouldBeginEditing call multiple times`, I know it's due to the Apple API's limitation. But I decided to remove validating `canBecomeFirstResponder` calls to fix this issue for `IQKeyboardManager` library, so `textFieldShouldBeginEditing` delegate method will not be called multiple times, but developers need to update their logic the

[2017-04-01 19:16] hackiftekhar commented on #709
@hasangyulyustan, Due to seeing too many issues reported for `textFieldShouldBeginEditing call multiple times`, I know it's due to the Apple API's limitation. But I decided to remove validating `canBecomeFirstResponder` calls to fix this issue for `IQKeyboardManager` library, so `textFieldShouldBeginEditing` delegate method will not be called multiple times, but developers need to update their log

[2017-04-01 19:16] hackiftekhar commented on #664
@zuihuodeman, Due to seeing too many issues reported for `textFieldShouldBeginEditing call multiple times`, I know it's due to the Apple API's limitation. But I decided to remove validating `canBecomeFirstResponder` calls to fix this issue for `IQKeyboardManager` library, so `textFieldShouldBeginEditing` delegate method will not be called multiple times, but developers need to update their logic t

[2017-04-01 19:16] hackiftekhar commented on #615
@all, Due to seeing too many issues reported for `textFieldShouldBeginEditing call multiple times`, I know it's due to the Apple API's limitation. But I decided to remove validating `canBecomeFirstResponder` calls to fix this issue for `IQKeyboardManager` library, so `textFieldShouldBeginEditing` delegate method will not be called multiple times, but developers need to update their logic they wrot

[2017-04-01 19:17] hackiftekhar commented on #628
@kevinonik, Due to seeing too many issues reported for `textFieldShouldBeginEditing call multiple times`, I know it's due to the Apple API's limitation. But I decided to remove validating `canBecomeFirstResponder` calls to fix this issue for `IQKeyboardManager` library, so `textFieldShouldBeginEditing` delegate method will not be called multiple times, but developers need to update their logic the

[2017-04-01 19:17] hackiftekhar commented on #690
@Tommson, Due to seeing too many issues reported for `textFieldShouldBeginEditing call multiple times`, I know it's due to the Apple API's limitation. But I decided to remove validating `canBecomeFirstResponder` calls to fix this issue for `IQKeyboardManager` library, so `textFieldShouldBeginEditing` delegate method will not be called multiple times, but developers need to update their logic they

[2017-04-01 19:17] hackiftekhar commented on #723
@xyfqldy, Due to seeing too many issues reported for `textFieldShouldBeginEditing call multiple times`, I know it's due to the Apple API's limitation. But I decided to remove validating `canBecomeFirstResponder` calls to fix this issue for `IQKeyboardManager` library, so `textFieldShouldBeginEditing` delegate method will not be called multiple times, but developers need to update their logic they

[2017-04-01 19:18] hackiftekhar commented on #620
@all, Due to seeing too many issues reported for `textFieldShouldBeginEditing call multiple times`, I know it's due to the Apple API's limitation. But I decided to remove validating `canBecomeFirstResponder` calls to fix this issue for `IQKeyboardManager` library, so `textFieldShouldBeginEditing` delegate method will not be called multiple times, but developers need to update their logic they wrot

[2017-04-01 19:18] hackiftekhar commented on #648
@Rushabh5, Due to seeing too many issues reported for `textFieldShouldBeginEditing call multiple times`, I know it's due to the Apple API's limitation. But I decided to remove validating `canBecomeFirstResponder` calls to fix this issue for `IQKeyboardManager` library, so `textFieldShouldBeginEditing` delegate method will not be called multiple times, but developers need to update their logic they

[2017-04-01 19:19] hackiftekhar commented on #796
@imoiseev, Due to seeing too many issues reported for `textFieldShouldBeginEditing call multiple times`, I know it's due to the Apple API's limitation. But I decided to remove validating `canBecomeFirstResponder` calls to fix this issue for `IQKeyboardManager` library, so `textFieldShouldBeginEditing` delegate method will not be called multiple times, but developers need to update their logic they

[2017-04-01 19:19] hackiftekhar commented on #594
@ibhavin, Due to seeing too many issues reported for `textFieldShouldBeginEditing call multiple times`, I know it's due to the Apple API's limitation. But I decided to remove validating `canBecomeFirstResponder` calls to fix this issue for `IQKeyboardManager` library, so `textFieldShouldBeginEditing` delegate method will not be called multiple times, but developers need to update their logic they

[2017-04-01 19:21] hackiftekhar commented on #590
@lc081200, Due to seeing too many issues reported for `textFieldShouldBeginEditing call multiple times`, I know it's due to the Apple API's limitation. But I decided to remove validating `canBecomeFirstResponder` calls to fix this issue for `IQKeyboardManager` library, so `textFieldShouldBeginEditing` delegate method will not be called multiple times, but developers need to update their logic they

[2017-04-01 19:21] hackiftekhar commented on #284
@Piyush08, Due to seeing too many issues reported for `textFieldShouldBeginEditing call multiple times`, I know it's due to the Apple API's limitation. But I decided to remove validating `canBecomeFirstResponder` calls to fix this issue for `IQKeyboardManager` library, so `textFieldShouldBeginEditing` delegate method will not be called multiple times, but developers need to update their logic they

[2017-04-01 19:22] hackiftekhar commented on #362
@new-soul, Due to seeing too many issues reported for `textFieldShouldBeginEditing call multiple times`, I know it's due to the Apple API's limitation. But I decided to remove validating `canBecomeFirstResponder` calls to fix this issue for `IQKeyboardManager` library, so `textFieldShouldBeginEditing` delegate method will not be called multiple times, but developers need to update their logic they

[2017-04-01 19:25] hackiftekhar commented on #474
@Deepinder-Lakhi, Due to seeing too many issues reported for `textFieldShouldBeginEditing call multiple times`, I know it's due to the Apple API's limitation. But I decided to remove validating `canBecomeFirstResponder` calls to fix this issue for `IQKeyboardManager` library, so `textFieldShouldBeginEditing` delegate method will not be called multiple times, but developers need to update their log

[2017-04-01 19:26] hackiftekhar commented on #275
@chlebta, Due to seeing too many issues reported for `textFieldShouldBeginEditing call multiple times`, I know it's due to the Apple API's limitation. But I decided to remove validating `canBecomeFirstResponder` calls to fix this issue for `IQKeyboardManager` library, so `textFieldShouldBeginEditing` delegate method will not be called multiple times, but developers need to update their logic they

[2017-04-01 19:26] hackiftekhar commented on #158
@parthmind, Due to seeing too many issues reported for `textFieldShouldBeginEditing call multiple times`, I know it's due to the Apple API's limitation. But I decided to remove validating `canBecomeFirstResponder` calls to fix this issue for `IQKeyboardManager` library, so `textFieldShouldBeginEditing` delegate method will not be called multiple times, but developers need to update their logic the

[2017-04-01 19:27] hackiftekhar commented on #166
@wy19901227, Due to seeing too many issues reported for `textFieldShouldBeginEditing call multiple times`, I know it's due to the Apple API's limitation. But I decided to remove validating `canBecomeFirstResponder` calls to fix this issue for `IQKeyboardManager` library, so `textFieldShouldBeginEditing` delegate method will not be called multiple times, but developers need to update their logic th

[2017-04-01 19:28] hackiftekhar commented on #778
@tbaranes I'm curious to know what was your workaround.

[2017-04-01 22:04] tbaranes commented on #778
Well, it's more than a workaround, but globally, I change my structure to make it works. No more `UIStackView`...

[2017-04-02 12:00] dandoonian opened #810 "in IQKeyboardReturnKeyHandler.m we get 2 compiler errors on first install"
After dragging and dropping IQKeyboardManager to project, we get 2 compiler errors.
(Xcode version 8.2.1)

Error: Assigning to 'UIReturnKeyType' from incompatible type 'int_Nullable' on both of these lines
line 109: textField.returnKeyType =  [dict[kIQTextFieldReturnKeyType] integerValue]; // in method -(void)removeTextFieldView:(UIView*)view
line 582: textField.returnKeyType  = [dict[kIQTextField

[2017-04-02 15:46] hackiftekhar commented on #778
Thanks:)

[2017-04-02 15:46] hackiftekhar commented on #778
Thanks:)

[2017-04-02 15:46] #778 closed

[2017-04-03 11:34] dimovskidamjan commented on #793
Have you updated this for Swift?

[2017-04-03 12:03] Vario opened #811 "Allow Content Scrolling"
Hello,
is it possible to configure the KeyboardManager to allow content scrolling, while the keyboard is active for a textfield?

[2017-04-04 04:45] hackiftekhar commented on #793
Yes. But new version isn't pushed yet.

[2017-04-04 04:46] hackiftekhar commented on #811
You'll have to use UIScrollview in this case and everything will start working as expected.

[2017-04-04 06:41] #772 closed

[2017-04-04 06:41] #784 closed

[2017-04-04 06:43] #806 closed

[2017-04-04 06:44] #809 closed

[2017-04-04 06:45] zzyspace commented on #772
@hackiftekhar Great!

[2017-04-04 06:45] #810 closed

[2017-04-04 06:47] hackiftekhar commented on #772
Cheers @zzyspace

[2017-04-04 08:11] dimovskidamjan commented on #793
When do you expect to push a new version for swift?

[2017-04-04 08:17] varun-naharia commented on #805
here is the requested demo project
[iQ-BugDemo.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/892408/iQ-BugDemo.zip)

[2017-04-04 10:41] hackiftekhar commented on #793
Pushed v4.0.9 today!

[2017-04-04 10:41] hackiftekhar commented on #805
Thanks @varun-naharia for demo.

[2017-04-04 12:34] majidsaleem105 commented on #795
Hi Iftekhar,

Thanks for your reply. I implemented it following way:

   - I added your library
   - I included it in my AppDelegate.swift file
   - I added following two lines in didFinishWithLaunchOptions function of
   AppDelegate.swift
      - IQKeyboardManager.sharedManager().enable = true
      - IQKeyboardManager.sharedManager().shouldResignOnTouchOutside = true
   - I created a UITableView

[2017-04-04 14:41] hackiftekhar commented on #795
You implemented it correctly, but there is something else by which your textfield gets cleared.

[2017-04-05 07:20] yasirmturk commented on #88
good decision.. keep it up

[2017-04-06 07:46] JsonFu opened #812 "AutoToolbar hide some of textView."
I create tableViewCell by xib, and  there is a UITextView on cell's contentView. When I edit on textView and keyboard showed, but the AutoToolbar will hide textView's bottom.Then when I second edit on textView,it was normal. I  guess  that IQKeyboardManager miss the toolbar's height when calculate the offset.

[2017-04-07 11:22] mathiarasan24 commented on #773
Yes, I did that (logic). Those method only for picker only not for number and text keyboard. That's why I need some clarification for that is that correct method or did I miss anything.

[2017-04-08 08:29] MobDeveloper163 opened #813 "TableView gets unexpected contentInsets after keyboard hides"
Here is the weird thing. If I register keyboard open notification, everythg just works fine, even I do nothing in `keyboardWillShow ` method.
[code]
but if I uncomment the code, the tableview gets unexpected contentInsets.
![unexpected contentInsets](https://thumbnail0.baidupcs.com/thumbnail/37c0bf7bafc5edf9c3132ddef9e6e003?fid=2368850984-250528-322851082458440&time=1491638400&rt=sh&sign=FDTAER-DC

[2017-04-08 11:23] hackiftekhar commented on #813
@MobDeveloper163 that's weird, can you please share a demo?

[2017-04-10 10:34] developweb10 opened #815 "iPad Keyboard Issue"
When i try to compile same library in iPad then this do not work and not getting any effect on click of textfield so please provide me solution to use this library in iPA.

[2017-04-10 13:05] ayrap opened #816 "Toolbar is not showing when in-call status bar is active"
I have a UIScrollView with textfields. The toolbar works fine.  However, the toolbar is not showing when in-call status bar is active as seen in the image below.

![screen shot 2017-04-10 at 8 53 57 pm](https://cloud.githubusercontent.com/assets/2392984/24862739/7edd3d5c-1e30-11e7-9f04-beefc1caa674.png)

[2017-04-10 16:05] hackiftekhar commented on #815
you will not get any keyboard in simulator. Could you please confirm in which device you are testing?

[2017-04-12 14:02] OlivierScalais opened #817 "IQKeyboardManager calls UITextFieldDelegate when using UITextView"
When using UITextField and UITextView in same view, UITextFieldDelegate textFieldShouldBegintEditing is called when tapping UITextView.

[2017-04-12 23:51] haydenholligan commented on #252
I believe you have to do `IQKeyboardManager.shared().disabledToolbarClasses.add(YourViewController.self)`, as `disabledToolbarClasses` is read-only.

[2017-04-13 06:50] riyanpratama opened #818 "Does not work on first install"
Hi, thanks for this great library.

I have a little problem here, after initialize IQKeyboardManager in `didFinishLaunchingWithOptions` with `[[IQKeyboardManager sharedManager] setEnable:YES];`. At first install, it didn't work. But after we close the app, it works well.

Any idea? Thank you!

[2017-04-13 07:03] adsidev opened #819 "Return Key Not working for Textfields inside UITableview"
I am working on a view controller where UITextField are in the UITableview Cells. When I am clicking return key, The control is not going to the next textfield.

[2017-04-13 08:18] OlivierScalais commented on #817
When commenting

`            if textField.subviews.count != 0  && isUserInteractionEnabled == true && isHidden == false && alpha != 0.0 {
                for deepView in textField.deepResponderViews() {
                   textfields.append(deepView)
                }
            }`

in `public func deepResponderViews() -> [UIView]` in `IQUIView+Hierarchy.swift` it works as expected.

[2017-04-13 08:28] varijkapil13 commented on #792
I checked the top layout and bottom layout contraints, but the textfields do not have these contraints. But the top textfield have a vetical spacing constraint to an image and the image then have a top layout constraint. So maybe it is because of this layout, so according to the guide you have a IQKeyboard manager object in the interface builder, to add contraints to it.
Can you tell me how to do

[2017-04-13 13:00] hackiftekhar commented on #792
@varijkapil13 That's the issue, your textfields are indirectly related to the top layout constraints, if you replace it by something else then you'll be done, please also check that your textfields are not related to the bottom layout constraint.

[2017-04-13 13:00] #792 closed

[2017-04-13 13:30] hackiftekhar commented on #817
I don't think `textFieldShouldBeginEditing` should be called in v4.0.9 because `canBecomeFirstResponder` call has been removed in v4.0.9. If you are using old version then there was this issue. Could you please confirm which version you are using?

[2017-04-13 13:31] hackiftekhar commented on #819
Return key will not work automatically. you have to implement it's delegate and should handle it by your own.

[2017-04-13 13:31] #819 closed

[2017-04-13 13:32] hackiftekhar commented on #818
No idea @riyanpratama, this should work as expected. However for first time keyboard might take a bit of time to populate.

[2017-04-15 15:10] subratpadhi007 opened #822 "UITextFiled not scrolling to keyboard position."
This is components placement and when textfield is active it is not scrolling up, when u click on toolbar arrows next UITextFiled is scrolling to keyboard position.

![simulator screen shot 15-apr-2017 8 12 29 pm](https://cloud.githubusercontent.com/assets/19999243/25064610/56119abe-221b-11e7-9363-47abeb1f2ce6.png)

[2017-04-17 03:48] tomoyuki28jp opened #823 "Fatal Exception: NSInvalidArgumentException -[UIImage imageFlippedForRightToLeftLayoutDirection]: unrecognized selector sent to instance"
## Versions
- IQKeyboardManagerSwift (4.0.8)
- Xcode 8.3 + Swift
- iPhone 9

# StackTrace
[code]

[2017-04-17 03:58] tomoyuki28jp commented on #823
https://github.com/hackiftekhar/IQKeyboardManager/commit/4143c4b3eba4b7cba5b67a78a3c0ac4caec6e46d

Why are they different?

## Objc
`if ([UIImage instancesRespondToSelector:@selector(imageFlippedForRightToLeftLayoutDirection)])`

## Swift
`if #available(iOS 9.0, *)`

[2017-04-18 03:46] ayrap commented on #816
Any chance checking this?

[2017-04-18 07:07] VictorASebastian opened #824 "Textview Showing Textfield Placeholder"
Once i clicked some textfield and then moved to any Textview, the keyboard toolbar placeholder for the  textview showing the placeholder of the earlier textfield..

[2017-04-19 11:47] amitg02 commented on #161
i am getting same  issues in my chat application where one is tableview and  at bottom textview when clcik on textview navigation get upside out of screen. @hackiftekhar

[2017-04-20 11:28] shahnewaz469 commented on #817
@hackiftekhar
Using IQKeyboardManagerSwift (4.0.9)
same issue for me

[2017-04-20 12:04] balvansh commented on #236
Hey. When I am simulating my app I'm getting this error.
`Command /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/swiftc failed with exit code 1`

It wasn't there before I added the Pod. Any solutions?

[2017-04-20 12:05] Jinkeycode opened #826 "becomeFirstResponder not work"
When I raise the keyboard by becomeFirstResponder, the textField will not move.How can I fix this problem

[2017-04-20 12:28] PurviJani commented on #236
[image: Inline image 1]

Hey, Make sure which cocoapod version you are using? as well as check your
IQKeyboardManagerSwift version which one is compitible to it.

For example I'm using cocoapod version : 1.2.0 & IQKeyboardManagerSwift pod
version : 4.0.6

*Purvi Jani*
iOS Application Developer
Phone: +919998009783 | Skype: purvi.pardypanda

*Pardy Panda Studios*
LinkedIn <http://linkedin.com/compa

[2017-04-20 13:17] hackiftekhar commented on #817
@shahnewaz469 Can you provide a demo project?

[2017-04-20 13:18] hackiftekhar commented on #826
Please check if you havn't pinned your top layout constraint or bottom layout constraint.

[2017-04-20 13:36] Jinkeycode commented on #826
@hackiftekhar I have add the bottom layout constraint to toolbar. The textField will only move when I click the textfield in toolbar, but no response while using ‘ becomeFirstResponder’
![image](https://cloud.githubusercontent.com/assets/12148377/25233328/12520f30-2611-11e7-9d6d-a68110233790.png)

[2017-04-20 13:36] shahnewaz469 commented on #817
Sure @hackiftekhar
here it is: https://drive.google.com/open?id=0B0RjmvyystA4VVFxYmVQTGpsdDQ

[2017-04-20 14:31] hackiftekhar commented on #826
Can you replace your bottom layout constraint with superview?

[2017-04-20 15:00] lucacasula91 opened #827 "UICollectionView with UITextField inside UICollectionViewCell"
When i set IQKeyboardManager enable and enter text inside a UITextField, the text jump up and then go back to original position.
See this video: https://goo.gl/I9q4Dm

[2017-04-21 02:31] quangnn041291 opened #828 "Change font of "Done" button"
How can I change the font of "Done" button in Toolbar? It's seem to be "bold".

[2017-04-21 06:00] QIcareful commented on #824
Textview displays placeholders for earlier text boxes

[2017-04-21 17:44] pilot34 opened #829 "Disabling with IQKeyboardManager.sharedManager().enable doesn't work"
I use `IQKeyboardManager` only on one ViewController, I do
`IQKeyboardManager.sharedManager().enable = true`  in viewWillAppear and
`IQKeyboardManager.sharedManager().enable = false` in viewWillDisappear.

But on another screen `IQKeyboardManager` handles textFieldDidBeginEditing notifications and I have bugs related to https://github.com/hackiftekhar/IQKeyboardManager/issues/88

Should it work so

[2017-04-21 18:12] alfonzm commented on #829
Have you tried using the `enabledDistanceHandlingClasses` property? Check out the documentation: https://github.com/hackiftekhar/IQKeyboardManager/blob/master/MANUAL%20MANAGEMENT.md#enabledisable-distance-handling-between-different-viewcontrollers

[2017-04-21 20:24] pilot34 commented on #829
@alfonzm  `enabledDistanceHandlingClasses` won't disable anything better than `enable = false` property:
![](https://monosnap.com/file/IfO8w4wbDGJ7CwZNE6o5AnJCOtbE4J.png)

I want to say that if I turn off the library with `enable = false`, I expect that it will not intercept any of my app's notifications and change app's behaviour. But in current API when `enabledDistanceHandlingClasses` has highe

[2017-04-21 23:33] miguelef opened #830 "IQKeyboardManager is not working and throwing this error when I click a text field"
[MC] System group container for systemgroup.com.apple.configurationprofiles path is /Users/user/Library/Developer/CoreSimulator/Devices/**/data/Containers/Shared/SystemGroup/systemgroup.com.apple.configurationprofiles
 [MC] Reading from private effective user settings.

And it doesn't display the IQKeyboard . I've installed it adding it to the project by drag and drop. and then adding this line in

[2017-04-22 02:30] asd8855 opened #831 "一个页面由xib搭建,并且由tableView和textView拼装组成，怎么让键盘弹起时，该VC的title不被顶出去"

[2017-04-22 02:30] #831 closed

[2017-04-22 03:19] asd8855 opened #832 "I don't want to hide the default UINavigationBar Of UINavigationController when keyboardManager slides up the view,What should I do?"

[2017-04-22 04:53] asd8855 commented on #832
use xib

[2017-04-23 03:42] Jinkeycode commented on #826
is there anything eroor？

[2017-04-23 13:18] nyeu opened #833 "Arrows in ToolBar are the other way around"
I have 2 textfields, when I am in the first one the only arrow enabled is the one going up (^) when it should be the other one.
When I am in the 2nd textfield, the arrow enabled is the down one (should be the ^ one)

<img width="375" alt="screen shot 2017-04-23 at 14 16 15" src="https://cloud.githubusercontent.com/assets/7888779/25313857/bebb46e0-282f-11e7-8082-a55e4d91b812.png">
<img width="377"

[2017-04-23 13:24] nyeu commented on #833
I realised it depends on the position of the textfields in the Interface Builder. Fixed it

[2017-04-23 13:24] #833 closed

[2017-04-24 09:00] varun-naharia commented on #805
Any progress ? if explain how to solve this then may be I'll solve this and send you pull request

[2017-04-24 10:16] hackiftekhar commented on #805
Hey @varun-naharia I checked the demo just now, I think library is doing fine, the reason is that the library is maintaining distance between keyboard and textField and this is why your textField scroll and hide itself. You can set keyboardDistanceFromTextField either on textField object or globally in IQKeyboardManager class, so app will try to maintain less distance which might work for you. Def

[2017-04-24 11:07] varun-naharia commented on #246
where is 'disableInViewControllerClass' method in 'IQKeyboardManager' ? I can't find the method

[2017-04-24 11:24] varun-naharia commented on #805
no it didn't solve the problem, I set 'cell.txtDestination.keyboardDistanceFromTextField = 1' but results are same

[2017-04-25 04:16] syedrazackimran opened #834 "Keyboard is not Showing"
![simulator screen shot apr 25 2017 11 12 43 am](https://cloud.githubusercontent.com/assets/15051045/25368646/238ba7e4-29a8-11e7-9368-f2c9004b24b2.png)

  let KeyboardManager = IQKeyboardManager.sharedManager()
   KeyboardManager.enable = true
   KeyboardManager.enableAutoToolbar = false

when i tap textfield keyboard is not showing . but keyboard is in becomeresponder it called delegate methods e

[2017-04-25 08:01] AabanTariq opened #835 "Abnormal re-arrangement of Scroll offset"
Everything working good in start. I'm clicking on fields, tableview scrolls properly as needed.
But when I played a little with my textfields in UITableCell displayed on screen. Scroll Offset first reduces to right value, then jerks back to wrong value.

[2017-04-25 11:38] mubashirhussain55 opened #836 "Fields behaving strange if there are multiple fields in single section of table view"
I have multiple sections in table view and in one section I have 4 fields when I start editing field the view is moved to some different offset not focussing the current field.

XCode - 8, Swift 3 with the latest IQKeyboardManager version

[2017-04-25 13:52] kikoso commented on #794
The version 4.0.4 contains this error inside (`toolbar.title = textField.drawingPlaceholderText` instead of `toolbar.title = self.drawingPlaceholderText`). It is required to use 4.0.5 instead. I recommend you updating the README or the Cocoapod corresponding with that version.

[2017-04-26 05:24] varun-naharia commented on #805
is there any other way by which I can solve the issue ?

[2017-04-26 10:11] seubseub opened #837 "I can't use toolbar's next button although textView is exist at below.."
Hi I use your Nice and awesome library. Thank you :)

But I can't go next although textView is exist at below...

At first I thought that below option may affect toolbar's go next button,

[code]

but when I remove above code and then build again, same result happen

![kakaotalk_photo_2017-04-26-19-03-40_59](https://cloud.githubusercontent.com/assets/16539714/25429442/f97abbd6-2ab3-11e7-942f-b2180

[2017-04-27 02:14] kmcgill88 commented on #829
@pilot34 I'm in the same position as you. Have you found a work around?

[2017-04-27 05:07] kmcgill88 commented on #829
@pilot34 - @alfonzm I forked and made a [couple of changes](https://github.com/hackiftekhar/IQKeyboardManager/compare/master...kmcgill88:829-Add-canBecomeActive?expand=1) that is working great for my needs. Instead of a `canBecomeActive` I went ahead and just destroyed the singleton altogether.

In my case I'm using [KMKeys](https://github.com/kmcgill88/KMKeys-iOS),a library of mine which subscrib

[2017-04-27 10:34] Q14 opened #838 "IQKeyboardManager disable in view"
this is my code  a view contain UITextField add keyWindow  [[UIApplication sharedApplication].keyWindow addSubview:self];    IQKeyboardManager disable

[2017-04-27 14:18] amitg02 commented on #832
connect view controller bottom constant to **IQLayoutGuideConstant**  @asd8855

[2017-04-27 15:20] pilot34 commented on #829
good solution 👍

I removed IQKeyboardManager and implemented all keyboard staff manually... In my case it was easier then forking the lib.

[2017-04-28 05:20] yangyesx opened #840 "How to disable this function for specify view?"
In a specify view,i want the keyboard always show,how to...?thanks!

[2017-04-28 05:24] yangyesx commented on #840
I get it~
- (void)viewWillAppear:(BOOL)animated{

[super viewWillAppear:animated];

 [IQKeyboardManager sharedManager].enable = NO;

}

- (void)viewWillDisappear:(BOOL)animated{

[super viewWillDisappear:animated];

 [IQKeyboardManager sharedManager].enable = YES;

}

[2017-04-28 05:24] #840 closed

[2017-04-28 07:18] valivarthy commented on #177
when a textview ebabled = false  and when i am selecting my fingure on the typed text the Done button is viewing at the bottom can you check it i am
![ios-cinrep-07](https://cloud.githubusercontent.com/assets/3027025/25518318/e6fc66e0-2c10-11e7-9b4f-4e490290bb1a.png)

[2017-04-28 14:52] amitg02 opened #841 "textview hide under the done toolbar in keyboard"
in this screen, there is tab bar under textview's height is 0 or 50 based on tab bar is shown or hidden on click of attachment button. when the tab bar is open and the click on textview then KB is above the textview.

[code]

when hide change then keyboard hides textview
![screen shot 2017-04-28 at 8 17 59 pm](https://cloud.githubusercontent.com/assets/19693287/25534055/51d5a2b2-2c50-11e7-9569-e30

[2017-04-28 23:44] JuanPabloBoero commented on #834
Have you tried un-selecting "Connect Hardware Keyboard" in the simulator option? the shortcut is shift+cmd+k

[2017-04-29 04:11] syedrazackimran commented on #834
yes i tired but its not showing !! some fields works fine .. some fields doing trouble !

[2017-05-01 20:23] rlaurb opened #842 "Textview not scrolling properly when keyboard appears"
IQKeyboardManagerSwift. The IQKeyboardManager is enabled in AppDelegate, but no other code changes were implemented.

I have a UISplitViewController. The detail view contains a UINavigationView.

Two cases:
1. **Standard Implementation**: The scene contain a UIView which contains the UITextView in question. In this case, tapping in the UITextView causes the keyboard to appear, and the entire view

[2017-05-02 06:43] hellboy526kcr opened #843 "Help!How to change return key text?"

[2017-05-02 13:28] Prabhat-Emorphis commented on #843
Hi hellboy526kcr, you cannot set custom text on return key, you have an limited return key options.
For more info see this http://stackoverflow.com/questions/976950/change-text-of-return-keyboard-button#answers-header

[2017-05-03 11:22] dipkasyap commented on #144
Have same issue, Have table view inside scroll view, When i edit text inside table view , iq scrolls the table view up but it does not satisfy your saying "If IQKeyboardManager finds that something more need to scroll to ensure UIKeyboard doesn't hide textField, then it tries to find the nearest UIScrollView of lastScrollView(UITableView in your case) and so on to satisfy UIKeyboard doesnt' hide t

[2017-05-05 01:35] rlaurb commented on #842
More information: In the case where the UITextView is contained in a UIScrollView (and tapping in a portion of the text view that will be hidden by the keyboard, it appears that the calculation of how far to move does not account for the height of the keyboard's toolbar (i.e., the TextView's inputAccessoryView).

[2017-05-05 01:59] daishuyi opened #844 "Two TextFields，their first superView are diferent, the toolbar don't have next and previous"
Can I appooint their defined superView？

[2017-05-05 08:21] vahids opened #845 "Is there any way to Disable next/previous buttons for specify TextView?"
Hi, I have some textviews in a tableView
and some of theme is hidden by set Height constraint to 0 and will be visible with setting Height constraint to 70.

Issue:
When user editing a visible TextView and press ">" next the curser will be go to the next TextView that is Invisible!

Is there any way to handle ">" and "<" actions? or completely disable "<" and ">" ?

[2017-05-05 08:22] JavenZ opened #846 "What if i don't want i drop down the view?"
I'm sorry to bother you，when i click the 1st textfield, the tableview will be drop down, left a lot of white space. how can i avoid this situation?
![qq20170505-161544](https://cloud.githubusercontent.com/assets/17868438/25738314/f4e551e2-31ae-11e7-9d8d-3a82bf2612f0.gif)

[2017-05-05 17:07] rlaurb commented on #842
I have verified that this issue is not due to the existence of the inputAccessoryView, because I can set `IQKeyboardManger.sharedManager().enableAutoToolbar = false` and the problem persists.

The enclosed screenshot shows the keyboard present, but the textview not properly scrolled...
![simulator screen shot may 5 2017 11 56 47 am](https://cloud.githubusercontent.com/assets/6610193/25756135/409b9

[2017-05-05 17:08] rlaurb commented on #842
Sorry, closed this by accident.

[2017-05-07 12:00] lastMove commented on #834
Try on a real device

[2017-05-07 14:01] asd8855 commented on #832
my keybord likes wechat keybord

[2017-05-07 16:56] hackiftekhar commented on #765
I think it's the expected behaviour since keyboard notification return this two keys
`UIKeyboardFrameBeginUserInfoKey` = "NSRect: {{0, 667}, {375, 44}}";
UIKeyboardFrameEndUserInfoKey = "NSRect: {{0, 623}, {375, 44}}";
`
and this is why you see the toolbar

[2017-05-07 16:56] #765 closed

[2017-05-07 16:59] #797 closed

[2017-05-07 16:59] #804 closed

[2017-05-07 17:02] hackiftekhar commented on #805
@varun-naharia I think your solution should fix the problem, but if it does not then can you try setting global `keyboardDistanceFromTextField` of IQKeyboardManager?

[2017-05-07 17:03] #808 closed

[2017-05-07 17:04] #811 closed

[2017-05-07 17:09] hackiftekhar commented on #812
For UITextView, it's NSNotifications work differently then UITextField. For UITextField, first we get UITextField notifications and then Keyboard notifications. But for UITextView, first we get Keyboard notifications and then get UITextView notifications and in this case UITextView doesn't have it's toolbar in place and it get's normal in second edit.

[2017-05-07 17:09] #812 closed

[2017-05-07 17:13] hackiftekhar commented on #813
@MobDeveloper163 Can you please share a demo, also can you please also attach the image?

[2017-05-07 17:14] hackiftekhar commented on #815
@developweb10 Can you please let me know what you are trying to achieve?

[2017-05-07 17:21] hackiftekhar commented on #816
@ayrap It does work for me in demo project? not sure what you are missing in your project. Can you please try the same with my demo project?

[2017-05-07 17:25] hackiftekhar commented on #817
@shahnewaz469 I don't have access to the drive. Can you please attach the demo project zip here?

[2017-05-07 17:25] #818 closed

[2017-05-07 17:27] hackiftekhar commented on #822
@subratpadhi007 You men it doesn't work for first time and then works for second textField when tapping next/prev?

[2017-05-07 17:32] hackiftekhar commented on #823
@tomoyuki28jp I don't this this should crash because I already added validation, make sure you didn't changed anything in code. Regarding your question, this is because swift does have availability check feature while ObjC doesn't have this feature directly that's why we validate by asking `instancesRespondToSelector`.

[2017-05-07 17:33] hackiftekhar commented on #824
@VictorASebastian @QIcareful This might be the issue however I need a demo project to debug it well and fix the issue.

[2017-05-07 17:35] hackiftekhar commented on #826
@Jinkeycode Can you please check you are returning YES in textFieldShouldBeginEditing method for that textfield?

[2017-05-07 17:39] hackiftekhar commented on #827
Can you please try doing the same without using IQKeyboardManger (Just to check) if it works? I also get the same issue in my past but it was looking iOS issue at that time.

[2017-05-07 17:40] hackiftekhar commented on #828
Nope, there is no way to set "Done" button font at this time, but will think about adding support for this.

[2017-05-07 18:37] hackiftekhar commented on #829
First thing is that there is a separate property to enable/disable keyboard toolbar. The second thing is that there was a workaround for handling the issue with textFieldDidBeginEditing, with master branch now I've fixed this issue. Third one is that I now added unregisterAllNotifications method to completely unregister for all notification at developer risk.

[2017-05-07 18:37] #829 closed

[2017-05-07 18:38] hackiftekhar commented on #830
I think the above solution should work, however the error was not related to the library, also keyboard will not appear in simulator and you have to toggle software keyboard from simulator menu.

[2017-05-07 18:38] #830 closed

[2017-05-07 18:40] hackiftekhar commented on #832
You should use UIScrollView instead of UIView if you don't want to hide UINavigation bar. The second solution is to disable library for that view controller and implement your own customized solution.

[2017-05-07 18:40] #832 closed

[2017-05-07 18:41] hackiftekhar commented on #834
You have to toggle Software keyboard in order to see keyboard in simulator.

[2017-05-07 18:41] #834 closed

[2017-05-07 18:41] hackiftekhar commented on #835
@AabanTariq Can you share a demo project and steps to reproduce?

[2017-05-07 18:44] hackiftekhar commented on #837
Not sure what might be the issue, but I know that there are issues with the UITableView, UICollectionView because of complex hierarchy.

[2017-05-07 18:44] hackiftekhar commented on #838
IQKeyboardManager doesn't support view added directly to UIWindow.

[2017-05-07 18:44] #838 closed

[2017-05-07 18:45] #843 closed

[2017-05-07 18:46] hackiftekhar commented on #844
You can add them to a single IQPreviousNextView and next/prev will appear.

[2017-05-07 18:46] #844 closed

[2017-05-07 18:48] hackiftekhar commented on #845
You should play with isEditable property, if it's not editable then library will not see that textView.

[2017-05-07 18:48] #845 closed

[2017-05-07 18:49] hackiftekhar commented on #846
Sorry, I don't understand @JavenZ what you are trying to explain. Could you please reword?

[2017-05-07 19:42] pilot34 commented on #829
👍

[2017-05-08 02:39] JavenZ commented on #846
I don't the tableview be pull down，like this
![48e46bc6-3a05-4b68-90a6-86b16103a5ab](https://cloud.githubusercontent.com/assets/17868438/25787938/40469652-33d8-11e7-94d4-51e3d8002a98.png)

[2017-05-08 02:53] seubseub commented on #837
@hackiftekhar Thank you for your reply. I'll try again. :)

[2017-05-08 03:36] tomoyuki28jp commented on #823
@hackiftekhar Thanks for your reply! We didn't change any code, but it seems happened in jailbroken devices :(

So I close this issue now. Please let me know if you find any way to avoid this crash.

[2017-05-08 03:36] #823 closed

[2017-05-08 07:37] shahnewaz469 commented on #817
[TestSwift.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/982664/TestSwift.zip)
@hackiftekhar here it is.

[2017-05-08 10:53] Batxent commented on #421
i had the same issue

[2017-05-09 06:39] daishuyi commented on #844
OK, Thanks ！

[2017-05-09 17:12] hackiftekhar commented on #817
@shahnewaz469 I checked the demo and found that this issue is already addressed and fixed in master branch already. I'm planning to release that one in couple of weeks.

Technically this was due to canBecomeFirstResponder call.

[2017-05-09 17:12] #817 closed

[2017-05-09 17:15] hackiftekhar commented on #837
@seubseub Technically the library cannot handle all the possible user scenarios due to a number of UI related configurations and user requirements. So if developer need to do some special or complex thing with keyboard or textfield then I suggest to disable library for that view controller and then write your own logic.

[2017-05-09 17:16] hackiftekhar commented on #829
That's the best line for developers I think @pilot34. ha ha ha.

[2017-05-10 01:38] seubseub commented on #837
@hackiftekhar ok... I'll consider about your comment. Maybe I should do or just disable it. Thank you for your replying.

[2017-05-10 03:39] myafer commented on #421
I think that you had used this code :
`
@implementation UIScrollView (UITouch)

- (void)touchesBegan:(NSSet *)touches withEvent:(UIEvent *)event {

    [[self nextResponder] touchesBegan:touches withEvent:event];
    [super touchesBegan:touches withEvent:event];
}

-(void)touchesMoved:(NSSet *)touches withEvent:(UIEvent *)event {

    [[self nextResponder] touchesMoved:touches withEvent:event];

[2017-05-10 13:12] ArthurAlvarez opened #848 "View wont scroll back to default position"
I have been using IQKeyboardManager for quite some time now and after updating the library from 4.0.6 to 4.0.9 (to avoid warnings on Xcode 8.3), a strange behavior started to happen.

I have a login screen where the library scrolls up the entire view when the user taps the login text field. But now when the text field editing ends and the view is supposed to scroll back to it's original place, it

[2017-05-11 12:14] TheSPST opened #849 "ToolBar For UIDatePicker not working"
i change my keyboard as UIDatePicker and now i want to handle the tool bar according to me like after pressing done button the selected date should be change.
Thanks for IQKeyboardManager,  and tell me the solution for my situation what should i do because i am newbie in ios.
I tried to replace Default toolbar with My Custom toolbar but this option is available only for textField. not for DatePick

[2017-05-12 03:43] asd8855 commented on #832
xib I use UIScrollView instead of UIVIew ,but my view  According to insanity

[2017-05-14 19:11] iSky2000 opened #850 "NOT working if "override func viewWillAppear(_ animated: Bool)" in UITableViewController"
It works on other pages, but except the TableViewController when it has "override func viewWillAppear(_ animated: Bool)"

Xcode Version 8.3.2 (8E2002)
install through CocoaPods with pod 'IQKeyboardManagerSwift'

How can I fix this issue?

Thanks.

[2017-05-15 04:39] ndduong97 opened #851 "Manually tapping the lower textview"
I have two text views, one on top and one at the bottom. When the first textview is selected and then the second text view is tapped then the whole scroll view is shifted up. However, when the keyboard is not shown (the first text view is not selected), and I try to directly tap the second textview, the scroll view does not shift up.

Is there a way I can achieve the scroll view shifting up effect

[2017-05-15 09:03] vuppalasivakumar opened #852 "iqkeyboardmanger is not working with textview and uidatepicker"
hi bro it is working excellent with textbox but incase of textview and datepicker it is not working.
I had seen an issue similar to it in 2015 but still now. U didn't update the pod can please fix as soon as possible.

however thank u bro for ur pod.

[2017-05-16 00:21] KimDarren opened #853 "Using both `IQKeyboardManager` and `IQKeyboardManagerSwift`"
I'm is using both Objective-C and Swift in a project.
Is that enable to using both `IQKeyboardManager` and `IQKeyboardManagerSwift` (via cocoapods) in a project?

Or else, what is the best way to use IQKeyboardManager via cocoapdos in the project using both Objective-C and Swift?

[2017-05-17 01:26] caoyunxiao opened #854 "Navigation deviation"
When I input box parent view is not a scrollview, the view will be on the top, including the navigation bar.But this is not good, could you tell me how to solve

[2017-05-17 02:25] #854 closed

[2017-05-17 10:14] hackiftekhar commented on #853
You cannot use both pods at a time since both have same kind of logic and result in undefined behaviour. Use only one library in a project.

[2017-05-17 10:14] #853 closed

[2017-05-17 10:15] hackiftekhar commented on #852
Can you please elaborate what exactly isn't working with textview and uidatepicker?

[2017-05-17 10:19] hackiftekhar commented on #851
I think this should work in both cases but if it isn't working then can you share a demo project?

[2017-05-17 10:21] hackiftekhar commented on #850
Library is disabled in UITableViewController because UITableViewController has it's own mechanism to move content above keyboard. But if you override viewWillAppear and didn't says super.viewWillAppear then UITableViewController disable it's default behaviour.

Make sure you are calling super viewWillAppear.

[2017-05-17 10:21] #850 closed

[2017-05-17 10:33] apsmilefokus commented on #846
i think he would like to freeze  textfield when keyboard on show.

[2017-05-17 12:06] vuppalasivakumar commented on #852
As i said in issue, coming to textview when user clicks on text view
keyboard comes out and  covering the textview. keyboard is not lifting view
and coming to uidate picker when user clicks on date picker text box date
picker is coming out and but view is not lifting up and the background
design is getting disturbed.

but for texfield it is working fine.

On Wed, May 17, 2017 at 3:45 PM, Mohd Ifte

[2017-05-17 12:07] vuppalasivakumar commented on #852
As i said in issue, coming to textview when user clicks on text view keyboard comes out and  covering the textview. keyboard is not lifting view
and coming to uidate picker when user clicks on date picker text box date picker is coming out and but view is not lifting up and the background design is getting disturbed.

but for texfield it is working fine.

[2017-05-18 02:59] ndduong97 commented on #851
I just fixed it by doing the scroll manually myself. Not sure why it didn't work automatically.

[2017-05-18 06:19] ankushbhatia1347 opened #855 "IQKeyboardManager not working properly with UITextfield and UITextView"
I am facing an issue with the library as i am using UITableview for the input form on the controller. There are two types of cell each for UITextfield and for UITextview. As soon as textfield becomes first responder, both the UITextfield and UITextview delegates are getting called.

[2017-05-18 07:46] DheerajDhamija commented on #855
Hi @ankushbhatia1347 I am facing same issue..

[2017-05-18 09:14] SURYAKANTSHARMA commented on #855
Yes i had seen this problem both UITextField and UITextView delegates called simultaneously inside the cell of tableView when textField get clicked. @hackiftekhar please look into this.

[2017-05-20 13:17] AzAli71 opened #857 "not working in popup !"
hi ,
IQKyboardManager not working when i have textfield that it is in popup I use KLCPopup and I have popup that hast a textfield IQKyboard scroll the behind view (self.view) not the popup view

[2017-05-22 13:10] umair151 commented on #786
Hi @hackiftekhar, is the above thing fixed?

I am facing the same problem in latest version.

[2017-05-22 19:32] asrivastav973 opened #858 "textFieldDidEndEditing not called when using IQKeyboardReturnKeyHandler"
textFieldDidEndEditing not working when using IQKeyboardReturnKeyHandler. Other delegate methods are working fine. I can share a demo project if you want.

[2017-05-23 10:07] samantha-frost opened #859 "UITextView inside a UITableView does not scroll up and overlapping with keyboard"
I'm using **IQKeyboardManager** 4.0.9. when i tap on the **UiTextView** which contains inside a **UITableView** it does not scroll up and show the text view over the key board, instead the keyboard **overlaps** the **UITextView** and cover it up. should I use **IQTextView** instead of **UITextView**. for UITextFields the scrolling thing works properly.

and also previous and next buttons in keyboa

[2017-05-25 08:20] vanditmehta commented on #852
I'm using picker view and number key pad and having same issue as @vuppalasivakumar , Key pad is not hiding

thank you for your pod.

[2017-05-25 14:50] MZS1207 opened #862 "View beind keyboard keep scrolling..."
Work perfectly, but I'm unable to disable scrolling after keyboard is up, and everything is set...
Any idea?

[2017-05-25 14:53] #862 closed

[2017-05-25 14:53] MZS1207 commented on #862
my bad, working perfectly after update

[2017-05-25 21:59] cameronwebbable commented on #644
For me, I tried wrapping "becomeFirstResponder" in gcd call and things started working as expected. Yippie!

Example:
[code]

I know this issue is a few months old & is closed, but in the event someone else comes here looking for things to try, wanted to share 😄 .

[2017-05-26 03:51] Faydee1220 opened #863 "Change toolbar's barTintColor"
Hello, I found that there's toolbarTintColor to change the toolbar's button color, but is any way to change the toolbar's backgroundcolor? Like toolbar.barTintColor?

[2017-05-29 21:00] w-i-n-s commented on #217
I have some very close issue http://imgur.com/a/XbjcT https://youtu.be/_-FSW_ePZMQ

[2017-05-30 06:23] LiborZ opened #864 "Install Swift library via Carthage"
Hi, I tried to add IQKeyboardManagerSwift via Carthage and I get error:
[code]

What's wrong? How can I fix it? Thanks for help

[2017-05-30 11:14] firozkhan09 opened #865 "App Rejected: uses or references the non-public APIs"
My Application uses IQKeyboardManager, which was recently rejected by Apple app store for the below mentioned reason.

_**Guideline 2.5.1 - Performance - Software Requirements

Additionally, your app uses or references the following non-public APIs:

_UIAlertControllerTextField, _UIAlertControllerTextFieldViewController, _UIQueuingScrollView, UIAlertSheetTextField, UISearchBarTextField, UITableVie

[2017-05-30 14:17] hackiftekhar commented on #865
That's not a goo news @firozkhan09, can you please tell apple that we are using this library and using these references only for workarounds?

[2017-05-30 17:41] hackiftekhar commented on #644
Thanks for sharing @cameronwebbable that definitely help the community.

[2017-05-31 01:45] xiaodian commented on #865
I have also met this question.

[2017-05-31 01:46] xiaodian commented on #865
@hackiftekhar

[2017-05-31 03:21] Singsmlie commented on #865
@hackiftekhar ,I have also met this question.

[2017-05-31 03:28] yanyufzf00 commented on #865
@hackiftekhar ,I have also met this question.

[2017-05-31 03:59] hackiftekhar commented on #865
Can you guys let me know what should be the best solution to overcome this?

[2017-05-31 05:05] Singsmlie commented on #865
@hackiftekhar let the class string base64， and decode  when  use， I will try， if pass the review， i will notice you

[2017-05-31 14:15] pardypanda commented on #848
Facing the same issue after updating from 4.0.6 to 4.0.8 to work on XCode 8.2 (Swift 3.0)

[2017-06-01 01:42] kedu commented on #865
我也被拒了,用的最新版本的,是不是旧版本不会?

[2017-06-01 09:29] #865 closed

[2017-06-01 10:59] Jayxiang opened #867 "Toolbar has not disappeared when I gesture to return"
How to solve?
![Toolbar](http://i1.piimg.com/1949/30f3d09750804b9c.png)

[2017-06-01 17:11] hackiftekhar commented on #865
Just to let you all know, v4.0.10 has been pushed with some workarounds to cheat apple. Let me know what apple respond with this latest version.

[2017-06-01 17:27] hackiftekhar commented on #867
It does work fine for me. How did you reproduce the issue. Is there certain steps?

[2017-06-01 17:34] ArthurAlvarez commented on #848
@pardypanda  Aparently removing the constraint mapping I had to IQLayoutGuideConstraint resolved the issue. Now I'm running v4.0.10 on Xcode 8.3 without the bug. I hope it works for you too!

[2017-06-01 17:38] hackiftekhar commented on #848
btw, I didn't change anything related to scrolling behaviour with 4.0.10.

[2017-06-01 18:33] LiborZ commented on #864
The problem is only with this library. Anyone knows how to fix this?

[2017-06-02 01:49] Jayxiang commented on #867
Yes, first of all, I added a third party libraries - "FDFullscreenPopGesture", and then I click on the blank keyboard back, then I quickly gesture return, will appear this kind of situation.You can see the GIF.
![123](http://i1.piimg.com/1949/8e82c9f90512dcb3.gif)

[2017-06-02 02:38] yyu1 opened #868 "UITableView header offset not calculated correctly when keyboard is dismissed"
In my ViewController, I have a `UITableView` and `UISearchController`.

For the `UITableView`,  I have:
`tableView.tableHeaderView = searchController.searchBar`

Now, I have isolated the issue to what appears to be when scope is enabled.  If I have:
`searchController.searchBar.scopeButtonTitles = ["Scope1", "Scope2"]`
Then, if I click the searchBar, then dismiss the Keyboard, the `UITableView`'s o

[2017-06-02 07:43] pardypanda commented on #848
Nope v4.0.10 didn't solve my problem
I do not have any IQLayoutGuideConstraint set on the input text field.
It was working fine with v4.0.6

Attaching screenshots
1. Keyboard up: http://i.imgur.com/UD8E3bN.jpg
2. Keyboard dismissed: http://i.imgur.com/AOqKMUG.jpg

[2017-06-03 09:51] #755 closed

[2017-06-03 09:54] #813 closed

[2017-06-03 11:28] #826 closed

[2017-06-03 11:29] hackiftekhar commented on #824
@VictorASebastian @QIcareful Can one of you send a demo project?

[2017-06-03 11:38] hackiftekhar commented on #816
@ayrap any updates?

[2017-06-03 11:39] #815 closed

[2017-06-03 13:17] mansa-dev commented on #844
Great! I think, it would be of big help to people, if mentioned in readme.

[2017-06-04 04:13] tribeAppMobile opened #869 "keyboard doesn't scroll below textfield when pressed next button, but it will scroll below when i clicked it manually"
this is the form input
![screen shot 2017-06-04 at 11 09 02 am](https://cloud.githubusercontent.com/assets/25948128/26758878/924d52b2-4916-11e7-997a-d1d231e42a5d.png)

when  i clicked it manually it won't block my refferal code input
![screen shot 2017-06-04 at 11 09 26 am](https://cloud.githubusercontent.com/assets/25948128/26758883/b3428b86-4916-11e7-9ac8-5f063568e9e7.png)

but when i press next

[2017-06-04 05:50] hackiftekhar commented on #844
It's already there @mansa-dev
https://github.com/hackiftekhar/IQKeyboardManager/blob/master/MANUAL%20MANAGEMENT.md

[2017-06-05 13:07] Kingofkode commented on #410
Will support for extensions come soon?

[2017-06-06 04:03] hackiftekhar commented on #410
Nope, because library is created to support general projects only, there are no plans to extend it for share extensions and other extensions. Thanks :)

[2017-06-06 10:09] pardypanda commented on #848
@hackiftekhar
Hey, any idea on this?
Also, do you think it would be helpful to figure out the root cause if we can Skype or get on TeamViewer?

[2017-06-06 14:52] #777 closed

[2017-06-06 14:53] hackiftekhar commented on #777
storyboard updated @tbaranes

[2017-06-06 15:07] hackiftekhar commented on #865
Hey @firozkhan09, @xiaodian, @Singsmlie, @yanyufzf00 can you guy let me know if you got success approving your app in app store with v4.0.10 version?

[2017-06-07 00:22] lenovodns opened #870 "Guideline 2.5.1 - Performance - Software Requirements"
2017年6月7日 上午2:01
发件人 Apple
2. 5 Performance: Software Requirements
Guideline 2.5.1 - Performance - Software Requirements

Your app still uses or references the following non-public APIs:

- ‘_UINavigationBarBackground’

The use of non-public APIs is not permitted on the App Store because it can lead to a poor user experience should these APIs change.

Next Steps

To resolve this issue, please revi

[2017-06-07 05:13] hackiftekhar commented on #870
Hey @lenovodns I think this is not due to my library now, because IQKeybaordManager isn't referencing **_UINavigationBarBackground** class. Can you please search this in your project if it's references by another library or your own code? Can you please also check you are not using any static library (.a .framework), if yes then please search this reference inside that static library using nm tool

[2017-06-07 07:33] lenovodns commented on #870
IQKeybaordManager v4.0.10

https://github.com/hackiftekhar/IQKeyboardManager/blob/master/IQKeyboardManager/IQToolbar/IQBarButtonItem.m

[ +(void)initialize {...} ]

[2017-06-07 08:08] hackiftekhar commented on #870
@Legoless I do not find where I'm using private API at that part of code.

[2017-06-08 01:29] HTMLParser opened #871 "Guideline 2.3.1 - Performance Guideline 2.5.1 - Performance - Software Requirements"
2017年6月8日 上午3:30
发件人 Apple

    2. 3 Performance: Accurate Metadata
    2. 5 Performance: Software Requirements

Guideline 2.3.1 - Performance

Thank you for resubmitting your app. We have continued the review and would like to provide our findings.

We noticed that your app contains hidden features. Specifically, the use of UIToolbarButton and UIToolbarTextButton.

You will experience a delayed r

[2017-06-08 02:18] meetWang opened #872 "2017年6月8日 Guideline 2.5.1 - Performance - Software Requirements Performance: Software Requirements"
Dear sir,please read this mail from Apple which we received this morning, could you give us some tips to resolve this question?Look forward to your soonest reply。

Guideline 2.5.1 - Performance - Software Requirements

Your app uses or references the following non-public APIs:

UIToolbarButton, UISearchBarTextField UIPeripheralHostView
The use of non-public APIs is not permitted on the App Store b