[2017-06-08 04:24] hackiftekhar commented on #872
hello @meetWang, I've already fixed this kind of issue with 4.0.10, this version removed the use of UIToolbarButton, UISearchBarTextField, private API usage. However UIPeripheralHostView doesn't looks to ve due to my library, please check if any other library is using this API.

[2017-06-08 04:24] #872 closed

[2017-06-08 04:30] hackiftekhar commented on #872
@meetWang could you please let me know which version of library you submitted with app?

[2017-06-08 04:32] hackiftekhar commented on #871
hello @HTMLParser, I've already fixed this kind of issue with 4.0.10, this version removed the use of UIToolbarButton, UISearchBarTextField, private API usage.
@HTMLParser could you please let me know which version of library you submitted with app?

[2017-06-08 04:36] HTMLParser commented on #871
4.0.7

[2017-06-08 04:37] hackiftekhar commented on #871
That's why you get issue, please update to 4.0.10

[2017-06-08 05:16] meetWang commented on #872
I check it again,UIPeripheralHostView is not in this library. The version of it is not the latest,i will update it now.Thank you very much!

[2017-06-08 08:38] aimm commented on #867
Have you solved this ?

[2017-06-08 08:55] hackiftekhar commented on #867
hmm, so @Jayxiang it only happens when you have ** FDFullscreenPopGesture** in project. right?

[2017-06-08 08:58] aimm commented on #867
I have the same issue , and i have FDFullscreenPopGesture in project too.

[2017-06-08 09:39] Jayxiang commented on #867
@aimm Haven't solve
@hackiftekhar yes,it only happens when I have FDFullscreenPopGesture in project.

[2017-06-08 12:09] satorumpen opened #873 "The toolbar is displayed when text is selected"
Make the editable UITextView uneditable, then select the text, the toolbar will be displayed. See the capturing below. Pressing the edit button toggles the edit mode of UITextView. When the background is yellow, it is editable.

![output](https://user-images.githubusercontent.com/1177346/26927706-ec9406ec-4c8d-11e7-96eb-7e18b81ed07a.gif)

The sample code is as follows.
[code]

Thanks

[2017-06-09 02:07] HanYaZhou1990 opened #874 "Cannot enter"
I use this tool on iOS8.1~8.4,Main page has two textField, push to the next page with the two textField, then I press home to the desktop, open other APP, wait for 30 seconds, press home to the desktop, click the icon to enter my APP, then found the keyboard after pop cannot enter the contents of each textField keyboard will disappear

[2017-06-09 07:02] firozkhan09 commented on #865
After long waiting of review process Apple again reject the app with given reason

You will experience a delayed review process if you deliberately disregard the App Store Review Guidelines, ignore previous rejection feedback in future app submissions, or use your app to mislead or deceive users.

Its not working, need to find some way to do so without using non-public API's

[2017-06-09 09:18] hackiftekhar commented on #865
@firozkhan09 hmm, ok, then I can technically explain why I'm referencing those private API's and we can find a solution.

So as you all know the IQToolbar can have title in the middle. So what I'm doing there is that I'm finding left barbutton frame and right barbutton frame, so that I can calculate the distance between left-right button.

Left Bar Button <----------- Distance X -------------> Rig

[2017-06-10 02:44] beuady commented on #865
Hello,hackiftekhar.
I have also met this question. And then show you my reject reason:
//===============
Your app uses or references the following non-public APIs:

LSApplicationWorkspace, defaultWorkspace, openSensitiveURL:withOptions:, UIInputSetHostView, _UIAlertControllerTextFieldViewController, _UIAlertControllerTextField

The use of non-public APIs is not permitted on the App Store because i

[2017-06-11 03:49] hackiftekhar commented on #865
Hey @beaudy, we already removed _UIAlertControllerTextFieldViewController, _UIAlertControllerTextField private API usage in latest release. Other private API's you mentioned is not due to my library.

[2017-06-11 14:10] Abbiee opened #875 "IQKeyboardManager fails to work when applied with autolayout in Swift3"
IQKeyboardManager doesn't moves the text fields up when it is used in swift3. Please have a look at it.
![screen shot 2017-06-11 at 6 12 05 pm](https://user-images.githubusercontent.com/5746432/27011632-8a154d9e-4edd-11e7-9f46-a6723f1823f5.png)

[LoginLayout-master 2.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/1066483/LoginLayout-master.2.zip)

[2017-06-12 08:26] Mebsunny opened #876 "The textfield does not move up when it is loaded above the window"
The view is loaded above the window, and the view above the textfield does not move up。

[2017-06-12 12:54] Venkat1128 commented on #842
I have a same problem ,
@rlaurb please let me know if you find the solution.

Thanks,
Venkat

[2017-06-12 15:21] rlaurb commented on #842
Venkat,

It took me a while to realize it, but the solution was actually documented in the document “MANUAL MANAGEMENT.md”. Look at the section entitled “Working with Full Screen UITextView” and follow those instructions. The setting of constraints is pretty obvious, but the key is the following sentence:

"Connect bottom layout guide constraint with IQLayoutGudeConstraint and that’s all.”

To do

[2017-06-12 18:57] ArthurAlvarez commented on #865
@hackiftekhar what's the status on 4.0.10? Still rejected?

[2017-06-13 01:30] createname opened #877 "Denied feedback on shelves"
2017年6月13日 上午1:38
发件人 Apple
2. 5 Performance: Software Requirements
Guideline 2.5.1 - Performance - Software Requirements

Your app uses or references the following non-public APIs:

UIToolbarButton, UIToolbarTextButton, UITableViewWrapperView, UISearchBarTextField, UITransitionView, _UIAlertControllerTextField

The use of non-public APIs is not permitted on the App Store because it can lead to a

[2017-06-13 06:24] kedu commented on #865
我回退到3.0.2成功,不过我是手动下载的.而且成功通过审核.

[2017-06-13 19:39] yyu1 commented on #868
I did a bit of testing.

WITHOUT IQKeyboardManager
when searchBar is not active (scope bar is hidden), the `contentInset` of UITableView is:
`UIEdgeInsets(top: 0.0, left: 0.0, bottom: 0.0, right: 0.0)`
when searchBar is active, the `contentInset` is:
`UIEdgeInsets(top: 44.0, left: 0.0, bottom: 0.0, right: 0.0)`
when searchBar becomes inactive again, `contentInset` returns to original of:
`UIEdgeIn

[2017-06-14 06:16] Deepakapptunix17 opened #878 "IQUIView+Hierarchy.swift Crash"
There is an issue in the class - IQUIView+Hierarchy.swift on Line 68.

I am facing random crash on Line 68 of the class IQUIView+Hierarchy.swift which is in blow method :

public func viewController()->UIViewController? {

        var nextResponder: UIResponder? = self

        repeat {
            **nextResponder = nextResponder?.nextResponder()!**

            if let viewController = nextRespond

[2017-06-14 09:36] #869 closed

[2017-06-14 13:09] batkov opened #879 "_kbSize not being cleared if managed disabled"
Hi, I found an issue regarding the fact that if you are playing around enable/disable state of IQKeyboard manager we could have following situation:

If IQKeyboardManager is DISABLED
In method `-(void)keyboardWillShow:(NSNotification*)aNotification`
we will set `_kbSize`
`_kbSize = intersectRect.size;`
and then
we return from this method
`if ([self privateIsEnabled] == NO)	return;`

Afterwards `-

[2017-06-14 15:05] hackiftekhar commented on #879
hmm, you might be correct, I initialize it intentionally regardless if library is enable or not. Because if user enable library when keyboard was showing then it help to manage keyboard textfield distance on the fly.

It's better to clear it in keyboardWillHide: method.

[2017-06-14 15:06] hackiftekhar commented on #869
sorry for being late, but I think this might be because you the scrollView might not be getting correct content size. @tribeAppMobile can you please confirm?

[2017-06-14 15:09] hackiftekhar commented on #878
With current version, we currently have `nextResponder = nextResponder?.next` line and probably app will not crash with latest version.

[2017-06-14 16:57] hackiftekhar commented on #868
the IQKeyboardManager sometimes change tableView content inset, so there might be an issue with library code.

[2017-06-14 16:57] hackiftekhar commented on #868
btw thanks for this info, it really help me to understand the problem.

[2017-06-14 16:58] hackiftekhar commented on #876
Yup, this configuration is not supported when user add textfield directly above UIWindow.

[2017-06-15 04:07] Deepakapptunix17 commented on #878
@hackiftekhar You may be right Iftekhar but the problem is that the project I have is made in Swift 2.3 and I don't think I can convert it to Swift 3 right now as its very big project. Could you please spare 20-30 mins for and can we find a solution so that we can fix it for Swift 2.3.

Any Help will be much appreciated. Thanks a lot for you reply.

[2017-06-15 06:54] batkov commented on #879
Hi, @hackiftekhar
Thanks for quick response, how long to wait for version with fix? It is something important for our project.

[2017-06-16 05:29] hackiftekhar commented on #878
The problem is that I was unwrapping a value which may be nil

nextResponder()!

That's why sometime yiu fet crash. If you remove unwrap and fix compilation issue then it would be great.

[2017-06-16 05:30] hackiftekhar commented on #879
I can fix it soon, but next release might take some time bexause it's a rare condition and not much critical.

[2017-06-16 15:01] hackiftekhar commented on #865
@ArthurAlvarez I don't know the actual status since I got success with approving a build, but @firozkhan09 build get rejected. @firozkhan09 Could you please let me know if you tried something else and approved the build?

[2017-06-16 15:04] #879 closed

[2017-06-16 15:20] #878 closed

[2017-06-16 17:00] #876 closed

[2017-06-16 17:04] hackiftekhar commented on #875
It doesn't work because you've added top layout guide constraint with the logo, and it's indirectly affecting the whole view to move up. If you would like to know how to deal with this situation then please read Manual Management guide.

[2017-06-16 17:04] #875 closed

[2017-06-16 17:22] hackiftekhar commented on #873
This is a known issue but this cannot be fix automatic by library due to some limitation. However this can be fix by developer, when you change isEditing property then please set textView.inputAccessoryView = nil; this will solve the issue.

[2017-06-16 17:23] #873 closed

[2017-06-16 17:31] hackiftekhar commented on #868
hmm I checked the code and library was only manipulating .bottom value, I'm not sure why .top value is updating.

[2017-06-16 17:32] #867 closed

[2017-06-16 17:34] hackiftekhar commented on #864
https://github.com/hackiftekhar/IQKeyboardManagerSwift.git isn't a git repo. Correct repo is https://github.com/hackiftekhar/IQKeyboardManager.git

[2017-06-16 17:34] #864 closed

[2017-06-16 17:37] hackiftekhar commented on #863
Currently there is no feature to set this property.

[2017-06-16 17:43] hackiftekhar commented on #855
It's already fixed with latest version.

[2017-06-16 17:43] #855 closed

[2017-06-16 17:45] hackiftekhar commented on #852
Can you guys be sure that you haven't pinned top/bottom layout guide directly or indirectly with textfield/textview?

[2017-06-17 06:38] hackiftekhar commented on #857
The library requires a hierarchy of viewController's. I'm not sure how KLCPopup works, but if it's directly added to window then library will not work in this case.

[2017-06-17 06:40] hackiftekhar commented on #871
I've also converted some of other private API calls using public API with this commit 96b0f077a78efdc68e30fbb53af0e993db97be24 so it would be better if you try with the master branch code.

[2017-06-17 06:40] #871 closed

[2017-06-17 06:41] #870 closed

[2017-06-17 06:43] hackiftekhar commented on #865
@ArthurAlvarez @firozkhan09 I've also converted some of other private API calls using public API with this commit 96b0f077a78efdc68e30fbb53af0e993db97be24 it would be better if you try with the master branch code now.

[2017-06-17 06:48] hackiftekhar commented on #849
I'm assuming that you change your textfield.inputView to UIDatePicker object. You can add your own UIToolbar over your date picker by setting a UIToolbar in textfield.inputAccessoryView. Library validate if there is any existing UIToolbar if Yes, then library does not replace your inputAccessoryView. In this way you can control your date picker and textfield by your own.

[2017-06-17 06:48] #849 closed

[2017-06-17 06:52] hackiftekhar commented on #848
@pardypanda it looks very strange. btw I see that you are trying to implement something like chat page which might need some special configuration, I would suggest you to disable library on that screen and implement your own logic there.

If you still want to use IQKeyboardManager there then can you please provide demo project by reproducing the issue so that I can look into that?

[2017-06-17 06:56] hackiftekhar commented on #846
hmm @JavenZ I understand what you are trying to explain. I'll try to fix that issue.

[2017-06-17 07:43] hackiftekhar commented on #846
@JavenZ I found that there were some technical limitations that's why I was keeping thing as it is.

[2017-06-17 07:49] #842 closed

[2017-06-17 08:03] hackiftekhar commented on #841
Your screen looks like chat screen, and it's not a good idea to show the toolbar with done button, if you want to hide that then please set textView.inputAccessoryView = [UIView new].

Regarding your question, I'm not fully aware of what configuration you have. Can you please elaborate?

[2017-06-17 08:06] #837 closed

[2017-06-17 08:09] #851 closed

[2017-06-17 09:18] kumardiwa commented on #88
is **isAskingCanBecomeFirstResponder**  is available in 4.0.10 ?

[2017-06-17 09:21] hackiftekhar commented on #88
@kumardiwa the property is there in 4.0.10, but this property no longer has any effect since I did some other code changes to remove the need of this property. For now this property will always return NO.

This will completely be remove in v4.0.11

[2017-06-17 09:31] kumardiwa commented on #88
@hackiftekhar My case is, I've 3 textfields in a viewcontroller but I want 1 of them should not be editable and I want some action when this textfield should begin editing so How can I do this. Even though I've desable IQKeyboard ( **IQKeyboardManager.sharedManager().enableAutoToolbar = false**)  in this View controller in viewWillApear method but still got the problem.

[2017-06-17 10:05] hackiftekhar commented on #858
I verified that it's properly getting called with IQKeyboardReturnKeyHandler. You might be missing something. Make sure you assign textfield delegate and wrote same method name.

[2017-06-17 10:05] #858 closed

[2017-06-17 10:11] hackiftekhar commented on #88
@kumardiwa So from now what will happen, when you tap on the enabled textfield then the delegate method will only be get called for that text field only and not for other textfields, so you can safely write your logic inside textFieldShouldBeginEditing and return NO for the textfield which you don't want to editable.

[2017-06-17 12:36] #822 closed

[2017-06-18 16:18] yyu1 commented on #868
Here are some logs from the debug mode.
Note that the only user input I did here was click on the searchBar  (did not dismiss the keyboard yet or input anything into the search bar).

The `contentOffset` reported by IQKeyboardManager was always {0,0}, until when it says the "Restoring" part, where `contentOffset` becomes {0,-44}.

Hope this helps a bit more

IQKeyboardManager: ****** keyboardWillS

[2017-06-18 17:58] hackiftekhar commented on #868
hmm, as we can clearly see  when IQKeyboardManager get your tableView.contentInset then it get's 0,0,0,0 this is why there might be some conflict.

[2017-06-19 04:53] SURYAKANTSHARMA commented on #855
Thanks @hackiftekhar .

[2017-06-19 12:29] ajf-sp opened #880 "Toolbar Title Color"
Hi, thanks so much for this library! I know there's a way to set the toolbar title (the one where it copies the textfield placeholder) font. Was just wondering if there's a way to change the color? Right now it's always light gray.

[2017-06-19 14:13] hackiftekhar commented on #880
Sorry, currently there is no way to do this.

[2017-06-20 03:29] qq245168586 commented on #877
Mee too

[2017-06-20 05:05] Naveentp opened #881 "Disable IQKeyboardManager keyboard in specific Storyboard"
I have two storyboards in my project. In one of these storyboards I want default keyboard. Is there any way to disable the IQKeyboardManager to specific storyboard. If not, suggest any work arounds to resolve this. Need help.

[2017-06-20 05:26] vuppalasivakumar commented on #852
no we done properly

On Fri, Jun 16, 2017 at 11:16 PM, Mohd Iftekhar Qurashi <
notifications@github.com> wrote:

[2017-06-20 06:00] IPOSDai opened #882 "The older version "canAdjustTextView", now it was replaced?"
I use UITextView, but there are some problems。I  look over the older version IQ, canAdjustTextView can  adjust textView's frame when it is too big in height.

the older code
//TextView handling

/*!
    @property canAdjustTextView

    @abstract Adjust textView's frame when it is too big in height. Default is NO.
 */
@property(nonatomic, assign) BOOL canAdjustTextView;

[2017-06-20 15:42] hackiftekhar commented on #877
Please use latest master branch code, it contains all the fixes.

[2017-06-20 15:42] #877 closed

[2017-06-20 15:43] hackiftekhar commented on #881
yes, there is ways, please check manual management guide for workaround.

[2017-06-20 15:43] #881 closed

[2017-06-20 15:44] hackiftekhar commented on #852
Then not sure what might be the cause of issue. Can you please provide more information?

[2017-06-20 15:45] hackiftekhar commented on #882
Now it's internally managed by setting contentInset of textView. So there is no need of this property, that's why it's removed.

[2017-06-20 15:45] #882 closed

[2017-06-20 20:34] yyu1 commented on #868
So do you think this is due to things happening in this order?
1. IQKeyboardManager grabs contentInset
2. TableView adjusts contentInset due to scope bar appearing
3. IQKeyboardManager restores contentInset, not knowing that TableView has changed the contentInset since it was last recorded in step 1.

[2017-06-21 04:54] vuppalasivakumar commented on #852
As i said in issue, coming to textview when user clicks on text view
keyboard comes out and  covering the textview. keyboard is not lifting view
and coming to uidate picker when user clicks on date picker text box date
picker is coming out and but view is not lifting up and the background
design is getting disturbed.

On Tue, Jun 20, 2017 at 9:14 PM, Mohd Iftekhar Qurashi <
notifications@github.co

[2017-06-21 05:45] hackiftekhar commented on #868
I think Yes, it's doing something like tyat but needs investigation for exact steps.

[2017-06-21 05:47] hackiftekhar commented on #852
Can you please share a demo because I think it's hard to understand the problem with text messages.

[2017-06-21 07:25] Naveentp commented on #881
I have gone through the doc,

All I found is these methods,
[code]

I have almost 20 VC's in the storyboard and many more to come. If I have a chance to disable for whole storyboard would be helpful. If there, please provide the work around/Code snippet in this thread only.

[2017-06-21 18:33] hackiftekhar commented on #881
There is no way to do that. However here are some of the things which can easy your task according to your requirement.
- If you would like to enable it for all except some view controllers then set **enabled=true** for library and use enablexxxClasses.append(viewController.self) method for blacklisting controllers.
- If you would like to disable it for all except some view controllers set **enabl

[2017-06-22 03:31] IPOSDai commented on #882
I understand, Thanks very much!

[2017-06-22 08:15] Nododo commented on #755
hi all
i meet the same issue, i solve it by becomeFirstResponder after delay
[code]

[2017-06-27 12:19] douglasjunior opened #883 "React-Native version"
Hi!

I want to thank for the incredible work in this library, and to inform that I create a version for React-Native: https://github.com/douglasjunior/react-native-keyboard-manager

I also referred to the IQKeyboardManager MIT license: https://github.com/douglasjunior/react-native-keyboard-manager#iqkeyboardmanager-license

Thank you again

[2017-06-27 12:24] hackiftekhar commented on #883
Thanks for the kind word @douglasjunior

[2017-06-27 12:24] #883 closed

[2017-06-28 14:45] maxmumford commented on #817
Can confirm fixed in v4.0.10 👍

[2017-06-29 02:45] iamgod588 commented on #865
I have also met this question,and i don't know you add the bug label to this question,can you tell me the reason please

[2017-06-29 12:52] Mahesh-Kondamuri44 opened #884 "IQKeyboardReturnKeyHandler no method for UIVew Class"
Hi i am very happy with IQKeyboardManager library.

i got one issue in my project i.e below method not working in UIView Class because of parameter is UIViewController. But my textfields are in UITableview that tableview i kept in UIView.  but below method not working in UIView Class. Please Provide Method for UIView also.

**IQKeyboardReturnKeyHandler * returnKeyHandler = [[IQKeyboardReturnKeyHan

[2017-06-29 19:58] phithapacl opened #885 "Not working when updating a label in TextView"
in the event textViewDidChange I update a label text with the character count of the text view, but when updating the label the scroll stops woking and acts weird.

[code]

when I remove the line:
`     self.currentSizeTextLabel.text =  String.init(format: "%i/%i", arguments: [textView.text.characters.count,maxLength])`

it works fine, any ideas?

[2017-06-30 02:46] #884 closed

[2017-06-30 02:48] hackiftekhar commented on #885
No idea since it's a simple change and shouldn't affect scrolliing

[2017-06-30 02:49] hackiftekhar commented on #120
Can you guys share a demo?

[2017-06-30 14:46] junestchick opened #886 "Not working on iPad 10.2"
Hi, my prob is it works my other devices and simu but not on my ipad with ios 10.2, the keyboard is cover textfields. I am using IQKeyboradManager 4.0.10.
Here is my login xib.
http://imgur.com/fgAwKHg
The app is landscape. Thank for reading, sorry for my bad English!

[2017-07-02 04:10] rakdev7 opened #887 "Text View scrolling up even if cursor is not below keyboard"
I have a text field at the top of the view controller and a text view is right below the text field. If I start typing in the text view, it automatically scrolls the whole view up by some pixels(like 100) there by hiding my text field.

How to prevent the view from scrolling up if the cursor is way above the keyboard? @hackiftekhar

[2017-07-03 06:43] kunal189 opened #888 "[UIKeyboardTaskQueue waitUntilAllTasksAreFinished] may only be called from the main thread."
When i press a button to hit an api of updating my data on server before hiding the IQKeyBoard, app crashes once the response comes back from server and throughs this exception.
If is use IQKeyboardManager.sharedManager().resignFirstResponder() after pressing the button and before hitting the web service then it works fine.

[2017-07-03 08:44] LiangyongFShen commented on #828
Can add setting keyboradReturnKeyType' s button font ?

[2017-07-04 08:51] kuyazee commented on #88
For some reason @anishparajuli555's workaround also works for me even though as explained by @yasirmturk

[2017-07-05 10:15] pengkun opened #890 "EXC_BREAKPOINT IQUIView+IQKeyboardToolbar.swift line 0 specialized UIView.addPreviousNextDoneOnKeyboardWithTarget(AnyObject?, previousAction : Selector, nextAction : Selector, doneAction : Selector, titleText : String?) -> ()"
version:  4.0.8

Crashed: com.apple.main-thread
0  libdispatch.dylib              0x197de4cac _dispatch_dispose + 184
1  libdispatch.dylib              0x197de14a4 -[OS_dispatch_object _xref_dispose] + 60
2  libdispatch.dylib              0x197de14a4 -[OS_dispatch_object _xref_dispose] + 60
3  libdispatch.dylib              0x197de1868 -[OS_dispatch_source _xref_dispose] + 60
4  UIFoundation

[2017-07-07 09:34] iosApem commented on #779
I've got this problem, too.
Hoping the solution!

[2017-07-08 08:52] grantkemp opened #891 "Is it possible to hide the top bar from the keyboard?"
I have been looking at various solutions to hide the autocomplete bar- but they don't seem to be working.

<img width="253" alt="screen shot 2017-07-08 at 09 28 13" src="https://user-images.githubusercontent.com/751115/27984032-1de0e93a-63c3-11e7-9c71-a87ecd7ed27c.png">

Could it be that IQKeyboardManager prevents this code working?

[code]

[2017-07-08 09:19] grantkemp commented on #891
Just found it under known issues- this is actually a really useful feature that should be added to a "customization section" on the readme - as its actually a pretty cool feature.  Might be great to have the ability to customize it on a per view controller basis.

[2017-07-08 16:40] #891 closed

[2017-07-08 16:59] grantkemp opened #893 "When turning off autotoolbar - there is no way to dismiss the keyboard or see content behind it"
Error:
When disabling autotoolbar in code - the keyboard pushes the view up- covering part of the screen but there is no possible way to dismiss the keyboard. or see whats behind the keyboard.

Expected:
When disabling the autotoolbar in code - then the current functionality where the view is pushed up to make way for the keyboard should work otherwise we should be able to click outside of the key

[2017-07-10 02:09] chundev opened #894 "is not work textview on chinese(simplified)-pinyin"
is not work textview on chinese(simplified)-pinyin 'IQKeyboardManagerSwift', '4.0.10'

[2017-07-10 07:19] hackiftekhar commented on #893
If developer disable autotoolbar then it's his responsibility to make some otger way to dismiss keyboard.

[2017-07-11 08:02] miltonleung opened #896 "UITextView does not scroll automatically when subclassed"
I have two UITextView subclasses in one UIScrollView. The problem is it when typing, the scroll view does not shift up, so the text is hidden behind the keyboard. In order to achieve the self-sizing text views, they have scrolling off.

I have tried using just UITextView without subclassing and it works fine, so I investigated the Subclass example in the sample project. This is what I have in the

[2017-07-11 15:08] w-i-n-s commented on #475
Try to check text field when keyboard wants hide:

    [[NSNotificationCenter defaultCenter] addObserver:self selector:@selector(keyboardWillHide:) name:UIKeyboardWillHideNotification object:nil];

[2017-07-11 17:16] hackiftekhar commented on #896
I don't know what you might be missing but if MyTextView is subclass of UITextView then you don't need to use `registerTextFieldViewClass` since it's for those subclasses which inherit from UIView and add purely it's own implementation for text input.

[2017-07-11 22:16] druvinskiy opened #897 "Customize AutoToolbar"
How do I change the name of the "Done" button and give it a custom action?

[2017-07-12 04:04] hackiftekhar commented on #897
You can add your own customized UIToolbar as inputAccessoryView. It will show in your textfield keyboard and you can do the behaviour you want.

[2017-07-12 08:06] #894 closed

[2017-07-12 14:38] hugobisson commented on #485
Hello,

I'm using [Eureka](https://github.com/xmartlabs/Eureka) to create forms and sometime i still get this issue. When i click on a textField and once keyboard is dismissed, a white space appear bellow the scrollview.

[2017-07-14 04:56] miltonleung commented on #896
You're right. I noticed my subclass changes lineFragmentPadding and lineSpacing. Any idea on why that is? I actually set `    IQKeyboardManager.sharedManager().keyboardDistanceFromTextField = 200` in the AppDelegate too

[2017-07-14 05:57] miltonleung commented on #896
this is a link to the demo project: https://github.com/miltonleung/keyboardTest
thanks!

[2017-07-14 06:31] sandychales opened #898 "when I register keyboardWillShowWithNotification，and It failed"
when I register keyboardWillShowWithNotification to define my own inputVAccessoryView, it failed。  Xcode logs show that  "if we're in the real pre-commit handler we can't actually add any new fences due to CA restriction" which makes my observe failed。 How can I fix that problem? I
 still failed even if I set enabel to IQKeyboardManager。

[2017-07-14 20:41] jaymathew opened #899 "Swift 4 compatibility"
Xcode 9.0 beta 3
iOS 11 beta 3

Errors in Xcode.  I know this is beta so it might change.
1.) Static member 'appearance' cannot be used on protocol metatype 'UIAppearance.Protocol'
2.) Declarations in extensions cannot override yet
3.) Ambiguous use of 'topMostController()'

[2017-07-16 04:37] vinathy commented on #475
@hackiftekhar,Have added  pod 'IQKeyboardManagerSwift', '~> 4.0.6' podfile, working on swift3, am able to find upward, downward arrow and Done button, but in my keypad am not able to next and done button, by default am getting return only, Please help me if any function am i missing, Any help is appreciable. In
 func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOpt

[2017-07-17 03:56] Amefuri opened #901 "CollectionView did not scroll when using with UISearchBar"
Hi,

I used IQKeyboardManagerSwift version 4.0.10
when I input text with UISearchBar, the collectionView didn't scroll even content was behind the keyboard.

I already enable IQKeyboardManagerSwift in AppDelegate and It work fine in another ViewController.

Thank you,

![simulator screen shot jul 17 2560 be 10 59 21 am](https://user-images.githubusercontent.com/1732314/28255272-271d243c-6adf-11e7-

[2017-07-17 07:33] loveforgeter opened #902 "Wrong view frame"
The frame view to be scroll maybe wrong when the view controller's `modalPresentationStyle` is `UIPresentaionCustom`, and its presentationController's frameOfPresentedViewInContainerView frame orgin is not CGPoint.zero. The frame adjust is wrong.

[2017-07-17 09:21] hackiftekhar commented on #898
`if we're in the real pre-commit handler we can't actually add any new fences due to CA restriction` isn't due to my library and no relation with IQKeyboardManager. Now can you please explain what's the actual issue?

[2017-07-18 16:54] mekarpatx commented on #899
I have the same problem. hope it will get fixed by the Xcode.

[2017-07-18 18:11] hackiftekhar commented on #899
@mekarpatx @jaymathew I just created swift4 branch, but I don't have Xcode9.0 beta version. Can someone make necessary changes and send me a pull request pointing to swift4 branch?

[2017-07-20 11:51] mekarpatx commented on #899
@jaymathew do you use cocoa pods? I've found out that some files are loaded differently.

for example:

in my project:
in IQToolbar.swift
`UIAppearance.appearance().barTintColor = nil` shows like this. But in GitHub, same file and same line is;
` self.appearance().barTintColor = nil`

maybe there is a problem with the automatic migration or something else, I haven't figured out yet.

problem could

[2017-07-20 14:09] jaymathew commented on #899
@mekarpatx  Yes, I do use Cocoa Pods.  I noticed the same thing you pointed out after I downloaded from your project.

[2017-07-20 20:38] jlubeck opened #903 "How can I hide the toolbar when an external keyboard is attached?"
Basically what the title says 😄

Thanks!

[2017-07-20 21:14] jlubeck commented on #903
I found a way to find how to detect external keyboard, but I'm running
[code]
And it is not removing it.
I put a breakpoint on your code and `removeToolbarIfRequired` is being called, and `textField.inputAccessoryView = nil;` as well. But the toolbar is still there.

[2017-07-21 04:36] hackiftekhar commented on #903
Are you sure you are't using your own inputAccessoryView?

[2017-07-21 04:40] hackiftekhar commented on #902
Hmm, ok. Can you please share a demo project so that I can take a look and modify library code to support this?

[2017-07-21 04:43] hackiftekhar commented on #901
This case cannot be fixed and you have to do some workaround by your own.

The library makes it's best effort to handle scenarios which are under control. But the thing with your case is that the library doesn't know that there is a collectionView which needs to be scroll. Library only know about the UISearchBar.

[2017-07-21 11:08] kumardiwa commented on #549
I've 5 textFileds in a single StackView and previous and next button is not working. Although I've written **IQKeyboardManager.sharedManager().previousNextDisplayMode = .alwaysShow** but still not working.

[2017-07-21 15:31] jlubeck commented on #903
Yes, completely sure. I don't use a custom inputAccesoryView anywhere in my code

[2017-07-21 18:57] mekarpatx commented on #899
@jaymathew I've found a workaround.
I reseted to my last working commit, didn't use pod update, don't convert to current swift, don't convert to recommended settings.
I've selected the "swift language version" to  3.2 and  "Swift3 @obj interface" to on
hold down option key and click product, clean build folder.

after this, the project succeeded to build and run on ios11 simulator.
in xcode9 swift

[2017-07-22 09:50] okerivy opened #904 "IQKeyboardManager Gesture collision With Tableview Gesture"
If I add a tap gesture on one of the tableviewcell's view, and IQKeyboardManager's `manager.shouldResignOnTouchOutside = YES;`
Then the two gestures clash, causing tableview  unable to click

Current solutions
I can set `manager.shouldResignOnTouchOutside = NO;`
**OR**
in IQKeyboardManager
`-(BOOL)gestureRecognizer:(UIGestureRecognizer *)gestureRecognizer shouldReceiveTouch:(UITouch *)touch`  meth

[2017-07-24 03:34] Amefuri commented on #901
Thank you @hackiftekhar
This clear me up about where did I need to handle it on my own.

[2017-07-24 03:34] #901 closed

[2017-07-24 08:22] neokree opened #905 "Changing done button name for specific textView/textField"
Hello,

It would be awesome to have a method for setting up the done button name instead of using the default one in the `addDoneOnKeyboardWithTarget` method.
For example I have a view with a textField that doesn't have a "Save" button, so I would use "Save" instead of "Done" for this method, and automatically call the save once the done button is pressed.

Let me know what you think about it

[2017-07-26 05:29] dipkasyap opened #906 "Constraints issue on Source compiled from xcode 9 beta 4. with swift 3.2"
Hello, There is constraints issue , when i compiled the code with Xcode 9 , Here is the screen shot
![screen shot 2017-07-26 at 11 11 05 am](https://user-images.githubusercontent.com/12591229/28605876-9d73fff0-71f3-11e7-8c47-f0513d58dee2.png)

[2017-07-26 13:12] narendra-r commented on #906
Happens for me also, on Xcode 9 beta 4 with Swift 3.2.

[2017-07-26 14:10] ArthurAlvarez commented on #906
I also met this problem on Xcode 9 beta 4

[2017-07-27 01:12] Snapperfish opened #907 "UITextView scrolled up too far in UITableView (Simulator only)"
XCode v8.3.3
Deployment target 10.0
Simulator v10.0 (iPhone 6 v10.3.1)

**Note: the symptoms described below are not shown on a iPhone 6 v10.3.3 (Device).**

I am submitting this as a bug because it took a lot of time to try to figure out what was happening, before realising that the problem did not occur on device.

The table has five sections. The first three sections contain a single cell with

[2017-07-27 05:04] feng520ckx commented on #865
@hackiftekhar
I used the string with base64 encryption, successfully passed the review

[code]

[2017-07-27 06:38] hackiftekhar commented on #865
That's super great @feng520ckx, however there is another good news. I've removed all the private API references. I believe the app will not be rejected anymore.

[2017-07-27 06:45] #885 closed

[2017-07-27 06:47] hackiftekhar commented on #886
Make sure any top layout guide or bottom layout guide constraints aren't attached directly or indirectly with the textFields.

[2017-07-27 06:47] #886 closed

[2017-07-27 06:51] hackiftekhar commented on #887
You can set `keyboardDistanceFromTextField` on your textView object to appropriate value.

[2017-07-27 06:51] #887 closed

[2017-07-27 06:51] hackiftekhar commented on #888
I'm not sure why this issue happen but looks like this isn't related to my library.

[2017-07-27 06:51] #888 closed

[2017-07-27 06:53] hackiftekhar commented on #890
Not sure why it's crashed. Do you know anything about this? Is this happening everytime?

[2017-07-27 06:56] #893 closed

[2017-07-27 06:58] #898 closed

[2017-07-27 10:15] qaisershehzad opened #908 "IQKeyboardManagerSwift Conflict"
I am using  IQKeyboardManagerSwift swift in my project. But now I am integrating a 3rd party SDK that has dependency on  DAKeyboardControl. My textfields toolbar not appearing when I add pod for DAKeyboardControl. After some digging I found this conflict
Can you please advise what should I do?

IQKeyboardManager with DAKeyboardControl generate conflict.https://github.com/danielamitay/DAKeyboardCon

[2017-07-27 10:22] harshvishu opened #909 "TextView moves out of screen in FormSheet iPad"
### _This is only happening on iPad_

When using a `TextView` in a `UIViewController` presented as **FormSheet**. The `TextView` moves up out of the screen.
I've attached a [Gif](http://www.giphy.com/gifs/xUn3C8iADSfPnDQI0w) displaying the issue

IQKeyboardManagerSwift: v 4.0
Swift: v 3.1
Xcode: V 8.3.3 (8E3004b)

[2017-07-28 03:39] hackiftekhar commented on #908
If that's the case then it would be better to use either one of the library for keyboard handling. The decision is upto you by checkingg how mugh you'll need according to current architecture.

[2017-07-28 03:39] #908 closed

[2017-07-28 10:44] ryanvg commented on #906
I’m having the same problem with both Swift 3 and 4 using XCode 9, but it only appears in iOS 11.

[2017-07-29 11:17] s1ddok opened #910 "The whole layout jump right after user starts to type"
The problem is that IQKeyboardManager seems to work fine, but until the moment the user actually starts typing.

After first symbol is typed, the UI jumps down. Any hints on how to overcome this? I'm on iOS11, XCode 9b4.

[2017-07-29 19:50] BasantAshraf opened #911 "TextView jumps and leaves a big white space above it"
TextView jumps and leaves a big white space above it .

This case happens in a textview inside a tableview that is inside a parallax scrollview
and textview typing without reaching the end of scrollview.

<img width="311" alt="screen shot 2017-07-29 at 9 49 39 pm" src="https://user-images.githubusercontent.com/14275187/28747793-de52bda2-74a7-11e7-8957-4920efcbee62.png">

[2017-08-01 05:50] Sharkesm opened #912 "What if i want to auto hide keyboard view"
I have a text field that allows user's to enter 4 character length of numbers, but i cannot auto hide the keyboard view as soon as the character checking are complete. Any there a way to achieve this with current or newer version of IQKeyboardManager.

[2017-08-01 15:54] mchan004 opened #913 "How to turn off the suggest word?"

[2017-08-01 19:36] jaymathew commented on #906
same problem.  Xcode 9 beta 4

[2017-08-02 12:19] yatindra99jain opened #914 "Its not working on ios 11."
When i open IQKeyboardManager demo in ios 11, It is not showing proper. Some time it is automatically hide from toolbar.

[2017-08-02 13:54] askari01 commented on #914
yes buttons becomes invisible and done goes out of screen

[2017-08-02 14:09] askari01 opened #915 "Found nil while unwrapping an Optional value"
Selecting textfield causes the app to crash
<img width="1280" alt="screen shot 2017-08-02 at 7 00 45 pm" src="https://user-images.githubusercontent.com/6830947/28877212-1bc630a0-77b5-11e7-9618-883ad9e8f702.png">

[2017-08-02 18:17] krunalbhavsar commented on #914
I also face the same prooblem

[2017-08-02 23:29] livefreeor opened #916 "Build Failed with exit code 1"
I am getting this swift complier Error when building. I have tried alt+cmd+shift+k cleaning, also tried restarting Xcode but didn't work. What is wrong here? Thanks for your help.

Command  /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/swiftc failed with exit code 1

[2017-08-03 04:04] hackiftekhar commented on #915
It's with your nurseAvailability class

[2017-08-03 04:04] #915 closed

[2017-08-03 04:05] hackiftekhar commented on #916
I don't know what might be the cause, but looks like it's not due to my library.

[2017-08-03 04:05] #916 closed

[2017-08-03 04:07] hackiftekhar commented on #912
You should write your logic in textFieldDidChange delegate method and it should work.

[2017-08-03 04:07] #912 closed

[2017-08-03 09:30] livefreeor commented on #916
thanks for your quick reply. Can you give me any other alternative solution like yours because normally my app builds successfully but it doesn't after installing your library and gives me above mentioned error. Thanks a lot again.

[2017-08-03 10:49] hackiftekhar commented on #905
There is already a method `addRightButtonOnKeyboardWithText...` to provide custom name.

[2017-08-03 10:49] #905 closed

[2017-08-03 10:54] hackiftekhar commented on #903
Probably textField needs to use `reloadInputView` method.

[2017-08-03 10:55] hackiftekhar commented on #549
Your all textField might not be in same superview I think?

[2017-08-03 10:55] hackiftekhar commented on #863
Feature will be available in this weekend.

[2017-08-03 10:55] #863 closed

[2017-08-03 10:57] #897 closed

[2017-08-03 11:18] #903 closed

[2017-08-03 11:18] #904 closed

[2017-08-03 11:38] neokree commented on #905
I didn't see it.
Thank you for support

[2017-08-03 11:42] hackiftekhar commented on #916
You should check build logs in Xcode. You'll probably see something useful there.

[2017-08-03 13:14] JC-Hu commented on #914
same problem! please fix it soon！

[2017-08-03 20:55] likeaj6 opened #917 "Done/Next Button offscreen/invisible"
For some reason, my Done button + the Next/Previous buttons are hidden and/or offscreen.

In the picture below, the done button is only off screen, but in my other textfield, it just doesn't appear at all. The action would still go through If I press a few times in its general area(where it's supposed to be).

 It's the same case with the next button, except it is not appearing either but still wo

[2017-08-04 16:43] hackiftekhar commented on #917
Currently iOS11 isn't supported.

[2017-08-05 12:10] ahmadabudawod opened #918 "isAskingCanBecomeFirstResponder is removed"
After i update my Cocoapods , this field is isAskingCanBecomeFirstResponder removed . How i can open Another view when click on UITextfield?

[2017-08-05 16:03] yeziahehe opened #919 "Layout error"
layout error in iPhone 7 plus & iOS 11, but correct in simulator.

![681501948632_ pic](https://user-images.githubusercontent.com/8090437/28996873-a2c19194-7a3a-11e7-9f02-0a0ce1037548.jpg)

[2017-08-06 03:32] theHeroisBack opened #920 "if textview is on uitableviewcell, the content is covered by the keybord"
my textview's height

 is auto changing ,but when the words is too much,it will be covered by the keyboard,how can i fix this bug.

thank you .
ps:i come from China,  My English sucks 。。。

[2017-08-07 08:52] adromil commented on #87
Can you create an API for this so instead of modifying your class we can change it via method.

[2017-08-07 10:09] StormYangFan opened #921 "app crash when keyboard dismiss three times in iOS 9+"
objc[26446]: Cannot form weak reference to instance (0x10bd93ed0) of class UICompatibilityInputViewController. It is possible that this object was over-released, or is in the process of deallocation.

[2017-08-08 03:04] lyleLH opened #922 "How can i add an leftbutton with image and no title on toolbar?"
Or,Can i replace the toolbar with a custom view?

thanks

[2017-08-08 03:42] hackiftekhar commented on #87
There is already a property now to change done button text. Please check IQKeyboardManager.h

[2017-08-08 03:44] hackiftekhar commented on #918
Please see release notes, now you can do with the approach as we did in otger project. You can also check demo app.

[2017-08-08 03:46] hackiftekhar commented on #921
Not sure since this isn't related to my library, it's apple internal class.

[2017-08-08 03:48] hackiftekhar commented on #922
If you set any customized inputAccessoryView then library will not affect your inputAccessoryView. Simply assign any customized inputAccessoryView.

[2017-08-08 13:42] sweetdream0729 opened #923 "ViewControllers does not rotate with keyboard"
Thanks for your good stuff.
btw, when I rotate device on status keyboard is showed, keyboard does rotate.
But viewcontroller does not rotate and after hide keyboard whole app does not rotate eventhough app works for rotation before show keyboard.
Looking forward to hear from you.

[2017-08-08 16:22] noordawod opened #924 "Keyboard still covers a focused UITextField"
Hi there.

Thanks for a wonderful piece of software!

I began using the library today and noticed that if there's a UITextField situated in the lower part of the screen (where the keyboard would show when engaged), that field would still be hidden behind the keyboard.

Only after I press Back and then Next (arrow buttons to navigate between fields) that the screen panes correctly and shows the fie

[2017-08-08 16:27] noordawod commented on #924
I activated debugging, and here's the log when I tap the UITextField positioned at the bottom of the screen:

[code]

As I mentioned earlier, the view doesn't move and the keyboard continues to cover the field.

[2017-08-09 09:08] sw-tt-harishmistry commented on #713
Yes, i think you are misunderstanding the question for example if i have iPhone 7 and i have scroll view with 20 textfield and i am on 20th textfield, then the topmost visible textfield is 11th one now when i directly tap on 11th textfield it scrolls down from top to just above keyboard which is wrong, it should not happen. Please check the snaps i have attached.
![1](https://user-images.githubuse

[2017-08-09 09:26] sw-tt-harishmistry opened #925 "UITextField autoscroll to just above keyboard, even if textfield is fully visible"
I have a scrollview full of textfields almost 20 textfields. Now i follow below steps to reproduce this issue:

1.) Scroll down to 20th textfield and tap on it it will open keyboard
2.) Now 12th textfield is at top and is visible, now if i tap on 12th textfield it automatically scrolls down to position just above keyboard which leads to a bad user experience.

If a textfield is already in visible

[2017-08-09 09:31] TheMrugraj commented on #925
I agree with the author of issue @sw-tt-harishmistry
I also faced this issue in past. In stead of giving smooth and easy transition sometimes it jerks down and moves to the selected Input field.

[2017-08-09 09:36] harish-mistry commented on #925
I also agree with the author of issue @sw-tt-harishmistry.

I have also faced this issue in past. In stead of giving smooth and easy transition sometimes it jerks down and moves to the selected Input field. Ultimately leads to a bad user experience.

[2017-08-09 09:38] kushanshah11 commented on #925
I also agree with the author of issue @sw-tt-harishmistry.

I have also faced this issue in past. In stead of giving smooth and easy transition sometimes it jerks down and moves to the selected Input field. Ultimately leads to a bad user experience.

[2017-08-09 09:42] PatelArpit commented on #925
I also agree with the author of issue @sw-tt-harishmistry.

I have also faced this issue in past. In stead of giving smooth and easy transition sometimes it jerks down and moves to the selected Input field. Ultimately leads to a bad user experience.

[2017-08-09 09:50] vanditmehta commented on #925
getting same issue.

Do we have any way to handle this issue?

[2017-08-09 09:51] sw-tt-abhayrajvala commented on #925
I also agree with the author of issue @sw-tt-harishmistry.
If a textfield is already in visible area why it needs to be repositioned or scrolled.

[2017-08-09 09:54] sw-tt-vipulparmar commented on #925
I also agree with the author of issue @sw-tt-harishmistry.
is there any way to handle this issue?
Thanks in advance

[2017-08-09 09:56] sw-tt-milanpatel commented on #925
I also agree with the author of issue @sw-tt-harishmistry.
Is there any way to handle this issue?

[2017-08-09 10:02] sw-tt-jethanandnandpal commented on #925
I agree with @sw-tt-harishmistry. Is there any way to handle this issue?

[2017-08-09 10:06] sw-tt-sandipprajapati commented on #925
Hi @hackiftekhar, I have agree with this issue.

[2017-08-09 10:08] hackiftekhar commented on #925
@sw-tt-harishmistry It's because of reusable cell concept of UITableView, give me 30 minutes I'm writing a detailed explanation and then we can agree on a solution.

[2017-08-09 10:10] sw-tt-harishmistry commented on #925
@hackiftekhar, i have not used any UITableView here, as i have mentioned its simple UIScrollView and the text-feilds in it. So i think you are misunderstanding my question. Let me know if you need more details on the same.

Thank you.

[2017-08-09 10:12] sw-tt-sandipprajapati opened #926 "Next and Previous Button is disappear when use it in UITableViewController"
Hello @hackiftekhar,

I have used this library and I have found the Next and Previous Button is disappear when use it in UITableViewController. Is there any way to resolve this.

Thanks.

[2017-08-09 10:16] sw-tt-harishmistry commented on #926
I have also faced this issue, in case of UITableViewController, it just hides the Previous and Next buttons from InputAccessory view of Keyboard but however it shows the Done button over there.

Its kind of a weird issue here. Is there any class that we need to assign o Tablview or any other solution that you can provide, will be helpful.

Thank you.

[2017-08-09 10:18] sw-tt-vanditmehta commented on #926
I have faced same issue once,

I have used it in one of my project with UITableViewController, where i have 15 static cells having UITextField - It showing me toolbar with done button but not getting "next" and "previous" button

[2017-08-09 10:22] hackiftekhar commented on #925
I know you are using UIScrollView, but currently there is no explicit validation for UITableView that's why library is running same code for UIScrollView and all it's subclasses.

[2017-08-09 10:24] sw-tt-harishmistry commented on #925
Okay, so is there any fix to this issue, It will be really very helpfull.

[2017-08-09 10:26] sw-tt-rushabhpatel commented on #925
@sw-tt-harishmistry I have faced similar  issue in my previous project .Thanks for asking question here. Hope someone will resolved this issue  in next release.

[2017-08-09 10:55] hackiftekhar commented on #925
Attaching some screenshots for better understanding why library pull current textField to keyboard.

![simulator screen shot 09-aug-2017 3 54 48 pm](https://user-images.githubusercontent.com/3831495/29118128-5fa3e3e4-7d1e-11e7-810f-cdc3cc6b9ad2.png)
![simulator screen shot 09-aug-2017 3 53 54 pm](https://user-images.githubusercontent.com/3831495/29118127-5fa392fe-7d1e-11e7-833e-54955bc143b4.png)
!

[2017-08-09 11:00] sw-tt-harishmistry commented on #925
@hackiftekhar, As per you explanation its because of reusability of cells, but i told you earlier all textfields are having their own ownership in memory because i am not using UITableView thus there is no UITableViewCell here, i have placed individual textfields in UIScrollview. Why you are assuming this as reusable cell i am not understanding.

Please find attachment of my source code in which i

[2017-08-09 11:14] sw-tt-harishmistry commented on #925
@hackiftekhar, Why are you pointing to Previous and Next arrow buttons, my question here is not about the buttons but about the autoscroll behavior of UITextFields even they are in visible areas.

[2017-08-09 11:55] hackiftekhar commented on #925
@sw-tt-harishmistry I'm properly understanding that you are using UIScrollView and there are no reusable cells and it should work fine for your scenario, but my brother please try to read my message again I already answered you this in my previous messages:-

`I know you are using UIScrollView, but currently there is no explicit validation for UITableView that's why library is running same code fo

[2017-08-09 11:57] sw-tt-harishmistry commented on #925
@hackiftekhar, can you just check the source code i have shared and, provide solution of this issue ?
It will be really helpful.

[2017-08-09 12:00] hackiftekhar commented on #925
Regarding the autoscroll and previous button pointing, there is indirect relationship I explained in my message you might have not read properly. So I would suggest you to understand the connection between autoscrolling and previous buttons.

[2017-08-09 12:02] hackiftekhar commented on #925
There is no solution for now @sw-tt-harishmistry, that's why I suggested 2 approaches. Looks like you might also haven't read the source code I suggested in same message.

[2017-08-09 12:35] hackiftekhar commented on #926
@sw-tt-sandipprajapati, @sw-tt-harishmistry I'm not sure why you guys are getting next/previous button issues with UITableViewController however it's working just fine in my demo app UITableViewController example.

[2017-08-09 12:36] sw-tt-harishmistry commented on #925
@hackiftekhar, thanks for your feedbacks

[2017-08-09 12:37] hackiftekhar commented on #713
@sw-tt-harishmistry @Otbivnoe question doesn't clear if he is having UIScrollView or UIView as superview configuration, so I assume that he is having UIView as superview and provided my answer with that context. However there is no solution for now if it's superview is kind of UIScrollView.

[2017-08-09 12:41] hackiftekhar commented on #924
This might be because your SCScrollView doesn't correctly calculating it's Content Height, if you see in logs then you'll find `contentSize: {320, 0}` which means your scrollView content have 0 height but it should be something else I assume.

Can you please try adding correct constraint in order to calculate scrollView contentSize properly? If you are dealing programmatically then can you please

[2017-08-09 12:43] hackiftekhar commented on #923
hmm, I'm not sure if it's related to the library, can you please try removing library and then try to reproduce the issue?

If issue has will not reproduce after removing library then let me know.

[2017-08-09 13:32] noordawod commented on #924
I don't use a UIScrollView.

[2017-08-09 13:53] ARGAMX commented on #924
The same problem.
This is the video how 'IQKeyboardManager', '4.0.10' works on iOS 10.3.3 iPhone 6S.
https://youtu.be/DXhhZOuM6YM

[2017-08-09 13:54] noordawod commented on #924
Since yesterday when I reported this, I already switched to my own solution. If you're interested in this, @ARGAMX, head over to this Gist:

https://gist.github.com/noordawod/24d32b2ce8363627ea73d7e5991009a0

[2017-08-09 14:05] krunalbhavsar commented on #917
I'm also facing same problem.
Please look into dear.

Beta 5 is launched 2 days ago and now there will be GMSeed release.

You are really doing a great job.

[2017-08-09 17:48] hackiftekhar commented on #924
@noordawod, you are having UIScrollView somewhere, logs clearly says that. Please check your view hierarchy once again. Yoo are having `SCScrollView` somewhere in hierarchy.

[2017-08-10 06:00] KevinMac123 opened #927 "Swift 4 Xcode 9 beta 3 giving erros"
Please provide support of swift 4. Currently it is giving 48 errors when build project with Xcode 9 beta 3.

[2017-08-10 06:17] noordawod commented on #924
Maybe I have. For the time being, though, I decided to just roll with my own solution which fits my needs perfectly. I may have had a scroll view somewhere, but that's history now. I don't use any now.

[2017-08-10 07:01] hackiftekhar commented on #924
Okay, great!

[2017-08-10 07:01] #924 closed

[2017-08-10 10:08] shengdayan commented on #906
same problem . xcode 9 beta 5

[2017-08-10 11:13] sweetdream0729 commented on #923
If I remove keyboard library, viewcontroller works for rotation.

[2017-08-10 13:42] SiarheiMisko commented on #914
same problem

[2017-08-11 04:21] ZClee128 opened #928 "textfiled遮挡问题"
在tableview 中键盘还是会挡住texfiled，不会上移

[2017-08-11 04:22] hackiftekhar commented on #928
Please use english

[2017-08-11 04:24] ZClee128 commented on #928
In tableview, the keyboard will block texfiled and will not move up

[2017-08-11 04:25] hackiftekhar commented on #928
Not sure why but it works in my demo. Can you please elaborate more?

[2017-08-11 04:27] ZClee128 commented on #928
Sometimes the tableview on the textfiled cannot move up, and the keyboard blocks textfiled

[2017-08-11 04:28] hackiftekhar commented on #928
Are you using UITableViewController?

[2017-08-11 05:07] ZClee128 commented on #928
NO，using UITableView ，add in UIViewController

[2017-08-11 06:30] ZClee128 commented on #928
hello，man？

[2017-08-12 07:01] thankmelater23 commented on #927
I'm getting the same thing, and for some reason, I tried reverting back to older versions, and I'm still getting errors.😡

[2017-08-13 08:53] ETHANAIR commented on #914
same problem

[2017-08-14 06:29] premkumarmsc commented on #914
Same problem. what happened?

[2017-08-14 17:44] AOrumbaev commented on #914
Same issue!
Using Swift, iOS 11 beta 5, Xcode 9 beta 5

[2017-08-14 19:33] douglasjunior commented on #844
[My library](https://github.com/douglasjunior/react-native-keyboard-manager/) implements IQKeyboardManager to react-native, just use:

[code]

[2017-08-14 19:33] douglasjunior commented on #658
[My library](https://github.com/douglasjunior/react-native-keyboard-manager/) implements IQKeyboardManager to react-native, just use:

[code]

[2017-08-14 20:21] Jaydeepvadalia opened #929 "Done button invisible."
i install IQKeyboardManager via pod. Done button is not showing up on each keyboard. that is invisible.

set IQKeyboardManager.shared().isEnabled = true at appDelegate.swift file

Here blow is my screen
![screen shot 2017-08-15 at 1 47 23 am](https://user-images.githubusercontent.com/13176109/29290011-3f1177bc-815c-11e7-93f9-5d7b5f65a40d.png)

[2017-08-15 09:32] askari01 commented on #914
iOS 11 beta 6 same issue presists

[2017-08-15 13:31] JaleelNazir commented on #914
I'm also face the issue. Its showing only the toolbar, no next & previous arrow  and no Done button

[2017-08-15 14:55] Blog404DE opened #930 "Compile error: Xcode 8.3.3 / iOS Target 8"
Hi,

i’ve just updated the your library via pod update and got some compile error:

            strongSelf.resignFirstResponderGesture = [[UITapGestureRecognizer alloc] initWithTarget:self action:@selector(tapRecognized:)];

After looking into IQKeyboardManager.h, the property seems really to be read-only:

[code]

I’ve configured the toolbar as followed:
[code]
Did somebody got the same problem?

[2017-08-16 02:57] wangdachui commented on #930
Yes, i got the same problem.

[2017-08-16 03:40] yyu1 commented on #868
Any update on this?

[2017-08-16 04:01] ZClee128 commented on #928
Can you solve my problem?

[2017-08-16 06:02] mekarpatx commented on #927
Did you use the automatic swift conversion tool?

[2017-08-16 08:47] thankmelater23 commented on #927
Yes im on swift 4

[2017-08-16 08:47] 90candy opened #931 "未做越界判断"
以下问题是通过在github上面直接下载的Demo，并非使用CocoaPods导入
1， IQKeyboardManager.h  的第187行的resignFirstResponderGesture为可读属性，但是在IQKeyboardManager.m 的第200行初始化时报错

2，IQKeyboardManager.m 的1876行
 如果siblings数组为零时，会导致程序崩溃（与环信同在的时候，在环信自定义UI的搜索框就会触发siblings为空数组）
  if (siblings[0] == textField) { 。。。} //这里空数组直接判断就炸了

[2017-08-16 09:23] mekarpatx commented on #927
You dont have to convert to swift4. Swift 3 and 4 can work in the same project.
I think problem is with the conversion tool. Dont use it until it gets better or iqkeyboardmanager releases a swift4 version. Hope this helps

[2017-08-16 10:36] yan2750 opened #932 "想设置某个页面禁用这个第三方库无法生效"
亲爱的开发人员：
我想在某些页面将你们这个库禁用了，但是用了文档中的方法都没有生效，请问是什么原因？
如果你们能解答我这个问题，我会灰常高兴的~~~
还有我的英文不太好，如果你们不看中文来信，请通知我~谢谢~

[2017-08-16 15:50] MaximusMcCann commented on #914
Same issue

[2017-08-17 13:18] Chr0nisch commented on #315
I got the same issue today in Xcode 9.0 beta 5 (9M202q) with IQKeyboardManager 4.0.11 integrated by cocoa pods . The next and previous buttons are on the view and could be used, but have the same color as the toolbar. Any solution for this problem?

[2017-08-17 13:36] arunpandiyanp commented on #500
self.view.window.windowLevel = UIWindowLevelStatusBar;

[2017-08-17 14:20] sudhakarvarma commented on #500
@arunpandiyanp thanks for the solution. I just added this line self.view.window.windowLevel = UIWindowLevelStatusBar; and I set StatusBar background colour to same as my navigation bar colour

[2017-08-17 16:14] jaymathew commented on #899
hey @mekarpatx  after doing what you posted is your done button showing?  I followed what you said and my done button is not showing.

[2017-08-17 16:21] mekarpatx commented on #899
@jaymathew no, i guess its a bug with the ios 11.
Thre are other issues regarding to done button problems but  there are no workaround that i'm aware of, yet.
I used these steps to get rid of the errors and make a succesful build so i can test
Best regards

[2017-08-17 19:21] KevinMac123 commented on #927
@mekarpatx  I haven't used conversion tool. As i am developing project from scratch.

[2017-08-17 19:31] #930 closed

[2017-08-17 19:31] hackiftekhar commented on #930
Can you guys try now?

[2017-08-17 19:33] hackiftekhar commented on #928
Not sure what might be the reason. Can you please check the demo app with table view examples and see if it works correctly?

[2017-08-17 19:37] hackiftekhar commented on #931
Issue 1 is fixed.

Issue 2 will never happen since if there is a textFieldView then siblings will also contain the textField, so there will be at least 1 siblings if textFieldView isn't nil, however I'll change that code with firstObject] method.

[2017-08-17 19:39] hackiftekhar commented on #932
Can you please check how it's working with project demo app? If it's working in demo then either you might be making some mistakes or you might have a very special hierarchy configuration.

[2017-08-18 09:19] Chr0nisch commented on #929
I got the same issue in Xcode 9.0 beta 5 (9M202q) with IQKeyboardManager 4.0.11 integrated by cocoa pods . The next, previous and done buttons are on the view and could be used, but have the same color as the toolbar in iOS11.

[2017-08-18 20:06] hackiftekhar commented on #913
You can turn on/off the suggestion bar from your iPhone Settings app. Do a quick research I hope you'll find the answer.

[2017-08-18 20:07] #913 closed

[2017-08-18 20:22] #918 closed

[2017-08-18 20:22] #906 closed

[2017-08-19 03:15] nlhdung opened #933 "Multilanguage for Done button"
Hi,
Thanks for your QKeyboardManager. I want to change "Done" button to my native language (Vietnamese), what should I change in your code/classes?

[2017-08-19 05:23] sudhakarvarma commented on #933
@nlhdung Just follow
#import "IQUIView+IQKeyboardToolbar.h"
in your viewDidLoad
[yourtextfield addRightButtonOnKeyboardWithText:@"LOGIN" target:self action:@selector(barButtonLoginAction:) titleText:@"Click Login to proceed"];

-(void)barButtonLoginAction:(id)sender{
//write your code after action
}

[2017-08-19 08:14] hackiftekhar commented on #933
@nlhdung there is a property in IQKeyboardManager class to provide done button title, you can use that one to make global changes.

[2017-08-19 08:14] #933 closed

[2017-08-19 11:23] arunnkumarp opened #934 "Task failed with exit code 65:"
Hi,

I am getting the error while updating the library using carthage update.

"Library/Caches/org.carthage.CarthageKit/DerivedData/IQKeyboardManager/v4.0.12/Build/Intermediates/IQKeyboardManager.build/Release-iphoneos/IQKeyboardManager.build/Objects-normal/armv7/IQKeyboardReturnKeyHandler.o IQKeyboardManager/IQKeyboardReturnKeyHandler.m normal armv7 objective-c com.apple.compilers.llvm.clang.1_0.

[2017-08-19 16:59] mnelso12 commented on #910
Same issue

[2017-08-20 00:51] mjmsmith opened #936 "array out of bounds error in IQKeyboardManagerSwift 4.0.12"
I have a view with two search bars and no text fields/views.

In `IQKeyboardManager.addToolbarIfRequired()`, `siblings` is set to an empty array:

`1950: if let siblings = responderViews() {`

The method later tries to get the first element of `siblings` and crashes:

`2073: if siblings[0] == textField {`

[2017-08-20 04:23] pcicp commented on #936
crash under objective-c version also

Fatal Exception: NSRangeException
0  CoreFoundation                 0x1828cafe0 __exceptionPreprocess
1  libobjc.A.dylib                0x18132c538 objc_exception_throw
2  CoreFoundation                 0x1827a9200 -[__NSArrayM removeObjectAtIndex:]
3  TakeTours                      0x1003176d4 -[IQKeyboardManager addToolbarIfRequired] (IQKeyboardManager.m:187

[2017-08-20 14:08] #934 closed

[2017-08-20 16:52] jlaws commented on #936
Also having this issue, its an easy fix if someone can send out a PR

if siblings.first == textField

Reverting to v4.0.11 for now which doesn't have the issue

[2017-08-21 07:04] #936 closed

[2017-08-21 07:13] #917 closed

[2017-08-21 07:13] #921 closed

[2017-08-21 07:13] #922 closed

[2017-08-21 07:14] hackiftekhar commented on #927
I convert our project to swift4 and pushed changes in swift4 branch, once we get the public release of Xcode then we'll push another CocoaPods version

[2017-08-21 07:14] #927 closed

[2017-08-21 07:14] #929 closed

[2017-08-21 07:15] hackiftekhar commented on #931
Issue2 is fixed now.

[2017-08-21 07:15] #931 closed

[2017-08-21 08:00] ashchan commented on #927
@hackiftekhar The recent `swift4` branch seems to have new errors on Xcode beta 5.

It's about `UILayoutPriority.RawValue`.

[code]

[2017-08-21 08:08] mgurnani commented on #936
Thanks for the quick fix!! Jut ran into this today myself.. It works with the updated change.

[2017-08-21 09:07] hackiftekhar commented on #927
I converted it using the beta 5, not sure why this happens to you. btw I used Xcode conversion tool to convert it.

[2017-08-21 09:30] ashchan commented on #927
@hackiftekhar Sorry but after migrating the main project to Swift 4 the error went away. The migration tool has some issue to build and convert automatically.

[2017-08-21 10:03] abiernacka1990 commented on #914
Bug still exists (version 4.0.12)

[2017-08-21 10:57] Jayxiang commented on #932
@yan2750 我用的方法 都可以呀  你把写的代码贴一下

[2017-08-21 15:43] basilmariano commented on #454
Hi,

Im also experiencing this issue. I tried in my real device and the issue is still there. Any advice?

[2017-08-21 18:18] AQadar commented on #524
hey dear how to fix this issue of next and previous button i have multiple views in each view their is one textbox for signUp page?

[2017-08-22 04:33] nhatlee commented on #9
@hackiftekhar have any solution for work around?

[2017-08-22 04:37] nhatlee commented on #9
@youbinbin go to `Build Phrases` -> `Link Binary With Libraries` then add `IQKeyboardManager.framework`. Then it's worked.

[2017-08-22 06:18] jaja-digitalspaceexplorer commented on #920
Does your textview covers the entire screen? If so, you can refer to this [Sample](https://github.com/hackiftekhar/IQKeyboardManager/blob/master/MANUAL%20MANAGEMENT.md#working-with-full-screen-uitextview)

[2017-08-22 08:27] PromiscuousYouth opened #937 "The seacrhBar problem on the navigationItem"
`UIView *titleView = [[UIView alloc] initWithFrame:CGRectMake(0, 0, 300, 30)];
    UISearchBar *searchBar = [[UISearchBar alloc] initWithFrame:titleView.bounds];
    searchBar.placeholder = @"Test";
    [titleView addSubview:searchBar];
    self.navigationItem.titleView = titleView;`

I'll crash in `IQKeyboardManager.m` 1876 line ,
What do I need to do?
Before that, need to set it to NO?
`[[IQKeyb

[2017-08-22 08:46] theHeroisBack commented on #920
thank you bro,but this sample is not working for me .

i creat a tableview with custom(use code, not xib)  UITableViewCell, so I put a YYTxetView in this  UITableViewCell, and I make the cell'height is auto changing with the YYTextView'text, I did it success. like this
![img_2325](https://user-images.githubusercontent.com/30762999/29556114-621451de-8757-11e7-8337-caaa8163ca1c.PNG)
![img_2326](http

[2017-08-22 09:10] ramanocs1145 opened #938 "Issue on UITapGestureRecognizer on IQKeyboardManager class version (4.0.12)"
After update my pods and compile it, I have faced this kind of issue on IQKeyBoardManager class.

It's happening on When I compile on Simulator iPhone 6 (10.3.1) version, XCode 8.3.3
How can it fixed ?

Kindly suggest me.

[2017-08-22 09:19] Tejas-narola opened #939 "Crash issue in addToolbarIfRequired method when there siblings count 0 and ViewController contains UISearchBar"

[2017-08-22 11:12] jobinsjohn commented on #939
The issue happens in my project also

[2017-08-22 11:39] hackiftekhar commented on #938
Just pushed v4.0.13 with some bug fixes including this.

[2017-08-22 11:39] #938 closed

[2017-08-22 11:39] hackiftekhar commented on #939
Just pushed v4.0.13 with some bug fixes including this

[2017-08-22 11:39] #939 closed

[2017-08-22 19:47] hackiftekhar commented on #937
Can you please check with v4.0.13 now if this fix the issue? If it still doesn't fix the issue then probably you should disabled the library with the code you provided.

[2017-08-23 02:15] PromiscuousYouth commented on #937
Thank you, v4.0.13 did fix the issue.

[2017-08-23 05:17] hackiftekhar commented on #454
Then can you please share demo project so that I can take a look?

[2017-08-23 06:09] bestv2 opened #940 "Toolbar disappear after typing"
The top toolbar disappear after i type any thing in react native.
![image](https://user-images.githubusercontent.com/443689/29601157-9ce7e0cc-880c-11e7-8e0e-dc0ba1c2c7df.png)
after i type '1' the toolbar disappear
![image](https://user-images.githubusercontent.com/443689/29601177-abfd97a0-880c-11e7-8bc3-50d11e281d56.png)

[2017-08-23 06:24] syon321 opened #941 "Toolbar Issue"
Done button is visible but another up and down buttons are not visible. I am using Xcode 8.3.3 and cocoapods. It's visible when working on new demo and not working on project.

[2017-08-23 06:46] prasenraj opened #942 "fatal error: attempt to bridge an implicitly unwrapped optional containing nil"
public var shouldHideTitle: Bool? {
        get {
            let aValue: AnyObject? = objc_getAssociatedObject(self, &kIQShouldHideTitle) as AnyObject

            if aValue == nil {
                return false
            } else {
                return aValue as? Bool
            }
        }

i am getting error         let aValue: AnyObject? = objc_getAssociatedObject(self, &kIQShouldHideTitle

[2017-08-23 09:27] whisper-bye commented on #937
It has been fixed, but not work any more

[code]

[2017-08-23 14:02] NikKovIos commented on #93
Same issue still exists.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/16647690/29619827-c6699784-8824-11e7-97b7-a095bd622b91.gif)

[2017-08-24 05:26] MsXMZ opened #943 "IQKeyboardManager leads to a memory leaks"
xcode version 8.3.2, i use instruments to check,there is a leak on  file <IQTitleBarButtonItem.m> ,
leaks on the define  IQ_IS_IOS11_OR_GREATER,i don't know why

[2017-08-24 06:42] hackiftekhar commented on #943
Thanks for the information, I'll try to take a look what may be wrong.

[2017-08-24 06:44] hackiftekhar commented on #940
Are you changing the inputAccessoryView when typing?

[2017-08-24 09:10] bestv2 commented on #940
I did nothing,just use React-native's InputItem

[2017-08-24 09:14] BlessNeo opened #944 "iOS11 doesn't work well, TooBar dismiss"

[2017-08-24 09:30] #944 closed

[2017-08-24 09:32] BlessNeo commented on #944
#941

[2017-08-24 17:58] cs-joao-souza commented on #909
Same issue

[2017-08-24 19:27] hackiftekhar commented on #940
Sorry since I don't have any experience with react-native so I'm unable to help you on this. Can you take help from any react guy and point out the error, if it's due to my lubrary I would be happy to fix it.

[2017-08-25 07:44] iexercise commented on #750
I have encountered such a problem, the first load will appear layout problems, html TextField was hide by toolbar

[2017-08-25 20:09] cs-joao-souza opened #945 "Avoid inner scrollView to scroll"
Hi,

I have an inner UICollectionView into a inner UIScrollView and the cells inside de CollectionView have textFields. I override the arrows actions in toolbar to have a customized navigation into my textsFields. But when i click in one of those arrows, the content inside my UICollectionView moves up and i have know ideia why.

Can you know how can i fix it? Actually i want to avoid my inner UICo

[2017-08-26 15:51] hackiftekhar commented on #750
The library doesn't effect any toolbars with WebViews since they are not UITextField. It's handled by webview itself.

[2017-08-27 18:41] hackiftekhar commented on #945
There is no direct way. However you can set scrollEnabled=NO to not scroll your UICollectionView.

[2017-08-27 19:53] cs-joao-souza commented on #945
But i need to scoll this collection horizontally. So it is not possible?

[2017-08-28 01:14] bestv2 commented on #940
@hackiftekhar  thanks for your reply, i will close the issue and then try to find the reason. if it's due to your library,i will reopen it with detail description.

[2017-08-28 01:14] #940 closed

[2017-08-28 01:51] iexercise commented on #750
But in the webview page of the inputview this library file into effect,I tried in the demo I used the wkwebview

[2017-08-28 01:56] iexercise commented on #750
Open the google home page and enter the toolbar where the library file will appear

[2017-08-28 03:43] AllenShan opened #946 "textfield dosn't move"
Hello~
when i do appDelegate.window?.addSubview(av)
the textfield not move

<img width="686" alt="2017-08-28 11 43 12" src="https://user-images.githubusercontent.com/12624936/29758435-218879fe-8be6-11e7-905d-f52521b0d9ca.png">

[2017-08-28 04:23] hackiftekhar commented on #946
Library does not support textField directly added to UIWindow.

[2017-08-28 04:26] hackiftekhar commented on #945
Then there is a problem. In this case I would suggest you to disable library and implement your own solution on that particular ViewControllwr.

[2017-08-28 07:31] arjavlad commented on #926
In iOS 11 (15A5362a) working fine
in iOS 10.3.3  App Crashes at
            if (siblings[0] == textField)
File: IQKeyboardManager.m
line: 1876
Method: addToolbarIfRequired

*** Terminating app due to uncaught exception 'NSRangeException', reason: '*** -[__NSArrayM objectAtIndex:]: index 0 beyond bounds for empty array'

[2017-08-28 18:20] hackiftekhar commented on #926
@arjavlad it's already fixed with latest version.

[2017-08-29 04:58] arjavlad commented on #926
Yeah, It's working.

[2017-08-29 10:05] #946 closed

[2017-08-29 10:07] Jayxiang commented on #920
@theHeroisBack  你试试reloadLayoutIfNeeded 可以吗

[2017-08-29 19:22] MaximusMcCann opened #947 "Placeholder text floating in upper left hand corner of screen..."
In a presented `viewController`, I select the `textField` and the keyboard & toolbar pops up, as expected, with the `Done` btn, but the placeholder text appears in the upper left hand corner of the entire screen.  This only happens on an actual Device, the simulator displays as expected :(.
This view hides the status bar, fwiw.
ios 11, iPhone 6
I believe this is only due to TestFlight builds that

[2017-08-29 20:29] embassem opened #948 "IQKeyboardManager cause app to Crash with GMSAutocompleteViewController"
i use    - IQKeyboardManager (4.0.12) with . Google maps and Google places and   GooglePlacePicker

the app start to crash when present  GMSAutocompleteViewController
after debug  i found that it was a IQKeyboardManager which crash the app
here is a call stack :
`Client[16513:1632140] *** Terminating app due
 to uncaught exception 'NSRangeException', reason: '*** -[__NSArrayM
 objectAtIndex:]: ind

[2017-08-30 20:37] cody1024d opened #949 "IQKeyboardManager interaction with UIKeyInput Protocol?"
I'm looking to implement a custom UIView that will open the keyboard, and respond to the input (in my case, it's going to be a pin-entry view).

Was just curious if IQKeyboardManager interacts with this protocol in anyway?  I seemingly cannot get the UIKeyInput protocol to function as the documentation says it does.

[2017-08-31 10:27] hackiftekhar commented on #949
Because your custom view doesn't trigger didBeginEditing, didEngEditing callbacks. and library depends on those notifications.

[2017-08-31 10:27] hackiftekhar commented on #948
This probably already fixed with the latest version.

[2017-08-31 10:28] hackiftekhar commented on #947
Can you please send me a demo project so that I can look what might be the cause?

[2017-08-31 12:11] Emailrus opened #950 "4.0.13 broke backwards compatibility"
`- (void)setEnablePrevious:(BOOL)isPreviousEnabled next:(BOOL)isNextEnabled;`

Used to be a public method, that is no longer there and semantic versioning states states, that "PATCH version when you make backwards-compatible bug fixes".
 I would suggest marking that method as deprecated until 5.0.0 is released

[2017-08-31 12:34] cody1024d commented on #949
@hackiftekhar Is there some way I can trigger these call backs?

 Or would it be better to perhaps disable IQKeyboardManager for the specific view controller that has the custom view?  And manage the keyboard manually, and then turn it back on after?

[2017-08-31 13:06] cody1024d commented on #949
@hackiftekhar  I have created a demo project, that actually has UIKeyInput working with a very simple view.  It must be something else within my application causing these issues.  Closing this issue.

[2017-08-31 20:14] hackiftekhar commented on #950
There is another way now to do this something like `keyboardToolbar.previousBarButton.enabled=true`

[2017-08-31 20:14] hackiftekhar commented on #950
You can find this in project demo.

[2017-09-01 04:50] pateljinal1844 opened #952 "iOS 11 Beta Animation issue"
Helllo,

I have installed iOS 11 beta in my iphone. But when i make any textfiled to becomefirstResponder, it make scrollview to scroll down to screen instead of setting it's proper content offset.

[2017-09-01 06:27] jiazil commented on #494
how can i insert this function to react native textview?

[2017-09-01 07:07] Emailrus commented on #950
The issue is not about how can someone disable buttons, it's about how libraries are distributed via Cocoapods.
See here https://guides.cocoapods.org/making/making-a-cocoapod.html#library-versioning

Basically what happened is :
We used to have  `pod 'IQKeyboardManager', '~> 4.0'` in our project, so we could receive all fixes and non breaking changes from you up until 5.0.0 (excluding). After pod

[2017-09-01 13:06] douglasjunior commented on #940
@hackiftekhar Have you seen this problem in any previous situation? We're discussing this here https://github.com/douglasjunior/react-native-keyboard-manager/issues/3

Something has changed in the latest versions of React Native and is causing this problem.

Every help is welcome.

[2017-09-01 13:10] douglasjunior commented on #940
This is the Log displayed when start typing.

[code]

[2017-09-01 14:26] jameswwwebster commented on #828
This is something we'd find useful too.

[2017-09-01 14:53] cs-joao-souza opened #953 "Customize Toolbar"
I'm using this configurations

` IQKeyboardManager.sharedManager().overrideKeyboardAppearance = true
    IQKeyboardManager.sharedManager().keyboardAppearance = .dark
    IQKeyboardManager.sharedManager().keyboardDistanceFromTextField = 50
    IQKeyboardManager.sharedManager().toolbarDoneBarButtonItemText = "OK"
    IQKeyboardManager.sharedManager().shouldToolbarUsesTextFieldTintColor = false
    I

[2017-09-01 16:39] douglasjunior commented on #940
Thanks to @NicholasBertazzon, we found that the problem came from the commit https://github.com/facebook/react-native/commit/2b1795c5add2e1442878a884d6dcd8f0ec5c1572

Like @hackiftekhar has suggested in your comment, the `inputAccessoryView` is changed.

Is there anything we can do?

[2017-09-03 13:09] hackiftekhar commented on #940
Okay, so it looks to be due to other libraries

[2017-09-03 13:11] hackiftekhar commented on #953
I'm not sure why it's not working but I believe this code should be enough to add custom actions

[2017-09-03 13:13] hackiftekhar commented on #950
Ahh, ok I got you. Will keep in my mind next time.

[2017-09-03 15:59] douglasjunior commented on #940
Yes, React Native provides its own TextInput implementation.

I'll try to fix and send a Pull Request to React Native.

[2017-09-03 16:21] cs-joao-souza commented on #953
When you use the method addPreviousNextDoneOnKeyboardWithTarget you create a new IQTabbar and when its done the general configuration isnt used. So i need to add the new actions and intercept after this method using inputAccessoryView and change what i need.

I think that the general configuration you must being taken. What do you say?

[2017-09-04 05:09] pateljinal1844 commented on #952
Here i am attaching screenshot for above issue.
Pl check and suggest any solution.

![img_2458](https://user-images.githubusercontent.com/31406498/30012412-2b2b0ec8-915d-11e7-8a8d-ce3993ae87a4.PNG)

[2017-09-04 09:14] fss1994 commented on #952
i have the same problem as u

[2017-09-04 09:16] sudhakar-varma commented on #952
once try becomefirstResponder code in -(void)viewWillAppear:(BOOL)animated

[2017-09-04 09:34] fss1994 commented on #952
`once try becomefirstResponder code in -(void)viewWillAppear:(BOOL)animated`
it can not resolve my problem

[2017-09-04 09:38] dethell opened #954 "Crash on Done button tap"
I know there are previous, older issues about this, but I'm having this issue with the latest source code and no changes. On certain devices (no obvious common theme because it happens on iPhone 6, iPad Mini 1, iPhone 7, etc) the app crashes when you press the Done button. It is happening on line 2003, which is the barButton.invocation call in this function:

[code]
Is there any solution to this?

[2017-09-04 09:44] AalokParikh commented on #927
I got compile time errors for

**IQKeyboardManagerSwift/Categories/IQUIWindow+Hierarchy.swift :: Declarations in extensions cannot override yet**

**IQKeyboardManagerSwift/Categories/IQUIWindow+Hierarchy.swift :: Ambiguous use of 'topMostController()'**

For Xcode 9 beta 6

How to solve this issue?
![screen shot 2017-09-04 at 3 13 26 pm](https://user-images.githubusercontent.com/1628260/30021060-a

[2017-09-04 09:49] linbx08 commented on #952
i have the same issue,  hope  settled the question. thanks a lot

[2017-09-04 09:59] linbx08 commented on #929
Hi, were you able to solve this issue?

[2017-09-04 12:37] pateljinal1844 commented on #952
once try becomefirstResponder code in -(void)viewWillAppear:(BOOL)animated

I cant do this.... as i need to set becomeFirstResponder() on save click of button.
So if possible suggest any other solution.

[2017-09-05 07:07] hackiftekhar commented on #929
It's already fixed with latest version.

[2017-09-05 07:09] hackiftekhar commented on #954
It does, actually it dismiss the textField.

[2017-09-05 07:10] hackiftekhar commented on #953
You can create your own UIToolbar and add your own bar buttons and add to your toolbar and you can then assign your textfield.inputAccessoryView = toolbar. Hope this will work.

[2017-09-05 09:29] fss1994 commented on #952
i  have settled the problem, my code can not scroll because i set the tableView.scrollEnable = NO, in iOS 11, it can be someThing wrong(in iOS 10 , it's ok), and i choose  delete the "tableView.scrollEnable = NO", and it works. maybe my problem is not same as yours, but it works for me.  i also found in iOS 11, the DONE button in toolBar above keyboard is hidden, the i found my version is '4.0.10'

[2017-09-05 09:45] linbx08 commented on #952
thanks a lot. in the new version `4.0.13` i have settled the problem ,the DONE button is show appear again,  thank you very much

[2017-09-05 09:47] linbx08 commented on #929
Ah Fantastic!  in the new version `4.0.13` i have settled the problem, thank you very much

[2017-09-05 09:52] gopaldevra commented on #177
Thanks @hackiftekhar . It is very cool utility.
Could you please tell me how to hide the done button only, not the previous and next button.

[2017-09-05 12:27] tamutti commented on #806
This isn't fixed. Just updated to latest and this message still appears for IQbarButtonItem.swift and IQToolbar.swift.

[2017-09-05 12:29] tamutti opened #955 "Ref to 806 - initialize in objective-c"
This hasn't been completely fixed. Just updated to latest and this message still appears for IQbarButtonItem.swift and IQToolbar.swift for swift 3.1 on xcode 8.

IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQToolbar/IQBarButtonItem.swift:29:30: Method 'initialize()' defines Objective-C class method 'initialize', which is not guaranteed to be invoked by Swift and will be disallowed in future vers

[2017-09-05 13:27] hackiftekhar commented on #955
Which version of library you are using?

[2017-09-05 13:33] tamutti commented on #955
Bundle version is 4.0.7, otherwise it is the primary grabbed by way of pod without a version specified (pod ‘IQKeyboardManagerSwift’). Grabbed this less than 2 weeks ago.

[2017-09-05 18:20] hackiftekhar commented on #955
The latest version doesn't have this issue and it has been fixed already.

[2017-09-05 18:25] tamutti commented on #955
Running the pod like so

pod ‘IQKeyboardManagerSwift’,'4.0.10'

resolves the problems. Running it without the version as it is also specified in the instructions as an "or" results in not the latest but 4.0.7. Not sure were the disconnect is.

[2017-09-05 18:56] hackiftekhar commented on #955
run pod update then

[2017-09-06 03:22] Dingo203 commented on #767
I also have the same problem, and I config the tableView.contentInset when begin active search to fix this problem, but it will present a flop animation which I don't expect.

[2017-09-06 05:29] pateljinal1844 commented on #952
In my demo, i did not false scrollenable property. So this suggestion is not useful to me.

[2017-09-06 09:28] trickpirata commented on #863
Any updates on this?

[2017-09-06 12:28] winterWD opened #956 "ToolBar issues"
Done button is visible but another up and down buttons are not visible. I am using Xcode 8.3.3, swift and carthage. IQKeyboardManager at "v4.0.13"
![wx20170906-144255](https://user-images.githubusercontent.com/14071671/30111779-98303d32-9341-11e7-9a8e-ee28313f4247.png)

[2017-09-06 18:01] renan-neb commented on #910
Same issue as well. iOS 10, Xcode 8

[2017-09-06 20:17] ninoguba opened #957 "Can this also work not to hide UIButtons under the keyboard?"
For example, my view is the usual login screen with the customary email and password text fields and the login button.  This works for making sure the email and password fields are always above the keyboard when shown.   Is there a way to make sure all fields and the button appear above the keyboard?

[2017-09-07 07:01] liunianhuaguoyanxi opened #958 "The latest version has this issue"
about objective-c in IQKeyboardManager.m ,if siblings.count ==0 it will crash
-(void)addToolbarIfRequired
{
    CFTimeInterval startTime = CACurrentMediaTime();
    [self showLog:[NSString stringWithFormat:@"****** %@ started ******",NSStringFromSelector(_cmd)]];

    //	Getting all the sibling textFields.
    NSArray *siblings = [self responderViews];

   // if siblings.count =0 it will crash

[2017-09-07 07:21] aurora14 commented on #927
@hackiftekhar I'm encountering the same error as @AalokParikh

After some research, it seems like it's a more strict enforcement of the following rule by the compiler:
"Extensions can add new functionality to a type, but they cannot override existing functionality."
https://developer.apple.com/library/content/documentation/Swift/Conceptual/Swift_Programming_Language/Extensions.html

Some of the su

[2017-09-07 08:59] kikogo commented on #947
I've the same issue:
![img_1767](https://user-images.githubusercontent.com/705778/30154870-817f61ba-93bb-11e7-8da9-0e4a3deac850.jpg)

[2017-09-07 09:03] hieuphq commented on #954
I got the same issue. I used Carthage to add IQKeyboardManager to my project. I got an error at:

IQKeyboardManager.m:1999

I attached my error log file:

[com.dwarvesf.griffinsurvey_issue_1_crash_40ec32f3655c4c7991d778446ba3f81e_5d36fbeb93a911e7b32456847afe9799_0_v2.txt](https://github.com/hackiftekhar/IQKeyboardManager/files/1284075/com.dwarvesf.griffinsurvey_issue_1_crash_40ec32f3655c4c7991d778

[2017-09-07 09:47] AnilkumarRabhasa opened #960 "Showing wrong Arrow for first textfield after clicking on textfield"
First thanks to the great Framework, its working great. But, I have login form, in that Email and Password textfields.
Issue : If I press on first textfield, that arrow showing Up arrow mark instead of Down arrow mark.
How to fix this?

PFA.

![screen shot 2017-09-07 at 3 16 21 pm](https://user-images.githubusercontent.com/8393997/30157296-8bed098a-93df-11e7-86d2-d587c2f98292.png)

[2017-09-07 10:11] AnilkumarRabhasa commented on #960
I fixed by placing the textfields by order, its working fine.

[2017-09-07 10:28] hieuphq commented on #954
I think I found out something wrong. I don't follow this step:

[code]

I used swift to build my app. So I only added  IQKeyboardManagerSwift.framework. Finally, I worked.

[2017-09-08 08:07] perlasivakrishna commented on #918
could u please give me an idea for alternative to "isAskingCanBecomeFirstResponder" ?

[2017-09-08 12:38] mohsinalimat opened #962 "not working in iOS11"
Hello,

When i set textfield as a secure password field than password autofill quicktype bar in iOS11

Keyboard with password autofill quicktype bar cover my textfield...

[2017-09-10 02:29] zhjuncai commented on #663
Looks like IQKeyboardManager doesn't handle popover case

[code]

[2017-09-10 06:57] #960 closed

[2017-09-10 06:59] hackiftekhar commented on #957
You can set custom distance from textField as your desired value using `keyboardDistanceFromTextField` property defined in `IQUITextFieldView+Additions.h` it will make a workaround

[2017-09-10 07:01] hackiftekhar commented on #956
Your both textfields aren't on the same view that's why next/prev button doesn't display. You have two solutions
1) Keep both textField on the same view.
2) Use IQPreviousNextView as the container view of both of your textView content view. See the demo project how you should place IQPreviousNextView.

[2017-09-10 19:45] w-i-n-s commented on #144
@dipkasyap Try one strange thing coz it did help me. For some reason in my case keyboard will hide on next/previous.

    - (void)viewDidLayoutSubviews {
        if (!self.<scrollView/tableView>.scrollEnabled) {
            return;
        }

        [super viewDidLayoutSubviews];
    }

![View hierarchy](https://i.imgur.com/HY21die.png)

[2017-09-11 01:52] donaldyang commented on #962
I found it don't work on iOS11 too.But it can pack up the keyboard when i touch right top position where have not button.

[2017-09-11 20:00] MaximusMcCann commented on #947
Only on iOS 11 device using TestFlight.  Building on the Xcode beta shows everything working correctly.
![img_0035](https://user-images.githubusercontent.com/1643285/30294224-f6c88e1c-9701-11e7-8d85-ea0899aeb0f5.jpg)

[2017-09-12 03:09] chenhuaizhe commented on #947
run in Xcode 8 will case this problem.

[2017-09-12 03:09] chenhuaizhe commented on #947
run in Xcode 8 will case this problem.

[2017-09-12 03:12] chenhuaizhe commented on #947
run in Xcode 8 will case this problem.</br>But in Xcode 9 it will be OK .</br>Mybe you should set like below:</br>```IQKeyboardManager*  iqkeyBoard=[IQKeyboardManager sharedManager];iqkeyBoard.shouldShowToolbarPlaceholder=NO;```

[2017-09-12 05:54] okaris commented on #910
Can confirm iOS11 Beta 10

[2017-09-13 03:26] winterWD commented on #956
ah, thank you very much, I got it.

[2017-09-13 03:26] #956 closed

[2017-09-13 08:53] pageone123 opened #963 "In iOS11 test no problem, but submitted to the App Store after the problem"
placeHolderLabel position went to the (0,0) position, and hope that you can see me after the big God to see, our online products there is such a problem and hope that developers can repair loopholes as soon as possible, be grateful!
[picture](http://od2isuzb1.bkt.clouddn.com/WechatIMG116.png)

[2017-09-13 09:16] pageone123 commented on #947
Did you solve this problem?

[2017-09-13 15:10] Yetispapa opened #964 "Crash on UITextField enter"
I updated the newest IQKeyboardManager with carthage:

`github "hackiftekhar/IQKeyboardManager"`

When I enter a UITextField with a tap gesture I get the EXC_BAD_ACCESS error on the following line:

[code]

The only thing which I call from IQKeyboardManager is the following line:

`IQKeyboardManager.sharedManager().enable = true`

Can someone give me any advie here?

[2017-09-13 15:43] leesherwood opened #965 "Ignorable UIScrollView classes for nested ScrollViews"
If you have your text field inside a UIScrollView that is not the UIScrollView that you want to adjust, this can cause problems.

In my own specific instance, My TextView was embedded in a UIScrollView for auto-growing (I used [this library](https://github.com/muukii/NextGrowingTextView)). This meant that IQKeyboardManager was detecting the TextField wrapper that library uses, instead of the main

[2017-09-13 18:57] navisingh commented on #709
It is unclear what legacy users are supposed to do when migrating from 4,0.9 to 4.0.13 w.r.t isAskingCanBecomeFirstResponder.  I would really appreciate you explaining the above.

[2017-09-13 19:40] Adelmaer commented on #910
Same iOS 11

[2017-09-13 20:36] JenkinDU commented on #848
@pardypanda I remove the connection of IQLayoutGuideConstraint in the storyboard, it's worked. so if the following guide suitable for the ios11? @hackiftekhar
https://github.com/hackiftekhar/IQKeyboardManager/blob/master/MANUAL%20MANAGEMENT.md#working-with-toplayoutguide-and-bottomlayoutguide

[2017-09-13 21:48] Adelmaer opened #966 "How to install IQKeyboardManager on iOS 11 with Swift 4?"
Hello, I've been using IQKeyboardManager for iOS 10.
It stopped working correctly after the update of my app to iOS 11 and migrating to Swift 4.
Can you please tell me, is there any version that I can install via CocoaPods that supports Swift 4?
Or maybe you can provide a workaround?

[2017-09-14 03:46] dipkasyap commented on #144
@w-i-n-s  Thanks i will try it out !

[2017-09-14 03:59] lawgimenez opened #967 "Not working on iOS 11"
This library is not working properly anymore on iOS 11, completely removed it and used other solutions on StackOverflow.

[2017-09-14 05:00] sryze commented on #909
I have the same problem with IQKeyboardManager 4.0.3 on iOS 11 GM - half of my navigation bar goest out of screen when keyboard opens, looks pretty ugly:

![screen shot 2017-09-14 at 10 59 38](https://user-images.githubusercontent.com/4525736/30412787-da26e402-993b-11e7-8a92-c6cb00b7fb15.png)

[2017-09-14 05:13] pateljinal1844 commented on #952
Anyone found any solution?

[2017-09-14 09:40] chenhuaizhe commented on #947
I just hide the  ToolbarPlaceholder .
Like this: iqkeyBoard.shouldShowToolbarPlaceholder=NO;

[2017-09-14 09:53] Adelmaer commented on #967
@lawgimenez can't you recommend any similar libraries?

[2017-09-15 02:08] linbx08 commented on #967
The problem with this?

[2017-09-15 10:15] hackiftekhar commented on #709
You should just remove validation of isAskingCanBecomeFirstResponder. it will work fine since textfield delegate methods will no longer called multiple times.

[2017-09-15 10:16] hackiftekhar commented on #966
There is no CocoaPods version which support Swift4 for now, but will be pushing Swift4 version soon. For now you might try using swift4 branch.

[2017-09-15 12:13] jimmyWJJ commented on #964
我也有相同的问题,希望能解决

[2017-09-17 15:06] gb-6k-house commented on #964
v4.0.13 did fix the issue.

[2017-09-18 04:19] #964 closed

[2017-09-18 05:17] YurchukV opened #968 "Not working on iOS 11"
The inscription is not displayed correctly,
when using pod 'IQKeyboardManagerSwift', '4.0.11' there is no such error![img_0fb8944e0ff1-1](https://user-images.githubusercontent.com/6242240/30529777-e8f71144-9c62-11e7-9b00-500890577d7d.jpeg)

[2017-09-19 12:33] Bharath-MallowTech opened #969 "Issue in iOS 11 (running from XCode 9)"
In Keyboard toolbar the Done button is not appearing. Reference image attached below,

![image](https://user-images.githubusercontent.com/16458195/30592538-cd6a9d62-9d64-11e7-9cb1-5ea3fbf860e3.png)

[2017-09-19 17:19] alexwillingham commented on #966
I've got some errors in Xcode 9 GM Seed with the Swift4 branch.  Looks like a tiny fix.  Working on a PR.

[2017-09-19 17:33] alexwillingham commented on #966
https://github.com/hackiftekhar/IQKeyboardManager/pull/970

[2017-09-20 03:03] Baiyongyu commented on #969
I also appeared the same problem, please repair.

[2017-09-20 06:44] fanyuecheng911006 commented on #969
update to 4.0.13

[2017-09-20 07:05] sudhakar-varma commented on #968
same issue.. this issue is with latest version.. '4.0.12' works fine

[2017-09-20 07:16] niting007 commented on #969
for 4.0.13 version getting following error
module compiled with Swift 3.1 cannot be imported in Swift 3.2: /Users/nitingaikwad/Library/Developer/Xcode/DerivedData/BDK-dwzwydsgdjfosobicotneskqxttq/Build/Products/Debug-iphoneos/IQKeyboardManagerSwift/IQKeyboardManagerSwift.framework/Modules/IQKeyboardManagerSwift.swiftmodule/arm64.swiftmodule

[2017-09-20 09:20] asd8855 commented on #969
I also appeared the same problem, 4.0.13

[2017-09-20 09:30] wutao66 commented on #969
me too

[2017-09-20 09:46] a714857512 commented on #969
me too

[2017-09-20 10:20] james02300 commented on #969
me too

[2017-09-20 10:46] monishpainter commented on #969
Did you find solution ?

[2017-09-20 10:48] BalintDezso commented on #966
@alexwillingham Even with the fix you have I still get the error. Any idea when the swift 4 version will be ready @hackiftekhar?

[2017-09-20 10:57] eviltofu commented on #969
For the "compiled with Swift 3.1 cannot import to Swift 3.2" error, have you tried cleaning and recompiling?

[2017-09-20 10:58] arekotto commented on #969
me too

[2017-09-20 11:04] monishpainter commented on #315
Any updates?

[2017-09-20 11:36] luchaoqun123 commented on #969
me too

[2017-09-20 11:51] ahmedraad commented on #969
me too

[2017-09-20 11:51] DevZaid commented on #969
me too

[2017-09-20 12:09] kumararvind commented on #969
me too facing same issue

[2017-09-20 12:57] Shahbaz-Akram commented on #969
facing same issue

[2017-09-20 12:58] Shahbaz-Akram commented on #969
any one find solution?

[2017-09-20 13:06] alexwillingham commented on #966
Strange.  Did you unlock the file and make the change manually yourself, or switch to my branch in cocoapods?  If you switched to my branch with cocoapods, `pod install` may have succeeded without downloading my code due to caching.  Would try clearing cache, https://gist.github.com/mbinna/4202236#gistcomment-1814665

[2017-09-20 13:16] kumararvind commented on #969
Incredible! in the new version 4.0.13 the problem has be solved, thank you very much

[2017-09-20 13:18] kumararvind commented on #967
Incredible! in the new version 4.0.13 the problem has be solved, thank you very much

[2017-09-20 13:46] Shahbaz-Akram commented on #969
None of your spec sources contain a spec satisfying the dependency: `IQKeyboardManagerSwift (~> 4.0.13)`.

[2017-09-20 13:46] uddinr opened #972 "Incorrect Scrolling on iOS 11"
on ios 11 the scrolling for the attached example is incorrect, the navigation bar ends up off the top of the screen, once the keyboard is dismissed a big gap is left at the top of the screen between the image view and the navigation controller

i am using IQKeyboardManagerSwift 4.0.13 installed via cocoapods

Storyboard View

<img width="341" alt="screen shot 2017-09-20 at 14 42 26" src="https://u

[2017-09-20 13:50] kumararvind commented on #969
I just download the sourcecode version 4.0.13 and copy the IQKeyboardManagerSwift folder in my project and now it works charm.

[2017-09-20 13:54] niting007 commented on #969
After downloading the final version of xcode its working like charm but not working on GM Seed 9 version

[2017-09-20 15:44] meismyles commented on #972
Having a very similar issue. Hopefully they can implement a fix quickly.

[2017-09-20 17:55] JohnWangDev commented on #972
I have this issue too.

[2017-09-20 18:56] Raphzz commented on #972
Having the same problem

[2017-09-21 00:54] ssj1314 commented on #972
Having the same problem

[2017-09-21 02:23] GouWeiBaCao commented on #969
me too ,   the done button was hidden ,other is ok in toolbar ,when the done button is selected it appears,  xcode9  ios 11 pod 4.0.13

[2017-09-21 03:18] Xianyus commented on #972
The latest version of the same will appear the same problem

[2017-09-21 03:19] Xianyus commented on #972
The latest version will have the same problem

[2017-09-21 03:36] smilelifu opened #973 "My appearance, following the upgrade, iOS11, xcoe9, toobar, the button on both sides disappeared"
![Uploading BF24D0144F3C7628F2620B993CD2EEB8.png…]()

# #969
![Uploading BF24D0144F3C7628F2620B993CD2EEB8.png…]()
![Uploading BF24D0144F3C7628F2620B993CD2EEB8.png…]()

[2017-09-21 03:39] smilelifu opened #974 "My appearance, following the upgrade, iOS11, xcoe9, toobar, the button on both sides disappeared"
![default](https://user-images.githubusercontent.com/29700174/30677922-4d2fe0cc-9ec1-11e7-957c-d0559a0c6f4d.png)

[2017-09-21 05:07] chengsam commented on #969
#914

[2017-09-21 05:46] 643824979 opened #975 "打开调试每次都会被断点到这里"
warning: could not execute support code to read Objective-C class data in the process. This may reduce the quality of type information available.
![ad578370-ddbb-4ebd-9351-1a997aa35cc5](https://user-images.githubusercontent.com/7730311/30680590-24afbc2c-9e66-11e7-9082-3d45452e5685.png)

[2017-09-21 05:51] CDYeah commented on #972
Having the same problem

[2017-09-21 06:48] Shahbaz-Akram commented on #914
Don't know why you close this issue i seems this problem in 4.0.13

[2017-09-21 06:48] Shahbaz-Akram commented on #972
same problem

[2017-09-21 07:24] qiuseruxin opened #976 "Issues IQKeyboardManager 4.0.13 iOS11 Xcode9"
When I click on the green button to submit the data
 [self. tableview  reloadData]；
problem  GIF：

![untitled1](https://user-images.githubusercontent.com/19419747/30684070-5f9efcb8-9ee2-11e7-9029-ea3c88e026ed.gif)

When the keyboard disappears, the view moves with an exception It's normal to re-enter the viewcontroller

[2017-09-21 07:34] heavenbird2016 commented on #974
Me too.

[2017-09-21 07:53] kierobinson1 commented on #972
I'm having the same problem too.

[2017-09-21 07:54] daiguayuzhutou commented on #974
pod update, The issue has been resolved.

[2017-09-21 08:28] chengsam commented on #914
Problem still exists in 4.0.13

[2017-09-21 08:35] smilelifu commented on #974
Thank you

[2017-09-21 09:11] liuxz656 commented on #974
the newest version is 4.0.11?

[2017-09-21 09:13] liuxz656 commented on #974
me too.

[2017-09-21 10:28] zeeshansuleman opened #977 "Not working in ios 11 . Done button goes out of screen . (issue #914 reopened)"

[2017-09-21 10:39] ETHANAIR commented on #975
same problem in iOS 11

[2017-09-21 10:41] ETHANAIR commented on #976
same problem in iOS 11
but I think you can try to set

[2017-09-21 11:10] liuxz656 commented on #977
me too .. OC?

[2017-09-21 11:17] liuxz656 opened #978 "Not working in iOS11.0 I can not change the DoneButton's tintColor, default is white."

[2017-09-21 11:25] CK11FOR333 opened #979 "SetCustomDoneTarget is missing in branch 4.0.13"
I can't find this method in "IQUIView+Hierarchy.h".
Should I use [textField1 addDoneOnKeyboardWithTarget:self action:@selector(doneAction:)] instead ??

[2017-09-21 11:31] kierobinson1 commented on #972
### Short Answer

Potential workaround/short term fix I have come across is to use `IQKeyboardManager` instead of `IQKeyboardManagerSwift` and then essentially embed everything inside a `UIScrollView`.

### Detailed Answer

_**Note: This fix doesn't seem to work with `IQKeyboardManagerSwift`, only with `IQKeyboardManager`, but as far as I'm aware `IQKeyboardManager` should still work in Swift proj

[2017-09-21 12:49] errabelli09 opened #980 "Not Showing Done Button and others in Latest iOS 11.0 Version"
Previously it's working well but in Latest version changes making some issues with IQKeyboardManager. Done, up and down buttons not showing

[2017-09-21 13:15] ArthurAlvarez commented on #980
I'm having the same problem. I managed to get it done by manually adding the UP/Down/Done buttons using the function:
`yourTextField.addPreviousNextRightOnKeyboardWithTarget`

However now I cant change the Done button label :(

[2017-09-21 13:35] dejanskledar commented on #980
Yep, same here.

[2017-09-21 13:39] errabelli09 commented on #980
Its Working with Latest pod updation

[2017-09-21 13:40] #980 closed

[2017-09-21 15:24] arerbol commented on #979
me too

[2017-09-21 16:22] tsteele2013 opened #981 "Swift 4 Toolbar Siblings Array"
App is crashing at line `2073` of `IQKeyboardManager.swift`. It looks like the most recent pull request #971 was supposed to fix this, but somehow it's not.

This issue only occurs when using the `navigationItem.searchController` now available in iOS 11.

[code]

I'm getting the `2017-09-21 12:17:12.236089-0400 TruckTelematics[3091:1439388] fatal error: Index out of range` error.

Will try to fix

[2017-09-21 17:18] hackiftekhar commented on #963
Hello @pageone123 I'm not sure why this happens sometime, I know some users are getting this issue but I'm unable to reproduce this issue with my demo. I believe this is something with the Xcode settings or the iOS version.

[2017-09-21 17:35] hackiftekhar commented on #965
Hey @leesherwood your changes is good, however most of the developer doesn't subclass UIScrollView, so I made a better solution by adding another property to UIScrollView category.

[2017-09-21 17:35] #965 closed

[2017-09-21 17:38] hackiftekhar commented on #910
Can someone attach any demo project so that I can look if this problem is due to this library?

[2017-09-21 17:47] hackiftekhar commented on #848
@pardypanda No idea since I'm not able to reproduce this issue, if you could send me any demo so that I can take a look.

@JenkinDU I didn't do much testing of IQLayoutGuideConstraint with iOS11, so I can't say anything about it. However the problem goes away after removing IQLayoutGuideConstraint connection.

[2017-09-21 17:55] hackiftekhar commented on #909
Thanks for sharing gif, I'll try to reproduce this issue.

[2017-09-21 18:03] ongyoo commented on #979
me too

[2017-09-21 18:09] hackiftekhar commented on #952
@pateljinal1844 can you share any demo project with me so that I can take a look.

[2017-09-21 18:19] hackiftekhar commented on #947
Actually I'm not able to debug it since this isn't reproducible with debug mode but reproducing in Testflight build.

[2017-09-21 18:49] hackiftekhar commented on #968
@sudhakar-varma @YurchukV from couple of users, if looks like the error is happening with testflight build. If you having this issue with the debugging environment then can you please share the demo project?

[2017-09-21 19:36] hackiftekhar commented on #981
This is already fix with latest version 4.0.13 of library.

[2017-09-21 19:40] hackiftekhar commented on #315
Can you debug it using the Xcode UI debugging tool to check what's the tintColor of toolbar and the buttons of next/prev?

[2017-09-21 19:42] hackiftekhar commented on #966
I'm working on pushing swift4 version to CocoaPods, but it might take 1-2 days since I'm checking all existing issues with swift4 & iOS11 and trying to fix those before pushing a new version.

[2017-09-21 19:43] hackiftekhar commented on #966
@alexwillingham Due to the method name conflict between two categories, I renamed UIWindow category method name.

[2017-09-21 19:44] hackiftekhar commented on #967
@lawgimenez @Adelmaer @linbx08 @kumararvind I'm working on fixing all existing issues with swift4 and iOS11 before pushing a new version of library.

[2017-09-21 19:45] #973 closed

[2017-09-21 19:47] hackiftekhar commented on #969
@Bharath-MallowTech this issue is already been fixed with 4.0.13.

[2017-09-21 19:47] hackiftekhar commented on #969
@niting007 you have to clear module cache. Can you please try?

[2017-09-21 19:50] hackiftekhar commented on #914
@Shahbaz-Akram @chengsam this issue is fixed with 4.0.13, if you think that this issue still exist with 4.0.13 then can you please share any demo project here?

[2017-09-21 19:51] hackiftekhar commented on #974
The newest version is 4.0.13 fixed the issue. Let me know if someone still getting this issue.

[2017-09-21 19:51] #974 closed

[2017-09-21 19:53] hackiftekhar commented on #975
@643824979 क्या आप इंग्लिश में हमें बताएँगे की आपको क्या दिक्कत जा रही है?

[2017-09-21 19:55] hackiftekhar commented on #976
hmm, looks strange. @qiuseruxin can you please provide me a demo project?

[2017-09-21 19:55] hackiftekhar commented on #977
@zeeshansuleman Have you tried with 4.0.13? This version has the fix.

[2017-09-21 19:57] JenkinDU opened #983 "branch swift4: has building error in Xcode 9, Swift 4"
IQUIWindow+Hierarchy.swift
IQKeyboardManager.swift
some error like
"Declarations in extensions cannot override yet"
"Ambiguous use of 'topMostController()'"

am I do somethings wrong?

[2017-09-21 19:57] hackiftekhar commented on #978
@liuxz656 can you please share the demo project since it does work with my demo and default tintColor is black as far as I know.

[2017-09-21 19:59] hackiftekhar commented on #972
@uddinr can you please share demo project with us. I would like to know why this is happening with swift version and why it's not with objc version.

[2017-09-21 20:00] hackiftekhar commented on #972
Thanks @kierobinson1 for detailed explanation, but if this is a bug then we should fix it.

[2017-09-21 20:02] hackiftekhar commented on #979
It's still there in `IQUIView+IQKeyboardToolbar.h` file. You are searching in wrong file my brother @CK11FOR333

[2017-09-21 20:06] hackiftekhar commented on #983
I'm converting master branch to support final swift4+iOS11 release. I hope this will fix all existing issue with iOS11 and swift4.

[2017-09-21 20:36] iOSUjjwal opened #984 "Autofill Password Toolbar with iOS 11 creates a Problem"
The new autofill password toolbar overlaps the textfield and goes away when you start typing, so the keyboard stays overlapped on textfield.
Also, on Touch outside or resigning first responder sometime view moves down(How much it moves down - approximately keyboard height frame I think)

Library needs a fix for iOS 11. Everything is fine till iOS 10.3.3

[2017-09-21 20:51] davestucky opened #985 "error Use of unresolved identifier 'IQKeyboardManager'"
@UIApplicationMain
class AppDelegate: UIResponder, UIApplicationDelegate {

    var window: UIWindow?

    private func application(application: UIApplication, didFinishLaunchingWithOptions launchOptions: [NSObject: AnyObject]?) -> Bool {

        IQKeyboardManager.sharedManager().enable = true (I get this error)Use of unresolved identifier 'IQKeyboardManager'

        return true
    }

    func

[2017-09-21 20:53] uddinr commented on #972
@hackiftekhar example project attached, issue occurs on ios 11 in simulator seems fine on ios 10 simulator

[ScrollingIssue.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/1322675/ScrollingIssue.zip)

[2017-09-21 21:01] tsteele2013 commented on #981
@hackiftekhar Are you sure? When I switch to 4.0.13, I have 36 build errors in Swift 4. Perhaps those errors aren't related to my specific issue, but my project will not even build on 4.0.13.

[2017-09-21 22:09] iOSUjjwal commented on #985
Try building the app. If still issue, try pod update command.

[2017-09-21 22:27] Neney22 opened #986 "Update the pod with Swift 4 support."
I keep getting a lot of different errors with swift 4

[2017-09-22 00:25] qiuseruxin commented on #976
Thank you for your reply but I have already set it up, or it will happen @ETHANAIR

[2017-09-22 00:57] MrVokie commented on #977
haven't deployed on CocoaPods.

[2017-09-22 01:00] davestucky commented on #985
I tried building  - no joy. I did not use pod and just copied IQKeyboardManager.swift folder to my project. It worked under IOS 10

[2017-09-22 01:29] VolitationXiaoXing opened #987 "iOS 11 have two compatibility problems"
iOS 11 have two compatibility problems，This is what you see here.
![c35b035d-4d23-46b2-8326-b6f582caccd1](https://user-images.githubusercontent.com/10832078/30725527-fb6c01a0-9f77-11e7-8003-b80f3fa50fe9.png)
![957f0c90-aeca-4084-aebc-4cf016262d53](https://user-images.githubusercontent.com/10832078/30725531-0437afaa-9f78-11e7-940b-3a35a411cdd7.png)

[2017-09-22 01:35] 287291867 commented on #978
I also is white, but click effect is, how to change

[2017-09-22 01:37] 287291867 opened #988 "xcode9运行完成按钮没见了"

[2017-09-22 01:53] asd8855 commented on #969
@hackiftekhar  I've cleared the cache，but problems remain

[2017-09-22 01:54] asd8855 commented on #969
@hackiftekhar  oc  4.0.13

[2017-09-22 02:03] jiliuliu commented on #987
I meet the same problems . What should I do ?

[2017-09-22 02:50] chengsam commented on #914
It works for me on iOS 11 using 4.0.13 now. I don't know why it happens suddenly but cleaning the project or reinstalling the pod may help.

[2017-09-22 02:50] chengsam commented on #969
Hi all, it works for me on iOS 11 using 4.0.13 now. I don't know why it happens suddenly but cleaning the project or reinstalling the pod may help.

[2017-09-22 03:14] asd8855 commented on #969
I found the reason for the problem of our project. We set the following code
    UIBarButtonItem *appearance = [UIBarButtonItem appearance];
    NSMutableDictionary *textAttrs = [NSMutableDictionary dictionary];
    textAttrs[NSForegroundColorAttributeName] = [UIColor whiteColor];
    textAttrs[NSFontAttributeName] = [UIFont systemFontOfSize:15];
    [appearance setTitleTextAttributes:textAttrs fo

[2017-09-22 03:14] Baiyongyu commented on #969
4.0.13? Why do I use cocoapods search detection, the latest version is still 4.0.10.

[2017-09-22 03:15] asd8855 commented on #969
@Baiyongyu  clear cache.pod update repo

[2017-09-22 03:18] Baiyongyu commented on #969
@asd8855  Thank u.

[2017-09-22 03:32] Nslogdql opened #989 "can not support iOS 11"
Click the blank interface, the keyboard is not recovered。This is important

[2017-09-22 03:48] iosprogram commented on #988
Xcode9运行完,弹出键盘，键盘上方Tool，右边的完成按钮没有了。

[2017-09-22 03:49] iosprogram opened #990 "Xcode9运行完,弹出键盘，键盘上方Tool中，右边的完成按钮没有了，没有适配iOS11"

[2017-09-22 03:57] #989 closed

[2017-09-22 03:58] Nslogdql commented on #990
大兄弟，作者已经更新了，下载最新的就可以了，pod的重新pod install就可以了

[2017-09-22 04:00] Levofloxacin commented on #990
更新后就没有这个问题了.
顺便问下,doneButton的字体颜色怎么改变.我默认变成绿色的了

[2017-09-22 04:10] Levofloxacin opened #991 "How to modify DoneButton color?"
In my project DoneButton default color is green.
How to modify this color.
thank you..

[2017-09-22 04:52] bakeddean commented on #991
You could try
[code]
This sets the tint color of all buttons on the toolbar.

[2017-09-22 05:05] Levofloxacin commented on #991
` IQKeyboardManager.sharedManager().toolbarTintColor = .red`
This is not possible
Only previous and next buttons changed the color.

[2017-09-22 05:12] #990 closed

[2017-09-22 05:41] heavenbird2016 commented on #987
@VolitationXiaoXing  To upgrade to the Version 4.0.13  .

[2017-09-22 05:49] Bharath-MallowTech commented on #969
Thank you, Its working fine with the version 4.0.13.
![image](https://user-images.githubusercontent.com/16458195/30730911-e204b1d4-9f87-11e7-8803-f97e310d278a.png)

[2017-09-22 05:49] #969 closed

[2017-09-22 05:57] hackiftekhar commented on #972
THANks for the demo @uddinr, I’ll look at this in weekend.

[2017-09-22 05:59] hackiftekhar commented on #981
The 4.0.13 isn’t swift4 version, that’s why you are getting compiler issue.

[2017-09-22 06:00] hackiftekhar commented on #986
Will try to do in weekend.

[2017-09-22 06:02] hackiftekhar commented on #985
You might have to @import framework.

[2017-09-22 06:12] hackiftekhar commented on #984
I briefly checked with the autofill passqord and it looks to be working well with it.

However I’ll need to check the resign behaviour you are talking about.

[2017-09-22 06:13] hackiftekhar commented on #988
Sorry, I don’t undrstand chinese

[2017-09-22 06:15] Rachel829 commented on #988
in Xcode 9  iOS 11 the "done" button doesn't appear

[2017-09-22 06:25] zzipdog commented on #972
I am having the scrolling issue, also.

[2017-09-22 06:31] Rachel829 commented on #987
@heavenbird2016  你好，我直接pod update 的版本 还是4.0.10  指定版本 4.0.13 又提示找不到 请问您是如何更新的

[2017-09-22 06:34] hackiftekhar commented on #988
Please update to 4.0.13

[2017-09-22 06:57] xiaopin commented on #977
I have updated to version 4.0.13, but done button color is white, not is black?

[2017-09-22 07:03] hackiftekhar commented on #977
Are you setting any appearance property?

[2017-09-22 07:06] xiaopin commented on #977
Yes

UIBarButtonItem *barButtonItem = [UIBarButtonItem appearance];
    NSDictionary *dict = @{
                           NSFontAttributeName: [UIFont systemFontOfSize:15.0],
                           NSForegroundColorAttributeName: [UIColor whiteColor]
                           };
    [barButtonItem setTitleTextAttributes:dict forState:UIControlStateNormal];

[2017-09-22 07:16] bendary opened #992 "update to 4.0.13; toolbar done button still disappear"
![img_4216](https://user-images.githubusercontent.com/8757985/30733252-cc14d180-9fa8-11e7-8bab-e4fc390c8e86.PNG)

[2017-09-22 07:20] bendary commented on #992
Actually the done button is on the toolbar and it can response doneAction; but disappear

[2017-09-22 07:31] ravi6880 commented on #987
update the pod file and it will remove all error

[2017-09-22 07:51] Levofloxacin commented on #992
UIScrollView *scrollView = [UIScrollView new];
    scrollView.showsVerticalScrollIndicator = NO;
    scrollView.backgroundColor = [UIColor clearColor];
    [self.view addSubview:scrollView];

`    IQPreviousNextView *IQView = [[IQPreviousNextView alloc] init];
    IQView.frame = self.view.frame;
    [scrollView addSubview:IQView];`

   [IQView addSubview:inputView];

[2017-09-22 08:08] #991 closed

[2017-09-22 08:08] bendary commented on #992
@Levofloxacin thank you;
but can u tell me something about your code ?

[2017-09-22 08:15] Levofloxacin opened #993 "ios 11 toolbarTintColor can not set DoneButton color."
`    [IQKeyboardManager sharedManager].toolbarTintColor = [UIColor redColor];
`

In ios 11 previous and next button color is red.    "Done Button"  is not red..
In ios 10 previous and next button and done button is red.
Please tell me why..
Thank you .

![color](https://user-images.githubusercontent.com/20067385/30735223-c95c73aa-9fb0-11e7-85ea-8aba3ca0fd15.jpg)

[2017-09-22 08:16] Levofloxacin commented on #992
说中文吧看着累.

[2017-09-22 08:18] Levofloxacin commented on #992
`IQPreviousNextView *IQView = [[IQPreviousNextView alloc] init];
IQView.frame = self.view.frame;
[scrollView addSubview:IQView];`
试着把这个加到父视图,然后子空间加到该视图上.

或者,试着改变下颜色
`    [IQKeyboardManager sharedManager].toolbarTintColor = [UIColor redColor];
`

[2017-09-22 08:20] Marcello168 commented on #993
我也想知道啊

[2017-09-22 08:21] Marcello168 commented on #993
who can tell me ，

[2017-09-22 08:22] Rachel829 commented on #988
@hackiftekhar  fixed  thx~

[2017-09-22 08:22] bendary commented on #992
@Levofloxacin
哈哈哈，我也敲着累。。边敲边有道翻译。
我先试试第一个吧；
这个改变颜色无效的。试过
[IQKeyboardManager sharedManager].toolbarTintColor = [UIColor redColor];
还有试过这个toolbarBarTintColor，竟然报unrecognicze selector.
先谢了

[2017-09-22 08:43] Levofloxacin commented on #993
@Marcello168 你也有这个问题?

[2017-09-22 08:43] Levofloxacin commented on #993
你也有这个问题么.

[2017-09-22 08:45] Levofloxacin commented on #992
@bendary 我之前是没有左右箭头.
`IQPreviousNextView *IQView = [[IQPreviousNextView alloc] init];

  IQView.frame = self.view.frame;
  [scrollView addSubview:IQView];`
加入这个后就可以了

[2017-09-22 08:52] Levofloxacin commented on #993
这个问题已经解决了.
是我本地代码的问题..
谢谢..

[2017-09-22 08:52] #993 closed

[2017-09-22 08:54] hackiftekhar commented on #977
That’s why you are getting this issue, because you are setting bar button item color as white.

[2017-09-22 08:56] #988 closed

[2017-09-22 09:10] hackiftekhar commented on #992
From the screenshot, it looks like you are still using older version of library.

[2017-09-22 09:47] misheral opened #994 "Updated to 4.0.13,but cann't find setCustomDoneTarget: in IQUIView+IQKeyboardToolbar.h"
For showing the Done UIBarButtionItem in iOS 11 ,updated to  4.0.13,but cann't find setCustomDoneTarget: in IQUIView+IQKeyboardToolbar.h

[2017-09-22 09:49] misheral commented on #979
I have got the same problem.Cann't find SetCustomDoneTarget in  IQUIView+IQKeyboardToolbar.h file. How could I get the input source UITextField?

[2017-09-22 09:56] myl9361 opened #995 "The IQKeyboardManager in tabelviewCell also is have problem"
ios11 xcode9  ，更新到了4.0.13，  但是在tableViewCell上的textfield ，如果位置在下面键盘遮挡的部分  点击，还是会有问题    有时候键盘都弹不出来，或者弹出来下不去了   tableview 也不会向上面滑动
![img_1941 20170922-175330](https://user-images.githubusercontent.com/18493926/30739531-5003b580-9fc0-11e7-8668-653b2bc02a97.jpg)
  例如 画圈这个位置的textfield 这个位置的根本不行，上面两个位置不会被遮盖的都没问题  求解决！！！！谢谢

[2017-09-22 10:07] CK11FOR333 commented on #995
same problem also happened in iOS 8

[2017-09-22 10:34] hackiftekhar commented on #979
@misheral Now there is another way to do it, replace your method like this:-
[textField.keyboardToolbar.doneBarButton setTarget:self action:@selector(doneAction:)];
[textField.keyboardToolbar.previousBarButton setTarget:self action:@selector(prevAction:)];
[textField.keyboardToolbar.nextBarButton setTarget:self action:@selector(nextAction:)];

[2017-09-22 10:36] hackiftekhar commented on #994
@misheral Now there is another way to do it, replace your method like this:-
[code]

[2017-09-22 10:45] misheral commented on #994
This method has param  with type of  IQBarButtonItem, but what i need is UITextField/UITextView, just like  setCustomDoneTarget .How can i get it?

[2017-09-22 11:03] KartikSinghBhadoriya commented on #914
There is Error showing in IQTitleBarButtonItem.swift File
Error is "Type 'UILayoutPriority' (aka 'Float') has no member 'defaultLow'"
line no : - 112 code is :- "let layoutPriorityValue = UILayoutPriority.defaultLow.rawValue-1"

![screen shot 2017-09-22 at 4 32 42 pm](https://user-images.githubusercontent.com/8698836/30741746-b3d3f9b0-9fb3-11e7-9357-4771338d2926.png)

[2017-09-22 12:08] tsteele2013 commented on #981
Right, I understand that. My issue is with the `swift4` branch. And the PR I submitted is to fix the issue in Swift 4.

There might be a fix for this issue in `4.0.13`, but that doesn't help me since I'm trying to use the `swift4` branch. Does that make sense?

[2017-09-22 12:42] rohit-skycap commented on #992
Is release 4.0.13 available on cocoa pods ?

[2017-09-22 12:56] hackiftekhar commented on #978
Probably you are setting UIBarButtonItem appearance proxy.

It looks to be an issue from UIKit, because I tried setting my own subclass of UIBarButonItem which is IQBarButtonItem and the appearance proxies aren't working with my subclass.

[2017-09-22 12:56] hackiftekhar commented on #977
I tried checking appearance proxy and It looks to be an issue from UIKit, because I tried setting my own subclass of UIBarButonItem which is `IQBarButtonItem` appearance proxy and the appearance proxies aren't working with my subclass.

[2017-09-22 13:01] hackiftekhar commented on #962
I tried checking with my demo and it works well for me. Can you please provide gif and/or demo project to debug it?

[2017-09-22 13:02] hackiftekhar commented on #958
This is already fixed with lateset version.

[2017-09-22 13:02] #958 closed

[2017-09-22 13:02] #957 closed

[2017-09-22 13:02] #955 closed

[2017-09-22 13:03] #954 closed

[2017-09-22 13:04] #953 closed

[2017-09-22 13:04] hackiftekhar commented on #992
Yes

[2017-09-22 13:06] hackiftekhar commented on #981
yes, there is a fix in `4.0.13` but might not have a fix in `swift4` branch, but next release of library will contain the `fix+iOS11+swift4`.

[2017-09-22 13:07] hackiftekhar commented on #914
I'm trying to migrate to Xcode9 and Swift4, and you probably using earlier Xcode, so I would suggest to use 4.0.13 until we push a swift4 version and you upgrade to Xcode9.

[2017-09-22 13:08] hackiftekhar commented on #994
hmm, okay, let me see what I can do

[2017-09-22 13:11] tsteele2013 commented on #981
Ahh, okay. Thank you for explaining.

[2017-09-22 13:11] #981 closed

[2017-09-22 13:13] hackiftekhar commented on #994
I can confirm, that's a bug. I'll try to fix it by today.

[2017-09-22 13:40] rohit-skycap commented on #992
will pod 'IQKeyboardManagerSwift' is installing (4.0.10).
and pod 'IQKeyboardManagerSwift', '~> 4.0.13' doesnot work.

[2017-09-22 14:15] #994 closed

[2017-09-22 15:07] iOSUjjwal commented on #984
Hey, Please find the screenshots

![0d009a96-002d-4a23-9771-44fed94873e8](https://user-images.githubusercontent.com/32178515/30751050-d382e56a-9fd5-11e7-9d6e-651d5457a9da.jpg)
![2d45261c-e821-4c35-a2ea-ff94bed38770](https://user-images.githubusercontent.com/32178515/30751052-d4f9cbc0-9fd5-11e7-84da-d6f3701bcf13.jpg)
![2017-09-22](https://user-images.githubusercontent.com/32178515/30751055-d69e39e8

[2017-09-22 15:51] hackiftekhar commented on #972
I found two issues
1) You are using UIScrollView, so if you do so then make sure to add constraints which can tell scrollView contentSize.
2) I'm seeing a new thing called `Safe Area` and I'm not aware about how we'll deal with this. This might take time for me to understand working of `Safe Area`.

[2017-09-22 16:01] uddinr commented on #972
even if i remove the UIScrollView and use a UIView the same issue exists

[2017-09-22 16:13] hackiftekhar commented on #992
try pod update

[2017-09-22 16:14] hackiftekhar commented on #984
Looks like you tapped on username field. right?

[2017-09-22 16:14] hackiftekhar commented on #972
That's why I put second comment related to Safe Area

[2017-09-22 16:25] iOSUjjwal commented on #984
Yes. But when i try to move to the next field, It is covering it. I had the
toolbar enabled, but had to disable it, it was making it worse.

Regards
Ujjwal Madan

On Fri, Sep 22, 2017 at 9:44 PM, Mohd Iftekhar Qurashi <
notifications@github.com> wrote:

[2017-09-22 16:33] hackiftekhar commented on #984
So you should set keyboardDistanceFromTextField property to something large, default is 10. You can set global settings or you can also set for each textField.

[2017-09-22 16:35] bendary commented on #992
@hackiftekhar thk;
i have update cocos pod and it print "Using IQKeyboardManager (4.0.13)"

[2017-09-22 16:37] iOSUjjwal commented on #984
Yes I have tried that as well. The problem is only in iOS 11. My code is
still in swift 3. Untill iOS 10, everything’s fine

On Fri, 22 Sep 2017 at 10:04 PM, Mohd Iftekhar Qurashi <
notifications@github.com> wrote:

--

Regards
Ujjwal Madan

[2017-09-22 16:57] hackiftekhar commented on #984
Then you should give me a demo project.

Just to let you know, I just released 5.0.0 with swift4 support and backward compatibility till swift3.

[2017-09-22 16:58] hackiftekhar commented on #992
Great!

[2017-09-22 16:59] bendary commented on #992
@hackiftekhar but still have the question  😂

[2017-09-22 17:02] hackiftekhar commented on #986
**Just released 5.0.0 via CocaPods**
- **swift4** support
- Backward compatibility till **swift3**.
- Support **iOS11** as well, however there might be issues with **iOS11** I'm not much aware of. But it's the best version for now with **iOS11** support.

Cheers!

[2017-09-22 17:02] #986 closed

[2017-09-22 17:02] #985 closed

[2017-09-22 17:02] hackiftekhar commented on #983
**Just released 5.0.0 via CocaPods**
- **swift4** support
- Backward compatibility till **swift3**.
- Support **iOS11** as well, however there might be issues with **iOS11** I'm not much aware of. But it's the best version for now with **iOS11** support.

Cheers!

[2017-09-22 17:02] #983 closed

[2017-09-22 17:02] hackiftekhar commented on #966
**Just released 5.0.0 via CocaPods**
- **swift4** support
- Backward compatibility till **swift3**.
- Support **iOS11** as well, however there might be issues with **iOS11** I'm not much aware of. But it's the best version for now with **iOS11** support.

Cheers!

[2017-09-22 17:02] #966 closed

[2017-09-22 17:04] hackiftekhar commented on #992
This version should fix the toolbar issue. Didn't worked?

[2017-09-22 17:04] hackiftekhar commented on #992
**Just released 5.0.0 via CocaPods**
- **swift4** support
- Backward compatibility till **swift3**.
- Support **iOS11** as well, however there might be issues with **iOS11** I'm not much aware of. But it's the best version for now with **iOS11** support.

Cheers!

[2017-09-22 17:06] bendary commented on #992
@hackiftekhar maybe something wrong in my project;
i used it in other project, it work!
is there something make it wrong?

[2017-09-22 17:09] bendary commented on #992
@hackiftekhar thk for your help
i will check my code again

[2017-09-22 17:38] siyavash4812 commented on #986
I just installed it through pod and it gives me 37 errors! Most of them are about @objc. Any solution ?

@hackiftekhar

[2017-09-22 17:50] bendary commented on #992
![06223581-b70e-48a7-b110-dffdff658eaf](https://user-images.githubusercontent.com/8757985/30757209-64f040fe-a000-11e7-81e3-242d343180fa.png)
![wx20170923-014745](https://user-images.githubusercontent.com/8757985/30757453-64cbf130-a001-11e7-9c20-959a4340fec6.png)
![wx20170923-014846](https://user-images.githubusercontent.com/8757985/30757468-68b9747a-a001-11e7-9d00-04ab7a02161a.png)
i found that bu

[2017-09-22 17:57] hackiftekhar commented on #992
Can you please try clearing module cache, sometimes xcode uses old cache copy of library.

[2017-09-22 18:00] iOSUjjwal commented on #984
Hey

PFA the demo Project and please revert whatever you find wrong.

Regards
Ujjwal Madan

On Fri, Sep 22, 2017 at 10:27 PM, Mohd Iftekhar Qurashi <
notifications@github.com> wrote:

[2017-09-22 18:06] bendary commented on #992
@hackiftekhar
oh ！！！！！
it is the answer!
thank u for your help !!!
thank u!

[2017-09-22 18:06] #992 closed

[2017-09-22 18:14] bendary commented on #976
try to set scrollView.contentInsetAdjustmentBehavior = UIScrollViewContentInsetAdjustmentNever;?

[2017-09-22 19:08] hackiftekhar commented on #976
I feel `contentInsetAdjustmentBehavior` is the worst property added to UIKit ever. It breaks most of the app.

[2017-09-22 19:11] hackiftekhar commented on #984
Hey @iOSUjjwal  I didn't find demo project here.

[2017-09-22 19:48] iOSUjjwal commented on #984
Check Now Please
[DemoKeyboardProject.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/1325668/DemoKeyboardProject.zip)

[2017-09-22 20:13] davestucky opened #996 "error Use of unresolved identifier 'IQKeyboardManager' #985 by davestucky was closed 3 hours ago"
you closed me out. Sorry, what did you mean @import framework?

[2017-09-22 21:41] gokhanakkurt opened #997 "UITextField doesn't slide up when keyboard appears on iOS 11"
Hey,

I'm using the latest version of the library `5.0.0` but textfields remain under the keyboard when they are focused.

![simulator 23-09-2017](https://user-images.githubusercontent.com/3924230/30765251-6d204d86-9ff7-11e7-88d0-92e9372cc4d4.gif)

PS: To replicate this scenario, place a `UITextField` at the bottom of `UIScrollView`.

[2017-09-23 04:31] hackiftekhar commented on #996
You should do `@import IQKeyboardManager

[2017-09-23 04:36] hackiftekhar commented on #997
There might be two issues:-
- If you are using UIScrollView as container then you should add such constraints by which UIScrollView know it’s Content Size.
Please be sure that you haven’t added top layout guide and/or bottom layout guide which directly/indirectly affect textField position.

[2017-09-23 05:32] acerts04 opened #998 "Xcode 9: Swift 4 Carthage build task fail with exit code 65"
Hello,

I saw in an earlier issue that this was a bug causing this to happen in Carthage, but did not see a way to fix it. I am getting this error when building scheme for IQKeyboardManager. Any way to resolve this? Thank you

[2017-09-23 06:10] JeasonL opened #999 "Use of '@import' when C++ modules are disabled, consider using fmodules and fcxx-modules"
![1506146948506](https://user-images.githubusercontent.com/8176138/30770668-c8dfea98-a068-11e7-87ec-fb3603e9cacf.jpg)

How can I solve this problem?

[2017-09-23 09:42] gokhanakkurt commented on #997
These were not the issues related with my problem.  For further readers, following steps may be helpful.

I had a structure like following in my storyboard which is `UIScrollView` is the root view in view controller.

![screen shot 2017-09-23 at 12 33 09](https://user-images.githubusercontent.com/3924230/30771960-6cb392d6-a05b-11e7-8359-83f40c4a890d.png)

I've changed this structure by adding `UIV

[2017-09-23 09:42] #997 closed

[2017-09-23 11:02] huzhiqin commented on #999
me too. Please tell me why?How to resolve it?

[2017-09-23 18:51] hackiftekhar commented on #999
okay, then I think it doesn't work perfectly with some projects. Let me revert that change

[2017-09-23 18:59] #999 closed

[2017-09-23 19:19] hackiftekhar commented on #998
Can you try v5.0.1 latest version? it support Swift4

[2017-09-23 20:55] acerts04 commented on #998
Thank you for your reply. v5.0.1 is the version i am trying to use. Seems carthage begins to build the scheme for IQKeyboardManagerSwift, then IQKeyboardManager then fails with exit code 65.

[2017-09-24 03:56] damianabraham commented on #998
Hello, same error to me using v5.0.1.
Finally I built with version 5.0.0, which builds the Swift version first without errors.

[2017-09-24 05:21] vpdevportal opened #1000 "Scroll issue. TextField at bottom does not move up to visible area."
We are not able to see what we typing as TextField at bottom of view doesn't move up but hides behind keyboard.

[2017-09-24 07:37] haithngn commented on #998
*** Fetching IQKeyboardManager
*** Checking out IQKeyboardManager at "v5.0.0"
*** xcodebuild output can be found in /var/folders/tp/7qwgtnw57p9fkr_0z_8sx0fr0000gn/T/carthage-xcodebuild.hc5aUw.log
*** Building scheme "IQKeyboardManager" in IQKeyboardManager.xcodeproj
Build Failed
	Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -project /Volumes/Store/Workspace/up4.0/Carthage/Checkouts/IQ

[2017-09-24 08:19] marbeaupa commented on #1000
Same problem.
Moreover in the text bar doesn't appear the two arrows on the left
![iphone7-screenshot1](https://user-images.githubusercontent.com/17100605/30780706-a83eab2c-a111-11e7-9030-c3762ec64217.jpeg)

<img width="413" alt="iphone7-screenshot2" src="https://user-images.githubusercontent.com/17100605/30780693-60c81b02-a111-11e7-9bb9-9bb4c26e67ac.png">

[2017-09-24 09:14] haithngn commented on #998
@hackiftekhar I also tried with both version 5.0.0 and 5.0.1 the Carthage alway build failed

[2017-09-24 09:20] MatanGuttman commented on #998
In my case, in cartfile.resolved the version was 4.x. I removed the entry and ran: carthage update IQKeyboardManager --platform iOS --no-use-binaries

[2017-09-24 11:46] hackiftekhar commented on #1000
For the left/right arrow, please be sure that textFields are in same superview. If there are different superview then make their superview of class IQPreviousNextView. Check demo how it works.

[2017-09-24 12:25] hackiftekhar commented on #998
I got the problem. It should work now with v5.0.2.

[2017-09-25 00:54] acerts04 commented on #998
@hackiftekhar v5.0.2 worked within Carthage. I have added the IQKeyboardManagerSwift.framework into Linked frameworks and libraries, but i am getting an "image not found error"  for IQKeyboardManagerSwift.framework when running the project. Is this a known issue?

[2017-09-25 01:37] aurora14 commented on #972
@kierobinson1 - your solution worked for me. Having so many view layers will probably not be everyone's favourite, but as a workaround it's good enough for now - it makes things work how they're supposed to :)

[2017-09-25 01:42] misheral commented on #994
Okay.

[2017-09-25 02:43] chefil commented on #977
My done button is gone, and the last one and the next button is gone too, why? just on ios11

[2017-09-25 02:56] g1174117917 opened #1001 "xcode 9 not done"
not show done in xcode9

[2017-09-25 04:49] huzhiqin commented on #868
Anybody can deal with it?

[2017-09-25 05:54] phanisai4u commented on #1001
Not showing "Done" button in ios11

[2017-09-25 06:19] 991442575a commented on #1001
Not showing "Done" button in ios11

[2017-09-25 06:29] qiuseruxin commented on #976
Still not good after modification @bendary

[2017-09-25 06:51] SebastianKumor commented on #918
@perlasivakrishna how did you replace `isAskingCanBecomeFirstResponder`?

[2017-09-25 06:56] BountyProgrammer opened #1002 "iOS 11 has a problem"
iOS 11 has a problem when the keyboard is hidden，This is what you see here.（ios10 is right
）
![d5fb7696-c8d4-467b-ada2-1fe6b4e73538](https://user-images.githubusercontent.com/12781172/30795759-acdff49c-a201-11e7-8ee4-7f1d6d9ab0bf.png)
![43062cf9-1a6e-4060-af7e-af222f37a988](https://user-images.githubusercontent.com/12781172/30795771-bc1f38be-a201-11e7-83f8-4dd302850752.png)

[2017-09-25 07:11] perlasivakrishna commented on #918
@SebastianKumor. Now no need to use "isAskingCanBecomeFirstResponder". The textfield should begin editing called only once.

[2017-09-25 07:19] 287291867 commented on #1001
To upgrade to the Version 4.0.13 .

[2017-09-25 07:28] kierobinson1 commented on #972
@hackiftekhar @aurora14 Yeah, it was just meant to be a workaround for the mean time until you can get a fix out.

[2017-09-25 08:17] huzhiqin opened #1003 "UITableView have problem. Urgent urgent！Please check demo code."
**Only deal with something error.**

 You can try this method ：
-(BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions {
    if (IS_IOS_11) {
        UIScrollView.appearance.contentInsetAdjustmentBehavior = UIScrollViewContentInsetAdjustmentNever;
        UITableView.appearance.estimatedRowHeight = 0;
        UITableView.appearance.estimatedSect

[2017-09-25 09:36] phanisai4u commented on #1001
Thanks @287291867

[2017-09-25 09:41] SebastianKumor commented on #918
@perlasivakrishna alright, thanks for response

[2017-09-25 11:06] veer9002 opened #1004 "Up and down button is invisible in toolbar"
Up and down(Next and previous) button is invisible in toolbar. Button "Done" is visible in right side of toolbar but at left side up and down button is not visible. I am using Xcode 9. When I create new project and used IQKeyboard manager up and down buttons are visible but in my existing project it's not visible.

[2017-09-25 12:43] mdsVibhor opened #1005 "IOS 11 Objective C"
Currently using latest version of IQkeyboardmanager, but it is not working properly all the view shifted downwards when click two times on single textfield.

[2017-09-25 13:29] hackiftekhar commented on #1004
Make sure all your textFields are on same superview, otherwise make a workaround using IQPreviousNextView. Search in demo project about how it should be configured.

[2017-09-25 13:31] hackiftekhar commented on #1001
Upgrade to v5.0.2 since I'm constantly releasing iOS11 and Xcode9 bug fixes frequently.

[2017-09-25 13:32] hackiftekhar commented on #1003
okay, I got your point, I'll check the demo once I have enough time to check, thanks for attaching demo project.

[2017-09-25 13:41] hackiftekhar commented on #1002
You probably testing with simulator. You have to enable software keyboard from Hardware menu of Simulator.

[2017-09-25 13:42] ChristianPraiss commented on #984
@hackiftekhar I am experiencing the same problem, let me debug that for you and open a pull request

[2017-09-25 13:42] hackiftekhar commented on #976
Can you provide a demo project @qiuseruxin ?

[2017-09-25 13:43] hackiftekhar commented on #977
Please update to latest version of library which is 5.0.2 at this time

[2017-09-25 13:43] #998 closed

[2017-09-25 13:44] hackiftekhar commented on #1005
@mdsVibhor can you please share some more information? Are you using top layout guide, bottom layout guide, safe area for adding your constraints?

[2017-09-25 13:45] hackiftekhar commented on #984
That would be super great @ChristianPraiss, help is always appreciated!

[2017-09-25 14:14] MyHZ opened #1006 "iOS 11使用求助"
iOS 11上tableviewCell包含UITextView，键盘弹出的时候tableview正常向上偏移，但是键盘下落的时候，每次tableview都自动向下偏移，甚至影响其他界面的collectionView。希望您能帮助我，谢谢！

[2017-09-25 15:20] mdsVibhor commented on #1005
![screen shot 2017-09-25 at 8 37 29 pm](https://user-images.githubusercontent.com/29113947/30816216-ec519ece-a232-11e7-8da5-c2a529995dc5.png)

I have clicked Text field two time and Main view floats down, if i continue pressing text field the view  will shifted downwards all time.

[2017-09-25 17:41] hackiftekhar commented on #1006
@MyHZ क्षमा करें, मुझे चीनी भाषा नहीं आती है, क्या आप अंग्रेजी में लिखने का कष्ट करेंगे?

[2017-09-25 17:44] hackiftekhar commented on #1005
I'm getting this issue from couple of developers but I don't have a solution yet since I didn't investigated technical reason behind that. WIll try to solve or present a workaround as soon as possible.

[2017-09-26 00:59] MyHZ commented on #1006
I'm sorry, I did not notice.My English is not very good. I will use the translation software to explain to you my question.
_**# I used UITextView in uitableviewCell. When the keyboard blocks TextView, Tableview moves up, but the navigation bar moves up.When the keyboard is retracted, Tableview is about 20 pixels more than the last time.**_
This happens in the use of iOS 11 system iPhone6s.In the

[2017-09-26 01:15] MyHZ commented on #1006
![untitled](https://user-images.githubusercontent.com/15187513/30837906-f759f06e-a22d-11e7-9eac-d6e25450364b.gif)

I uploaded a GIF, hoping to express my problem clearly.

Here's my code to solve this problem.

_-(void)loadView
{
     UIScrollView *scrollView = [[UIScrollView alloc] initWithFrame:[[UIScreen mainScreen] bounds]];
    self.view = scrollView;
}
_

[2017-09-26 01:56] mdsVibhor commented on #1005
Okay, can you just tell me the old stable version for objective-c. So that
I run stable my application.

On Mon, 25 Sep 2017 at 11:14 PM, Mohd Iftekhar Qurashi <
notifications@github.com> wrote:

--
*--*
*Thanks & Regards,*

*Vibhor Singla*

*Software Engineer*

*MetaDesign Solutions Pvt. Ltd.*

*Tel*        : +91-99965-29503
*Email*     : vibhor.singla@metadesignsolutions.co.uk
*Website*  : www.m

[2017-09-26 02:45] g1174117917 commented on #1001
Thanks @287291867

[2017-09-26 02:45] bendary commented on #1006
我之前和你有类似的情况。通过设置scrollview.contentInsetAdjustmentBehavior=UIScrollViewContentInsetAdjustmentNever
解决了我的问题。你可以试试看

[2017-09-26 03:13] MyHZ commented on #1006
@bendary 你好，我是这样子设置了，但是没有效果的，在视图控制器加上

[2017-09-26 03:13] MyHZ commented on #1006
这段代码才解决掉

[2017-09-26 03:13] MyHZ commented on #1006
@bendary _-(void)loadView
{
UIScrollView *scrollView = [[UIScrollView alloc] initWithFrame:[[UIScreen mainScreen] bounds]];
self.view = scrollView;
}
_

[2017-09-26 03:49] tariq235 commented on #954
@hackiftekhar  @hieuphq  How to add only IQKeyboardManagerSwift ? If I add only swift project then i get crash

[code]
I have to add both in Embed Framework to get rid of this crash. Please help!

[2017-09-26 05:26] iOSamit opened #1008 "Error in pod install for xcode 9"
pod 'IQKeyboardManagerSwift', '5.0.0' if i use above command

[!] Unable to satisfy the following requirements:

- `IQKeyboardManagerSwift (= 5.0.0)` required by `Podfile`

None of your spec sources contain a spec satisfying the dependency: `IQKeyboardManagerSwift (= 5.0.0)`.

You have either:
 * out-of-date source repos which you can update with `pod repo update` or with `pod install --repo-updat

[2017-09-26 06:51] PrajeetShrestha commented on #391
Hi. This is not working in iOS 11?

[2017-09-26 07:24] Shahbaz-Akram commented on #1003
I have same issue any solution please.

[2017-09-26 07:43] Shahbaz-Akram opened #1009 "UI issue after updating on 4.0.13"
When i click on textfield then all screen moves to bottom.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/8728903/30848323-3c8f27c8-a2b8-11e7-8d5d-c5b23f5a8866.gif)

[2017-09-26 07:51] Shahbaz-Akram commented on #969
thanks it is working fine.

[2017-09-26 08:30] yaoyakun9 opened #1010 "if rootViewController view frame origin x is not 0, it will change rootViewController view frame"

[2017-09-26 08:59] BountyProgrammer commented on #1003
I have same issue any solution please.

[2017-09-26 09:43] AfrozZaheer commented on #1008
Same issue Pod is not installing after xcode 9 up-gradation
![screen shot 2017-09-26 at 2 43 20 pm](https://user-images.githubusercontent.com/25176835/30853745-1b06fe8a-a2c9-11e7-983e-400ab49ddf4a.png)

[2017-09-26 09:49] AfrozZaheer opened #1011 "Not installing via Cocoapods on xcode 9"
Hi, I recently upgraded to xcode 9 and swift 4, but when I try to install IQKeyboard pod repo seams to not find it. any solution?

![screen shot 2017-09-26 at 2 48 36 pm](https://user-images.githubusercontent.com/25176835/30854003-d27d069a-a2c9-11e7-9cb1-6bd85fa84df8.png)

[2017-09-26 09:55] ZHSY commented on #918
if there three textField， i only need two of them can response  ‘goBefore: '<',‘goNext’: '>' button can u help me how to use this lib do it

[2017-09-26 10:08] JordanGrigg commented on #1005
Getting the same issue here - multiple taps in TextField causes the superview to get pushed down the screen by approximately the height of the textfield each time. iOS 11 only - happens in Simulator and iPhone SE

[2017-09-26 11:26] ChristianPraiss commented on #984
I found out that iOS doesn't seem to provide the correct frame in the willShowKeyboard notification when the prediction bar hides and you also show a custom inputAccessoryView. Calling adjustFrame in the didShowKeyboard method again updates the offset correctly, even though it can make the offset jump. As of now I will check if this is intended by Apple or if it is an iOS bug, I will open a radar

[2017-09-26 12:19] thomasmu commented on #1011
Do you specify any source on your Podfile? Maybe your source has no specification for this pod. Try removing the source, then see if it's work.

[2017-09-26 14:23] jaymathew commented on #1003
same issue here as well

[2017-09-26 15:10] ahbou commented on #1002
This is a general issue with inputAccessoryViews on iPhone X.
The inputAccessoryView ignores the safeAreaLayoutGuides of its window.

You have to manually add the constraint. I believe Apple is aware of the bug.
In the meantime, I wrote about a quick fix here:
http://ahbou.org/post/165762292157/iphone-x-inputaccessoryview-fix

[2017-09-26 15:11] jordancamara opened #1013 "AddCustomDoneTarget"
Hi,

I was wondering, what happened to the AddCustomerDoneTarget method? I saw that there is a PreviousNextDoneWithTarget method, but that is passing the toolbar and not the sender.

[2017-09-26 15:30] jordancamara commented on #1013
Also the done action doesn't seem to dismiss the keyboard anymore. Any idea why that is?

[2017-09-26 15:31] hackiftekhar commented on #1006
@MyHZ This issue shouldn't be happen if you are using UITableView, because in case of scrollView and their subclasses (like UITableView) the library try to adjust it's contentInset property in order to avoiding keyboard hiding. Can you try to upload a demo so that I can take a look what might be wrong?

[2017-09-26 15:33] hackiftekhar commented on #954
That's why I said you shouldn't add both. Remove IQKeyboardManager.framework if you are using IQKeyboardManagerSwift.framework.

[2017-09-26 15:33] hackiftekhar commented on #391
What exact behaviour you need @PrajeetShrestha ?

[2017-09-26 15:36] hackiftekhar commented on #1009
Please change `contentInsetAdjustmentBehavior` property to `UIScrollViewContentInsetAdjustmentNever`

[2017-09-26 15:38] hackiftekhar commented on #1010
@yaoyakun9 Can you try changing `shouldFixInteractivePopGestureRecognizer` property of IQKeyboardManager to `NO' and see if it works.

[2017-09-26 15:39] hackiftekhar commented on #1008
Please try running `pod update`

[2017-09-26 15:41] hackiftekhar commented on #918
hmm @ZHSY, actually this isn't supported currently because current library logic is to find all textFields which are in same subview, but it's a good idea to add a BOOL property to ignore any textField.

[2017-09-26 16:11] hackiftekhar commented on #918
@ZHSY I'm adding `ignoreSwitchingByNextPrevious` BOOL to a UIView cateogory class, so you'll have the ability to to ignore any textfield or textview seeing by the library.

[2017-09-26 16:13] hackiftekhar commented on #1005
@mdsVibhor for iOS11 there is no 100% stable version because we have some issues while running our code with iOS11 environment.
I'm still trying to fix iOS11 issues, however now I think I need help from developer community to find solutions and send pull-requests.

For iOS10 as highest target, you can use 4.0.10 version.

[2017-09-26 16:14] hackiftekhar commented on #1005
However you can try setting `contentInsetAdjustmentBehavior` to `.never`. I hope this will help @mdsVibhor @JordanGrigg

[2017-09-26 16:19] hackiftekhar commented on #1003
Can you guys check the demo project and debug it to find out something useful for us?

[2017-09-26 16:23] hackiftekhar commented on #1013
See https://github.com/hackiftekhar/IQKeyboardManager/issues/979 https://github.com/hackiftekhar/IQKeyboardManager/issues/994

[2017-09-26 16:23] #1013 closed

[2017-09-26 16:23] #979 closed

[2017-09-26 17:16] jordancamara commented on #1013
Thanks!

[2017-09-26 17:50] techverx commented on #969
Yes, it is working with 4.0.13

[2017-09-26 22:53] ETGgames opened #1014 ""Done" button on toolbar not visible in ios11"
It can still be pressed. Using the latest version.

[2017-09-26 22:56] yaoyakun9 commented on #1010
Thanks! It works fine!

[2017-09-26 22:56] #1010 closed

[2017-09-27 01:03] qiuseruxin commented on #976
Thank you for your reply. Please give me some time. I have a lot of work to do now @hackiftekhar

[2017-09-27 01:47] MrVokie commented on #977
great!

[2017-09-27 02:22] MyHZ commented on #1006
@hackiftekhar
Hello
I wrote a demo, but did not reproduce my problem. But still there will be TableView down offset problem. I uploaded my code to you.
Because my code is more, I can not paste out. So put the key code in the Demo.

[IQTest.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/1335587/IQTest.zip)

[2017-09-27 02:54] Fighting-MrWeng opened #1015 "Bug!!!!"
The disabledDistanceHandlingClasses method works in the old version, and the new version fails

[2017-09-27 02:58] hoanglinhkd commented on #1014
I have the same issues on v4.x(install through cocapod), but if you install by adding code from lasted release v5.0.2, They have already fix issue on iOS 11.
<img width="738" alt="screen shot 2017-09-27 at 09 56 02" src="https://user-images.githubusercontent.com/5093601/30893825-703f9b9a-a36a-11e7-8523-c85c7ca0adf5.png">

[2017-09-27 04:41] yangmie commented on #1009
Thanks! @hackiftekhar

I encounter the same issue, but it seems that setting contentInsetAdjustmentBehavior property to UIScrollViewContentInsetAdjustmentNever does't work for me.

@Shahbaz-Akram have you solved yours now?

[2017-09-27 05:32] huzhiqin commented on #1003
Solve it ourselves. You can try this method ：
- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions {
    if (# IS_IOS_11) {
#         UITableView.appearance.contentInsetAdjustmentBehavior = UIScrollViewContentInsetAdjustmentNever;

    }

[2017-09-27 05:53] ZHSY commented on #918
thanks for response

[2017-09-27 06:41] xMonty opened #1016 "setCustomNextTarget not found"
i was using an older version and using "setCustomNextTarget" function but now i upgraded to latest and cant find this function
was it changed?

[2017-09-27 07:41] sunnyzl opened #1017 "View can not transform identity"
on iOS11, view can not transform identity sometimes

[2017-09-27 08:00] mahesh789 opened #1018 "iOS 11 Issue ToolBar "Done" not showing"
Hi,

toolbar "Done" button not showing in ios 11 plz resolve this issue asap.

<img width="359" alt="screen shot 2017-09-27 at 1 29 49 pm" src="https://user-images.githubusercontent.com/18137093/30902176-fb52698e-a387-11e7-9a87-522efe0fc10b.png">

[2017-09-27 10:09] sunnyzl commented on #1017
When keyboard packed up, it will happen sometime

[2017-09-27 10:38] PanMluvci commented on #1018
same issue here. Running iPhone 6 with latest iOS 11 and Done button is missing.

[2017-09-27 10:38] faizashraf opened #1019 "Issues"
Hello, I've been using IQKeyboardManager for iOS 10.
It stopped working correctly after the update of my app to iOS 11 and migrating to Swift 4.
Can you please tell me, is there any version that I can install via CocoaPods that supports Swift 4?
Or maybe you can provide a workaround?

[2017-09-27 11:00] AfrozZaheer opened #1020 "UI Picker view not showing correctly ios 11 xcode 9"
Hi, There is problem with picker view use as input view of UITextField while IQKeyboard is enable.
working fine in ios 10, this issue seems to be related to ios 11. Attached is issue picture where there is a huge gap between toolbar and picker.

![simulator screen shot - iphone 7 - 2017-09-27 at 15 57 49](https://user-images.githubusercontent.com/25176835/30952143-1302278c-a440-11e7-858b-a817166d9

[2017-09-27 12:37] hackiftekhar commented on #1014
Btw, what’s the issue here?

[2017-09-27 12:39] hackiftekhar commented on #1017
Not underestand, can you reword by adding some more info?

[2017-09-27 12:39] hackiftekhar commented on #1018
Please update to 5.0.2

[2017-09-27 12:39] #1018 closed

[2017-09-27 12:40] hackiftekhar commented on #1019
Just to let you know latest version 5.0.2 support swift4

[2017-09-27 13:04] mahesh789 commented on #1018
yes its working now after update Thank u "Mohd Iftekhar Qurashi" for fast reply..

[2017-09-27 13:05] Ashu commented on #1020
You need to specify height of the picker i.e. 216. It will fix the issue.

[2017-09-27 14:08] ETGgames commented on #1014
"Done" button on toolbar not visible in ios11

[2017-09-27 14:09] ETGgames commented on #1014
Is there a way to upgrade to a working version with pods?

[2017-09-27 14:26] dethell opened #1021 "UIButton action does not fire when tapping if a text field is in focus"
I'm using IQKeyboardManager and it works well in most areas of our app, but I have one view where tapping a UIButton doesn't fire when the text field is in focus. I have to tap the UIButton, and then when the keyboard closes tap it again to actually call the button action.

What is odd is the UIButton correctly highlights when tapped so it appears to be receiving the tap, but the action does not f

[2017-09-27 15:23] pMalvasio commented on #1000
@marbeaupa I fixed that issue (Moreover in the text bar doesn't appear the two arrows on the left) using the last version (5.0.0) because I'm using Xcode 9. Anyways I still have the main issue of this thread: "... not able to see what we typing as TextField at bottom of view doesn't move up but hides behind keyboard."

[2017-09-27 16:23] onursahindur opened #1022 "Keyboard size is wrong when XCode 8.3 with iOS 11 is being used"
Please check this issue on stackoverflow:
**https://stackoverflow.com/a/46389891/1153503**

Keyboard size is wrong when we use '_UIKeyboardFrameEndUserInfoKey_' instead of '_UIKeyboardFrameBeginUserInfoKey_'.

[2017-09-27 16:30] hackiftekhar commented on #1014
Please update to v5.0.2

[2017-09-27 16:33] hackiftekhar commented on #1021
Have you also set shouldResignOnTouchOutside to YES? If YES, then still library gesture isn't activated for UIControl and UINavigationBar subclasses. I'll check what might be the cause.

[2017-09-27 16:35] hackiftekhar commented on #1022
Xcode 8.3 doesn't support iOS11. right?

[2017-09-27 16:35] hackiftekhar commented on #1022
thanks for pointing out, I'll check if that's a real issue with public release of of Xcode9

[2017-09-27 16:37] onursahindur commented on #1022
Yes, XCode 8.3 does not support iOS 11, however users who use iOS 11 still can download a build which is compiled with XCode 8.3. Thanks for the response btw :)

[2017-09-27 16:44] ETGgames commented on #1014
Ah perfect! Thanks for the hard work, this truly is a great plugin!

[2017-09-27 17:14] hackiftekhar commented on #1016
Yup it’s updated. See #979 #994

[2017-09-27 17:16] hackiftekhar commented on #1015
Okay, I’ll try to check it if we break something

[2017-09-27 19:32] alexwillingham commented on #968
I've got this issue with all 4.x versions of IQKeyboardManager.  Tried with 4.0.8, 4.0.12, 4.0.13.  I can not use 5.x because I can't build my project in Xcode 9 yet, due to some other dependencies which are not yet built only with Swift 3.1 still.

[2017-09-28 01:13] sunnyzl commented on #1017
<img width="225" alt="111" src="https://user-images.githubusercontent.com/11400615/30944831-131d3544-a42d-11e7-8fe7-88efb9e3a3b0.png">
just like this, when keyboard packed up. the view can not recovery position somtime

[2017-09-28 03:15] davestucky commented on #996
Still not working still have error "Use of unresolved identifier 'IQKeyboardManager'". Even tried using pod and got error.  HELP!!

[2017-09-28 03:25] yuwuchaio commented on #975
Run The Project  in Xcode 9 with  a 'Exception breakpoint' .It will happen Every time. v4.0.13 @hackiftekhar

[2017-09-28 03:26] Hoony-HU opened #1023 "iOS 11 The Done button disappeared"
iOS 11 xcode9  The Done button disappeared

[2017-09-28 03:27] NicholasFLee opened #1024 "disabled toolbar class seems does not work stable in iPhone X simulator"
Same code, works fine on my iPhone 6s, but not work on iPhone X simulator.

[2017-09-28 03:30] Hoony-HU commented on #1024
@NicholasFLee  iPhone 7 with iOS11 not work.

[2017-09-28 03:36] NicholasFLee commented on #1024
I should say it does not work stable.  sometimes it works, sometimes not.

[2017-09-28 03:38] NicholasFLee commented on #1024
@Hoony-HU well, It works fine on my iPhone 7 simulator ...
and it randomly works on my iPhone X simulator.

[2017-09-28 03:46] Hoony-HU commented on #1024
@NicholasFLee  I'm not using an emulator.I think there may be some misunderstanding.My problem is that the Done button has disappeared. emmmmmmmmmmm

[2017-09-28 03:52] #1023 closed

[2017-09-28 04:23] namanhams commented on #1005
@hackiftekhar : is there any update on this ? Thank you !

[2017-09-28 05:15] namanhams commented on #1005
@hackiftekhar : i found out something interesting, hope it can help you.
So when i press the "View UI Hierarchy" button from XCode, from the console, this is printed out :

`[LayoutConstraints] Window has a view with an ambiguous layout. See "Auto Layout Guide: Ambiguous Layouts" for help debugging. Displaying synopsis from invoking -[UIView _autolayoutTrace] to provide additional detail.

*_UIBas

[2017-09-28 05:23] Shahbaz-Akram commented on #1009
Where i change it?

[2017-09-28 05:28] namanhams commented on #1005
Ok, so i think i found a work around.
Since Viewing UI Hierarchy from XCode and then pressing the Continue button will somehow refresh the screen to correct layout, it suggests that all the constraints are actually correct. There may be some bug in iOS. So what i do is listening for the **UIKeyboardWillHideNotification**, and then call
`   [self.view.window setNeedsLayout];
   [self.view.window la

[2017-09-28 05:32] lailtlakhara opened #1025 ""toolbar" not visible in IOS 11 Objective C with xcode 9"
![img_1566](https://user-images.githubusercontent.com/32255673/30950773-9e20351a-a43c-11e7-8025-ac59bbc64c50.PNG)

[2017-09-28 06:24] Shahbaz-Akram commented on #972
i am using tableview and face this problem

[2017-09-28 06:38] #1025 closed

[2017-09-28 07:57] NicholasFLee commented on #1024
I may close this issue because since I have uninstall and reinstall my app,  it works well :D

[2017-09-28 07:57] #1024 closed

[2017-09-28 08:04] wisemasterwizz commented on #1018
Hi , I have the same issue 'iOS 11 Issue ToolBar "Done" not showing' on all my iOS devices, iPhone 7.

I've updated my pod file to pod 'IQKeyboardManagerSwift', :git => 'https://github.com/hackiftekhar/IQKeyboardManager' but this has not worked for me.

I'm running the latest official version of Xcode 9 swift language 3.2.

[2017-09-28 08:13] wisemasterwizz opened #1026 "iOS 11 Issue ToolBar "Done" not showing"
Hi , I have the same issue 'iOS 11 Issue ToolBar "Done" not showing' on all my iOS devices, iPhone 7.

I've updated my pod file to pod 'IQKeyboardManagerSwift', :git => 'https://github.com/hackiftekhar/IQKeyboardManager' but this has not worked for me.

I'm running the latest official version of Xcode 9, swift language 3.2.

How can this be resolved?

Thanks
![img_1440](https://user-images.githubu

[2017-09-28 08:29] thomasmu commented on #1000
Is your form located inside a UIScrollView?

[2017-09-28 08:31] wisemasterwizz commented on #1026
fix in https://stackoverflow.com/questions/45686663/done-button-invisible-in-iqkeyboardmanager-library did not work either

[2017-09-28 09:45] arrrnas commented on #977
@hackiftekhar did you find the solution for https://github.com/hackiftekhar/IQKeyboardManager/issues/977#issuecomment-331439056?

[2017-09-28 11:49] parveen17 commented on #969
Yes, it is working with 4.0.13

[2017-09-28 12:21] ARGAMX commented on #87
This property called "toolbarDoneBarButtonItemText".
You can set it:
`[IQKeyboardManager sharedManager].toolbarDoneBarButtonItemText = @"Супер";`

[2017-09-28 12:28] pgawlowski commented on #962
@hackiftekhar I've got quite the same issue. On screen I tapped e-mail textField. Keyboard i being initialized and quicktype is being generated AFTER keyboard is visible. This action takes e-mail textField under keyboard toolbar.

The problems seems to not appear when you move up&down with arrows after first init of keyabord (in that case keyboard somehow remember quicktype value) and keyboard avo

[2017-09-28 12:51] hackiftekhar commented on #968
@alexwillingham I made 5.0.x compatible for swift 3.0, can you please check if this works for you?

[2017-09-28 12:52] hackiftekhar commented on #1017
Do you know if you have pinned top layout guide or bottom layout guide constraints?

[2017-09-28 12:53] hackiftekhar commented on #996
Can you try with a fresh project?

[2017-09-28 12:55] hackiftekhar commented on #1009
Then I think probably you are the best guy to debug what's actually happening with your tableView. It changing the position or changing contentOffset or contentInset

[2017-09-28 12:56] hackiftekhar commented on #1005
ahh, that's good solution. Thanks for finding out at least a tweak.

[2017-09-28 12:58] hackiftekhar commented on #1018
Can you please try running `pod update`?

[2017-09-28 13:00] hackiftekhar commented on #977
Nope, there is no solution found for this. Because applying appearance proxy on UIBarButtonItem also applying appearance proxy on IQBarButtonItem and overwriting appearance proxy of IQBarButtonItem doesn't work.

[2017-09-28 13:01] pgawlowski opened #1027 "IQKeyboardManager - quicktype + iPhoneSE"
Two problems probably connected:
- first quicktype toolbar
![img_0529](https://user-images.githubusercontent.com/9845024/30967579-0b3549e0-a45d-11e7-866b-0bb618d5bd11.jpg)

It's covering e-mail textField in my case. It's probably caused by the way keyboard is generating quicktype toolbar - first it's showing keyboard then it's showing quicktype and it's causing overlaying textField.

Second proble

[2017-09-28 13:02] hackiftekhar commented on #962
hmm, okay @pgawlowski I'll check what might be the issue.

[2017-09-28 13:04] hackiftekhar commented on #1027
@pgawlowski Can you please check if you pinnged your textField with layout guide or safe area?

[2017-09-28 13:13] pgawlowski commented on #1027
I'm not sure If I understand. UITextField is a subview of another view. Here is a screen of hierarchy (higlighted one is my textField) + constraints.
<img width="629" alt="screen shot 2017-09-28 at 15 12 16" src="https://user-images.githubusercontent.com/9845024/30968418-8e14a6b0-a45f-11e7-9326-3dabfab3aae1.png">

[2017-09-28 13:21] Shahbaz-Akram commented on #1009
okay and when i add IQKeyboardManager.sharedManager().enable = false ; in specfic controller then this issue resolved.

[2017-09-28 13:23] alexwillingham commented on #968
I can build, but crash immediately, when using `5.0.2` of this library in my app in `Xcode 8.3.3 (8E3004b)`

![image](https://user-images.githubusercontent.com/3759688/30968144-546600c2-a42c-11e7-853a-69042372dc4a.png)

I have discovered however, that 5.0.0 does run in Xcode 8.3.3.  So it seems there's a regression in version > 5.0.0 for Xcode 8.3.3, swift 3, compatibility.  Unfortunately, with th

[2017-09-28 13:30] Shahbaz-Akram commented on #1009
Now soultion which i implement is that simple

viewdidload(){
 IQKeyboardManager.sharedManager().enable = false
}
viewwilldisapear(){
 IQKeyboardManager.sharedManager().enable = true
}
and handle manuallay keyboard on that controller.

[2017-09-28 14:14] mikkelam commented on #1006
I have this exact problem as well

[2017-09-28 14:29] wisemasterwizz commented on #1018
I've run 'pod update IQKeyboardManagerSwift' and the done button is still not appearing. if I press the area where the button should be I can click on it like it was invisible. I'm running the latest Xcode version from the App Store and running on swift 3.2

[2017-09-28 15:04] davestucky commented on #996
I did that also. I am new to swift programming and have spent two years developing this app for tracking doves and events. Kind of pieced together the app as I went. The IQKeyboard worked great under Swift 3 and then poof. Really want this to work. I just don’t get it. seems no matter what i do it just doesn’t recognize the framework.

Thanks

Dave

[2017-09-28 16:00] ab-rdarts commented on #1020
I see the same for non pickerviews (IQKeyboardManager 5.0.2)

![simulator screen shot - iphone x - 2017-09-28 at 18 57 00](https://user-images.githubusercontent.com/9376541/30977109-4002e3f4-a47f-11e7-8172-82ed23c865f1.png)

[2017-09-28 17:12] icefall commented on #1003
Same issue here!

[2017-09-28 17:13] lilianeblima commented on #1003
Same issue here!

[2017-09-28 17:15] bsavoini-amaro commented on #1003
same

[2017-09-28 17:16] bsavoini commented on #1003
same

[2017-09-28 18:46] onursahindur commented on #1022
Sorry for wrong update, the problem I guess is that it is because of the word guess view above keyboard. However I do not know the English meaning of it so I could not find an answer :)

[2017-09-28 18:46] #1022 closed

[2017-09-28 18:56] hackiftekhar commented on #1020
That doesn't look good. Are you sure you haven't added this modal directly to UIWindow. Are you sure this modal is a part of a UIViewController?

[2017-09-28 18:58] hackiftekhar commented on #996
So what's the result with a fresh project? Have you installed via cocoa-pods or manually?

[2017-09-28 18:58] hackiftekhar commented on #1018
ahh, then you probably have set appearance proxy of UIBarButtonItem.

[2017-09-28 19:02] hackiftekhar commented on #1027
Now I can see more clearly. @pgawlowski Can you please check your UITextField container UIView(just above your selection) pinned with it's superview or with Top Layout guide?

[2017-09-28 19:03] ab-rdarts commented on #1020
Yes, sure. It happens also on another screen. For example in view controller which was pushed into navigation controller. As I see it appears only at the second appearance of viewcontroller. It seems I've fixed it by forcing view.endEditing at viewcontroller disappearance.
The strange thing that this toolbar is shown in right position in view hierarchy. And done button can be clicked in the right

[2017-09-28 19:07] hackiftekhar commented on #1020
This looks too odd, can you try to put this in a demo project for me?

[2017-09-28 19:09] IntellectSoftDeveloper commented on #1020
I will try on the weekend

[2017-09-28 19:09] ab-rdarts commented on #1020
I will try on the weekend

[2017-09-28 19:11] hackiftekhar commented on #1020
Sure!

[2017-09-28 19:19] onursahindur commented on #1025
how did you solve this?

[2017-09-28 19:25] davestucky commented on #996
Both and it keeps saying unresolved IQKeyboardManager

[2017-09-28 20:23] dethell commented on #1021
I have added:
`IQKeyboardManager.sharedManager().shouldResignOnTouchOutside = true`
and it still doesn't fire the UIButton action.

[2017-09-28 21:06] usuf1990 commented on #709
Hi,
It's still calling delegate multiple times. I have a textfield inside UITableViewCell

[2017-09-28 21:51] wisemasterwizz commented on #1018
Thanks for your help so far! Where would I have set appearance proxy of UIBarButtonItem? it was working fine for IOS 10 and nothing had changed going to IOS11. Where can I check this?

[2017-09-29 00:57] sunnyzl commented on #1017
I've already done that

[2017-09-29 01:48] 15017117 opened #1028 "What's wrong with this?"
IQKeyboardManagerSwift`kbManager.unsafeMutableAddressor in Static #1 in static IQKeyboardManager.sharedManager():
    0x109cd6a80 <+0>:  pushq  %rbp
    0x109cd6a81 <+1>:  movq   %rsp, %rbp
    0x109cd6a84 <+4>:  cmpq   $-0x1, 0x80264(%rip)      ; globalinit_33_1804EA4A44CDC62F5B66EAD58B4692DC_token1 + 7
    0x109cd6a8c <+12>: je     0x109cd6aa4               ; <+36> at IQKeyboardManager.swift:172

[2017-09-29 02:01] namanhams commented on #1006
This is an issue on iOS 11, and while waiting for the official fix, i found a work around. Check it [here](https://github.com/hackiftekhar/IQKeyboardManager/issues/1005)

[2017-09-29 03:52] MyHZ commented on #1006
@mikkelam The author is now discovering and modifying the problem.You can use the method I made a temporary solution to that.
-(void)loadView
{
UIScrollView *scrollView = [[UIScrollView alloc] initWithFrame:[[UIScreen mainScreen] bounds]];
self.view = scrollView;
}

[2017-09-29 05:05] bryanfortune96 commented on #1026
having the same issue :)

[2017-09-29 07:32] dionizb opened #1029 "Crashing with Google places search"
It was running good until i received this error last day.
Here is the error: ** *** Terminating app due to uncaught exception 'NSRangeException', reason: '*** -[__NSArrayM objectAtIndexedSubscript:]: index 0 beyond bounds for empty array' **
 And here is where it crashes
 if (siblings[0] == textField)
            {
                if (siblings.count == 1)
                {
                    [tex

[2017-09-29 07:36] #1029 closed

[2017-09-29 07:37] dionizb commented on #1029
i just removed  :git => 'https://github.com/hackiftekhar/IQKeyboardManager', :branch => ‘swift4', updated the pod and it works now !

[2017-09-29 09:36] pgawlowski commented on #1027
@hackiftekhar It's pinned with another object (logo).

What about first part of my question? I mean with e-mail field and quicktype?

[2017-09-29 09:44] XDB-Chang commented on #1026
having the same issue

[2017-09-29 11:05] george012 commented on #1026
having the same issue

[2017-09-29 14:38] marbeaupa commented on #1000
no, it is not a scroll view, but adjusting the constraints the screen is moving up when the keyboard enters into the screen

[2017-09-29 14:52] hackiftekhar commented on #1026
If you are using version older than 4.0.12 then you might getting this isuse, please update to latest version of library which is 5.0.2 at the moment.

[2017-09-29 14:54] hackiftekhar commented on #1027
The quicktype toolbar depends on user settings, this isn't added by library, it does affect with a Device Settings and the autocorrect property of UITextField. You should change it to hide it.

[2017-09-29 14:55] hackiftekhar commented on #1027
Regarding main issue, have your logo pinned to top layout guide constraint. Technically I mean please check if your top layout guide or bottom layout guide affect your textfield position directly or indirectly.

[2017-09-29 14:56] hackiftekhar commented on #1029
You could also use latest version of library which is 5.0.2 and officially support swift4, swift3.2 and swift3.0 as well. The branch swift4 was useful when Xcode was in beta phase.

[2017-09-29 14:57] hackiftekhar commented on #1006
I'll try to check this in this weekend guys.

[2017-09-29 14:58] hackiftekhar commented on #1028
Did you call this method on a non-main thread?

[2017-09-29 14:59] hackiftekhar commented on #1017
If you pinned then this issue might happen @sunnyzl, for a workaround can you please try replacing that with superview?

[2017-09-29 14:59] hackiftekhar commented on #1018
Yeah, that's the problem @wisemasterwizz this looks to be a bug from Apple since if I'm seeing any appearance proxy on IQBarButtonItem then it doesn't work either.

[2017-09-29 15:00] hackiftekhar commented on #709
Which version of library you are using @usuf1990 ?

[2017-09-29 15:02] hackiftekhar commented on #1021
no no I mean I was asking a question that you have set `shouldResignOnTouchOutside` to true or false? I didn't say to change this property to yes. Regarding your original question, can you please share a demo so that I can take a look what might be wrong?

[2017-09-29 15:03] hackiftekhar commented on #996
That's not good, but at last I can say if this is happening then it must be due to some Xcode settings or Xcode version you are using and isn't much related to library.

[2017-09-29 15:15] usuf1990 commented on #709
@hackiftekhar   IQKeyboardManagerSwift (5.0.2)

[2017-09-29 16:16] davestucky commented on #996
Kinda what I thought. OK I will press on and see if I can find the challenge. Thank you for your time and energy. Great framework though, you did a great job. You may show this as closed.

Thanks again,
Dave

[2017-09-30 02:05] sunnyzl commented on #1017
On latest version framework, it have not happened yet. I will test and observe for a while

[2017-09-30 02:05] #1017 closed

[2017-09-30 03:46] Calvix-Xu commented on #978
In our project, This problem has happened,because our project change the appearance,it like this
 [[UIBarButtonItem appearance] setTitleTextAttributes:@{
                                                           NSFontAttributeName : [UIFont systemFontOfSize:14],
                                                           NSForegroundColorAttributeName : [UIColor whiteColor],

[2017-09-30 03:52] Calvix-Xu commented on #978
It's helpful.Setting the UIBarButtonItem appearance has cause this problem in our project.Ths

[2017-09-30 06:03] qiuseruxin commented on #976
I'm sorry to have kept you waiting for so many days, I have already written a demo and  recorded a GIF images in the project. it git address is
https://github.com/qiuseruxin/IQKeyboardManagerBugDemo.git
Thank you very much @hackiftekhar

[2017-09-30 09:08] wisemasterwizz commented on #1018
The strange thing is that the 'Done' button is appearing in another app and works fine in IOS 11 for that app, could there be a conflict somewhere perhaps?

[2017-09-30 12:33] ab-rdarts commented on #1020
Sample project is attached. It has two problems with keyboard on iOS11
1. Steps to reproduce (Any iPhone version):
a. Press Menu -> Settings
b. Activate any text field
c. Press Back, than again Settings
d. Activate any text field. Here you will see problem with toolbar. As I see it can be related to Hero library, but it can be reproduced only iOS11.
It seems bug disappears If you uncomment //view.

[2017-10-01 02:06] WillBoland opened #1030 "Not adjusting screen when switching text fields."
It will not adjust the screen to view the text field if, when the view is loaded, the text field has user interaction disabled, but then is enabled while still on the screen. So when I load the view, it has user interaction as disabled. They click edit and it sets the property of the text fields to enabled. They can edit and switch between the text fields, but the screen won't adjust like it norma

[2017-10-01 12:22] pgawlowski commented on #962
@hackiftekhar - I can provide video or code sample for this, but I'd prefer to keep it on private in that case.

[2017-10-01 14:40] hackiftekhar commented on #709
I don’t think this method will be called multiple times from library. Can you please check again and sure the library calls this method multiple times.

[2017-10-01 14:42] #996 closed

[2017-10-01 19:34] Caeglin opened #1031 "How to remove quicktype?"
I just wanna use this tool for move text field when keyboard appear. So i want to remove thing which is appear up to keyboard. How can i remove?

[2017-10-02 06:46] pgawlowski commented on #1027
It is. From top:
- logo - pinned to topLayoutGuide
- label
- another label
- view with: - label, problematic textField

[2017-10-02 07:47] pgawlowski commented on #1027
Ok, both problems seems to be strictly connected with top constraint.
By default I had top element constraint set to TopLayoutGuide it was causing the wrong paddings whole time.

I forced to connect top constraint to superview and it started to work again. However - right now interface builder by default is being added to LayoutGuides not to superview. In demo you are probably using a little bit o

[2017-10-02 09:16] 9SumeetMourya commented on #954
Hello,
I have mix classes in my project.
I have used only IQKeyboardManagerSwift then in ObjectiveC class Viewcontroller don't have the toolBar for hide the keyboard and If add both the IQKeyboardManagerSwift and IQKeyboardManager then I toolbar with done button but when I tap my application is crashed.

[2017-10-02 10:23] luis7lucho opened #1032 "Crash on iOS 10.3"
After updating to 5.0.2 it is crashing in IQToolbar class when appearanceProxy.tintColor = nil
it seems like tintColor property is not optional.
Is anyone else having this issue?
Wondering if I should modify the file because it is "locked"

Thanks

[2017-10-02 11:35] DisobedientMedia opened #1033 "xcode 9 iOS11 runtime warning after migrating to Swift 4"
Hi,

After migrating my project to swift 4 I am seeing this warning appear in the debug console in xcode

Running version 5.0.2 of IQKeyboardManager

`implicit Objective-C entrypoint -[IQKeyboardManagerSwift.IQBarButtonItem isSystemItem] is deprecated and will be removed in Swift 4; add explicit '@objc' to the declaration to emit the Objective-C entrypoint in Swift 4 and suppress this message`

Ha

[2017-10-02 12:19] uddinr commented on #972
any update on this issue? i am currently using IQKeyboardManagerSwift 4.0.13 and the issue persists

[2017-10-02 12:21] JohnWangDev commented on #972
I wrapped the screen with UIScrollView and pod works fine.

[2017-10-02 12:45] uddinr commented on #972
i understand that it works by embedding all controls within a scrollview but i think doing that defeats the purpose of using this library i think it should be fixed to work the same way as iOS 10 i will await for any fixes for now

[2017-10-02 13:14] luis7lucho commented on #1033
I solved this by adding @objc next to var isSystemItem = false in IQBarButtonItem class on line 69. You will have to unlock for editing. Not sure if it the best way but it works :D

[2017-10-02 14:00] DisobedientMedia commented on #1033
Hi, thanks for the response. I understand I can do this, but wanted to report this so the upstream code could be corrected rather than editing the Pod project directly.

[2017-10-02 14:13] XRadevFRT commented on #1032
I have the same issue....

[2017-10-02 15:08] hackiftekhar commented on #1031
You could do this manually by changing some native property of UITextField/UITextView.

[2017-10-02 15:08] #1031 closed

[2017-10-02 15:09] hackiftekhar commented on #1031
The quicktype toolbar depends on user settings, this isn't added by library, it does affect with a Device Settings and the autocorrect property of UITextField. You should change it to hide it.

[2017-10-02 15:09] usuf1990 commented on #709
@hackiftekhar It's called whenever I try to do next from input accessory view arrow

[2017-10-02 15:10] hackiftekhar commented on #1027
I'm trying to modifying some layout guide approaches I'm using for layout guides.

[2017-10-02 15:13] hackiftekhar commented on #954
You shouldn't add both library at all, you should only add one, can you please check if you are changing enableAutoToolbar property to NO?

[2017-10-02 15:17] hackiftekhar commented on #972
You are absolutely correct @uddinr. ScrollView shouldn't be require to fix this problem (but for now a workaround). There are too many layout related API's are changed with iOS11.

Technically iOS11 following too many layout guides and layout margins which affect most of the library logic. Fixing those issues are taking time because I need to properly understand how new iOS11 layouts are related t

[2017-10-02 15:22] hackiftekhar commented on #1032
Any finding for a fix from you guys?

[2017-10-02 15:27] hackiftekhar commented on #1030
Is this problem only happen with iOS11 or you are having issues with previous iOS versions also? If yes then have you pinned any constraint to top layout guide or bottom layout guide which might directly/indirectly affect textField positions?

[2017-10-02 15:43] hackiftekhar commented on #1028
I checked and found that you are using sharedManager method in background thread and this library isn't intended to use from background thread.

[2017-10-02 15:44] #1026 closed

[2017-10-02 15:45] davestucky opened #1035 "All is good. One challenge"
OK after much cursing and sweat IQKeyboard works. Challenge was incomplete update of xcode. Now I have
----------
 if let itemLayoutGuide : UILayoutSupport = layoutGuide {

                    if (itemLayoutGuide === viewController.topLayoutGuide)    //If topLayoutGuide constraint
                    {
                        layoutGuidePosition = .top
                    }
                    els

[2017-10-02 15:47] hackiftekhar commented on #709
Can you please send me call stack so that I can understand from where your method is calling multiple times?

[2017-10-02 15:47] usuf1990 commented on #709
![screen shot 2017-10-02 at 10 46 59 am](https://user-images.githubusercontent.com/5227891/31086297-1a89b9d0-a75f-11e7-9f64-af71c523db23.png)
@hackiftekhar

[2017-10-02 16:03] usuf1990 commented on #709
@hackiftekhar  - Does it help?

[2017-10-02 19:00] #1033 closed

[2017-10-02 19:11] hackiftekhar commented on #1035
Now I've optimized project to support Safe Area. So if you are using Safe Area then there will be no need to do any additional tweaks for top layout guide and bottom layout guide, from now library will try to do tweak by changing additionalSafeAreaInsets property of viewController. Let's see how it works because I'm not aware of all the user scenarios and I wrote a basic workaround.

[2017-10-02 19:13] hackiftekhar commented on #709
Yup, it does help, you are getting this because your previous textField refused to become first responder. Because you probably return NO for a your next textField in textFieldShouldBeginEditing method. Am I right?

[2017-10-02 19:15] usuf1990 commented on #709
@hackiftekhar  yes! I wanted to open a popup for the new textfield

[2017-10-02 19:45] hackiftekhar commented on #1020
Thanks @ab-rdarts for adding the demo. Here is my feedback
1. For this issue I investigated it and haven't found any clues why toolbar shows like floating in the sky. However for a workaround you should always dismiss keyboard if you are navigating to other controller from current. So I suggest you to do the workaround you you were doing.
2. For step2 I found that you are calling `textField.become

[2017-10-02 19:45] #1016 closed

[2017-10-02 19:45] #1014 closed

[2017-10-02 19:46] #1008 closed

[2017-10-02 19:47] hackiftekhar commented on #1004
@veer9002 also please check if you are using any UIAppearance proxy.

[2017-10-02 19:49] #1002 closed

[2017-10-02 19:49] #1001 closed

[2017-10-02 19:58] hackiftekhar commented on #984
Hey @iOSUjjwal @ChristianPraiss I found that this issue happens because the textField position is indirectly affecting by top layout guide. You can see that top layout guide is connected to the logo image, but anyhow indirectly connected to the textField. There are 2 workaround and you can pick any one.
1) Replace top layout guide constraint with superview.
2) Or map top layout guide constraint wi

[2017-10-02 19:58] #984 closed

[2017-10-02 19:59] hackiftekhar commented on #1006
@MyHZ The demo project link isn't working. Can you please check again?

[2017-10-02 20:24] ab-rdarts commented on #1020
1. Ok about first issue
2. But it doesn’t work even if it appears after viewdidload. So at first time it shows correct position, but on switching by segment control it works wrong again. And in that moment all controls have their right positions already

[2017-10-02 20:28] hackiftekhar commented on #709
Then you should explicitly endsEditing:YES when you want to show popup. Can you please check if you can do that?

[2017-10-02 20:58] ETGgames opened #1036 "iPhone X issues"
When a text field that is constrained to the bottom of the safe area, or constrained to the bottom of the background image, and on iPhone X, then sometimes the keyboard covers the text field area. I think this is because of the way the background that is constrained to the top goes above the nav bar on iPhone X.
<img width="363" alt="screen shot 2017-10-02 at 21 58 02" src="https://user-images.git

[2017-10-02 21:18] kylexy32 opened #1037 "iOS 11, Version 5.0.3 UI Bug"
![ezgif com-gif-maker](https://user-images.githubusercontent.com/8315417/31099956-b4dfa3f6-a795-11e7-8a7e-43f0f7153336.gif)

I know several people were having some issues with iOS 11 and the keyboard display causing the UIView to shift down; although, after I updated to latest version (5.0.3) available, I am experiencing a slightly different bug where the view shifts both up and down at the same t

[2017-10-02 21:21] tditchek opened #1038 "How to disable Keychain Button"
In a secure/password textfield, is it possible to hide the Keychain button?

[2017-10-03 05:15] 9SumeetMourya commented on #954
Thanks for reply, I got the solution, I am using only one library now, **IQKeyboardManagerSwift**.
I made some mistake for using IQKeyboardManagerSwift in objectiveC class, I resolve that.

[2017-10-03 06:41] mohpor commented on #828
Better yet, I wish you could add `toolbarDoneBarButtonItemAttributedText`.

[2017-10-03 07:57] XRadevFRT commented on #1032
..well I just commented the line for now and it works. Don't think its the best solution :D

[2017-10-03 08:55] hackiftekhar commented on #1038
It's not possible using this library.

[2017-10-03 08:55] #1038 closed

[2017-10-03 08:56] hackiftekhar commented on #1037
hmm, this might be due to latest changes I did to fix some issues related to safe area layout margin.

[2017-10-03 08:57] hackiftekhar commented on #1036
I tried to handle some issues in v5.0.3 caused by safe Area. Let's see how it works.

[2017-10-03 14:33] jaften commented on #315
I'm having the same issue :s
The images seems to be missing...
I uploaded the IQButtonBarArrows with base size because it only had @2 and @3, and I thought that it could be the problem but it's still happening

[2017-10-03 16:51] ETGgames commented on #1036
ah, works now. cheers.

[2017-10-03 21:52] Jevon718 commented on #1011
I can get it to install but I have 82 errors

[2017-10-03 22:36] Jevon718 commented on #1011
I got it to work with pod update

[2017-10-04 05:55] ChanchalW commented on #492
I can't find this method in v4.0.13. I was using v4.0.8 and I implemented that but now it shows no methods founds.

[2017-10-04 07:37] alexbeon22 opened #1040 ""Done" button not Visible on ios 11"
hi. i am using Xcode 9. ios 11. IQKeyboardManager version 5.0.3 (Installed by Cocoapod). In keyboard , done button is not visible. Kindly request you to look into this issue.

[2017-10-04 08:02] smithparkar commented on #968
<img width="192" alt="screen shot 2017-10-04 at 1 29 34 pm" src="https://user-images.githubusercontent.com/26294355/31165347-65d63864-a908-11e7-8a23-86d4b1c7265d.png">

Not Working with iOS 11
I am using this IQKeyboardManager objective c Pod .

[2017-10-04 08:52] vijayender1991 commented on #1040
Yeah same issue for me also. tried with 5.0.3 no use

[2017-10-04 09:15] linarchabibulin opened #1041 "iOS11 keyboard manager gesture recognizer confilcts with table view didSelect"
Hi, I came across this kind of bug introduced by iOS11

1) On lower versions everything works
2) shouldResignOnTouchOutside is set to true
3) Using swift if it matters
4) Example: I do have location picker (it is UITextField with UITableView attached to it), when I start writing something into textfield, the tableView with suggestions get shown below textfield. If I try to to tap on the suggestion

[2017-10-04 13:09] wisemasterwizz opened #1042 "Large gap between textfield and keyboard"
Hi

Upgraded to IQKeyboardManagerSwift (5.0.3) and iOS 11 and we have large gap between textfield and keyboard. The gap is very small when viewing from the simulator for IOS11 and the gap is larger on my iPhone 7 device running iOS 11.

Can this be looked at?

All is OK when running iOS 10.3.
![img_1462](https://user-images.githubusercontent.com/20397012/31177323-97f77c54-a90d-11e7-8ba1-5b66589328

[2017-10-04 13:25] hackiftekhar commented on #1032
I've just fixed it 4c19e2ff3531005ea675b15d55c2417cd38e9269

[2017-10-04 13:25] #1032 closed

[2017-10-04 13:25] #1028 closed

[2017-10-04 13:26] #1011 closed

[2017-10-04 13:31] #950 closed

[2017-10-04 13:31] #948 closed

[2017-10-04 13:31] dineshtechniche opened #1043 "help me out"
i have installed the pod file of 'IQKeyboardManagerSwift', '5.0.0'
and also enabled in app delegate
but still it is not working

[2017-10-04 13:32] #926 closed

[2017-10-04 13:33] #919 closed

[2017-10-04 13:36] #968 closed

[2017-10-04 14:01] #947 closed

[2017-10-04 14:02] #963 closed

[2017-10-04 14:03] hackiftekhar commented on #945
Now there is a property `shouldIgnoreScrollingAdjustment` on `IQUIScrollView+Additions.h` category which should be set to YES to scrollView object to avoid scrolling by library.

[2017-10-04 14:03] #945 closed

[2017-10-04 14:07] hackiftekhar commented on #1040
Are you setting appearance proxy on UIBarButtonItem in your code?

[2017-10-04 14:09] hackiftekhar commented on #492
I know I didn't do a good versioning this time, however for your question the methods has been changed to these:-
[code]

[2017-10-04 14:12] alexbeon22 commented on #1040
No

[2017-10-04 15:34] hackiftekhar commented on #1040
Are you using version older than 4.0.12?

[2017-10-04 16:55] wisemasterwizz commented on #1040
I had same issue then I removed all references to IQKeyboardManager from my project and installed pod IQKeyboardManager v5.0.3 and the Done button returned but with some minor issues.

[2017-10-04 18:07] cs-joao-souza commented on #945
So, it will block all inner scrollviews to scroll?

[2017-10-04 21:29] kylexy32 commented on #1042
I am experiencing this problem as well; however, unlike you I also have a similar gap between the textfield and my UITableView that appears when the keyboard is initiated;

[2017-10-04 21:31] kylexy32 commented on #1037
I have seen a few other people with very similar issues, do you happen to know if this is something that can / will be resolved in a future version? Or is there a temporary fix that you are recommending to people?

[2017-10-05 04:57] ChanchalW commented on #492
Thanks, @hackiftekhar  I got these before your reply.

[2017-10-05 05:04] Akash136 commented on #1040
Yeah same issue for me also.....help me.

[2017-10-05 05:24] PatilDhananjay commented on #1014
Update Pods

[2017-10-05 05:55] AfrozZaheer commented on #1020
Hi, IQKeyboardManager works fine on iOS 10 but this issue appears in iOS 11. It will be great if you fix this ASAP.

[2017-10-05 06:20] brightsider commented on #1036
In UIScrollView bottom inset has extra space
![tableview](https://user-images.githubusercontent.com/4996231/31213259-5031287e-a9ae-11e7-9c19-ee951db2d19a.png)

[2017-10-05 07:59] assembleMHN commented on #1037
I too believe that i have a issue related to this.

[2017-10-05 08:55] hazemmaher92 commented on #1041
same exact issue here

[2017-10-05 09:58] drieran commented on #1042
Confirmed in 6SPlus iOS 11, a big gap. 5C in iOS10 was correctly. I tested 5.0.2 and all was fine.

[2017-10-05 11:32] Holliwood100 commented on #350
I am still so lost.

[2017-10-05 12:42] bilawal-liaqat opened #1044 "toolbar not appear for UITextView"
Toolbar not getting appear for UITextView inside UIAlertViewController.
 While using UITextView inside UIViewController, its working perfectly.

Code :

func showAlert(){
        let alertController = UIAlertController(title: "Title", message: nil, preferredStyle: UIAlertControllerStyle.alert)
        let rect = CGRect(x: 0, y: 0, width: 270, height: 120.0)
        let customView = UITextView(fram

[2017-10-05 14:22] MattSHallatt opened #1045 "Content shuffling down screen till not visible"
Here's a GIF showing the problem I'm having. Really not sure how to proceed with this, as I can't tell what the problem is!

https://media.giphy.com/media/3o6nUXz3RRETJT2Bgc/giphy.gif

When I tap in to the fields, and tap done, the whole view controller contents slowly shuffle down until they're completely hidden.

There are no scroll views or table views in the hierarchy.

The only thing I can th

[2017-10-05 16:28] tdermaris opened #1046 "Problem with Xcode 9"
After updating Xcode, the library didn't work properly. I updated to 5.0 version and everything was ok. All of a sudden after one day I had the same problem again. I updated to 5.0.2 but the problem still exists. Any suggestions?
[Screen Recording.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/1360120/Screen.Recording.zip)

[2017-10-05 16:30] mohammad2015 opened #1047 "not work in iOS 11 and Xcode 9 objective-c code"
Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_IQKeyboardManager", referenced from:
      objc-class-ref in AppDelegate.o
ld: symbol(s) not found for architecture x86_64

before update Xcode it work fine now not work

[2017-10-05 16:38] FedinAndriy commented on #1037
Same here.

**Specs:**
IQKeyboardManager v5.0.3, iOS 11, iPhone 7 Plus Simulator.

**Details:**
UITextView in a view, that's an UIContainerView. The container view is on the a controller which is presented modally.
Everything works perfectly on iOS 10.3.3.

**Issue:**
The view jumps down before keyboard presentation and jumps up before keyboard hiding.

![ezgif-2-c7b2c6e4c4](https://user-images.gi

[2017-10-05 16:41] joaovbalmeida opened #1048 "Selection color changes when changing field trough next button"
I have a view with 4 textfields, if i start filling them by tapping on the first one and proceeding trough them by the keyboard next button, just the one that i tapped stays with the selection color, the rest turns back to the normal color. After analyzing, i realized that only the fields that you tap stays with the selection color after populated, if you populate a field by getting to it trough t

[2017-10-05 16:52] #1048 closed

[2017-10-05 18:29] osteven commented on #1045
I had this problem as well.  But upgrading to v5.0.3 fixed it.

[2017-10-06 04:53] pateljinal1844 commented on #952
I have updated version to 4.0.13...Now i am not facing any issue.

[2017-10-06 08:35] MattSHallatt commented on #1045
Thanks! That totally fixed my problem! If only I'd done a `pod repo update` before I added `IQKeyboardManager`! ;P

[2017-10-06 08:35] #1045 closed

[2017-10-06 12:47] theolof commented on #1020
The toolbar position gets shifted upwards the same height as the keyboard for every time you leave the UIViewController and go back without first dismissing the keyboard. So the second time, the toolbar becomes "invisible" since it's above the screen.

Workaround for me is:

[code]
in all UIViewControllers that use the keyboard.

[2017-10-06 13:15] ab-rdarts commented on #1020
theolof thanx but this workaround is just about first issue and it was mentioned earlier. Also this workaround doesn't solve issue with wrong space in my case

[2017-10-06 16:45] ovais-panjwani opened #1049 "TableView size is the same when keyboard pops up"
When the keyboard shows up the tableview above it is still the same size. So when they want to scroll up to see their first message it bounces back. The scroll is the same size as it was when the keyboard wasn't there.

[2017-10-07 06:53] yashvyas29 commented on #976
@qiuseruxin

I have added

`self.tableview.contentInsetAdjustmentBehavior = UIScrollViewContentInsetAdjustmentNever;`

at the end of your TestViewController.m -> createTableView method and its working fine.
@bendary is correct at his point.

<img width="1440" alt="screen shot 2017-10-07 at 12 16 23 pm" src="https://user-images.githubusercontent.com/5429210/31305531-897b2722-ab59-11e7-9422-080b5cca

[2017-10-09 03:15] huxiaoxin opened #1050 "最新版本的API：disableToolbarInViewControllerClass被废弃？"
在最新版里没有找到类似的API了？

[2017-10-09 03:59] TYQbag opened #1051 "not work in iOS 11 and Xcode 9 objective-c code in 4.0.10version"
‘DO button’ has gone,please help me

[2017-10-09 07:12] MyHZ commented on #1006
@hackiftekhar I have deleted the Demo. And my demo has no way to reproduce the error. I used UITextView in UITableViewCell. UITableView will be offset each time the keyboard disappears. As in the GIF inside like that.

[2017-10-09 09:14] wjiuxing commented on #1051
@TYQbag where is the 'DO button'? Do you mean the 'Done' button on the right side of toolbar above your keyboard?

[2017-10-09 10:40] sidharthoswal opened #1052 "Navigation bar shifts down on keyboard appear when hotspot is on"
It happens only when the view controller is embedded in a navigation controller as root view, and the navigation controller is then presented from a view controller. Attaching a demo project for the same.

STEPS TO REPRODUCE:
1. Turn on mobile hotspot
2. Run the application
3. Click on `NEXT` button
4. Click on search bar to make it active

[testnav.zip](https://github.com/hackiftekhar/IQKeyboardM

[2017-10-09 11:01] IrfanMarwat commented on #1051
On iOS 11.0 Its not showing Done button. However on 11.0.2 Its showing...

[2017-10-09 14:07] atif-khan commented on #1051
Facing the same issue of invisible Done button in iOS 11.0. I have checked 4.0.13 to 5.0.3 and no one has resolved this issue. Kindly suggest some quick fix. Thanks

[2017-10-09 14:35] sagarmilani commented on #914
I am also facing the same issue. Whereas I am using Xcode 9 and My code is in Swift 4. So do I have to force the IQKeyboard Version to be "4.0.13" in Pods?

[2017-10-10 00:14] odedharth opened #1053 "Toolbar buttons not respoding"
I've updated to the last version of the pod, and when testing the app on iOS 11 I run into a problem in which clicking on the toolbar buttons doesn't do anythings. If I click on the "Done" button or the arrow buttons (for switching between text fields) noting is happening.

How can I fix this?