[2013-09-05 05:25] ghost opened #1 "Not working while using navigation controller"

[2013-09-05 08:03] spromicky opened #2 "Another control"
Why u don't use [this control](https://github.com/simonbs/BSKeyboardControls)?

[2013-09-06 20:41] #1 closed, assigned to hackiftekhar

[2013-09-24 13:00] #2 closed, assigned to hackiftekhar

[2013-09-25 06:40] BernhardR opened #4 "iOS7 Titelbar Problem"
Hi,

when I use this very nice Keyboardmanager under iOS7 a black blank Status Bar stays on top of the screen and pushes the original screen down. This happens, if IQKeyboardManager needs to scrolll the view to allow editing fields which would be covered when the keyboard appears.

Any solution for that issue? My workaround is to hide the titlebar of iOS on all views that need to scroll during tex

[2013-09-25 21:12] #4 closed, assigned to hackiftekhar

[2013-10-11 17:25] geogerar opened #8 "BUG or Issue"
Hello,

First of all I would like to thank you for such a brilliant and nice tool!!
Now, I want to inform you that, in IOS7 but also in IOS6 with textView it doesn't work well. The keyboard when comes up covers the toolbar ( if one exists ) and scrolls the navigation bar out of view.
Can you please check and correct?

Thank you very much in advance!

George N. Gerardis

[2013-11-04 04:16] nathan-alden-sr opened #9 "Please add your code to cocoapods"
It would be handy if this library were available as a pod.

[2013-11-27 19:15] geogerar opened #10 "Issue or Bug with Text View"
Hello,

First of all I would like to thank you for such a brilliant and nice tool!!
Now, I want to inform you that, in IOS7 but also in IOS6 with TEXT VIEW it doesn't work well. The keyboard when comes up covers the toolbar ( if one exists ) and scrolls the navigation bar out of view.
Can you please check and correct?

Thank you very much in advance!

George N. Gerardis

[2013-11-30 02:34] sumengliu opened #11 "In the WebView"
if you app has inputfield in the WebView , it can not get the topViewBeginRect of the topMostController ,So  when the keyboard hide, the topMostController 's frame will be set to CGRectZero.

[2013-12-04 20:00] #11 closed, assigned to hackiftekhar

[2013-12-04 20:01] #10 closed, assigned to hackiftekhar

[2013-12-04 20:02] #8 closed, assigned to hackiftekhar

[2013-12-16 06:44] elgs opened #13 "Doesn't seem to have any effect"
What I did was to copy IQKeyboardManager.h and IQKeyboardManager.m into my project, and in AppDelegate, I changed the didFinishLaunchingWithOptions to be like this:

[code]

Then I ran my project in both simulator and my iPhone. It doesn't have any effect.

[2013-12-16 15:27] #13 closed, assigned to hackiftekhar

[2013-12-20 11:24] saqib-saud opened #14 "Hide keyboard on touches outside textfield"
Can you add hide keyboard functionality when touches being outside textfield?

[2013-12-23 15:15] #14 closed, assigned to hackiftekhar

[2013-12-29 19:13] geogerar opened #15 "BUG or Issue...."
Hello,

First of all I would like to thank you for such a brilliant and nice tool!!
Now, I want to inform you that, in IOS7 but also in IOS6 with ScrollView containing a textview it doesn't work well. The keyboard when comes up  scrolls the navigation bar out of view with textview.
I can see only the half bottom part of textview.....
Can you please check and correct?

Thank you very much in advanc

[2014-01-01 14:23] #15 closed, assigned to hackiftekhar

[2014-01-06 07:45] giver opened #16 "How to customize inputAccessoryView in IQKeyboardManager?"
I need to customize accessory view with the specific background color or want to add some button in keyboard toolbar.

My IQKeyboardManager configuration

[code]

[2014-01-07 02:52] #16 closed, assigned to hackiftekhar

[2014-01-26 10:59] #9 closed, assigned to hackiftekhar

[2014-01-27 20:40] EvgenyKarkan opened #21 "UI/UX suggestion."
Good and useful library. Thanks!

I think it will be more user-friendly to not to hide navigation bar.
Just make it static and scroll only textfields superview.

Cheers!

[2014-01-30 11:52] #21 closed, assigned to hackiftekhar

[2014-02-03 07:59] ujwalshrestha opened #22 "Next Previuos button doesn't show"
I used tableview to create a simple view to register . I used texfield for each cell. But i cannot see next previous button on that.
Can you tell me what am i doing wrond?
![ios simulator screen shot feb 3 2014 1 44 28 pm](https://f.cloud.github.com/assets/1548813/2062974/21c91de6-8ca9-11e3-8a9c-134c8a93d968.png)

P.S. It is working well when i use a normal view with textfield.

[2014-02-04 19:53] #22 closed, assigned to hackiftekhar

[2014-02-11 15:34] bgribbin opened #23 "Not working if I have to login first"
Quite wierd problem.

The pod works great if I run the app and I'm already logged in.

If I reset my credentials and either 'register' or 'login' (These views also contain UITextFields but not at the bottom of the app)
Then upon logging in, the IQKeyboardManager is no longer working.

I still get 'Keyboard Manager enabled' at the start of the app.

[2014-02-11 21:01] ptclarke opened #24 "In landscape navigation bar can overlap status bar"
IQKeyboard manager is working very well however have one small problem in landscape where navigation bar is pushed up and overlaps status bar. Please advise any suggestion for preventing this.
![ios simulator screen shot 12 feb 2014 7 15 44 am](https://f.cloud.github.com/assets/5669170/2142017/6349f9ae-935f-11e3-8f27-ddea291aac4f.png)

[2014-02-12 05:46] #24 closed, assigned to hackiftekhar

[2014-02-12 10:40] leafc opened #25 "bug in new keywindow (custom alertsheet)"
When have a new window like custom alertsheet it will some bug
rootViewController and keyWindow  should be weak not strong
otherwise keyWindow cannot be release

当有一个新的Window的时候比如自定义带输入框的弹出框，就会有BUG，输入框高度不变，底下的View却被提上去了，另外如果属性不改成weak会造成退出alertView后界面点击不了，无法进行任何操作，因为弹出框的Window不能释放。

@property(nonatomic, weak, readonly) UIViewController *rootViewController;
@property(nonatomic, weak, readonly) UIWin

[2014-02-20 17:39] cool8jay opened #26 "Problem for iPad's floating keyboard"
For iPad,
1. tap a UITextField on bottom of the screen, the keyboard appears and the whole window moves up.
2. hold the "Hide keyboard" button in the right bottom corner of keyboard, choose "Undock", the keyboard moves to the middle of screen and the whole window moves down.
3. click "Done" button on the UISegmentedControl bar. The keyboard moves down.
4. click above UITextField again.
5. click "D

[2014-02-22 15:26] brbgyn opened #27 "Setting title for each textField"
Hi, i'm trying to set a tittle for the keyboard toolbar for each text field...

I managed to set a fixed title, by adding a UIBarButtonItem between 2 "nilButton"...

What i'm trying to do now is change this title every time the selected textFiled is change, to show, for example, the title "Name" when the name texfield is being filled, "Date" when the date textfield is being filled....

How should

[2014-02-25 11:46] #27 closed, assigned to hackiftekhar

[2014-02-25 11:46] #23 closed, assigned to hackiftekhar

[2014-02-25 11:46] #25 closed, assigned to hackiftekhar

[2014-03-01 03:26] Farteen opened #28 "Problem about textfield inputview which is a pickerview"
the problem on the pickerview showing a bundle "?",where there should be the string from pickerView delegate

[2014-03-01 03:50] #28 closed, assigned to hackiftekhar

[2014-03-03 05:40] #26 closed, assigned to hackiftekhar

[2014-03-15 01:50] sharp opened #30 "It will be great to set the size if the title in toolbar"
12px is too small I think

[2014-03-19 18:20] camboris opened #31 "Localizing Next / Prev buttons."
There is some way to change or localize the text of the Prev / Next button that appears when using the toolbar in IOS 6?
Thanks.

[2014-03-20 18:38] #31 closed, assigned to hackiftekhar

[2014-03-21 19:08] rdgonzalez85 opened #33 "UITextField dissapears"
When you tap in and out of a uitextfield eventually it will dissapear

[2014-03-22 10:06] #33 closed, assigned to hackiftekhar

[2014-03-23 21:31] osrl opened #34 "How to scroll tableView to it's initial state"
I have tableView with 4 custom cells(with textField) and it's height is 44x4. Keyboard moves the textField up. But when the keyboard is hidden, tableView doesn't scroll up.

Does IQKeyboardManager handle this situation or should i use `UIKeyboardWillHideNotification`

Here is a screenshot:
![screen shot 2014-03-23 at 23 29 00](https://f.cloud.github.com/assets/781453/2494707/6b632e2a-b2d2-11e3-8e3

[2014-03-24 07:08] heefan opened #35 "NSLog will not ouput"
Hi,

I found when I use IQKeyboardManager in my view controller, all the NSLog() cannot give output message, however, when I comment out `#import "IQKeyboardManager.h` and related IQKeyboard code, my NSLog can give output.

May I know what's the issue?  I just use one line `[[IQKeyboardManager sharedManager] setEnable:YES];` on UITextView with simplest UIViewController.

Thanks

[2014-03-24 11:11] #35 closed, assigned to hackiftekhar

[2014-03-24 11:12] #34 closed, assigned to hackiftekhar

[2014-03-24 13:03] Geri-Borbas opened #36 "Hey, this overrides every NSLog statements to empty."
It took me 1,5 hour until I found this out (me also use logging macros, so this issue was hidden beneath my own defines). Should do something with this, some runtime switch on class or something.

[2014-03-24 13:19] #36 closed, assigned to hackiftekhar

[2014-03-24 16:18] adeline-t opened #37 "EKEventEditViewController & Notes Textview"
Hi,

I use your tool in all my project.
My bug is with EKEventEditViewController and the Textview for "Notes"

My view scroll to the end, so far I can't see the text view anymore.

I use :
[[IQKeyboardManager sharedManager] setEnable:YES];
[[IQKeyboardManager sharedManager] setEnableAutoToolbar:YES];
[[IQKeyboardManager sharedManager] setShouldResignOnTouchOutside:YES];

Any idea?

[2014-03-25 12:41] orlandoaleman opened #38 "Option to disable Done button item"
I think it will be great able enable/disable the Done button. In text fields you can set Return key to Done.

[2014-03-25 13:43] cicero66 opened #39 "Set the keyboard language"
Hello guys,

Congrats on the great work.

Could you implement an autoswitch of the language - a certain field to open a certain keyboard language. This would be extremely useful for an app where some fields require input in another language.

Many thanks

[2014-03-26 05:51] #38 closed, assigned to hackiftekhar

[2014-03-26 10:01] #39 closed, assigned to hackiftekhar

[2014-03-26 13:17] cbwarz opened #40 "Can you provide an example of how to use the addDoneOnKeyboardWithTarget?"
Hello,

I'm looking for an example on how to receive events from the Done button, can you please post one?

I have read that is supposed to be done with addDoneOnKeyboardWithTarget, but i had search and can't figure out how.

Thanks for your time.

Carlos

[2014-03-26 20:10] #40 closed, assigned to hackiftekhar

[2014-04-02 19:39] ihomam opened #41 "customizing Done button"
Is there a way to change title of done button or put and image for the button instead of text, by accessing the button object!?

i just need to change it's name from done to hide. no need to change the functionalty

if i used IQToolbarAddition category methods like addRightButtonOnKeyboardWithText:target:action
i will add my custom button to each textfield..

just thinking of doing this to every t

[2014-04-02 21:06] #30 closed, assigned to hackiftekhar

[2014-04-02 21:33] #41 closed, assigned to hackiftekhar

[2014-04-07 15:06] osrl opened #42 "Cannot handle UITableView which has y position under keyboard"
My TableView has small height, and is under keyboard. This situation is handled on demo, but does not work on my code. I use auto layout. Is it because of constraints (top space to layout)?

[2014-04-07 18:00] osrl opened #43 "UITextField scrolls under the section view"
I've used `viewForHeaderInSection` delegate method and put a section header on the tableViews in your demo app. TextFields scrolls under the sectionView.

[2014-04-10 18:05] omarojo opened #44 "I cannot disable the manager"
[code]

// All my textfields and UITextViews are in the Interface Builder.

Enable property is just not working...

[2014-04-10 19:16] #43 closed, assigned to hackiftekhar

[2014-04-10 19:16] #42 closed, assigned to hackiftekhar

[2014-04-10 19:17] #37 closed, assigned to hackiftekhar

[2014-04-11 05:09] #44 closed, assigned to hackiftekhar

[2014-05-01 20:08] willli666 opened #45 "conflict with Stripe/PaymentKit"
Stripe PaymentKit is a control for collecting credit card numbers. I'd like to use it together with IQKeyboardManager. The conflict is that IQKeyboardManager somehow prevents the PaymentKit from managing its UITextField's frames, resulting in overlapping of words.

I have tried disabling IQKeyboardManager's properties but have no success so far.

[2014-05-02 12:01] antoninbiret opened #47 "[iOS 7] UITextField inside UITableViewCell"
With iOS7, Apple has changed UITableViewContentView subviews and added a UITableViewCellScrollView. When IQKeyboardManager tries to find the super scrollview, it returns the UITableViewCellScrollView and the UITableView is not scrolled properly.
I can fix this issue by testing the instance type inside the "superScrollView" method

[2014-05-02 16:39] #45 closed, assigned to hackiftekhar

[2014-05-06 08:58] #47 closed, assigned to hackiftekhar

[2014-05-20 04:18] TaPhuocHai opened #49 "Problem with UIView (IQ_UIView_Frame)"
Hi,

About UIView (IQ_UIView_Frame), when set right, bottom, my view will change with, height. I think it not good to use.

I think it should be work like https://github.com/kentnguyen/KNAdditions.

[2014-05-21 22:55] tretelny opened #50 "Social Framework"
not sure if this is a bug, but when presenting a SLComposeViewcontroller i get a crash with bounds NaN

[2014-05-26 12:41] zeeshanhaider-devbatch opened #51 "I have this hierarchy of My View UIView > UIView > UITextfield. And I have multiple of them in main view of ViewController."
I cannot see Forward and Next Buttons.
I saw your methods :
1 - IQKeyboardManager > addToolbarIfRequired
2 - IQKeyboardManager > responderViews
3 - IQUIView+Hierarchy > responderSiblings.

But still I cannot see the Next and Forward buttons.

[2014-05-28 16:59] #51 closed, assigned to hackiftekhar

[2014-05-30 09:46] Jession opened #52 "IOS7: after navigator back from previous view, toolbar position moved to left."
![-1](https://cloud.githubusercontent.com/assets/4270432/3129147/28551f7a-e7df-11e3-99f7-61894050f609.jpg)
![-2](https://cloud.githubusercontent.com/assets/4270432/3129145/2807614a-e7df-11e3-8832-4fdee9392d72.jpg)
![-3](https://cloud.githubusercontent.com/assets/4270432/3129146/2807899a-e7df-11e3-83e9-60f7ad1e1545.jpg)

[2014-05-30 18:48] aryansbtloe opened #53 "smaller done button size on UIToolbar , happening only when only one u have only one textfeild is present on screen"

[2014-06-28 16:17] #52 closed, assigned to hackiftekhar

[2014-06-28 16:17] #53 closed, assigned to hackiftekhar

[2014-06-28 16:18] #50 closed, assigned to hackiftekhar

[2014-06-28 16:18] #49 closed, assigned to hackiftekhar

[2014-07-02 06:06] bhavya-kothari opened #54 "Previous, Next, Done button are set to White Color by default ?"
Hi Mohd Iftekhar Qurashi,
I would to congratulate for making such an excellent control.
However when i set color using appearance class.

Previous, Next, Done buttons appears in white color.

I have attached screen shot as follows for the same:

![ios_simulator_screen_shot_jul_2__2014__11_11_25_am](https://cloud.githubusercontent.com/assets/6544244/3452202/45107d52-01ad-11e4-811c-335b2a49519f.png)

[2014-07-02 08:12] lixiasandy opened #55 "iOS6.0 Memory Leak While Using IQKeyboardManager"
Hello hackiftekhar.In my app i am using IQKeyboardManager. Its all working perfectly fine.But when i go for profile testing i am facing memory leak.I was impatient, please fix as soon as possible.Thank you very much!
![2014-07-02 4 11 42](https://cloud.githubusercontent.com/assets/6075904/3453176/8aa1b60c-01c0-11e4-8ad9-322701fd787a.png)

[2014-07-03 18:18] #54 closed, assigned to hackiftekhar

[2014-07-03 18:31] #55 closed, assigned to hackiftekhar

[2014-07-07 15:47] LouisBorlee opened #56 "Keyboard dismiss without reseting frame on UITextView (non-editable) text selection"
Hi
I'm currently having a bit of a problem with textviews.
I have a UITableView recovering a part of my main view which contains non-editable  UITextViews and a small view at the bottom of my screen containing an editable UITextView.

I have set shouldResignOnTouchOutside to false and my main view is a UIScrollView.

The problem is, when I have the focus on my editable UITextView and I want to sel

[2014-07-17 08:48] Legoless opened #57 "Incorrect Toolbar size (Issue #52) when textfield in embedded view controller"
In my case the viewController that has the text field on it is a child view controller and is embedded into another one. In this case, the width of toolbar is taken from the child view controller. Why is this even done this way? Toolbar should always be same width as keyboard, regardless of what view controller is presenting it.

[2014-08-07 12:23] Legoless opened #58 "Cached toolbars do not respect enabling/disabing textfields"
So if you tap into a UITextField and its siblings are disabled, it will not display the move arrows. When those fields are later enabled, the move arrows will still not display. This is because inputAccessoryView field is stored into the UITextField and is only recreated if it is nil.

[2014-08-15 07:59] ghost opened #61 "Why SearchBar Do not work?"
I have a searchbar,  i find that iqkeyboardmanager do not deal mask.  but textfield is right. how can i to do ?

[2014-08-19 16:14] #61 closed, assigned to hackiftekhar

[2014-08-19 16:14] #57 closed, assigned to hackiftekhar

[2014-08-21 08:03] hugo53 opened #62 "No keyboard show on iOS 8"
Hi,

I've tried with iOS 8 and see that no keyboard showing. Please check the attached image for more details.

Hope it will be fixed soon.

Cheers,
Hugo

![ios simulator screen shot aug 21 2014 15 01 52](https://cloud.githubusercontent.com/assets/1033299/3993220/780dba0c-2909-11e4-8b6f-75808905d4e7.png)

[2014-08-21 16:04] #62 closed, assigned to hackiftekhar

[2014-08-28 03:35] mdarveau opened #63 "How to handle the return button"
Hi,

The previous/next/done buttons in the toolbar works perfectly. However, there is still the return button on the bottom right corner that does not do anything useful. I would like it to behave just like the next button for most fields. I can implement `textFieldShouldReturn` to handle the return button but I will have to rewrite the logic to move to the next text field. Could you expose someth

[2014-08-28 20:09] #63 closed, assigned to hackiftekhar

[2014-09-01 06:32] nicarq opened #65 "Disable IQKeyboardManager for only one element"
Hi. How can I disable IQKeyboardManager for only one element?

[2014-09-10 20:53] powellmark opened #66 "Xcode 6/iOS 8 Issues"
Currently, when building an application using IQKeyboardManager in Xcode 6 I am running into odd behavior. I have a landscape only application. When the target is set to iOS 8, the window slides to the left rather than up and the keyboard does not appear. When the target is set to iOS 7.0.1, the keyboard does not appear.

Screenshots attached:
![xcode6ios8](https://cloud.githubusercontent.com/asse

[2014-09-12 18:12] #66 closed, assigned to hackiftekhar

[2014-09-15 01:27] interchen opened #67 "If there is table section footer, footer will cover the textfield in tableviewcell"
In my project, I put a UITextField into UITableViewCell, and there is a section footer title in table view.
When this UITextField became the first responser, the section footer view will cover the UITextField control.

![2014-09-15 09 24 05](https://cloud.githubusercontent.com/assets/2597576/4266200/0f312970-3c77-11e4-8472-0dfddadbcc96.png)

[2014-09-15 05:15] #67 closed, assigned to hackiftekhar

[2014-09-15 13:35] yuxiangq opened #68 "i‘m not using storyboard or xib and creating my view programmatically. then override '-(void)loadView' method of UIViewController, and set an UIScrollView instance to self.view,but it cannot work."

[2014-09-15 16:32] #68 closed, assigned to hackiftekhar

[2014-09-18 11:07] SAJK111 opened #69 "Textfields in UITableView moves down, even though the full textfield is showing (iOS 8)"
I have a tableview which is anchored to the edge of a navigationbar. In this tableview there are textfields, which are completly visible. But even though they are visible the tableview starts to move down, when I go to the next texfield, creating a gap in the top (from my tableview to the navigationbar). This "issue" does not happen in iOS 7. How can I solve this? So the tableview is only moving d

[2014-09-18 17:31] #69 closed, assigned to hackiftekhar

[2014-09-18 18:15] #58 closed, assigned to hackiftekhar

[2014-09-18 18:19] #65 closed, assigned to hackiftekhar

[2014-09-22 09:34] maxep opened #70 "[iOS8] AlertView with text field on landscape"
Hello!

First of all, thanks a lot for your framework, it saved me a lot of time.

I've just upgrade to iOS8 and I'm facing a issue when I turn to landscape view. I've reproduced it using your sample running on an iPad Retina simulator:
![ios simulator screen shot 22 sept 2014 11 22 52](https://cloud.githubusercontent.com/assets/6815992/4354137/23768aa0-423b-11e4-930a-4f1d4c6aec16.png)

Any ideas

[2014-09-22 19:50] walsht opened #71 "IQKeyboardManager not calling textFieldShouldBeginEditing on load"
Most of my views work fine, but there are a few that the IQKeyboardManager is not calling textFieldShouldBeginEditing on load, therefore I don't get the previous or next buttons.

All my textfield delegates are set and when I click into the textfields textFieldShouldBeginEditing is called.

Any reason why this would happen?

[2014-09-24 08:42] ujwalshrestha opened #72 "Keboard not appearing in iOS 8"
keyboard does not appear when i run the app in iOS 8. You said you have fixed the error but its not fixed yet.

[2014-09-24 15:40] #71 closed, assigned to hackiftekhar

[2014-09-24 16:03] oonoo opened #73 "keyWindow does not get updated if application keyWindow changes"
I have the problem that another lib changes the keyWindow of the application. The IQKeyboardManager saves the keyWindow only the first time is not nil. This seems to be wrong in my case and maybe in general. I think the method for keyWindow should be changed like this:

-(UIWindow *)keyWindow
{
    if ([[UIApplication sharedApplication] keyWindow] != nil && _keyWindow != [[UIApplication sharedAppl

[2014-09-24 16:47] #73 closed, assigned to hackiftekhar

[2014-09-24 16:48] #72 closed, assigned to hackiftekhar

[2014-09-24 17:27] #70 closed, assigned to hackiftekhar

[2014-09-25 07:45] hardikdevios opened #74 "iOS8 Landscape issue Scrolling"
Not Working in iOS8![ios simulator screen shot 25-sep-2014 1 10 04 pm](https://cloud.githubusercontent.com/assets/6657591/4400959/b30cc244-4487-11e4-8757-6eabf1b51202.png)

Working Perfect in iOS 7 :![ios simulator screen shot 25-sep-2014 12 59 36 pm](https://cloud.githubusercontent.com/assets/6657591/4400960/b3146468-4487-11e4-8c53-95b052e722c7.png)

[2014-09-25 07:52] amwujetuu opened #75 "can't work in iOS8"
hi, i has import this in my project ,but can't work in iOS8 with iphone4s iphone5 5s 6 6plus,
the keyboard was show and the toolbar was in the bottom

[2014-09-25 19:40] #75 closed, assigned to hackiftekhar

[2014-09-25 19:40] #74 closed, assigned to hackiftekhar

[2014-09-26 13:33] hardikdevios opened #76 "UITextView in UITableViewController not behaving properly"
#### i am using UITableviewController which has UITableview image below,
##### which has a one Textfield "Title" and another one is UITextview both in UITableviewCell in respective cell,
##### when i select UITextView and going to type something it scrolles more than usual on top.

ScreenShot 1:-
![ios simulator screen shot 26-sep-2014 6 37 36 pm](https://cloud.githubusercontent.com/assets/6657591

[2014-09-27 19:24] #76 closed, assigned to hackiftekhar

[2014-09-27 21:08] #56 closed, assigned to hackiftekhar

[2014-09-28 07:24] FutureChen opened #77 "a small bug"
I'm so sorry that my English is very poor, I hope you can understand my description.

if i have a long height TextView

 when I start editing,will show  the bottom of the TextView and not top or mytext position.

image upload failed

[2014-09-28 09:10] #77 closed, assigned to hackiftekhar

[2014-09-29 00:26] Darkseal opened #78 "setEnablePrevious (and next) not working"
I cannot manage setEnablePrevious (and next) method to work.

Here's what I'm doing:

[code]

However the self.tfName TextView still displays Next and Prev buttons.

I checked the code in Debug mode and I've seen that `inputAccessoryView` local variable comes up as NIL in setEnablePrevious implementation (file: IQUIView+IQKeyboardToolbar.m, first line of code), probably because the automatic metho

[2014-09-29 07:19] hardikdevios opened #79 "UITextView in UITableviewController small issue"
I have Downloaded the new Demo All Working great No issues yet.
But in UITableViewcontroller Example if i enter first time and select the UITextView the Problem is:
![ios simulator screen shot 29-sep-2014 12 41 42 pm](https://cloud.githubusercontent.com/assets/6657591/4438206/981c27b2-47a8-11e4-8f70-8fb5002fc682.png)
But if i Click Done and again Select UITextView the Behavior is Perfect like this

[2014-09-29 08:08] Droppix opened #80 "Crash on"
Hi,

I have a very strange crash :
"[UICompatibilityInputViewController isKindOfClass:]: message sent to deallocated instance 0x"

only on iOS 8, and when "toolbar" is enabled.
I disabled all he could interfere in my program, but the bug is still there.

So, I use XCode 6.0.1 and the last KeyboardManager.framework.

Thanks for your help.

Robert

[2014-09-30 09:56] #80 closed, assigned to hackiftekhar

[2014-09-30 17:38] #78 closed, assigned to hackiftekhar

[2014-10-03 04:07] chancipher opened #81 "IQKeyboardReturnKeyHandler doesn't work if UITextfield in a TableView."
IQKeyboardReturnKeyHandler doesn't work if UITextfield in a TableView.

[2014-10-06 12:11] Parth1063 opened #82 "Scrollview issue during enable and disable"
Hi Iftekhar,

First of all I would like to congratulate for making this wonderful library.

While playing with the demo I have found one bug when I enabled and disabled scrolling using top right button.

I have attached screenshots below.
If you want steps to recreate the bug then I can send you the video.
Kindly send your email id if you want steps to recreate the bug.

Thanks

![ios simulator sc

[2014-10-07 14:48] ghost opened #83 "using IQKeyboardManager with an universal app with a scrollview"
He ignores this line

[code]

and places all textfields in the top of the screen!

Any help please.

[2014-10-07 17:25] dherberger opened #84 "Someone blatantly copied this library / repo"
This may just be a mistake on behalf of the user muyuto (https://github.com/muyuto), but it appears they have copied and hosted this library: https://github.com/muyuto/myIQKeyBoardManager

It may be a good idea to contact this user and clarify their intent; other users may stumble across this (presumably outdated) copy, rather than this repository.

[2014-10-07 20:36] #81 closed, assigned to hackiftekhar

[2014-10-07 20:36] #82 closed, assigned to hackiftekhar

[2014-10-09 10:24] danielStokowski opened #86 "doesn't hide keyboard when view controller presented modally with style: UIModalPresentationFormSheet"
Problem details and resolution is available here: http://stackoverflow.com/questions/3372333/ipad-keyboard-will-not-dismiss-if-modal-viewcontroller-presentation-style-is-uim

BR
Daniel

[2014-10-09 11:51] #83 closed, assigned to hackiftekhar

[2014-10-09 12:59] KimBin opened #87 "how to change the Toolbar's done button 's name"
hi,i am a chinese coder, i want to change the Toolbar ' done into chinese that "确认", how i make it, thank you very much.

[2014-10-09 14:33] #87 closed, assigned to hackiftekhar

[2014-10-09 17:46] #84 closed, assigned to hackiftekhar

[2014-10-10 05:56] hardikdevios opened #88 "textFieldShouldBeginEditing called multiple times"
This method is calling multiple times if I disable Toolbar, it will not call multiple times, but I want your toolbar.
[code]

in my App, i have a Country text field where I don't want the user to type so when user tap on that text field it should open my popup or modal .. so any workaround?

[2014-10-10 13:03] r00li opened #89 "Cannot disable automatic toolbar creation for a specific field"
I am having a problem with the latest version of IQKeyboardManager. I cannot disable automatic keyboard toolbar creation for a specific field. I need the default toolbars on all my textfields except one. This one needs a custom toolbar. In the older version of IQKeyboardManager this worked fine:

[code]

But I still get the default IQKeyboardManager toolbar when the keyboard shows up.

I also trie

[2014-10-11 10:48] yuyangdexue opened #90 "No keyboard"
ios 8.0 later no keyboard in simulator

[2014-10-11 12:06] #90 closed, assigned to hackiftekhar

[2014-10-13 03:22] KimBin opened #91 "hi，the iqkm has some conflict with the ios8 ?"
the phone is the ios8 system.
In the ViewController i create a tableView  and a view as headerView
in the ios7 i use iqkm very well
but in ios8 the headerView has always show in the screen not scroll with the tablevew, so i want to ask is the iqkm has some conflict with ios8

[2014-10-13 19:01] hackiftekhar opened #92 "canAdjustTextView not working due to Orientation API changes in iOS8."

[2014-10-13 19:14] #92 closed, assigned to hackiftekhar

[2014-10-13 20:02] #86 closed, assigned to hackiftekhar

[2014-10-13 20:46] #89 closed, assigned to hackiftekhar

[2014-10-14 05:22] hackiftekhar opened #93 "Showing black space between UIKeyboard and View due to Sliding up Keyboard above View position."

[2014-10-15 10:55] itsyasirali opened #95 "Crash on textFieldViewDidChange:(NSNotification*)notification"
Hi I am using IQKeyboardManager and it was crashing on

-(void)textFieldViewDidChange:(NSNotification*)notification, if CGFloat overflow value assigned to infinity. So I made these changes in local code to resolve that issue, you are requested to update this so that if anyone else would not suffer due to this...

In IQKeyboardManager.m line number 768 add condition for overflow value must be lesso

[2014-10-15 11:03] #95 closed, assigned to hackiftekhar

[2014-10-15 16:46] #93 closed, assigned to hackiftekhar

[2014-10-15 17:27] #91 closed, assigned to hackiftekhar

[2014-10-16 11:25] PrasadPotale opened #96 "Next previous not working properly sometimes for textfields in UItableview"
Hello Mohd,

First of all thank you very much for creating such a useful keyboard manager.

We have started using it in our each and every project, in one of the project where we are showing Collapsing table view sections, we are facing one issue as sometimes tableview cells are not dequeued and its trying to go to that textfield on click of previous or next button, then keyboards previous, next,

[2014-10-16 16:54] #96 closed, assigned to hackiftekhar

[2014-10-18 08:03] yuyangdexue opened #97 "numeric keyboard"
how to officer numeric keyboard?

[2014-10-18 15:54] #97 closed, assigned to hackiftekhar

[2014-10-19 13:44] #88 closed, assigned to hackiftekhar

[2014-10-23 02:22] KimBin opened #98 "oh the iq"

[2014-10-23 02:31] KimBin opened #99 "oh the iq change the system method for the frame of the button that pressed"
oh, we delete the iq , and we find that a lot of button 's pressed frame has confusion。
the text filed below or above the button. when i chick the textfields, the button is clicked too. we spend about two hours to solve the problem. oh,my gold. come on, make the iq more better.

[2014-10-23 04:08] #98 closed, assigned to hackiftekhar

[2014-10-23 11:12] tschleuss opened #100 "Keyboard not appear completely"
I upgrade my project to use the last version of IQKeyboardManager with cocoapods (great project indeed)
and some strange behaviour started to occur. When i tap a UITextField, only the Accessory View appeared. Someone else is experiencing that behaviour ?

![bug_iqkeyboard](https://cloud.githubusercontent.com/assets/2786374/4752001/446f3bb2-5aa5-11e4-96b2-818906df83be.jpg)

I will try to make a sam

[2014-10-23 11:24] #100 closed, assigned to hackiftekhar

[2014-10-26 03:34] v-ken opened #101 "How to use this framework in a Swift project?"
I tried using the bridging header but doesn't seem to work properly. When keyboard appears, the view moves slightly and then returns back to original position. I notice that some parts of this project has been converted to swift, so should I actually be using this without the bridging header?

[2014-10-27 13:54] dducro opened #103 "IQKeyboardManager.sharedManager() not working in swift?"
Hey hackiftekhar,

First of all, thanks for this nice keyboard framework!
The toolbar, placeholder and done button worked nice out of the box using pod.

However the prev/next buttons weren't  showing. So I thought it had something to to with my setup in ib. I tried to check if setting the toolbarManageBehaviour setting to IQAutoToolbarByTags and then manually setting all the tags in order would s

[2014-10-27 18:28] tschleuss opened #104 "Crash on press Done button"
Hi guys, when i pressing the Done button on toolbar, my app crash with that error:

[code]

I don't know if i need to change some configuration on my code, but i made a change on method below:

[code]

And i fixed my problem. The change was:

[code]

to

[code]

[2014-10-27 19:13] #104 closed, assigned to hackiftekhar

[2014-10-28 13:06] NorbertSzydlowski opened #105 "Not working with uicollectionView"
Hi,
IQKeyboardManager don't work with text fields in uicollectionview cell (can't go to second cell).
Any suggestion?

[2014-10-28 15:46] #103 closed, assigned to hackiftekhar

[2014-10-28 17:07] #105 closed, assigned to hackiftekhar

[2014-10-28 17:08] #101 closed, assigned to hackiftekhar

[2014-10-29 09:15] NorbertSzydlowski opened #106 "UiCollectionView don't "jump" to cell that show while scrolling"
I see that next arrow don't work for new cells appear.
Is any solution for this?

And sometimes I can't jump to random next cell.
Example from first to second.

[2014-10-31 19:51] #99 closed, assigned to hackiftekhar

[2014-11-03 13:22] brainray opened #107 "TableCells randomly hide/reorder"
Thanks for creating IQKeyboardManager.

Since our app has changed to iOS 8 we have strange a behaviour of our TabelViews. The TableView changes the count of elements which leads to missing cells. Sometimes the missing cells are attached "to the end" of the TableView. Feels like there is something wrong with detaching the cells.
When I deactivate IQKeyboardManager for this view, everything is fine.

[2014-11-04 08:39] rhenz opened #108 "Fatal Error occurs when testing on actual device."
Any idea why this occurs?

I'm trying to test already on my device but this error occurs.

![screen shot 2014-11-04 at 4 38 19 pm](https://cloud.githubusercontent.com/assets/7302529/4896700/fa2db210-63fd-11e4-9a0d-2493123da9b7.png)

[2014-11-04 10:46] ihenk opened #109 "IQKeyboardManager enable = YES but not working"
in LoginViewController.m

[code]

in UIViewController+Util.m

[code]

Now I do not know what happened, it does not work.Is my Xcode6 configuration problem?

[2014-11-04 20:39] rjpalermo1 opened #110 "Unknown Type NS Integer"
Hello, GREAT CONTROL!

I was using it in my first build and had that problem with the keyboard not showing correctly in simulator so pulled  it out while I was working on my core.  Just saw update and downloaded/added to project.   Pulled in folder (not framework or cocoapods) and now getting error on build:

"Parse issue:  Unknown type NSInteger"

Error located in IQKeyboardManagerConstants.h

ty

[2014-11-05 15:37] retsohuang opened #111 "Crash on build with release mode at device and simulator"
Here is screenshot
![screen shot 2014-11-05 at 11 29 44 pm](https://cloud.githubusercontent.com/assets/785920/4920247/cba87d2c-6500-11e4-9131-8bf6d110e72f.png)

Two method call have this issue

[code]

[2014-11-05 15:58] #110 closed, assigned to hackiftekhar

[2014-11-06 04:43] #109 closed, assigned to hackiftekhar

[2014-11-06 16:59] fo2w opened #112 "crash on swift version, xcode6.1 GM seed2, simulator ios7.1"
i clone the newest repo, and use in my project in source
when i run the app in simulator( iphone5s, ios7.1), it crash

i found this line (IQUIView+Hierarchy.swift: 204)
        return (self.isKindOfClass(UIAlertSheetTextFieldClass!) || self.isKindOfClass(UIAlertSheetTextFieldClass_iOS8!))
causes the problem
i my guess, under ios7.1, the optional value UIAlertSheetTextFieldClass_iOS8 will be nil, t

[2014-11-06 17:05] fo2w opened #113 "crash on swift version, xcode6.1 GM seed2, simulator ios7.1"
i clone the newest repo, and use in my project in source
when i run the app in simulator( iphone5s, ios7.1), it crash

i found this line (IQUIView+Hierarchy.swift: 204, return statement)

[code]

causes the problem
in my guess, under ios7.1, the optional value UIAlertSheetTextFieldClass_iOS8 will be nil, then unwrap it makes an exception

i fix it like this in temporary, now it works:

[code]

[2014-11-06 17:07] #112 closed, assigned to hackiftekhar

[2014-11-06 18:43] #113 closed, assigned to hackiftekhar

[2014-11-07 18:10] tschleuss opened #114 "UITextField inside UIPageViewController"
Hi, i'm having a strange behavior when my UITextField is member of a UIViewController inside a UIPageViewController with Scroll transition style.
I made a sample project to turn that explanation more simple as possible.

When i tap the first UITextField and use arrows to go forward or backward the screen adjustments works very well. But when i tap a UITextField below on screen corner, the screen p

[2014-11-11 12:15] rhenz opened #115 "Disable/Remove Next&Previous(< >) Button"
Hi! Is there any way to remove the next and previous button and just leave the "Done" Button?

[2014-11-13 04:55] rhenz opened #117 "Disabling IQKeyboardManager in specific View Controller."
Hi @hackiftekhar ,

I'm having a weird problem here.

The IQKeyboardManager doesn't seem to get turn off? No idea why.

What I did is import IQKeyboardManager. In viewDidAppear i have this:

_wasKeyboardManagerEnabled = [[IQKeyboardManager sharedManager] isEnabled];
    [[IQKeyboardManager sharedManager] setEnable:NO];

Then in viewWillDisappear
[[IQKeyboardManager sharedManager] setEnable:_wasKey

[2014-11-13 05:21] #117 closed, assigned to hackiftekhar

[2014-11-20 15:29] kloshih opened #118 "v3.2.0.2 missing "Constants/IQKeyboardManagerConstants.h""
I'm getting this compile error when working with the v3.2.0.2 pod:

[code]

None of the subdirectories in [IQKeyBoardManager](https://github.com/hackiftekhar/IQKeyboardManager/tree/v3.2.0.2/IQKeyBoardManager) like `Categories`, `Constants`, etc. are in the deployed pod. It looks like the reason is there's an unclosed quote in [IQKeyboardManager.podspec](https://github.com/hackiftekhar/IQKeyboardMa

[2014-11-22 07:09] JYXie233 opened #119 "Crach in iOS 7.1 XCode 6.1"

[2014-11-22 07:17] #119 closed, assigned to hackiftekhar

[2014-11-22 13:27] #118 closed, assigned to hackiftekhar

[2014-11-23 03:29] #108 closed, assigned to hackiftekhar

[2014-11-23 21:11] Deadpikle opened #120 "Top text field not visible when in landscape"
Hi,

I am showing the user a view with 4 different text fields in it. The next/previous buttons work just fine, but if you put the simulator in landscape, select the top text field, and then go down (hit next) a few times and then back up to the first text field using the next/previous buttons, the top field will only be partially in the screen. This happens in both iOS 7.1 and 8.1. It might be a

[2014-11-26 03:36] johnnielin opened #121 "Conflicts with UITapGestureRecognizer"
I added a UITapGestureRecognizer to hide keyboard when click other area rather than a password text field on the screen. Also I have a UIButton to  let user log in. Now after I applied IQKeyboardManager the first tap on the UIButton always dismiss the keyboard but not trigger the button's action.  I could disable the gesture for the button but it looks quite ugly because the keyboard will still ap

[2014-11-27 03:52] ptclarke opened #122 "IQKeyboard manager keyWindow nil when action list precedes first display of keyboard"
I have the following scenario in my app which uses SASlideMenu has a slide menu VC as its root:
1. Root view controller correctly set in app did finish launching in app delegate
2. However IQKeyboard manager initialises before app did finish launching. At this time the keyboard the [[UIApplication sharedApplication] keyWindow] is nil and keyboard manager _keyWindow is set to nil.
3. App runs, disp

[2014-11-27 16:19] andreitr opened #123 "UITableView Controller Auto-scroll"
Hey, just upgraded to the latest version of the library and noticed that UITableView controller stopped auto-scrolling to move selected cell into the view. I didn't make any changes to settings / config. Thoughts?

By the way, thank you so much for supporting and developing this library. I love it!

[2014-11-27 16:43] BoilingLime opened #124 "UITextField in subview keep being hidden by the keyboard"
I put two UITextField in a subview to be able to perform action on both UITextField. But the keyboard keep to overlay the view and to hide the text fields.

This is a link to a video of the issue :
https://www.youtube.com/watch?v=WBGBayq35R8&feature=youtu.be

Or could it be the auto layout constraints which messing up everything ?

[2014-11-28 15:21] #121 closed, assigned to hackiftekhar

[2014-11-28 16:24] #124 closed, assigned to hackiftekhar

[2014-11-28 16:26] #122 closed, assigned to hackiftekhar

[2014-11-28 16:26] #123 closed, assigned to hackiftekhar

[2014-12-06 05:50] hardikdevios opened #125 "Question about TopMostController frame?"
Hello mate i want to know about this code

-(void)setRootViewFrame:(CGRect)frame
{

[code]

}

Actually the Problem is when i am trying to use poptorootview method sometimes my application slips with that in iOS 8 due to frame changing , so i am checking my code and came here so want to know about the purpose of this code also i have posted my question in stackoverflow

http://stackoverflow.com/qu

[2014-12-06 14:41] tospery opened #126 "the problem with Masonry"
I had a very strange problem， when i use IQKeyboardManager and Masonry (https://github.com/Masonry/Masonry) together, the keyboard will appear insane, but when i comment this statement in
"UIView+JXApple.m" like below, everything is ok, why? who can help me? You can get the Demo code from http://pan.baidu.com/s/1jGEDHUu
// #import "Masonry.h" // comment it, everything will be ok

[2014-12-06 19:35] #125 closed, assigned to hackiftekhar

[2014-12-07 16:31] #126 closed, assigned to hackiftekhar

[2014-12-08 11:49] GawenBerger opened #127 "Keyboard shows after 6-7 seconds on first time"
Maybe I missed something but the first time I click on a textfield, the keyboard only appears after a few seconds. After that everything works fine on same or different view controllers.
Do you have any idea why does it behave like that ? If it can help, I'm testing on an iPod touch with iOS 8.1.

Anyway thanks a lot, it's an awesome work that you've done so far !

[2014-12-08 12:27] #127 closed, assigned to hackiftekhar

[2014-12-11 09:49] ivanguajana opened #128 "iOS 8: conflict with auto layout and modal view controller"
We are having an issue with several text fields displayed in a modal view controller where some of them are covered by the keyboard. Apparently the problem is caused by the auto layout computations overriding IQKeyboardManager's `setFrame` call. We patched it with a quick hack to have it work for us (https://github.com/vilea/IQKeyboardManager).

[2014-12-13 16:46] EduardRakov opened #129 "After view layout has been changed IQKeyboardManager doesn't work"
After view layout has been changed IQKeyboardManager doesn't move the view up. When I manually change a constraint of one of my view on the UIViewController where I use IQKeyboardManager  the last one appears but over my UITextView. For other cases IQKeyboardManager is perfect and works fine for me.
It can be reproduced by e.g. `[self updateConstraintsIfNeeded];` or `[self layoutIfNeeded];` or `se

[2014-12-13 19:51] Ekhoo opened #130 "SetEnable doesn't work"
If I set `enable` to `NO` in `ViewDidAppear`, it doesn't work...

[2014-12-15 11:45] #129 closed, assigned to hackiftekhar

[2014-12-15 16:05] #130 closed, assigned to hackiftekhar

[2014-12-18 18:04] geogerar opened #131 "Strange Issue...."
Hello,
I have a strange problem.
If I use xcode6 to build and run my app which use IQKeyboardManager everything is fine.
If I use xcode5.1.1 to build and run my app which use IQKeyboardManager I get an error...
I send you a screen shoot with the problem...
![snap - 2014-12-18 18 00 03 0000](https://cloud.githubusercontent.com/assets/3070525/5493185/f72550d0-86f0-11e4-8252-4208e260a1fe.png)

George

[2014-12-18 20:08] #131 closed, assigned to hackiftekhar

[2014-12-23 10:33] swoot opened #132 "iOS8: Sliding problem with UITextView"
Might be something I've done / not done, but I've got one textField and one textView in a single view.

The upper textField works correctly with IQKeyboardManager, but the lower textView causes the view to go south every time I touch and leave it. With south, I mean the textView does raise to with the keyboard to the correct position, but after end it goes down every time.

Occasionally I might ev

[2014-12-23 10:42] #132 closed, assigned to hackiftekhar

[2014-12-23 11:08] swoot opened #133 "UIAlertController with style UIAlertControllerStyleActionSheet"
If I'm editing a textField, then press a button that shows a modal view (i.e. UIAlertController) and close that, then as the keyboard shows I press the done button on the keyboard -> whole app goes down instead of just the view.

Steps to reproduce with the IQKeyboardManager example project:
1. In SpecialCaseViewController.m, line 116, comment out the UIAlertView and insert

[code]
1. Run.
2. Touc

[2014-12-23 21:11] #128 closed, assigned to hackiftekhar

[2014-12-24 07:41] #133 closed, assigned to hackiftekhar

[2014-12-26 08:33] yuyedaidao opened #134 "can't scroll up"
I use autolayout in my project.And the view whit uitextField can't scroll.

[2014-12-27 18:42] #115 closed, assigned to hackiftekhar

[2014-12-30 18:16] fwhenin opened #135 "UIPickerView Support"
A few of my textfields on the page use a UIPickerView instead of UIKeyboard, which then doesn't show the toolbar...any way to support IQKeyboardManager toolbar to this as well

[2014-12-30 18:41] #135 closed, assigned to hackiftekhar

[2015-01-01 07:38] tupac19861013 opened #136 "SetEnable doesn't work"
Please try to test this function a bit more....!!! :)

[2015-01-01 07:47] hackiftekhar commented on #136
It enable or disable to manage distance between keyboard and textField. If you want to remove toolbar from textFields then you should use enableAutoToolbar. Please let me know if you need more explanation.

[2015-01-01 08:45] tupac19861013 commented on #136
Sure, I will go through in this detail and will get back to you. Cheers and a Happy New Year...!!! :)

[2015-01-01 08:45] #136 closed

[2015-01-01 09:20] hackiftekhar commented on #136
Happy New Year to you too!!! :)

[2015-01-03 20:52] fwhenin opened #137 "UITextFields in UIViewController"
I have a login screen of just a UIViewController with 3 UITextfields in them...does IQKeyboardManager support getting the textboxes out of the way then, because that's not happening. Any ideas what I need to do.

Things you should know:
1- I have Constraints between the textboxes, but not constraints to the superView.
2- I tried adding those fields in a UIScrollView and that still doesn't work

[2015-01-04 05:49] hackiftekhar commented on #137
May be you are pinning your textField constraint to topLayout guide, if NO, then could you please share demo code?

[2015-01-04 10:57] hackiftekhar commented on #134
I tried adding UIViewController's view to some view, and it works fine.

[2015-01-04 10:57] #134 closed

[2015-01-04 11:07] hackiftekhar commented on #114
Added expicit check to not detect _UIQueingScrollView as UIScrollView.

[2015-01-04 11:07] #114 closed

[2015-01-04 11:08] #107 closed

[2015-01-04 11:14] hackiftekhar commented on #79
Closing issue, because in this case, UITableViewController is responsible to reposition scrollView ContentOffset.

Note: The UITableViewController class automatically resizes and repositions its table view when there is in-line editing of text fields.

//See notes:- https://developer.apple.com/Library/ios/documentation/StringsTextFonts/Conceptual/TextAndWebiPhoneOS/KeyboardManagement/KeyboardManag

[2015-01-04 11:14] #79 closed

[2015-01-04 11:24] hackiftekhar commented on #96
Optimized next/previous logic for UITableView/UICollectionView. But still sometimes when top/bottom cell doesn't exist in UITableView due to dequeue logic, then next/previous logic fails and we know it can't be fixed.

[2015-01-04 11:24] hackiftekhar commented on #106
Optimized next/previous logic for UITableView/UICollectionView. But still sometimes when top/bottom cell doesn't exist in UITableView due to dequeue logic, then next/previous logic fails and we know it can't be fixed.

[2015-01-04 11:24] #106 closed

[2015-01-04 23:46] JamalK opened #138 "setCanAdjustTextView:NO doesn't work."
Hello,
Thank you for the amazing control. i'm facing an issue where I have a TextView that keeps scrolling, and adjusting itself, even though, setCanAdjustTextView is no. I tried also to set enable to NO, and it didn't help. How should I go about this?

[2015-01-05 03:44] hackiftekhar commented on #138
Let me know what are you trying to achieve. canAdjustTextView adjust the frame of texView when textView height is too big to fit in screen.

[2015-01-05 05:04] JamalK commented on #138
I mean, that when the user starts typing in textview, it starts scrolling automatically, even though the scrolling behavior is disabled in the textview.

[2015-01-05 15:11] hackiftekhar commented on #138
Could you please demonstrate 2 videos how you want to achieve and where the problem is?

[2015-01-05 15:11] hackiftekhar commented on #137
Any updates or you fixed this issue by fixing your autolayout configuration?

[2015-01-06 01:56] yidahis opened #139 "Disable for a ViewController failed"
I create new project and do this:
`- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions {`
   ` // Override point for customization after application launch.`
    ` [[IQKeyboardManager sharedManager] setEnable:NO];`
    `return YES;`
`}`
But it doesn't work.

[2015-01-06 03:02] JamalK commented on #138
I just fixed it, sorry it was my problem, I suspected the control. Thank you so much for the support :+1:

[2015-01-06 03:13] JamalK commented on #138
Sorry, it just happened again,
This is a link for a gif of what's going on
![gif image] (http://cl.ly/image/462M0a0m382x/Screen%20Recording%202015-01-05%20at%2010.10%20PM.gif)

I want it not to scroll, even though the textview is disabling scroll.

[2015-01-06 03:37] hackiftekhar commented on #139
Please note, this will disable managing distance between keyboard and textField, but if you also want to remove toolbar then please use enableAutoToolbar property. Please let me know if you are talking about something else.

[2015-01-06 03:40] hackiftekhar commented on #138
Thanks for the gif, could you please attach demo project so I can debug it?

[2015-01-06 05:32] Jowyer opened #140 "Can not run demo"
/bin/sh: /Users/iftekhar/Library/Application Support/Developer/Shared/Xcode/Plug-ins/xcfui.xcplugin/Contents/Resources/fui_script.sh: No such file or directory

[2015-01-06 06:41] hackiftekhar commented on #140
Please remove unused imports from build phase, I've updated this on demo also.
Thanks for the update.

[2015-01-06 06:41] #140 closed

[2015-01-06 06:46] gcgc100 opened #141 "Can I skip the tableview and scroll all the viewController when the keyboard appear?"
The textfield is in a tablecell of the tableview.
It will scroll the tableview when the keyboard appear. But I want to scroll all the viewController instead of the tableview when the keyboard appear.

[2015-01-06 06:58] hackiftekhar commented on #141
No, the library cant modify much user code to do the trick. Developer must have to put all his content over UIScrollView or it's subclass in order to scroll and should maintain when to enable/disable scrolling.

[2015-01-06 06:59] #141 closed

[2015-01-06 15:30] fwhenin commented on #137
it hasn't been fixed yet, but I can't really share code since it's a xib file. I removed all constraints except the width of one text field...SHOULD the page be scrolled automatically? maybe I'm expecting this code to do something it doesn't. or maybe I do need a UIScrollView

[2015-01-06 16:08] fwhenin commented on #137
![image](https://cloud.githubusercontent.com/assets/1904203/5631410/546787b6-9594-11e4-8a60-a6010d139e11.png)

[2015-01-06 16:09] fwhenin commented on #137
![screenshot 2015-01-06 11 06 01](https://cloud.githubusercontent.com/assets/1904203/5631424/6feeb11c-9594-11e4-95f6-97e8e8f211b8.png)

[2015-01-06 16:33] hackiftekhar commented on #137
I think you are going right, Library must move textField out of the way, but still I need a demo project to debug it. Could you please create a separate demo project to demonstrate the issue and share with me?

[2015-01-06 16:54] fwhenin commented on #137
so I just made a demo project...and it works...something with my code...I have no idea what it could be

[2015-01-06 16:56] fwhenin commented on #137
I'm trying to figure out what other pods are conflicting with this...same issue with the UIPickerView not having the accessory bar...I'm using XLForm, but the accessory bar shows up in their textfields normally...and they use a UIViewController

[2015-01-06 17:05] hackiftekhar commented on #137
Try adding pod one by one in demo project. seems some issue with your project not in the library, because demo is working fine.

[2015-01-06 17:53] fwhenin commented on #137
HOLY CRAP.....yeah, I'm an idiot, I was inheriting from UITableViewController for some reason...once I changed it to UIViewController, everything worked. thank you for your help man. Sorry about that

[2015-01-06 17:53] #137 closed

[2015-01-06 18:12] hackiftekhar commented on #137
Thanks bro, I would love to help you when you are in trouble.

[2015-01-06 18:13] fwhenin commented on #137
side-note, XLForm conflicts when it comes to a Selector View...the toolbar doesn't show up there...looking into a fix for that

[2015-01-07 03:43] yidahis commented on #139
On the beginning, i didn't understand this  api and now i get it. Thanks.

[2015-01-07 03:43] #139 closed

[2015-01-07 15:16] hackiftekhar commented on #138
@JamalK Please provide me example code to debug it.

[2015-01-07 15:33] thuai opened #142 "show keyboard in tableview and then scroll tableview, can't scroll tableview to bottom"
I have a textview is a subview of UITableViewCell. When i edit in this textview, keyboard auto show. It's correct behavior.
But if I scroll tableview just once.
I will not be able to scroll tableview bottom, if the keyboard don't dismiss.

How to solve this problem?
Thank you!

[2015-01-07 15:53] hackiftekhar commented on #142
Please be sure you're using latest version of source code. I've already fixed the scrollView bottom scrolling issues. Here are some commit details:-

https://github.com/hackiftekhar/IQKeyboardManager/commit/9b5076b816c07dd634c7e6c31721da756b139ad7
https://github.com/hackiftekhar/IQKeyboardManager/commit/0950d46eda586ba82eee8013d67f91a9c451d6ac

Please check 'UITableView in Container' section in de

[2015-01-08 10:11] chaoyuan899 opened #143 "keyboard did't display on ios8 Landscape Left/Right"
ios8,landscape left/right , present a view which contain the textfield, keyboard didn't display.
 I came to login ControllerVC and I touch the textField,the keyboard exactly display ,but when i came to another controllerVC and present a viewControllerVC which contain a textField and I touch the textField ,the keyboard did'nt display and the whole view can't respone any touch and no log write to de

[2015-01-08 10:35] chaoyuan899 commented on #143
when I debug the code ,i find loop forever in the below code:(IQUIView+Hierarchy)
while ([controllersHierarchy containsObject:matchController] == NO || matchController == nil)
    {
        do
        {
            matchController = [matchController nextResponder];

        } while (matchController != nil && [matchController isKindOfClass:[UIViewController class]] == NO);
    }
so it cann't respon

[2015-01-08 10:48] hackiftekhar commented on #143
Please test your app on real device, it may be simulator settings issue, you can find it on read me file. Please share a demo project if you face this issue on real device too.

[2015-01-08 10:50] hackiftekhar commented on #143
Could you please share demo project so that I can debug the loop

[2015-01-08 14:52] care2achieve opened #144 "UItableView inside a scrollview"
I have a table view in side a scroll view. and table view contains textfields, when i try to edit text field table view is scrolling up but i want to scroll up scroll view not table view is it possible?

[2015-01-08 15:18] hackiftekhar commented on #144
In short the answer is NO, In details the answer is MAY BE. Actually It may depend on the position UIScrollView and UITableView on the screen to check which object need to scroll.

The logic behind this is, the IQKeyboardManager finds the nearest UIScrollView or it's subclass in textField upper hierarchy till UIWindow. In your case IQKeyboardManager find UITableView as the nearest UIScrollView for

[2015-01-09 13:29] hackiftekhar commented on #111
Fixed UITableViewCellScrollView class check and other checks also, but wondering the library is working fine in debug mode and still crashes somewhere in release configuration. :(

[2015-01-10 05:59] #144 closed

[2015-01-10 06:00] hackiftekhar commented on #143
@chaoyuan899  could you please share a working demo project?

[2015-01-10 06:00] #142 closed

[2015-01-10 06:01] hackiftekhar commented on #138
@JamalK  Any updates regarding textView scrolling issue? Could you please provide me sample code?

[2015-01-10 06:02] lasimmm opened #145 "i want to one click the nav back buttom to go to the previous controller when the keyboard is Displaying!"
[[IQKeyboardManager sharedManager] setShouldResignOnTouchOutside:YES];

i want to one click the nav back buttom to go to the previous controller when the keyboard is Displaying!

but now  i need to double click ..

help! guys..

thanks

[2015-01-10 06:03] JamalK commented on #138
I'm sorry, I have been  trying over, and over the reproduce the same bug, but I couldn't. However it still scrolls in my original project, and stops when I remove the dependency.

[2015-01-10 06:05] lasimmm commented on #145
![untitled](https://cloud.githubusercontent.com/assets/3974648/5690626/c66daa44-98d1-11e4-884d-71347dfbc754.gif)

[2015-01-10 17:53] #145 closed

[2015-01-10 17:53] hackiftekhar commented on #138
You may try to debug this method in both demo and original project:-

IQKeyboardManager.m
-(void)textFieldViewDidChange:(NSNotification*)notification

[2015-01-11 06:49] lasimmm commented on #145
that's great thanks guys!!!   excellent

[2015-01-11 15:57] hackiftekhar commented on #143
@chaoyuan899 Any updates?

[2015-01-12 05:10] lasimmm opened #146 "TextView Bug"
click the nav back buttom to go to the previous controller when the keyboard is Displaying!

![untitled1](https://cloud.githubusercontent.com/assets/3974648/5699183/4b599e1c-9a5c-11e4-844a-7798e2cac895.gif)

[2015-01-12 05:21] lasimmm commented on #146
oh sorry guys   that's my mistake ..

[2015-01-12 05:21] #146 closed

[2015-01-12 13:54] chaoyuan899 commented on #143
oh~,so sorry for so late to reply you. since it's the company project，so I cann't offer you the project.I try to recur but failed.I think there are some conflicts with company's .a library.The error is like issue #66

[2015-01-12 13:56] #143 closed

[2015-01-13 16:47] #138 closed

[2015-01-19 08:05] hugo53 opened #148 "Placeholder text in toolbar not change"
Hi @hackiftekhar ,

Thank you for this awesome library. It helps me so much. I really appreciate that.

Now I have a problem with placeholder on toolbar. Let me describe and please give me a suggestion:

1. First, I have a textfield, placehoder is "This is address of type A" when the current type is A.
2. Then, I change type A to type B. Now, current type is B, the placeholder text of TextField is

[2015-01-19 08:40] hackiftekhar commented on #148
Will try to fix, thanks

On Monday, January 19, 2015, Minh-Hoang, Nguyen <notifications@github.com>
wrote:

--
Sent from My iPhone

[2015-01-19 10:44] hackiftekhar commented on #148
Fixed placeholder caching logic.

[2015-01-19 10:44] #148 closed

[2015-01-19 10:46] hugo53 commented on #148
@hackiftekhar  So quick, thank you for your support. Keep moving, bro!

[2015-01-19 20:57] mkeremkeskin opened #149 "White done button"
Hi;

I'm trying keyboard library alternatives. Yours seems to be the most convenient. But I have a problem. Done button on toolbar appears white. I search other issues and stumbled upon [this](https://github.com/hackiftekhar/IQKeyboardManager/issues/54) and thought that so why the arrows are black and done button is white?

![screen shot 2015-01-19 at 22 50 07](https://cloud.githubusercontent.com/

[2015-01-20 04:02] hackiftekhar commented on #149
This may be a bug, because in this case the arrows should also adopt white color. Culd you please share demo code so I can debug it?

[2015-01-20 05:35] hackiftekhar commented on #149
Fixed apperance proxy adoption.

[2015-01-20 05:35] #149 closed

[2015-01-20 07:51] sammyCoding opened #150 "choose NavigationBar,IQKeyboardManager don't work"
![111](https://cloud.githubusercontent.com/assets/8233963/5813649/a37f1fda-a0bb-11e4-9b47-55e48af905ae.gif)

[2015-01-20 09:37] mythodeia opened #151 "toolbar.barStyle crash"
Hello
on the following commit:
https://github.com/hackiftekhar/IQKeyboardManager/commit/81a57f356d3fe98055d267707269d146d66a14e7#diff-dd3d05f4b44e2fa3c6d4e9f1ba3c546cR1364
line 1364 the setting of the barStyle is crashing when the inputAccessoryView is not responding to setBarStyle selector. I added a comment there explaining that in my case i do not add a UIToolbar as an inputAccessoryView but a

[2015-01-20 10:34] #151 closed

[2015-01-20 10:35] hackiftekhar commented on #151
Thanks @mythodeia for your quick report. Thanks again!

[2015-01-20 10:57] #150 closed

[2015-01-20 17:35] JamalK commented on #138
I just fixed it using.
textView.contentInset=UIEdgeInsetsZero;
 Thank you so much for the support! Really amazing control. I'm going to use it whenever I have issues with keyboard

[2015-01-20 17:44] hackiftekhar commented on #138
Thanks @JamalK, let me know if the issue is related to some library code, so I that I'll update it.

[2015-01-22 05:24] hackiftekhar commented on #111
Changing "Optimization Level" in Build Settings solved the problem:-
http://stackoverflow.com/questions/3327981/app-runs-as-debug-but-crashes-as-release
http://www.mindjuice.net/2011/11/30/how-to-fix-an-app-that-crashes-in-release-but-not-debug

But I'm still worried about it. If somebody has suggestions, I would love to hear.

[2015-01-27 11:48] adamdziedzic opened #153 "Toolbar shows on simulator after app loads"
Hi, after loading app I see tollbar, when there is no field active. "Done" button dismisses it, but I wonder how to fix it or how can I call "Done" programmatically?

[2015-01-27 12:40] hackiftekhar commented on #153
You can't call done programmatically, instead you should use
'resignFirstResponder' on textField to dismiss keyboard.

On Tuesday, January 27, 2015, adamdziedzic <notifications@github.com> wrote:

--
Sent from My iPhone

[2015-01-27 13:00] adamdziedzic commented on #153
But there is no keyboard and none of my textFields are first responders.

[2015-01-27 15:33] hackiftekhar commented on #153
Could you please share demo project?

[2015-01-28 17:53] 7vikram7 opened #154 "Sibling responders not detected when textfields are placed in custom views in same viewcontroller"
Hi,
Thank you for the excellent library. I have stumbled upon one case while creating a form.
![screen shot 2015-01-28 at 11 01 55 pm](https://cloud.githubusercontent.com/assets/7568724/5943096/1f8e5b72-a742-11e4-8462-72c5e85e3065.png)
All the 6 marked in red boxes are separate custom views which are added to the viewcontroller. Notice that the next previous buttons did not appear for this case. F

[2015-01-28 20:49] hackiftekhar commented on #154
In general, if you're putting textFields on different views, then you are saying 'Keep them separate and do not disturb each other'. If you're putting textField on same view then you're saying 'Keep the relation between them'. Next/Previous buttons follows the same concept.

[2015-01-29 07:41] 7vikram7 commented on #154
Ok sounds correct, Thanks.
But I had this requirement to create lots of similar forms which had a lot of similar components which i can reuse. Hence, I have created custom views for such components.
Others too might have this requirement if they are using custom views for reuse sake in large projects.

Lets see if I can put an elegant solution in place. Like set a property for textfields which if

[2015-01-29 11:22] hackiftekhar commented on #154
The logic behind deepResponderView() is, it find all responderView in it's subview and their lower hierarchy.
You should check addToolbarIfRequired() method, which find the textField's superTableView or superCollectionView. If tableView or collectionView is found then using deepResponderView() method to get all responderView's in it's lower hierarchy, if not found then using responderSiblings meth

[2015-01-30 06:17] trungnguyen1791 opened #155 "Issues with UITextView and is"
Currently i have a problem with UITextView. Here are the step by step to get this bug

1. Firstly, i have a uitextview on screen, isEditable = No
2. I change isEditable's property to YES then try to touch on the textview, and keyboard show.
3. I touch out to hide keyboard and try to set isEditable to NO.
4. Now if i double tap on textview, the issue appear. The toolbar will show at the bottom of s

[2015-01-30 12:46] tschleuss commented on #114
Thanks !!! Works very well .

[2015-01-30 13:09] devindresh commented on #155
May be a known issue with iOS Simulator. Could you please look at README.md for known issue section and confirm it is not an iOS Simulator issue.

[2015-01-30 13:11] hackiftekhar commented on #155
May be a known issue with iOS Simulator. Could you please look at README.md for known issue section and confirm it is not an iOS Simulator issue.

[2015-01-30 14:27] trungnguyen1791 commented on #155
No, I'm test on my real device not simulator.
In this situation, keyboard height return is 44 height only.

[2015-01-30 15:36] hackiftekhar commented on #155
Ok, could you please share demo project?

On Friday, January 30, 2015, trungnguyen1791 <notifications@github.com>
wrote:

--
Sent from My iPhone

[2015-01-30 15:52] trungnguyen1791 commented on #155
Ok, here is a simple demo: https://github.com/trungnguyen1791/DemoKeyboard

Firstly, u tap on textview with isEditable = True. The Keyboardhandler working properly.

Secondly, u change isEditable to False with Toggle button. Now double tap on textview. The Keyboardhandler will show only toolbar view

[2015-01-31 07:49] hackiftekhar commented on #155
Currently I'm very busy in other works, I will look into the demo in a day or two.

[2015-02-02 07:23] JustinDMoore opened #156 "Will you implement a dark mode?"
Will you support a dark mode to match the UIKeyboard dark mode? As it stands, your toolbar sticks out against the dark mode keyboard.  Thanks

[2015-02-02 07:53] mythodeia commented on #156
@JustinDMoore this is already implemented i think. In my own app this is done automatically.
there is code in IQKeyboardManager.m file inside the  ```addToolbarIfRequired``` method.
Do you have an example where this does not work as expected?

[2015-02-02 07:56] JustinDMoore commented on #156
I just began using IQKeyboardManager via pods today (latest version). All of my keyboards default to dark mode, but the toolbar is always light. There is no specific example other than it just isn't working for me. Is there a property I need to set that you're aware of? I didn't see one in the documentation. Thanks.

[2015-02-02 07:58] JustinDMoore commented on #156
Having looked at the method you mentioned, are you referring to _shouldToolbarUsesTextFieldTintColor?

[2015-02-02 08:00] mythodeia commented on #156
there is a
[code]

[2015-02-02 08:00] JustinDMoore commented on #156
![](http://i.imgur.com/7o104Yw.jpg)

[2015-02-02 08:04] mythodeia commented on #156
the image below is from the demo project.
![demo](https://cloud.githubusercontent.com/assets/1748458/5997358/eba160a0-aac2-11e4-9ebb-45d8ef87b89d.png)

[2015-02-02 08:11] JustinDMoore commented on #156
In my AppDelegate, I set the following:
    [[IQKeyboardManager sharedManager] setShouldShowTextFieldPlaceholder:NO];
    [[IQKeyboardManager sharedManager] setToolbarManageBehaviour:IQAutoToolbarByPosition];
    [[IQKeyboardManager sharedManager] setKeyboardAppearance:UIKeyboardAppearanceAlert];

Is that not correct for the keyboard appearance?

[2015-02-02 08:13] mythodeia commented on #156
you should also set the ```overrideKeyboardAppearance```  like this before:
[code]

[2015-02-02 08:18] JustinDMoore commented on #156
Modifying it to include overrideKeyboardAppearance didn't have any effect. Can't understand what is missing.
    [[IQKeyboardManager sharedManager] setOverrideKeyboardAppearance:YES];
    [[IQKeyboardManager sharedManager] setShouldShowTextFieldPlaceholder:NO];
    [[IQKeyboardManager sharedManager] setToolbarManageBehaviour:IQAutoToolbarByPosition];
    [[IQKeyboardManager sharedManager] setKeybo

[2015-02-02 08:19] mythodeia commented on #156
can you try setting the KeyboardAppearance directly to a textfield and see if it works.
if it does then maybe the OverrideKeyboardAppearance is not working as it should

[2015-02-02 08:26] JustinDMoore commented on #156
I've tried every combination I could think of.. changing UIKeyboardAppearanceAlert to UIKeyboardAppearanceDark.. with and without setOverrideKeyboardAppearance.. and setting the textfield directly. The keyboard itself will reflect light/dark mode accordingly, but the toolbar never changes.

[2015-02-02 08:32] mythodeia commented on #156
maybe @hackiftekhar can help here. I have exhausted all my ideas.
I tried the following 2 lines in my project as well inside a uitableview full of textfields and all are working fine.
[code]

[2015-02-02 16:21] hackiftekhar commented on #156
@Justin, actually the pod is not updated yet. Current I'm going with a very busy schedule without having internet connectivity. I'll update the pod when got sometime to update it.

[2015-02-02 16:22] hackiftekhar commented on #156
@Mythodia, thanks for the help.

[2015-02-02 16:43] mythodeia commented on #156
:+1:

[2015-02-02 16:54] JustinDMoore commented on #156
Ok thanks. Good to know I'm not crazy!

[2015-02-04 13:45] prgnshptlklp opened #157 "Framework"
Please add Universal Framework under IQKeyboardManager Framework Directory, So developers can use it on simulator also.

[2015-02-06 05:53] mehulmind123 opened #158 "UITextFieldDelegate"
When we are using KeyboardManager.framework.
We have 3 textfields on view for which we have set deleegate.

When we are making any UITextField as first responder, delegate method -(BOOL)textFieldShouldBeginEditing:(UITextField *)textField is calling 3 to 4 times for all textfields which are in view.

[2015-02-06 05:59] #158 closed

[2015-02-06 06:19] hackiftekhar commented on #158
Please check 'Doing custom work on textField with returning NO in textFieldShouldBeginEditing: delegate:-' section in README.md file. Hope this helps.

[2015-02-06 22:55] cytryn opened #159 "Next responder method?"
Since creating the returnKeyHandler takes over the delegate I cant implement any method myself.

So I am not using because I need some custom code on the delegate methods.

Is there a way to get the next UITextField so I can set it to be the first responder?

[2015-02-06 23:36] cytryn opened #160 "Not animating UIImageView with autolayout"
Hi, I am making my login screen and when I hit a textfield it seems like its seting the uiimageview frame instead of rolling the animation with autolayout.

Is there anything I can do to fix this?

UIImageView set with autolayout:
http://cl.ly/image/1M0v3M391f0F

Video showing the behavior:
http://cl.ly/0815060A2o0U

[2015-02-07 07:22] JohnnyTseng opened #161 "NavigationBar pushed up when using textview."
Hi, Thanks for creating this excellent library, it's really a time saver!
However, I found a little issue, wondering if it's a bug or I didn't implement in a right way.

I got a tableView in a UIViewController, created by pure code, there are 2 textFields and 1 textView in each cell's accessoryView
I've followed the instructions in the README set a scrollView to self.view to disable hidding naviga

[2015-02-07 08:37] hackiftekhar commented on #159
There is a delegate protocol for return key handler too which is nothing
but UITextFieldDelegate and UITextViewDelegate. You could set the delegate
of returnKeyHandler to self and it will work just like you need to
implement.

On Saturday, February 7, 2015, Andre <notifications@github.com> wrote:

--
Sent from My iPhone

[2015-02-07 08:44] hackiftekhar commented on #160
Looks like you've top pinned your UIImageView with TopLayoutGuide.
TopPinning to superView will solve the issue. For detail explanation please
refer issue #124.

On Saturday, February 7, 2015, Andre <notifications@github.com> wrote:

--
Sent from My iPhone

[2015-02-07 08:53] hackiftekhar commented on #161
That's the functionality, you've implemented it in a right way.
IQKeyboardManager is responsible for full visibility of your
textField/textView.  Note that your textView height is too big to fit in
screen, if library don't move navigationBar then bottom of textView will be
hide by keyboard, and hiding textView is the major issue while your issue
is minor.

Please let me know for any further querie

[2015-02-07 09:16] JohnnyTseng commented on #161
Thanks for replying, Sorry that I misunderstand it :(
I'll close the issue, thanks again!

[2015-02-07 09:16] #161 closed

[2015-02-07 12:01] hackiftekhar commented on #161
No problem, I'm always here to help.

[2015-02-07 12:03] hackiftekhar commented on #153
Any updates or demo code for this?

[2015-02-07 12:03] #154 closed

[2015-02-07 12:10] hackiftekhar commented on #157
I'm planning to remove support for KeyboardManager.framework, because it is rarely updated in 2-3 months by me. So it contains old code while the repository have the latest source. I'll leave Framework Target option in demo project. If developer need to build it to framework, then they can do by their own.

   Please suggest if I'm going in a wrong direction. Let me know if you've any better sugge

[2015-02-07 21:49] mythodeia opened #162 "toolbar arrow button issue"
Hello @hackiftekhar

i tried the demo project to replicate a small issue i am having and its happening there as well.
if you open the textfield demo and tap on the 1st textfield shouldn't the toolbar back button be disabled since its the 1st textfield?
For the 1st and last textfield the previous and next arrow buttons should respectively be disabled according to textfield position, right?

thanks

[2015-02-08 00:18] cytryn commented on #159
This works.

Anyway, it would be great to have a way to know if there ir a next uitextfield or if it's the last one.

Usually people would like to do some custom code when the return key of the very last textfield is hit.

Does that make sense?

[2015-02-08 00:26] cytryn commented on #160
Thats not quite the result I wanted...

I would like to keep the logo at the screen, so the autolayout is fine for that to work.

The problem is that the frame is being reset instead of being animated. I dont know exactly whats responsible for this but the result I would like to see is my logo shrinking animated instead of poping smaller/bigger.

[2015-02-08 01:12] androidNdk opened #163 "can"
when the keyborad hide uitextview controle, uitextview can't move up.

[2015-02-08 05:10] hackiftekhar commented on #159
Yes, it makes sense. For now you can do it via textFieldShouldReturn by manually checking your lastTextField.

[2015-02-08 05:16] hackiftekhar commented on #160
Under the hood, I'm finding topViewControlller in UIWindow hierarchy and moving it's view frame up-down, but due to top pining from top layout guide, your image is not moving with view, image is keeping distance from top layout guide. Could you please elaborate what behaviour you want to achieve?

[2015-02-08 05:17] hackiftekhar commented on #163
Please elaborate the issue and share demo code.

[2015-02-08 15:15] 7vikram7 commented on #154
What I did was, I created a reference for an UIView in the IQKeyboardManager class, named "responderSuperView"(this would be the reference of the view, whose subview responder views I wanted to have a relation ).

Then, whenever i wanted to keep relation between responder views  which are not located on the same view; I would set the "responderSuperView" to that view (which is usually a viewcontro

[2015-02-09 09:48] ailjiuai opened #164 "use IQKeyboardManager ViewController ’s view overall upward"
like this:
![ios simulator screen shot 2015 2 9 5 47 12](https://cloud.githubusercontent.com/assets/8022424/6103910/af9a2a62-b083-11e4-8a00-e11670f5ce5a.png)

[2015-02-09 09:49] ailjiuai opened #165 "use IQKeyboardManager ViewController ’s view overall upward"
like this:
![ios simulator screen shot 2015 2 9 5 47 12](https://cloud.githubusercontent.com/assets/8022424/6103910/af9a2a62-b083-11e4-8a00-e11670f5ce5a.png)
![ios simulator screen shot 2015 2 9 5 47 24](https://cloud.githubusercontent.com/assets/8022424/6103950/f30d427a-b083-11e4-8a43-33f1d401c215.png)

[2015-02-09 09:53] ailjiuai commented on #165
do not use IQkeyboardManager
![ios simulator screen shot 2015 2 9 5 51 59](https://cloud.githubusercontent.com/assets/8022424/6104010/894af048-b084-11e4-921d-2680189d4d78.png)

[2015-02-09 09:55] wy19901227 opened #166 "when use a framework named RETableViewManager，IQkeyboardManager doesn't work."
Wish you to fix it.

I have found the reason ,for RETableViewManager have used many UITextField which frame is CGRectNull,But IQKeyboadManager not lose them . So,wish you to fix it,I can't do it. And my project have used Both of them. please.

[2015-02-09 15:59] hackiftekhar commented on #154
If you are not aware of 'how IQKeyboardManager works under the hood' then you can go with your proposed simple solution. If you are setting responderSuperView = nil in viewWillDisappear then you should set responderSuperview in viewDidAppear or viewWillAppear (Not in viewDidLoad).

If you are aware of IQKeyboardManager functional architecture then let me know I can suggest you a more better way, o

[2015-02-09 16:11] hackiftekhar commented on #164
How was your actual view before using IQKeyboardManager?

[2015-02-09 16:12] hackiftekhar commented on #165
Could you please share demo project to demonstrate the issue?

[2015-02-09 16:22] hackiftekhar commented on #166
Not necessary to fix it in a hurry, but will look into this later. Thanks for the bug report.

[2015-02-09 17:52] cytryn commented on #159
Yeah, thats what I am actually doing.

Thanks for the help on the delegate note.

Hope you guys consider the option for a nextResponder method in the future.

[2015-02-09 17:52] #159 closed

[2015-02-09 17:59] cytryn commented on #160
How is it working now: as I hit the textField, they key board goes up as does the view, both animated (rolling up/down swiftly).
My image (orange in demo video) does not animate. It has only 2 states: before the animation begins and after the animation ends.

How I wanted it to work: instead of the 2 states, I wanted my image to animate according to the autolayout. In the demo video it should shri

[2015-02-10 02:58] ailjiuai commented on #165
thanks.now,the function have worked  well , when  i  used this latest library.

[2015-02-10 03:40] 7vikram7 commented on #154
I cannot say I am fully aware of the functional architecture, but I have had a look at quiet a lot of code. If you have a better solution, you can suggest it to me. I would be happy to try it out.

[2015-02-10 05:18] hackiftekhar commented on #159
Yes, in future I'll add selector for last textField. Thanks

[2015-02-10 05:23] hackiftekhar commented on #160
Ok, I'll check it and let you know my feedback. Thanks

[2015-02-10 05:31] hackiftekhar commented on #165
I requested you to stop writing things like 'Do not use IQKeyboardManager'. It discourage me to contribute towards my open source library. Note that, in case you find any issue, I'm always here to help.

[2015-02-10 06:02] hackiftekhar commented on #154
1) Create a UIView subclass, just say CustomView.
2) Create a property named superCustomView in 'IQUIView+Hierarchy.h' and define it's getter method in .m file(Just like other implementation for UIScrollView/UITableView/UICollectionView).
3) Now in IQKeyboardManager.m, where we are checking for superTableView/superCollectionView, please add another check for superCustomView.
4) Open storyboard and

[2015-02-10 06:11] hackiftekhar commented on #162
If it's happening in github demo app then I'll check, otherwise could you please send me demo.

[2015-02-10 06:50] mythodeia commented on #162
yes its happening on the demo project as well, on the textfield demo

[2015-02-10 08:54] hackiftekhar commented on #162
Ok, will check. Thanks for the report.

[2015-02-10 18:28] hackiftekhar commented on #162
I do not found any issue with the demo project while toolbarManageBehaviour = IQAutoToolbarByPosition. However I've done some random tagging and random subView order in hierarchy to demonstrate IQAutoToolbarBySubviews and IQAutoToolbarByTag. Make sure toolbarManageBehaviour is set to IQAutoToolbarByPosition.

Please let me know if still it's not working.

[2015-02-10 18:42] mythodeia commented on #162
maybe i am missing something. i just downloaded the latest version from your library and just opened it and run the textfield demo. when i tap the 1st one i get this screen:
![screen](https://cloud.githubusercontent.com/assets/1748458/6133814/4a3a3d6e-b165-11e4-86df-7c16aa150475.png)
both arrows are enabled and clickable.

[2015-02-10 20:57] RGSmithSoftware opened #168 "NavigationBar still moving with "scrollView trick""
![test](https://cloud.githubusercontent.com/assets/4758815/6136148/e98f1e02-b133-11e4-84c3-635490f0f34f.gif)

Using pod v3.2.1.0

SETUP:
1. Basic single view application project with an UINavigationController.
2. Did "scrollView trick" to make NavigationBar not move
3. First TextField origin {8 , 119}
4. Second TextField origin {8 , 157}
4. Third TextField origin {8 , 253}

Any help on this will b

[2015-02-11 01:40] ailjiuai commented on #165
very sorry,hack.I did it just to let you look at the effect is different.

[2015-02-11 01:50] ailjiuai commented on #165
this library is wonderful .And thank you very much for contributing.

[2015-02-11 05:21] hackiftekhar commented on #168
Could you please test it with latest source code on repo not via cocoapods, I'm about to update cocoapods version? If still problem exist i'll look into this.

[2015-02-11 05:25] hackiftekhar commented on #165
Thanks @ailjiuai. :)

[2015-02-11 05:39] RGSmithSoftware commented on #168
I just did a retry with your recommendation, but I'm still receiving the problem.

[2015-02-11 11:44] hackiftekhar commented on #162
Thanks @mythodeia I'll check for the latest source code on the gihub repo. Again Thanks for the help.

[2015-02-11 11:44] #165 closed

[2015-02-11 17:58] #162 closed

[2015-02-11 18:13] mythodeia commented on #162
yeap..that did it! thanks for the support

[2015-02-11 18:19] hackiftekhar commented on #162
I put a wrong check for toolbar.  Fixed it and pushed the code, it will work fine now.

[2015-02-11 18:20] mythodeia commented on #162
i have replied above ... everything is working fine now! thanks again

[2015-02-11 18:24] hackiftekhar commented on #168
Could you please share demo code, so I can findout where the problem is.

[2015-02-11 19:12] #164 closed

[2015-02-11 19:35] hackiftekhar commented on #160
I checked the demo video and now understand what animation behaviour you wanted. I'm changing the self.view frame not UIImageView frame. UIImageView frame is resetting by the Auto-layout Engine. Changing self.view frame is doing in '-(void)setRootViewFrame:(CGRect)frame' method. You can play a hit & try with setNeedsLayout and layoutIfNeeded in animation block where library update rootViewControll

[2015-02-12 16:28] hackiftekhar commented on #153
Can you share demo project where it seems 'done' button is appearing and there is no first responder?

[2015-02-12 16:48] hackiftekhar commented on #155
It seems to be an Apple bug/feature. Try removing `IQKeyboardManager` and add these lines in `- (void)viewDidLoad`

[code]

Issue is still there. May be Apple think something different or a known issue for Apple.
Closing issue as this doesn't belong to library and belongs to an Apple bug/feature.

[2015-02-12 16:49] #155 closed

[2015-02-12 17:17] hackiftekhar commented on #157
Removed support for IQKeyboardManager.framework because it's rarely updated by me. In case someone need to build framework, then framework target option is still there in demo project.

[2015-02-12 17:17] #157 closed

[2015-02-12 17:27] #163 closed

[2015-02-12 17:31] hackiftekhar commented on #168
It seems there is still UIView behind textField, not a UIScrollView. Could you please confirm that all the textField is inside UIScrollView? How about 'Navigation Bar' section in IQKeyboardManager demo project?

[2015-02-13 03:49] wy19901227 commented on #166
I have found the reason ,for RETableViewManager have used many UITextField which frame is CGRectNull,But IQKeyboadManager not lose them . So,wish you to fix it,I can't do it. And my project have used Both of them. please.

[2015-02-13 10:24] hackiftekhar commented on #166
For a workaround you can disable IQKeyboardManager in viewDidAppear and enable it again in viewWillDisappear. I'll create a demo project and will try to fix it for RETableViewManager.

[2015-02-13 12:15] adamdziedzic commented on #153
Sorry, if I find time I'll do it. You can close the issue for now, if I reproduce it I'll ask for re-opening it, ok?

[2015-02-13 15:11] cytryn commented on #160
If I understand correctly, I was supposed to try this at your IQKeyboardManager.m

None of the tries worked =/

[2015-02-13 16:38] #153 closed

[2015-02-13 16:42] hackiftekhar commented on #160
I was just updating frame of self.view in an animation block internally and nothing more. Don't know why your image is not animating like you want.

[2015-02-14 11:31] hackiftekhar commented on #156
Release new cocoapods version 3.2.1.1. This contains the dark mode implementation. Thanks for your patience.

[2015-02-14 11:31] #156 closed

[2015-02-14 19:43] JustinDMoore commented on #156
Thanks so much. Updating soon.

[2015-02-15 19:54] h3n1v opened #169 "Crash Issue on 5.1.1 and maybe 6.0"
on init method setBarTintColor is not implemented on some iOS (5.1.1)
we need to check if responds to selector.

here is the patch: (IQToolbar.m line 39)

    if ([self respondsToSelector:@selector(setBarTintColor:)])
        [[self appearance] setBarTintColor:nil];

[2015-02-15 20:01] h3n1v opened #170 "Issue on Implementing IQkeyboard on ResideMenu"
Implementing IQkeyboard on ResideMenu (https://github.com/romaonthego/RESideMenu)

Will result in not showing the toolbar of the keyboard (left/right arrow and OK button)
when we try to click 2 times the same view. (the first time is working fine, the second will not show the toolbar)

[2015-02-15 20:37] hackiftekhar commented on #170
How you have integrated RESideMenu? Are you trying to add textField on side menu? could you please make a demo and send me with steps to produce the bug?

[2015-02-15 20:44] #169 closed

[2015-02-15 20:48] hackiftekhar commented on #168
Any updates or demo project on this?

[2015-02-15 23:57] h3n1v commented on #170
I have intergrated IQkeyboard on a view, not itself on the side menu.
When i click on this view, then a textfield, this is working.
When i reclick from the menu on the same view, then a textfield, the toolbar is missing

[2015-02-16 05:37] hackiftekhar commented on #170
Please share demo and steps to reproduced

[2015-02-16 10:45] h3n1v commented on #170
just sended you a PM on your gmail.

[2015-02-16 12:36] shahzadyounas opened #171 "setenableautotoolbar = no causes very first click of textfield to not scroll view up"
I have a UIScrollview with a UITableView+ UITextfield within it.

When in my viewdidload/viewwillappear/viewdidappear i set

[[IQKeyboard manager sharedInstance] setEnableAutoToolBar] = NO (ie i dont want the toolbar to appear at all) then on the very first click of the textfield when screen is loaded, the view doesnt scroll up properly (it appears in background).  When I tap out of the keyboard a

[2015-02-16 14:20] hackiftekhar commented on #171
Could you please share demo project?

[2015-02-16 14:20] hackiftekhar commented on #170
Thanks :), I'll look into demo.

[2015-02-16 15:22] shahzadyounas commented on #171
https://drive.google.com/file/d/0BzWgweYzMVzYVElPUUZBbmNITFU/view?usp=sharing

Please take a look...I have checked and with a normal UITextField it works fine...however when using
 https://github.com/fphilipe/PHFComposeBarView this is where the issue happens.  Note that phf uses
https://github.com/fphilipe/PHFDelegateChain but I can't seem to nail down where the issue is (with your or his code).

[2015-02-17 09:45] hackiftekhar commented on #171
Issue:- I found that you have set your main view to UIScrollView to not hide NavigationBar but cause of the problem is the same scrollView.

I think it's best to handle this viewController keyboard manually, because IQKeyboardManager doesn't really work great on Chatting Screens. You can try these things:-

1) I really don't suggest you to use IQKeyboardManager for chatting like screen. Disable IQ

[2015-02-17 10:02] hackiftekhar commented on #170
It's working fine at my end. Please check demo code I sent to you via gmail.

[2015-02-17 17:06] hackiftekhar commented on #168
Please provide a demo project to debug it otherwise the issue will be closed by assuming you've solve the issue.

[2015-02-17 17:06] #170 closed

[2015-02-17 19:01] RGSmithSoftware commented on #168
ok ill provide i demo today
On Feb 17, 2015, at 11:06 AM, Mohd Iftekhar Qurashi <notifications@github.com> wrote:

[2015-02-17 20:07] hackiftekhar commented on #168
ok, thanks :)

[2015-02-18 09:54] shahzadyounas commented on #171
Thanks for all your help.

I eventually figured it out!

Turns out you must set the content size of the scroll view to be the screen size programatically. You cant just change the main view class to  be a scrollview.

[2015-02-18 10:09] shahzadyounas commented on #171
Thank you for all your help with this

the only way to fix this is to set the contentsize of the scrollview programatically (cant just change the main view to a scrollview) and then also set scrolling on that to be NO.
then it works!

[2015-02-18 15:38] hackiftekhar commented on #171
Finally it works. I'm very happy to hear this good news from you. :)

[2015-02-18 15:38] #171 closed

[2015-02-18 19:58] hackiftekhar commented on #168
Have you ready with the demo app?

[2015-02-18 20:40] RGSmithSoftware commented on #168
Sorry, it seems I can’t find the original demo and I don’t have the time to devote to this issue anymore, I think it should be closed now.
On Feb 18, 2015, at 1:58 PM, Mohd Iftekhar Qurashi <notifications@github.com> wrote:

[2015-02-19 08:06] hackiftekhar commented on #168
Due to your request, I'm closing this issue now. But I'm still worried about the issue. In near future, If you found the original demo app, you can also share then, I'm always here to fix the issues.

[2015-02-19 08:06] #168 closed

[2015-02-19 22:14] sigpoggy opened #172 "Takes 5 seconds for keyboard to come up"
When testing on a first gen iPad mini and 3rd gen iPad (retina) it takes 5 seconds for the keyboard to come up after tapping a text field. This only happens once, the first time a field is tapped after starting up the app. There is no timing problem after that.

If you can't find a solution, can you find a work-around like doing the first time startup code in the background before any field is acc

[2015-02-20 00:25] sigpoggy commented on #172
This may help. Note the 5 second delay between textFieldViewDidBeginEditing: ended and keyboardWillShow: started.

2015-02-19 16:22:39.755 IQKeyboardManager[5129:2685445] IQKeyboardManager: ****** textFieldViewDidBeginEditing: ended ******
2015-02-19 16:22:44.681 IQKeyboardManager[5129:2685445] IQKeyboardManager: ****** keyboardWillShow: started ******

[2015-02-20 06:42] mythodeia commented on #172
@sigpoggy your tests are on devices or on simulators?

[2015-02-20 08:50] hmobdev opened #173 "UIScrollView goes very high in iOS8"
Hello,
I am using IQKeyboardManagerin my application and it was working very smoothly until I used it in iOS8.
The problem I am facing is that my scrollView goes very high even I am using the very first textfield of my view which is having atleast 10 textfields.

Is there any solution for that?
Looking forward to your reply.
Thank you.

[2015-02-20 11:45] hackiftekhar commented on #173
Could you please elaborate with screenshot and test demo app. Orcould you please provide a demo app?

[2015-02-20 11:54] hmobdev commented on #173
@hackiftekhar
I have solved this problem,it was the iOS8simulator bug.
Anyway thanks for your quick reply.

[2015-02-20 17:15] #173 closed

[2015-02-20 17:44] sigpoggy commented on #172
devices

[2015-02-20 18:15] mythodeia commented on #172
did you try the demo project as well or your own?

[2015-02-20 19:30] theothertomelliott commented on #172
This might not be the same issue, but I've been seeing something similar on my own app. If you remove IQKeyboardManager, do you still see the same thing?

If so, it might be due to a segue that is happening on a thread other than main.

[2015-02-20 19:44] sigpoggy commented on #172
yes
The log message I sent showing the timing is from the demo app

[2015-02-27 15:19] hdoria commented on #111
+1 for this.

[2015-03-04 02:17] culmek opened #175 "hidden issue"
I have two textFieds( named: aTextField, named bTextField),

bTextFIeld.hidden = YES;

in your program, I can also find bTextFIeld ???

[2015-03-04 06:22] mythodeia commented on #175
try and add ```bTextFIeld.enabled = NO``` as well

[2015-03-05 19:28] sigpoggy opened #176 "Request for update to Swift 1.2"

[2015-03-11 08:15] Machabeli opened #177 "remove Done button from specific textfield"
Is it possible to hide or remove Done button from keyboard for specific textfield?

[2015-03-11 19:28] hackiftekhar commented on #177
You can set textField.inputAccessoryView = [[UIView alloc] init]; to not
show toolbar over specific textField.

On Wednesday, March 11, 2015, Machabeli <notifications@github.com> wrote:

--
Sent from My iPhone

[2015-03-12 07:58] #177 closed

[2015-03-12 08:20] Machabeli commented on #177
Thanks

[2015-03-12 11:52] Daffodil-IOS-Developer opened #178 "IQKEYBOARD Navigation issue"
I have used IQkeyboard in my project.
Everything is working fine but when i reached at last text field the arrow at the top for navigation between fields disappears.
Thanks in advance for help.

[2015-03-12 12:32] mythodeia commented on #178
can you replicate this in the demo project?

[2015-03-12 13:03] Daffodil-IOS-Developer commented on #178
Hi Konstantinos K.,

Thanks for the reply

I have attached some screenshots which clearly tells you the problem.

please find the screenshots in the attachment.

Thanks & Regards,
Akshay Agrawal.

On Thu, Mar 12, 2015 at 6:02 PM, Konstantinos K. <notifications@github.com>
wrote:

--
Feel Consistency

[2015-03-12 13:05] mythodeia commented on #178
@Daffodil-IOS-Developer
no attachments found in your post. Did you try the sample project? Did you find the error there as well?

[2015-03-12 13:50] Daffodil-IOS-Developer commented on #178
sorry for inconvenience
Please find the images again.
![ios simulator screen shot 12-mar-2015 6 30 40 pm](https://cloud.githubusercontent.com/assets/11440204/6618932/b9fc4fa4-c8ec-11e4-8ba0-2a44ce88cf22.png)
![ios simulator screen shot 12-mar-2015 6 30 47 pm](https://cloud.githubusercontent.com/assets/11440204/6618941/c668cefc-c8ec-11e4-93a9-01b0ea5a7a7c.png)
![ios simulator screen shot 12-mar-201

[2015-03-12 13:53] mythodeia commented on #178
@Daffodil-IOS-Developer
Can you please update to the latest version and see if that works for you?
If you already have the latest version then please test the sample project and see if you can replicate the issue.
if the issue does not occur on the sample project then please provide your own sample so we can test and debug the error.
thanks

[2015-03-16 02:16] #175 closed

[2015-03-17 08:11] NiteshKumar-webonise opened #179 "in one of my controllers toolbar coming only with "Done"button without "<" and ">" buttons ."
This library working fine but in one controller where 1st text field is decimal keyboard type.Toolbar which is attached with next, previous and done button not appearing with next and previous button in that controller

[2015-03-17 11:13] hackiftekhar commented on #179
Please make sure you added all textField on same UIView. If textFields
are on different UIView the IQKeyboardManager handles them separately.

On Tuesday, March 17, 2015, NiteshKumar-webonise <notifications@github.com>
wrote:

--
Sent from My iPhone

[2015-03-17 13:11] NiteshKumar-webonise commented on #179
Yes you are right, i just noticed this. Thanks for the answer .

[2015-03-17 17:44] #179 closed

[2015-03-18 14:07] rhenz opened #180 "NavigationBar Goes Up As Well?"
Hi. Does navigation bar really goes up as well when the textfield becomes first responder?

[2015-03-18 15:51] hackiftekhar commented on #180
Can you please ask your question more clearly and please be specific.

On Wednesday, March 18, 2015, Rhenz <notifications@github.com> wrote:

--
Sent from My iPhone

[2015-03-18 15:59] rhenz commented on #180
Hey. I think it is clear enough already. It is simple as that. I'll add images and hope you get what I mean.

![ios simulator screen shot mar 19 2015 12 03 20 am](https://cloud.githubusercontent.com/assets/7302529/6713018/c58ae8a2-cdca-11e4-92b8-31fe50ff763f.png)
![ios simulator screen shot mar 19 2015 12 03 25 am](https://cloud.githubusercontent.com/assets/7302529/6713019/c58b8c6c-cdca-11e4-8c80-

[2015-03-18 16:08] rhenz commented on #180
I guess this could be tag as enhancement as well.

[2015-03-19 05:02] hackiftekhar commented on #180
If you don't want to move navigation bar then you need to do UIScrollView trick described in README.md file. Please check. Let me know if you are asking something else.

[2015-03-20 08:58] Heisenbean commented on #62
这样啊,我也是连接了电脑键盘才导致这样了...
谢谢解答
A Coder From China:)

[2015-03-20 09:09] Heisenbean opened #181 "ToolBar's RightIterm has problem"
Hi! @hackiftekhar
I used IQKeyboardManager for a few days,and i found the toolBar of the Keyboard have a problem,the "Done" button's color always white. I can't find the way to change the color.
I want the "Done" button's color is black or the other colors is OK.
By the way,I'm a new coder.

![image](https://cloud.githubusercontent.com/assets/7660120/6748811/f8f3c5aa-cf24-11e4-98f1-b668f0b9cda3.pn

[2015-03-20 10:07] mythodeia commented on #181
@Heisenbean try changing this: ```shouldToolbarUsesTextFieldTintColor ``` to ```YES```

[2015-03-21 09:21] Heisenbean commented on #181
like this?
![image](https://cloud.githubusercontent.com/assets/7660120/6764536/b8894844-cfee-11e4-8a32-f542276f0e1b.png)

@mythodeia ,thank u,but it doesn't work TAT

[2015-03-21 09:24] mythodeia commented on #181
you should add the options you need in the view you want the IQKeyboard to work:
[code]

[2015-03-21 09:47] Heisenbean commented on #181
@mythodeia
thanks again.
I think the problem is not here,because i added the options in the view,the console output these:
![image](https://cloud.githubusercontent.com/assets/7660120/6764560/a8040c0a-cff0-11e4-8025-b441fbdb9d6a.png)
it still doesn't work..

[2015-03-21 09:53] mythodeia commented on #181
try this one instead.Put it in your ```didFinishLaunchingWithOptions```
[code]
if this does not work either then @hackiftekhar can be of more assistance

[2015-03-21 12:23] hackiftekhar commented on #181
@Heisenbean can you share the demo code so we can debug it?

[2015-03-22 10:04] vittorio-morganti opened #182 "IQKeyboardManager.sharedManager().enable = false not working"
I have a UIScrollView where there is a Container View which contains a Static Table View.
I want to disable IQKeyboardManager for this Scrollview because when I click on a static cell of the table, it's the table itself which became to scroll and not the scroll view.
So, as written in the README, I put IQKeyboardManager.sharedManager().enable = false both  inside the viewWillAppear of the Containe

[2015-03-22 10:29] #182 closed

[2015-03-22 10:30] vittorio-morganti commented on #182
My fault: the library was working, it was the default behaviour of TableViewController which was scrolling the table :(

[2015-03-22 14:19] Heisenbean commented on #181
@mythodeia @hackiftekhar
Thank u guys,i created a demo and the IQKeyboardManager is OK.
I guess maybe some code in my project is conflict with the IQKeyboardManager.I'll check it out.
Thanks a lot.

[2015-03-23 14:09] cloud-hot opened #183 "Crash on IQKeyboardManager.swift:1197"
Hi,

When i used the IQKeyboardManager under the ios8.2 swift environment there was a crash, log as follow:

[code]

Hope you could help me! Thanks!

[2015-03-24 20:00] OutRunner opened #184 "Screen scrolls back to first UITextField when Done is tapped"
First of all, thank you so much for writing such an amazing library, it has saved me so many headaches!

Now to my problem: I'm creating a relatively long screen of UITextFields that I am generating programmatically and then adding to a UIScrollView so that the user can scroll up and down to see all the fields. If the user uses the IQKeyboardManager's Next/Previous buttons to navigate through the

[2015-03-25 04:15] hackiftekhar commented on #184
It's good to use obj-c version, swift version has some known issues.

    It's my implementation to scroll-back user to original position of scrollview. For your case, I'll implement a boolean property to let user decide whether scrollview should restore it's original position or not.

[2015-03-25 08:49] OutRunner commented on #184
Thank you so much, a boolean to control whether it scrolls back or not sounds perfect!

Cheers!

[2015-03-25 11:55] Waderoni commented on #111
Is this last bug still an issue? I'd like to use but fear the issue discovered upon release is still not resolved.

[2015-03-25 12:26] mortenholmgaard opened #185 "Translate done button text"
I would be nice if the done text was translated as native keyboard done buttons, but for now I just need a way to write a custom button text for the done button. Maybe add a argument to this method:
`[textField1 addDoneOnKeyboardWithTarget:self action:@selector(doneAction:)];`

[2015-03-25 12:33] hackiftekhar commented on #185
This method is perfect for you. It's already present:
 `- (void)addRightButtonOnKeyboardWithText:(NSString*)text target:(id)target action:(SEL)action;`

[2015-03-25 12:33] #185 closed

[2015-03-25 12:38] mortenholmgaard commented on #185
Okay - but I also need next and previous buttons - how to get both?

[2015-03-25 13:16] hackiftekhar commented on #111
Yes, it still an issue and I can't do anything for this. This is beyond my control. All compilation process goes to LLVM compiler.

[2015-03-25 13:19] Waderoni commented on #111
Ok I see. Yet, this should work just fine when my app would go to the App Store and downloaded, etc. Right?  It's just the internal issue but it doesn't effect the outcome once the app is available for consumer download I imagine.

[2015-03-25 14:42] hdoria commented on #111
I'm really worried about this process.  Is there anything we could do to fix this?

[2015-03-25 16:30] hackiftekhar commented on #185
Ok, so probably you need to edit some code of IQUIView+IQKeyboardToolbr.m

[2015-03-25 16:36] hackiftekhar commented on #111
A workaround to change optimization level in settings, but for a fix I'm unable to debug code to find the exact problem. If someone can help or suggest me something, I love to hear.

[2015-03-25 16:38] hackiftekhar commented on #183
Hi,
  I'll debug it and let you know my feedback.

[2015-03-25 18:33] #181 closed

[2015-03-25 18:35] hackiftekhar commented on #178
@Daffodil-IOS-Developer any updates?

[2015-03-25 18:35] #180 closed

[2015-03-25 18:42] #184 closed

[2015-03-25 18:44] hackiftekhar commented on #185
Added new methods to add previous/next/rightButtonItem.

[2015-03-25 18:46] hackiftekhar commented on #184
added shouldRestoreScrollViewContentOffset. Default to NO.

[2015-03-25 23:50] bryanbartow opened #186 "Toolbar arrows missing when using Cocoapods 0.36"
The toolbar arrows do not show up when using the library in Cocoapods 0.36 because of a change in the way it compiles frameworks and bundles.  At any rate, I've implemented a fix.  If I get access, I'll create a pull request.

In the mean time, if anyone else runs into this issue, here's what I did in the `addPreviousNextDoneOnKeyboardWithTarget` method in the `IQUIView+IQKeyboardToolbar` class to

[2015-03-26 04:41] hackiftekhar commented on #186
I'll check the issue, and will update the code accordingly, thanks for the code sample.

[2015-03-26 08:51] mortenholmgaard commented on #185
Thanks when will the next release to pods be?

[2015-03-26 11:49] cloud-hot commented on #183
Thanks! If you need any information please let me know!

[2015-03-26 16:02] OutRunner commented on #184
Thank you! :)

[2015-03-26 17:04] #186 closed

[2015-03-26 17:15] bryanbartow commented on #186
Cool.

[2015-03-27 15:05] fahlout opened #187 "canAdjustTextView not working"
First of all, love this library!

I set the boolean for canAdjustTextView to true (working with the swift version), but it doesn't do anything different to when it was set to false. My textView is inside a scrollView, but still moves up everything including the navigation bar instead of adjusting the height of the textview to compensate for the keyboard and just scroll the scrollview up.

[2015-03-27 21:37] hackiftekhar commented on #187
If your textView is inside scrollView then first priority will be given to scrollView to scroll it to compensate for keyboard.

[2015-03-30 14:03] fahlout commented on #187
my textView is inside a scrollView but it has a height larger than the size of the screen that is left when the keyboard is showing, but instead of resizing the textview and scrolling the scrollview to the right position it scrolls the entire view including the navbar, which doesn't seem to be the proper behavior for the canAdjustTextView property

[2015-03-30 14:54] hackiftekhar commented on #187
ok, if you are observing it's not a proper behaviour, then could you please create a demo and share with me? So I can also take a look at buggy behaviour.

[2015-03-30 15:21] vectorialgradha opened #188 "Difficult to read label on iOS6"
When I run the app on iOS6 simulator I get a very dark grey label for each field title/suggestion. How can I change the color of this label? The color matches iOS7 and 8, so this would require a version conditional.
![captura de pantalla 2015-03-30 a la s 17 19 10](https://cloud.githubusercontent.com/assets/11269962/6899479/173c7c80-d701-11e4-8ce4-a8b955d58c8d.png)

[2015-03-30 15:31] fahlout commented on #187
https://raw.githubusercontent.com/fahlout/Resources/master/keyboardTextViewDemo.mov here is the link to a demo video. Might not show in Safari, but the link worked in Chrome for me. Please let me know what you think about the beahavior. I would like the navbar to stay where it is and the textview to change its height to fit on screen and the scrollview maybe scroll a little bit also to compensate.

[2015-03-30 16:07] Emailrus opened #189 "Ability to call next/previous from code"
Hi,

From what I see, currently it is not possible to call neither nextAction in IQKeyboardManager nor goToNextResponderOrResign in IQKeyboardReturnKeyHandler. What do you think about having related to those methods in public?
The reason why I'm looking for this is to implement custom inputView for the text field, which should basically call next on user interaction.

Thanks for response and for t

[2015-03-30 16:22] hackiftekhar commented on #188
Yes, you're right, I'll try to add iOS5 & iOS6 compatibility, for now, you can take a look on IQPreviousNextSegmentedControl class.

[2015-03-30 16:56] hackiftekhar commented on #187
Thanks for the video, I'll check it bu tomorrow and will let you know my feedback on textView and scrollView behaviour.

[2015-03-30 17:00] hackiftekhar commented on #189
Yes, that's a good idea. Will keep in mind and implement something for this.

[2015-03-30 18:26] hackiftekhar commented on #187
I checked the video and found it's not a bug but a feature of IQKeyboardManager. Your textView height is already too big, IQKeyboardManager worries about hiding bottom part of UITextView. That's why IQKeyboardManager tries to show maximum size of textView that current screen can show. If library doesn't up the view, then library break it's own basic principle of moving textField/textView out of th

[2015-03-30 18:31] fahlout commented on #187
I understand what you're saying, but as long as the textview is still big enough to be able to scroll your library shouldn't worry about hiding the bottom part of the textview since a text view basically has a scroll view inside and the user will just be able to scroll the text view if indeed there is more text than what the textview can show.

[2015-03-30 18:31] fahlout commented on #187
I just personally don't like the idea of moving the navbar up since it looks a little weird in my opinion

[2015-03-30 19:19] hackiftekhar commented on #187
I like your idea of not moving navBar. But still we're human being and answer what looks good and what bad, library is not a human and can't able to decide it will going to look good or bad. I'll try to fix nav bar issue if possible for me. Could you please share a demo code so I'll be able to debug and fix my library?

[2015-03-30 19:20] fahlout commented on #187
I understand. Thanks for looking into it. I'll try to have some sample code up as soon as I can.

[2015-03-30 19:45] fahlout commented on #187
https://github.com/fahlout/Resources I put a sample project inside this repo. Hope it helps.

[2015-03-30 21:27] hackiftekhar commented on #187
Thanks for the demo, I'll try to figure out if I can fix navBar issue.

[2015-03-31 07:49] vectorialgradha commented on #188
Something like this works of you don't mind not being able to customize the color. I guess that's ok anyway since the disabling of the control disables any color attributes on iOS 7+.
[code]

[2015-04-02 03:29] markoheyns opened #190 "iOS 7.1.2 iPhone 4 swift crash"
Hi
I have added the swift version to my app and it works great (on simulator and ios8 devices), but when I try to run the app on an iPhone 4 running ios 7.1.2 it crashes initialising (stuck on launch screen) and gives the following error:
dyld`dyld_fatal_error:
0x2bec60c4:  trap
0x2bec60c8:  nop

When I try the objective c version of iqkeyboardmanager it works fine on the same device. My app is wr

[2015-04-02 20:22] dlcerva opened #192 "UITextView Un-editable Issue"
I've experienced an issue where I have two UITextFields and finally a UITextView that is not editable. If I navigate to the last UITextField it still has the next button enabled despite the UITextView not being editable. Clicking on it causes the keyboard to disappear and the navbar remain on screen. Selecting 'Done' has no effect.

[2015-04-02 20:42] dlcerva commented on #192
The only want to get rid of it is to do the trick you described, setting inputAccessoryView for the UITextView to an empty view. Going this route, I still get a next option, however the navbar does go away now.

[2015-04-03 01:04] mirkokg opened #193 "Does not skip hidden UITextFields"
I noticed it goes thru hidden text fields.
It should skip hidden and disabled text input controls.

[2015-04-03 08:35] hackiftekhar commented on #192
ok, I'll debug to reproduce the issue. If found then will try to fix.

[2015-04-03 08:36] hackiftekhar commented on #193
Yes, I also think so. Will fix it soon

[2015-04-03 17:35] malakiya opened #194 "Error in WebView"
I create a WebView in my storyboard, first i make a HTTP POST Request. In the response i get the url to open in my WebView. When I try to fill a form in the WebView I get this error in the file **IQUIView+Hierarchy.m** at method **topMostController**

`*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[__NSArrayM insertObject:atIndex:]: object cannot be nil'

[2015-04-03 17:51] hackiftekhar commented on #194
Hi, I'm not able to reproduce this issue at my end, can you please share a demo?

[2015-04-03 18:18] #178 closed

[2015-04-03 20:30] malakiya commented on #194
I can't share a demo but my code it's something like this

[code]

[2015-04-03 20:49] #192 closed

[2015-04-03 20:52] #193 closed

[2015-04-03 20:55] hackiftekhar commented on #194
Not sure why this issue is coming. you must need to provide a demo and let me know the exact process to reproduce the issue, so I'll be able to debug it.

[2015-04-04 16:08] Daffodil-IOS-Developer commented on #178
Hi,

Sorry for the delay in response.

I did the same thing in a demo project and everything works fine.
I dont know what is the issue in my previous project.

On Fri, Apr 3, 2015 at 11:49 PM, Mohd Iftekhar Qurashi <
notifications@github.com> wrote:

--
Feel Consistency

[2015-04-05 03:47] hackiftekhar commented on #178
So may be there were some view hierarchy issue in your previous project.

[2015-04-05 03:54] Daffodil-IOS-Developer commented on #178
Yes,I also think so...

On Sun, Apr 5, 2015 at 9:17 AM, Mohd Iftekhar Qurashi <
notifications@github.com> wrote:

--
Feel Consistency

[2015-04-06 14:26] pashan opened #195 "Ability to not move superview."
I have custom modal view that has text fields. Now when keyboard show up, my navigation view move up. If I can disable that would be great. Super view of text view can move, but not Navigation view.

[2015-04-06 14:27] pashan opened #196 "Full text view is not working correctly."
Full text view is not working correctly when you began to type. Cursor go below the keyboard.

[2015-04-06 19:37] hackiftekhar commented on #195
Please refer Read Me file, there is a tweak for this.

[2015-04-06 19:38] hackiftekhar commented on #196
Can you please share screenshot or demo for more clear understanding.

[2015-04-06 20:16] markoheyns commented on #190
Has anyone else had a similar problem? Please help

[2015-04-07 05:27] mythodeia commented on #190
maybe this can be of assistance https://github.com/hackiftekhar/IQKeyboardManager/issues/111

[2015-04-07 07:39] #195 closed

[2015-04-08 12:42] #189 closed

[2015-04-08 12:43] #188 closed

[2015-04-08 12:43] hackiftekhar commented on #188
Fixed internal label font color

[2015-04-12 07:21] ronaldsmartin commented on #111
I've had issues with `NSClassFromString()` in optimized builds (while not using IQKeyboardManager) in some of my Swift-only apps. Using [`objc_getClass()`](https://developer.apple.com/library/mac/documentation/Cocoa/Reference/ObjCRuntimeRef/index.html#//apple_ref/c/func/objc_getClass) instead was what fixed my problem. Hope that helps.

About to try this pod out- it looks great! Thanks for sharing

[2015-04-12 07:40] hackiftekhar commented on #111
How did you replace NSClassFromString() with objc_getClass()? Can you share a sample code?

[2015-04-12 08:01] ronaldsmartin commented on #111
In Swift, both functions have the same type signature, so you can just replace the function name.

Example ([checking class availability in Swift](http://stackoverflow.com/questions/25306561/check-for-class-existence-in-swift)):
[code]
You would use:
[code]
In Obj-C, I think it would just be `objc_getClass("UIAlertController")` instead of `NSClassFromString(@"UIAlertController")` since `objc_getCl

[2015-04-12 22:46] sigpoggy commented on #172
This appears to be an Apple bug. I created a test app than only has a text field - no IQKeyboardManager code - and checked the timing between the text field did begin editing and the keyboard did show and it always took about five seconds the first time (ipad mini)
One workaround I came up with involves adding some code in the app didFinishLaunchingWithOptions function:
1. add self as observer to

[2015-04-13 04:03] hackiftekhar commented on #172
@sigpoggy Thanks for putting your efforts for the findings.

[2015-04-13 21:41] markoheyns commented on #176
I second your request especially now that swift 1.2 is out of beta.

[2015-04-14 15:21] appmagnetics opened #197 ""Done" button practically invisible"
![img_2134v2](https://cloud.githubusercontent.com/assets/7034162/7140236/7fd4cc32-e2ca-11e4-9fdf-5afe12efe4d5.png)

Screenshot is done by customer, I cannot provide detailed information with which iOS version it happens. Could it be the known issue? What are the possibilities we have to change the color manually?

[2015-04-14 16:16] hackiftekhar commented on #197
There may be white tintColor of your textField or any global which tintColor is forcing done button to change it to white color.

[2015-04-14 20:48] ebabchick commented on #186
This is actually still an issue, at least with cocoapods 0.36.3 and v3.2.2 on iOS 8.3

[code]
mainBundle returns a bundle but resourcesBundle is nil, however mainBundle is the app's bundle. This is fixed by adding the images to the application's Asset Library, but out-of-the-box support with cocoapods still seems to misconfigured.

[2015-04-15 09:38] chaoyuan899 opened #198 "can't restore the window to origin look when keyboard was hidden."
As you see, when the device is horizontal , touch the textField in tableViewCell , the keyboardManager would handle the textField well, but it can't restore it to original look.
![issue](https://cloud.githubusercontent.com/assets/3120858/7156040/12d78f9e-e396-11e4-85b9-0322237ba520.gif)

[2015-04-15 12:31] hackiftekhar commented on #198
Can you share the demo project so that I can debug it?

[2015-04-16 08:38] zhw511006 opened #199 "Don't work well for AutoLayout in UIScrollView and UITableView"
Hi,

I make a simple demo about scrollview and tableview.

For scroll view, many space at the bottom when scroll.
![ios simulator screen shot apr 16 2015 4 29 00 pm](https://cloud.githubusercontent.com/assets/2869093/7177004/f531beea-e455-11e4-9f80-c9e0a047baa3.png)

For table view, scroll to bottom section5, and then click back button in toolbar, don't show right position.
![ios simulator screen

[2015-04-16 08:39] zhw511006 commented on #199
How to upload my demo?  don't support zip file?

[2015-04-16 09:14] mythodeia commented on #199
@zhw511006 you can either upload it to your dropbox public folder and share the link or send it directly to his email with link to this issue and some explanation.

[2015-04-16 09:53] zhw511006 commented on #199
I don't write any code, just make constrains in storyboard. UITableView, I use static cell.

[2015-04-16 09:58] mythodeia commented on #199
didn't you say you have a zip file?
if you have a demo project please upload it somewhere people can check it and provide assistance.

[2015-04-16 10:13] chaoyuan899 commented on #198
I don’t know why the email send failed, now I try to send it again. hope can help you.

[2015-04-16 12:05] #190 closed

[2015-04-16 12:06] markoheyns opened #200 "Please update swift to 1.2"

[2015-04-16 12:58] hackiftekhar commented on #198
Upload it to dropbox and share link here

[2015-04-17 01:29] zhw511006 commented on #199
Because have no right to access dropbox in my place, I already have sent my demo to hackiftekhar by email. Thanks!

[2015-04-17 02:45] chaoyuan899 commented on #198
demo link:
https://www.dropbox.com/s/3t1ztafgzlqvqtq/IQKeyBoardIssue%23198Demo.zip?dl=0

[2015-04-17 03:23] hackiftekhar commented on #198
Thanks, I'll debug it and will let you know my feedback.

[2015-04-17 05:39] hackiftekhar commented on #199
Can I upload code to dropbox and share link here?

[2015-04-17 05:40] rjpalermo1 commented on #198
+1.  Have same problem with iphone builds.  Have multiple views on screen, pushes them up nicely and everything works fine but when I dismiss the views stay in their up position.
![img_0640](https://cloud.githubusercontent.com/assets/7153565/7196581/bea0f998-e4a2-11e4-83b6-03c38a75993b.PNG)
![img_0641](https://cloud.githubusercontent.com/assets/7153565/7196582/beabe5ec-e4a2-11e4-8d9e-fa76963fa2b6.

[2015-04-17 05:49] zhw511006 commented on #199
yes, you can. Do you see my demo? something is wrong?

[2015-04-17 11:03] hackiftekhar commented on #199
Busy schedule these days. Didn't get a chance to see the demo. But however I uploaded it to dropbox. Here is the link:-
https://www.dropbox.com/s/guz10g8tmowq4un/SimpleIQKeyboardManagerDemo.zip?dl=0

[2015-04-17 18:26] hackiftekhar commented on #198
May be something has been broken.

[2015-04-17 18:29] rjpalermo1 commented on #198
yes - I cannot recall this happening prior to last podUpdate about 2 weeks ago.

[2015-04-17 19:11] hackiftekhar commented on #198
On 26 April commit '277729796313' A for loop is removed (TODO: restore scrollView state) mistakenly which was exact fix for the issue.

[2015-04-17 19:12] hackiftekhar commented on #198
I'll update library code and cocoapods by tomorrow. Thanks for a major bug report. :)

[2015-04-17 19:14] rjpalermo1 commented on #198
Your the best!  Thank you.

*Russ Palermo*
Founder | TekTango LLC

office:    866-505-5066 x700
mobile:  317-454-1099

On Fri, Apr 17, 2015 at 3:12 PM, Mohd Iftekhar Qurashi <
notifications@github.com> wrote:

[2015-04-18 09:02] malaimoo opened #201 "Hello, issues after changed UIView to ScrollView"
To avoid the navigationbar hidden issue ,I changed the xib UIView to UIScrollView but the view that on that view just become mess, I dont know how to settle it.

[2015-04-18 10:34] #197 closed

[2015-04-18 10:34] #198 closed

[2015-04-18 11:12] hackiftekhar commented on #194
Dear @malakiya I tried to create a demo but unfortunately I'm not able to create it, because you have used a dummy URL and _allData array which I don't know about them. Also you're parsing 'pasajes' variable and I don't know about them. If you can share a working demo project so that I can help you on this, otherwise this issue will be closed due to 'insufficient information'.

[2015-04-18 11:45] hackiftekhar commented on #166
I checked RETableViewManager with IQKeyboardManager and found that I'm unable to make it compatible it with RETableViewManager. I need to remove very important code from my library in order to make it compatible with RETableViewManager. If still any support needed then RETableViewManager needs to check for 'isAskingCanBecomeFirstResponder' which is defined in 'IQUIView+Hierchy' in 'textFieldShould

[2015-04-18 11:45] #166 closed

[2015-04-18 11:52] #160 closed

[2015-04-18 12:17] hackiftekhar commented on #199
I tested the demo on Xcode 6.2, and found that it's working fine at my end. I found that previous/next enable disable is working properly as expected. I also found that UIScrollView is also working as expected. I'm not facing any distance issue. May you're modifying 'keyboardDistanceFromTextField' from somewhere in your original code.

 I can see you're using UITableViewController for implementing

[2015-04-18 14:49] hackiftekhar commented on #200
Closing duplicate issue #176.

[2015-04-18 14:49] #200 closed

[2015-04-18 17:17] hackiftekhar commented on #201
Can you explain it a bit more with some sample screenshot?

[2015-04-18 18:24] malaimoo commented on #201
![Uploading 屏幕快照 2015-04-19 上午1.22.06.png . . .]()
![Uploading 屏幕快照 2015-04-19 上午1.22.31.png . . .]()
seems Like autolayout doesn't make use

[2015-04-18 18:53] hackiftekhar commented on #201
Didn't you click any textField before all this mess up.

[2015-04-19 01:22] malaimoo commented on #201
No, and the autoScroll of your Code is enabled. Did I do something wrong about autolayout?

[2015-04-19 01:29] #194 closed

[2015-04-19 01:41] malakiya commented on #194
Hi @hackiftekhar, in this moment i can't provide a demo. Sorry for this.

[2015-04-19 03:47] hackiftekhar commented on #201
So this issue doesn't belongs to IQKeyboardManager. It's your Autolayout configuration issue.

[2015-04-19 04:59] hackiftekhar commented on #194
Are you able to provide a demo in a week or two?

[2015-04-19 07:11] malaimoo commented on #201
But How can I solve it , I don't have idea....

[2015-04-19 07:18] gokhandilek opened #202 "import UIKIt (typo) Swift 1.2"
Hi,

Thank you for this very useful keyboard manager.

Please note you have some typos in the following files:
WebView.swift
Scrolviewcontroller.swift.
NavigationBarViewController.swift

They all need to be changed to import UIKit.

[2015-04-19 07:22] gokhandilek opened #203 "Method center() & setcenter redeclares ObjectiveC method (IQUIView+Hierarchy.swift)"
I am trying to run the demo using Xcode Version 6.3 (6D532l) (Swift 1.2)

I had to change the method name from center to incenter to be able to prevent the error and build successfully.

[2015-04-19 09:47] hackiftekhar commented on #201
You need to learn Autolayout first. Here is a good tutorial to understand autolayout http://www.raywenderlich.com/83276/beginning-adaptive-layout-tutorial. But if you're using Autolayout with UIScrollView then you need to extra take care of some more things, Here is a great tutorial I found for UIScrollView with Autolayout http://spin.atomicobject.com/2014/03/05/uiscrollview-autolayout-ios/.

[2015-04-19 09:47] #201 closed

[2015-04-19 10:12] zhw511006 commented on #199
I tested this on iOS8.3 and Xcode6.3. I don't write any code for this, just make constraints on storyboard. how to change "keyboardDistanceFromTextField"? how to ignore UITableView position adjustment?
Can you make a demo like my and upload to dropbox?
Thanks for your help!

[2015-04-19 10:22] hackiftekhar commented on #203
Possibly adding Swift 1.2 support will fix it. #176

[2015-04-19 11:21] hackiftekhar commented on #199
Can you test your project with Xcode 6.2, because I didn't tested it in Xcode 6.3 right now. If you don't find issue with Xcode 6.2 and getting issues with Xcode 6.3 then I need to check it with Xcode 6.3 too (Currently I don't have access to Xcode 6.3 on my Mac).

[2015-04-19 15:22] #187 closed

[2015-04-19 20:46] hackiftekhar commented on #202
Typo fixed for Swift 1.2

[2015-04-19 20:46] #202 closed

[2015-04-19 20:48] hackiftekhar commented on #176
For now Fixed compile-time warnings only for Swift 1.2. From now supporting minimum Xcode 6.3 for Swift Version.

[2015-04-19 20:48] #176 closed

[2015-04-19 21:02] hackiftekhar commented on #203
For now Fixed compile-time warnings only for Swift 1.2. From now supporting minimum Xcode 6.3 for Swift Version.

[2015-04-19 21:02] #203 closed

[2015-04-19 21:04] hackiftekhar commented on #196
Any updates?

[2015-04-19 21:08] hackiftekhar commented on #183
Hi,
  I tried to reproduce the issue, but unfortunately I'm not able to reproduce it. If you can send me sample code and steps to reproduce issue, then it would be best for me.

[2015-04-19 21:50] hackiftekhar commented on #111
It seems As on Xcode 6.3 (Swift 1.2) this crash is not happening in release mode. @retsohuang , @Spilly , @padotj , @hdoria , @Waderoni , @ronaldsmartin , @mythodeia can some of you test the current Swift version with Xcode 6.3 (Swift 1.2) and let me know if it's still hapenning. If it's not happening then I would love to update Swift Version to match latest ObjC version of library.

[2015-04-19 21:55] hackiftekhar commented on #199
Now I also tested demo project with Xcode 6.3, and still I don't fine any issues, the demo project works well as expected. Can you test it once more, Can you share a video if possible?

[2015-04-19 22:02] hackiftekhar commented on #172
I tested demo project on my iPhone 5S and it doesn't takes more than 0.1 seconds to slide-up UIKeyboard. Closing this issue because we also found a workaround too by @sigpoggy.

[2015-04-19 22:02] #172 closed

[2015-04-20 01:56] zhw511006 commented on #199
![a](https://cloud.githubusercontent.com/assets/2869093/7222548/6b873be8-e743-11e4-9038-8134a2f7171b.gif)
![b](https://cloud.githubusercontent.com/assets/2869093/7222549/70ed2f70-e743-11e4-8f26-20e21d62faca.gif)

[2015-04-20 07:35] hackiftekhar commented on #199
1) If you look at storyboard you'll find the textField6 is already has 144pt distance from bottom of mainView (UIScrollView). As we all know the Core Logic of IQKeyboardManager is to fix hidden textField issue, and UIScrollView support is added to modify it's contentOffset and contentInset property to fix hidden textField issue it's responsibility of developer to allow user to enable manual scroll

[2015-04-20 07:35] #199 closed

[2015-04-20 08:53] zhw511006 commented on #199
Thank you for help! I understand .

[2015-04-20 10:06] hackiftekhar commented on #199
Thanks @zhw511006  for your support. Doing a communication over an issue always help us to keep updated and help to learn new things.

[2015-04-21 16:40] hdoria commented on #111
It's not happening anymore. I'm running fine with Xcode 6.3 and Swift 1.2.

[2015-04-21 17:16] mythodeia commented on #111
fine on my end as well

[2015-04-21 20:26] appmagnetics commented on #197
I see it included in 3.2.3 but when I switch to this version (from 3.2.0.1), autoscroll on my fields stops working!  Tested several times with clean build. Any regression you had with last commits?

[2015-04-21 20:51] hackiftekhar commented on #197
If you mean it by scrolling back to firstTextField from where scrollView starts it's scrolling, then please look into #184. I've added shouldRestoreScrollViewContentOffset and it is defaults to NO.

If you are talking about any other issue which I misunderstood then I would love to know.

[2015-04-21 20:53] appmagnetics commented on #197
No, I mean by clicking into text field keboard appears and covers the field, field is not being scrolled (this is actually the main functionality of IQKeyboardManager)

[2015-04-21 20:54] hackiftekhar commented on #111
So closing this issue, because this was not relevant to the library and it relevant to Apple Implementation of LLVM compiler.

[2015-04-21 20:54] #111 closed

[2015-04-21 20:57] hackiftekhar commented on #183
@cloud-hot , are you still getting issues with this? As of Swift 1.2 (Xcode 6.3), Apple fixes many LLVM compiler issues, so may be it is resolved already, but still need your confirmation.

[2015-04-21 21:45] hackiftekhar commented on #197
May be hou're pinning some of the textField from top layout guide. Can you please check again?

[2015-04-22 05:51] hackiftekhar commented on #197
Can you please check Github repo demo project, is it not working too.

[2015-04-22 20:54] appmagnetics commented on #197
I've tried to integrate 3.2.0.1 as source code and manually do the same changes as you fixed in https://github.com/hackiftekhar/IQKeyboardManager/commit/b3642761a93f8e363ac05ad4234d5bf302dceba7#diff-dd3d05f4b44e2fa3c6d4e9f1ba3c546cR1468  - but it does not work, button is not black.  Obviously there is something else contained in the latest release which makes "Done" button black (but disables scro

[2015-04-22 21:39] hackiftekhar commented on #197
Please search shouldToolvarUsesTextFieldTintColor, you'll find [UIColor blackColor] there, I think now you can reach to your goal. Btw can you provide me a demo app, so I can test library for scrolling disable issue.

[2015-04-22 21:47] efremidze opened #204 "Animation Issue when navigating between UIViewControllers (v3.2.3)"
In v3.2.3, I'm seeing a weird animation when pushing and popping view controllers. I posted a gif showing the odd animation. I'm not seeing this issue in prior releases.

![out](https://cloud.githubusercontent.com/assets/2286277/7286082/0d224f4a-e8fe-11e4-92a9-0e98de13c392.gif)

[2015-04-22 22:06] hackiftekhar commented on #204
Can you please check it again after commenting 'setNeedsLayout' and 'layoutIfNeeded' from two places in IQKeyboardManager.m

  May I know autolayout configuration for views or can you bind-up them in a demo?

[2015-04-22 22:36] efremidze commented on #204
Works when I comment out `setNeedsLayout ` and `layoutIfNeeded `.

I'm only using a UIViewController with a UITableView. UITableView matches superview's bounds.

[2015-04-23 03:48] xeravim opened #205 "next button on toolbar, textField focus sequence"
Hi, I just want to know how you define the first textfield  and the last textfield on view, because I had some problem with it. The next button indeed working but in my case, the first textfield shows next button on keyboard but not on toolbar button, and the last button shows done button on keyboard  but not on toolbar button ( i have 2 textfields).

I have implement this on my viewdidload:

   r

[2015-04-23 05:43] hackiftekhar commented on #205
IQKeyboardReturnKeyHandler is for dealing with keyboard return key only. You need to look into 'IQKeyboardManager.h' for changing toolbarManagerBehaviour. Let me know if you need more help.

[2015-04-23 05:46] hackiftekhar commented on #204
So I think, I should add a property like 'setNeedsLayoutOnUpdate' -> BOOL in 'IQKeyboardManager.h'

[2015-04-23 07:08] xeravim commented on #205
Hi, thanks for the fast reply!
I have updated the question with a picture, as you can see button next should have been disabled and prev button enabled because its the second/last textfield on the view. How I can solve this?

[2015-04-23 08:12] lusnaow opened #206 "It moves up subview rather than superview"
I have a UIView in my UIViewController's view, and some buttons in that UIView. The UIView is at the bottom of some UITextField. When I click one UITextField,It moves up subview rather than superview aka  the UIViewController's view. How can I let it move up the UIViewController's view rather than any subView?

[2015-04-23 09:46] hackiftekhar commented on #205
Next/Previous button is not related to IQKeyboardReturnKeyHandler, it's manage by IQKeyboardManager, so as I previously said you need to change toolbarManageBehaviour to IQAutoToolbarByTag of IQKeyboardManager class object. Let me know if you need more help.

[2015-04-23 09:48] hackiftekhar commented on #206
May you're pinning your textField from TopLayoutGuide, or pinning some related view from topLayoutGuide. Can you please check storyboard and let me know if this was the issue?

[2015-04-23 10:05] xeravim commented on #205
OMG, I got it now.. thank you so much!

[2015-04-23 10:05] #205 closed

[2015-04-24 02:22] lusnaow commented on #206
After I disabled the AutoLayout, it works well now.Thanks a lot.

[2015-04-24 04:35] hackiftekhar commented on #206
Autolayout is a powerful tool. I suggest you to go with autolayout (mot disable) with correct configuration.

[2015-04-24 04:35] #206 closed

[2015-04-24 05:32] rajanbalana commented on #196
I have disabled the handling of IQKeyboardManager on a particular ViewController. Sometimes, Toolbar above the Keyboard is visible, sometimes it's not visible. It is randomly happening.

[2015-04-24 06:39] hackiftekhar commented on #196
@rajanbalana, I understand what you are trying to explain. But how can I debug the scenario. Do you have any demo code?

[2015-04-24 06:51] rajanbalana commented on #196
I don't have the demo code.

[2015-04-24 06:56] #204 closed

[2015-04-24 06:59] hackiftekhar commented on #196
So let me know, how can I debug the issue?

[2015-04-24 06:59] hackiftekhar commented on #204
In your case, you need to set layoutIfNeededOnUpdate to NO. It defaults to YES, because #160 is a more generic issue.

[2015-04-24 13:44] jonathanfontaine opened #207 "Use of IQDropDownTextField"
Hi,

When I used a IQDropDownTextField, I set its mode like this :

    `myIqDropDownTextField.dropDownMode = IQDropDownModeDatePicker;`
    `myIqDropDownTextField.datePickerMode = UIDatePickerModeDateAndTime;`
When I touch the textField, the date picker appears as expected :
* If I pick **a different date than the default selected date**, the textField is updated, as expected ;
* But if I just to

[2015-04-24 20:57] hackiftekhar commented on #207
What if user unexpectedly open date picker and don't want to choose date for some reason? That's why done button just resign first responder(For IQKeyboardManager done button work is to resign current textField only, library support Automatic toolbar creation but doesn't forcefully support 'IQDropDownTextField'). But you can add customised done selector defined in 'IQUIView+IQKeyboardToolbar .h',

[2015-04-26 09:22] jonathanfontaine commented on #207
OK, I didn't think about that. But the keyboard can be resigned if we touch anywhere else in the view. Plus, if I want the default selected date, I'm obliged to change it to another date and go back on the first date, it's not user friendly and hard to understand.

[2015-04-26 09:54] hackiftekhar commented on #207
That's why I left this option to developer. You can also implement textFieldDidEndEditing and you can do your customised logic there. Try to understand that every app and condition has their own logic, there is no standard on force select selection on textField. May be you want force selection, but some other app has different condition and developer does't want force selection. That's why I don't

[2015-04-26 10:05] hackiftekhar commented on #207
May be I need to implement 'isOptional' boolean of 'IQDropDownTextField' for date and time icoer too for force selection. Right?

[2015-04-26 10:07] jonathanfontaine commented on #207
That's OK, I understand ! Thanks.

[2015-04-26 17:24] hackiftekhar commented on #207
It's already implemented but only for textPicker mode(Not implemented for time/date picker).

[2015-04-26 19:21] hackiftekhar commented on #207
Fixed 'isOptionalDropDown' boolean for dare/time picker on IQDropDownTextField repo.

[2015-04-26 19:21] #207 closed

[2015-04-26 19:57] efremidze commented on #204
Thanks @hackiftekhar

[2015-04-27 07:54] hackiftekhar commented on #183
@cloud-hot  Any updates?

[2015-04-27 07:55] hackiftekhar commented on #196
Hi @rajanbalana any updates?

[2015-04-27 07:57] hackiftekhar commented on #207
Marking it as `bug` and `wontfix` because it's not relevant to 'IQKeyboardManager' and fixed in 'IQDropDownTextField'.

[2015-04-27 09:30] jonathanfontaine commented on #207
OK. I tested your code, it works fine ! Thanks.

[2015-04-27 18:14] hackiftekhar commented on #207
Thanks :)

[2015-04-29 06:19] rajanbalana commented on #196
@hackiftekhar No updates. If you want, You can close the issue.

[2015-04-29 06:26] #196 closed

[2015-04-30 21:42] sadiq81 opened #208 "Resize window instead of scroll."
Hey

I nice feature could be that the full window was put in a scrollview which was resized to fit the remaining screen space, just like when you write an sms.

Sometimes you dont want the top part of the screen to dissappear since you might have content on it.

[2015-05-01 06:26] hackiftekhar commented on #208
I assume you don't want to scroll navigationBar, if YES then you can do scrollView trick described in README file in Manual Management->UINavigationBar.

Let me know if it doesn't solve your problem.

[2015-05-01 06:53] sadiq81 commented on #208
A made a small video demonstrating.

https://www.youtube.com/watch?v=rBi5gR058xc

[2015-05-02 20:16] fatuhoku commented on #208
+1 displacing the entire window is a universal solution, but it is also a cop-out solution. Official guidance on how to adjust a text or scrollview is appreciated.

[2015-05-03 15:14] cloud-hot commented on #183
Hi @hackiftekhar ,

I am very sorry for reply so later, After i change the compiler flag this problem is disappeared following the instruction on your README. So it seems that this problem is caused by Xcode version.

And because my project has not updated to Xcode6.3 so i am not sure this problem is solved on Xcode6.3

[2015-05-03 18:07] hackiftekhar commented on #183
@cloud-Hot Could you please test it with Xcode 6.3 and let me know your feedback.

[2015-05-03 23:31] cloud-hot commented on #183
Hi Hackiftekhar,

OK, i will try my best to find the time to do the test. But recently my project plan is very tight, sorry for reply not so quickly

Wenjie
Best Regards

[2015-05-04 14:17] mkeremkeskin opened #209 "How to change done button text, on the fly language change"
Hi;

In my app I'm changing language of the app on the fly (it works without restarting app).

Done button takes its localizable string at the opening of app so the when language changes it stays as the old one until restart.

How can I change this behaviour? Is there a way to just set done button text so I can it in case of language change.

Thnx.

[2015-05-06 16:16] pashan opened #210 "Unable manually to go to the next textfield."
Is it possible to go to the next textfield programmatically without clicking arrows? same behavior as you click on arrows.

[2015-05-06 20:11] hackiftekhar commented on #210
You can check IQKeyboardManager.m, you'll find a property named `canGoNext` and a method named `-(void)goNext`. Same you'll find for previous also, this will do the programmatically trick. Hope this help. :)

[2015-05-06 23:42] luiseduardohdbackup opened #211 "Problem with searchBar"
When select search bar, searchBar dissapear

[2015-05-07 02:31] hackiftekhar commented on #211
May be it's due to your code or your business logic. Could you please check again.

[2015-05-10 18:41] hackiftekhar commented on #211
Any updates?

[2015-05-10 18:41] #210 closed

[2015-05-10 18:44] hackiftekhar commented on #183
Any updates?

[2015-05-11 10:28] tabrez0481 commented on #128
This patch works fine with autolayout.. @Vilea Thanks..

[2015-05-12 15:46] cloud-hot commented on #183
Hi Hackiftekhar,

Until now our project has not upgraded to the latest Xcode6.3. And if we upgraded to Xcode6.3 we will have lots of adoption to do, so now i have no idea about whether this issue will disappear on the latest Xcode6.3, sorry for that.

[2015-05-12 16:15] hackiftekhar commented on #183
You can copy your whole project to a temporary location and test on that. It will help me to take appropriate action on this github issue.

[2015-05-12 23:51] cloud-hot commented on #183
ok，could you help me a temporary location which you have access?

[2015-05-13 04:27] hackiftekhar commented on #183
I mean you can copy your whole project to your desktop(temporary location) and test on it. You don't need to share your code with me, it's confidential thing for you.

[2015-05-13 11:03] hackiftekhar commented on #208
It seems this is a special case for handling chat screens. So in my opinion it's good to disable library for that particular viewController and implement customised logic according to requirement is best. Let me know what you think.

[2015-05-13 14:20] cloud-hot commented on #183
Hi Hackiftekhar,

Sorry, i have tried to compile our project using the Xcode6.3 but there are so many complier error and i try to fix it but it failed. So recently i am afraid i can not make sure to try it using the Xcode6.3.

[2015-05-13 15:49] hackiftekhar commented on #183
Ok, so let me know if you want to test it n near future so that I'll keep issue open, otherwise will close it.

[2015-05-13 23:45] cloud-hot commented on #183
Hi Hackiftekhar,

I am not sure when i can test it on the Xcode6.3. I suggest that you can close it now and then if i found there is still issue then re-open it

[2015-05-14 09:36] tshtrifork commented on #208
I can see your point, if anyone stumbles on this post this is how I accomplished it.

[code]

[2015-05-14 12:12] hackiftekhar commented on #208
Yes, that's the correct way after disabling library on this particular viewController.

[2015-05-14 12:14] hackiftekhar commented on #183
Thanks :)

[2015-05-14 12:14] #183 closed

[2015-05-15 10:20] AndrewSB opened #213 "Carthage support?"
Would love to get carthage support for IQKeyboardManager - it would make it integrating into Swift projects much easier

[2015-05-16 12:42] karadis opened #214 "Crash when settings textField appearance autoCorrectionType to NO."
I want to disable auto correction in my app.
like so:
[[UITextField appearance] setAutocorrectionType:UITextAutocorrectionTypeNo];
caused a crash on starting the controller with the a textField.

reason: *** -[__NSArrayM insertObject:atIndex:]: object cannot be nil'.

Is there a way to override this? or hide the autocorrection bar with the manager?
Thanks.

[2015-05-16 13:40] hackiftekhar commented on #214
Unfortunately currently I didn't provided any functionality to manage textFields appearance properties.

[2015-05-16 13:50] karadis commented on #214
I understand. It can be a nice enhancement for the future.
BTW, setting the textField autoCorrection property to 'NO' in the specific controller worked just fine.

[2015-05-19 03:13] orinchen opened #216 "When UITextBorderStyleNone has a BUG"
When UITextField Border Style is UITextBorderStyleNone，the text will disappear!

[2015-05-19 04:34] hackiftekhar commented on #216
Please explain in details or share demo.

[2015-05-19 06:58] orinchen commented on #216
just like this
![err less](https://cloud.githubusercontent.com/assets/872492/7697158/69cac1de-fe37-11e4-88c4-a6bcf5c4917c.gif)

[2015-05-19 07:06] orinchen commented on #216
Just like this
![iqkeyboardbug](https://cloud.githubusercontent.com/assets/872492/7697272/752ebff2-fe38-11e4-9926-a197e8d71788.gif)

[2015-05-19 18:48] IchabodDee opened #217 "UITextField text jumps when IQKeyboardManager switches first responder."
I am using Swift 1.2.  Whenever I enter text into a text field and hit the next button on the IQKeyboardManager, the manager works as expected except for an extra jump to the text in the text field that is being resigned. The text moves ~15 pixels above the Textfield, and then flashes back to the expected position.

The text moves out of the frame of the text field for a second.  This behavior wil

[2015-05-19 19:30] IchabodDee commented on #217
Also the jump does not happen when the Done Button is pressed.

I was stepping through the KeyboardManager code and could not find anything that would suggest the behavior there.  The Manager does not think that the frame has changed or anything.

[2015-05-20 03:20] hackiftekhar commented on #217
May be I need to debug swift version. FYI I always suggest developer to use objC version instead of swift because objC version is updated on a regular basis and swift is updated one or two time in quarterly year.

[2015-05-20 13:09] tbaranes opened #218 "Gesture of lateral menu not working when using IQKeyboardManager"
Hi,

I just found out IQKeyboardManager, this library is just amazing!

However, I'm running in a weir issue: my application has a lateral menu (in my case [SWRevealViewController](https://github.com/John-Lluch/SWRevealViewController)), which enable pan gesture... but when I'm adding IQKeyboardManager (using pods), the pan isn't enable anymore.

Did you never run in this kind of issue? Or any idea

[2015-05-20 13:19] hackiftekhar commented on #218
Could you please attach demo code so that I can debug it.

[2015-05-20 16:14] IchabodDee commented on #217
Thanks for the response.

Sorry for being unclear.  The IQKeyboardManager code is all Objc.  My project is in Swift 1.2.

[2015-05-20 17:37] hackiftekhar commented on #217
Ok, will check this weekend

[2015-05-21 07:45] tbaranes commented on #218
My bad, after some deeper searching, I found an error in my implementation.

So nothing to change, thanks! :)

[2015-05-21 07:45] #218 closed

[2015-05-21 08:08] hackiftekhar commented on #218
Great!

[2015-05-21 12:03] controlrole opened #219 "How full screen uitextview.and display UINavigationBar"
how are you
my not using storyboard or xib,and override
-(void)loadView
    {
        UIScrollView *scrollView = [[UIScrollView alloc] initWithFrame:[[UIScreen mainScreen] bounds]];
        self.view = scrollView;
    }
- (void)viewDidLoad
{
    [self.view addSubview:mytextview];
}
UINavigationBar disappeared  my not want it disappeared.how do?
thanks

[2015-05-22 02:09] zziazm opened #220 "NavigationBar scroll out of screen"
when keyboard show, my navigationbar also move out of screen in some viewControllers, but in other some viewControllers navigationBar do not move when keyboard show, why?

[2015-05-22 02:33] zziazm commented on #220
I hane found answer.In viewController adding method
-(void)loadView
{
    UIScrollView *scrollView = [[UIScrollView alloc] initWithFrame:[[UIScreen mainScreen] bounds]];
    self.view = scrollView;
}

[2015-05-22 06:16] sokalyambda opened #221 "constraint to top"
I read that it doesn't work when constrained to top layout guide, I have been added constraint like you said, to superviewTop margin but it doesn't work.. What I have to do? thank you!

[2015-05-22 06:30] sokalyambda commented on #221
![2015-05-22 09 28 44](https://cloud.githubusercontent.com/assets/12109174/7765299/0d91b71c-0065-11e5-928d-95cb4e7f47b5.png)

Here is an example, I have another view on self.view, there several textFields in it.

[2015-05-22 06:42] hackiftekhar commented on #221
Could you please try adding constraint with 'Superview.Top' instead of 'Superview.Top Margin' (Uncheck Constrain to margins)?

[2015-05-22 06:42] #220 closed

[2015-05-22 06:49] sokalyambda commented on #221
unfortunately there are no changes...

![2015-05-22 09 47 43](https://cloud.githubusercontent.com/assets/12109174/7765561/d586eee8-0067-11e5-8101-48ca435a90fb.png)
![2015-05-22 09 48 37](https://cloud.githubusercontent.com/assets/12109174/7765562/d5b5920c-0067-11e5-887d-4d85f5f419fe.png)

[2015-05-22 06:51] sokalyambda commented on #221
It works for me without top constraint, but I really need it(( thank you!

[2015-05-22 08:28] FutureChen opened #222 "Led to the navigationItem disorder on iOS7"
I will give you a demo by mail .

This BUG occurs on my ios7  iPhone

[2015-05-22 08:28] FutureChen commented on #222
my email 568600831@qq.com

[2015-05-22 08:39] FutureChen commented on #222
![faffa3862882d87fae344750de3e65c7](https://cloud.githubusercontent.com/assets/8944181/7766934/d2765930-00a0-11e5-8ddc-ab7fc9456e98.png)
![7c8390205417a8ff695d1005c93aab13](https://cloud.githubusercontent.com/assets/8944181/7766932/d271d068-00a0-11e5-83c8-3617cdbc422b.png)

![6b014ebd4e0c8126fd60e150ab991bbd](https://cloud.githubusercontent.com/assets/8944181/7766931/d26f51f8-00a0-11e5-8eee-ba7896

[2015-05-22 10:52] hackiftekhar commented on #222
Great if you can share demo.

[2015-05-22 10:54] sokalyambda commented on #217
Confirm this issue!
I also have it, obj-c

[2015-05-22 10:56] FutureChen commented on #222
I have been sent to you by email before

[2015-05-24 19:44] trungnguyen1791 commented on #217
I have same issues with my objective c project.

[2015-05-25 15:50] xeppen opened #223 "Added library folder and tries to build. Get 20 warnings in different library files."
I am not really sure if did something wrong but I just added the library folder form the zipped file and tried to build. Got +20 warnings in different library files.

[2015-05-25 16:19] hackiftekhar commented on #223
Could you please share screenshot. Let me know the version of your Xcode and also let me know the library language you are trying to build(swift or objC).

[2015-05-25 17:05] xeppen commented on #223
This is in Swift. Xcode 6.3.2

![snip20150525_1](https://cloud.githubusercontent.com/assets/5516587/7800130/eba94f26-0310-11e5-9cc3-17533eb229e7.png)

[2015-05-27 03:02] xareelee opened #224 "Problem with Zendesk SDK"
I'm using both IQKeyboardManager and [ZendeskSDK](https://github.com/zendesk/zendesk_sdk_ios). The problem is, when the RMA alert view (Rate My App) is shown and the user choose to send the feedback from the alert view, both Zendesk and IQKeyboardManager adjust the feedback view (ZDKRMAFeedbackView). I've tried to disable IQKeyboardManager when the app is launched, but it still doesn't work.

[cod

[2015-05-27 08:09] cartmanguo opened #225 "the previous/next button displaying in gray color"
Hello,
I have three textfields in a viewcontroller set vertically,
when I start editing the first textfield,the next button on the toolbar is gray,instead the previous button is able to pressed,what causes this problem?
thanks

[2015-05-27 08:11] Jameson-zxm opened #226 "Problem with NSLayoutConstraint ?"
If my UITextView is associated with NSLayoutConstraint, can work normally ?

[2015-05-27 11:06] hackiftekhar commented on #225
Check your textField hierarchy, may be your textFields are displaying correctly in UI but mat have difference position in view hierarchy.

[2015-05-27 11:09] hackiftekhar commented on #226
It can work normally when your textField are not attached with topLayoutGuide or bottomLayoutGuide directly or indirectly.

[2015-05-27 12:08] jaimeat1 opened #227 "Problem with textfields inside of a scroll view"
Hi,

Thanks for your nice library, it saves a lot of work!

I'm working in a view controller with a scroll view and a bottom bar as my custom tab bar. The scroll has two views inside, each one with the same width than the screen. When user selects one option in the custom tab bar, scroll view changes its offset to show the relevant view.

The problem is with the second view (the one in the right),

[2015-05-27 18:04] hackiftekhar commented on #227
Thanks for your bug report, unfortunately it's a view hierarchy issue (For IQKeyboardManager not for your project) that can't be handle by library. Actually your view's are side by side, and in-general this is not a generic case when you become first responder for one view and moving to second view in the UI.

Waiting for your reply

[2015-05-27 18:23] hackiftekhar commented on #211
Any more updates on search bar issue?

[2015-05-27 18:50] hackiftekhar commented on #217
I Couldn't find anything regarding the issue when I created a demo to reproduce the same issue, can someone send me the demo project.

[2015-05-27 19:01] #223 closed

[2015-05-27 19:02] hackiftekhar commented on #221
Thanks, I'll implement something to manage the topLayoutGuide constraint

[2015-05-27 19:06] hackiftekhar commented on #222
It's working fine at my end. Please let me know the steps to reproduce the issue.

[2015-05-28 01:19] #226 closed

[2015-05-28 01:25] FutureChen commented on #222
You are on the system of IOS 7.1 run my demo?
The BUG only occurs on my iphone5
 My iPhone 6 system of 8.3 is ok

[2015-05-28 01:48] FutureChen commented on #222
at ios 8
![Uploading C5A3218A-2DE4-48D4-BDC1-C11264F6DED1.png…]()
at ios 7
![Uploading Screen Shot 2015-05-28 at 上午9.31.13.png…]()

[2015-05-28 01:50] FutureChen commented on #222
at ios 7
![screen shot 2015-05-28 at 9 31 13](https://cloud.githubusercontent.com/assets/8944181/7851226/da598302-051e-11e5-861b-4438a7077e9f.png)
at
ios8
![c5a3218a-2de4-48d4-bdc1-c11264f6ded1](https://cloud.githubusercontent.com/assets/8944181/7851235/f8d329f0-051e-11e5-9656-64b438a4657a.png)

[2015-05-28 04:42] trungnguyen1791 commented on #217
This happened to me in this situation:
I have 4 textfields ( using "goNext" function to moves between them). And using "[IQKeyboardManager sharedManager].shouldResignOnTouchOutside = true;"
If you only tap on one text field, type somethings, taps "next" button on keyboard => it work well.

But if you tap on a textfield, type somethings then taps outside to hide keyboard. => The jumps will happened

[2015-05-28 04:57] hackiftekhar commented on #217
Ok, got you. Will try to reproduce in your suggested conditions.

[2015-05-29 08:38] davidbuhtig opened #228 "problem with adjusting the textview's height"
First of all, this library is really awesome.

I'm working on a viewcontroller with a textview in it. But the height of the textview is not that proper when the keyboard pop up at the first time. After hiding the keyboard and show the keyboard again, the height of the textview is just fine. I noticed that keyboardWillShow: will be called twice at the first time and the heights of the keyboard are

[2015-05-29 13:01] hackiftekhar commented on #228
Will look into this, thanks for your detailed information. BTW, have you tried with canAdjustTextView to YES.

[2015-05-30 12:18] davidbuhtig commented on #228
Yes, I have tried that but it still didn't work. You can see it in my demo code.

[2015-05-31 17:10] hackiftekhar commented on #214
In my opinion if it's managed manually then it would be best. The core functionality of library is to manage textField and keyboard distance and the advanced functionality are that which is related to 'textField and keyboard' distance management, resigning textField, toolbars etc. So It would be good if textField properties are managed automatically.

[2015-05-31 17:10] #214 closed

[2015-05-31 17:10] #211 closed

[2015-05-31 17:16] hackiftekhar commented on #217
Not able to reproduce with @trungnguyen1791 suggested conditions too, so if someone can provide me demo code then it would be great.

[2015-05-31 17:17] hackiftekhar commented on #216
Is it something related with #217?

[2015-05-31 17:22] hackiftekhar commented on #219
Not able to reproduce it with your suggested conditions/code, please send me demo.

[2015-05-31 17:27] hackiftekhar commented on #222
I done some code research regarding this and found that on iOS7 it's a bug from Apple side.

Workaround:-
Make sure you resign your textField before pushing nextViewController or before popping back to previousViewController.

Let me know it work for you or not.

[2015-05-31 17:34] hackiftekhar commented on #227
Any suggestion from your side?

[2015-05-31 17:37] hackiftekhar commented on #225
This link can really help you:
http://blevolve.com/tab-order-difficulties-iqkeyboardmanager/

[2015-05-31 17:37] #225 closed

[2015-05-31 17:55] #228 closed

[2015-05-31 18:00] hackiftekhar commented on #224
Thanks for the report, please let me know how can I make a demo project. I can see so many classes in Zendesk.framework and don't have proper understanding that how it should be used. If you can share a demo app then it would be great. Your help will be appreciated.

[2015-05-31 20:26] kiwo12345 opened #229 "interfaceorientation is deprecated first deprecated in ios 8.0"
Thanks for your awesome library!

Using it I get these errors/warnings, is it something I can ignore?

interfaceorientation is deprecated first deprecated in ios 8.0

Line 756:
let interfaceOrientation = (IQ_IS_IOS8_OR_GREATER) ? UIInterfaceOrientation.Portrait : rootController.interfaceOrientation

Line 1208:
let interfaceOrientation = (IQ_IS_IOS8_OR_GREATER) ? UIInterfaceOrientation.Portrait : t

[2015-06-01 03:33] xareelee commented on #224
Hi @hackiftekhar, thanks for your help. I'm also tracking this problem and recently I found this problem may not be due to IQKeyboardManager. If there is any update, I'll let you know.

[2015-06-01 04:30] FutureChen commented on #222
Thank you, it is work for me. Only the textField become fitstRespone will  cause a bug.

[2015-06-01 05:32] hackiftekhar commented on #224
May be or may be not, but keep me updated regarding this issue. Thanks :)

[2015-06-01 05:34] hackiftekhar commented on #222
You should call becomeFirstResponder in viewDidAppear and not in viewWillAppear.

[2015-06-01 05:34] #222 closed

[2015-06-02 13:01] Oniiichan opened #230 "Conflict with TextInputBar"
I am using ALTextView (https://github.com/AlexLittlejohn/ALTextInputBar/) to dock an inputbar to the bottom of a view (like the iOS Messenger App). The IQKeyboard causes the inputbar to disappear sometimes. I have tried disabling IQKeyboard in the class but it still has issues:

    IQKeyboardManager.sharedManager().disableInViewControllerClass(CommentsViewController)

[2015-06-02 13:10] hackiftekhar commented on #230
Thanks for your report. I will check and let you know my feedback.

[2015-06-02 13:22] Oniiichan commented on #230
This is what the conflicting view controller looks like:

    class CommentsViewController: UIViewController, UITableViewDelegate, UITableViewDataSource {
        override func viewDidAppear(animated: Bool) {
            super.viewDidAppear(animated)
            NSNotificationCenter.defaultCenter().addObserver(self,
                selector: Selector("keyboardWillShow:"),
                name: UIK

[2015-06-02 13:29] hackiftekhar commented on #230
Are you using swift version or Obj-C version?

[2015-06-02 13:44] Oniiichan commented on #230
Swift version

[2015-06-02 13:51] hackiftekhar commented on #230
ok, will check.

[2015-06-02 17:35] Oniiichan commented on #230
Thanks for this :+1: . Were you able to take a look?

[2015-06-02 19:44] hackiftekhar commented on #230
Works great for me and I didn't find any issues with this. This was my approach:-
1) Downloaded ALTextInputBar.
2) Replaced it's ViewController code with your provided CommentsViewController code and done minor code and storyboard tweaks to fix some compilation errors.
3) Added these lines in AppDelegate:-
        IQKeyboardManager.sharedManager().enable = true
        IQKeyboardManager.sharedMana

[2015-06-02 21:30] Oniiichan commented on #230
Do you know what might be causing the issue with my code then? My textinputbar disappears when the IQKeyboard files are added to the project. When I delete the files, the textinputbar (ALTextView) works.

[2015-06-03 04:20] hackiftekhar commented on #230
Can you please share demo project?

[2015-06-03 16:01] gioramies opened #231 "Next/Previous button"
Hi.
I'm trying to use the IQKeyboardManager but read that is works only when the TextFields are in the same view. In an stackoverflow question (http://stackoverflow.com/questions/28993716/trouble-with-next-previous-button-with-iqkeyboardmanager) read "From now you can use '-(void)considerToolbarPreviousNextInViewClass:(Class)toolbarPreviousNextConside‌​redClass' method to work it with other sublin

[2015-06-04 06:14] hackiftekhar commented on #231
You can run the demo app project you found in this repository and go to the 'CustomView Exmaple' section to know how you should use these methods.

[2015-06-04 06:14] #231 closed

[2015-06-04 06:33] hackiftekhar commented on #229
Unfortunately I'm unable to find-out a solution to suppress deprecated warning in swift. Let me know how should I suppress deprecation warning in swift. I'll add the code.

[2015-06-04 07:52] #216 closed

[2015-06-04 07:52] #217 closed

[2015-06-04 07:56] hackiftekhar commented on #217
I found that calling 'setNeedsLayout' and 'layoutIfNeeded' from IQKeyboardManager on viewControllers.view causes disorder the internal hierarchy of UITextField when it's border style is UITextBorderStyleNone. Setting 'layoutIfNeededOnUpdate' to NO solve the issue.

FYI from now 'layoutIfNeededOnUpdate is default to NO.

[2015-06-04 11:42] j1881 commented on #213
This would be great.

[2015-06-09 03:07] furueili opened #232 "UITableview header view issue"
Hi hackiftekhar,

Thanks for your nice library, it saves a lot of work!

I'm working in a uitableview controller. When suer selects field in uitableview , keyboard will show , and tabview will scroll up.

The problem is section header view not moved up with tableview, please give me some help, thx
![img_7124](https://cloud.githubusercontent.com/assets/1407724/8049868/9b69ff8c-0e97-11e5-9d91-6d019f

[2015-06-09 03:41] hackiftekhar commented on #232
Showing/hiding table section header is managed by the UITableView and not by library. It also have some default functionality to stick on top, and this can not be manipulated by library, so one option is for you to do some tweak by subclassing UITableView, and second option is to use Group tableView instead of Plain Table.

[2015-06-09 10:11] jintomenachery opened #233 "View positioning issue while keyboard hide"
Hi,
Am having an issue when using IQkeyboardManager for a text field when it is put inside a UIScrollView.

When I select text field, it is scrolling up properly, but when i hide keyboard textfield is not positioned to its original place. (Since I don't want to scroll navigation bar, i have kept my text field inside a scroll view.)

Could you check this. I have uploaded sample code following locat

[2015-06-09 10:37] hackiftekhar commented on #233
Could you please try setting 'shouldRestoreScrollViewContentOffset' to YES. It defaults to NO.

[2015-06-10 04:23] jintomenachery commented on #233
thank you @hackiftekhar. You are awesome..!!!

[2015-06-10 04:23] #233 closed

[2015-06-12 07:43] sokalyambda commented on #221
thank you so much! =]

[2015-06-12 15:41] retsohuang opened #236 "Submit IQKeyboardManagerSwift to CocoaPods"
It would be great if you can add CocoaPods support for Swift version.

[2015-06-13 03:26] blackchena commented on #9
I install it from cocoapod , but when I build it  ,I receive
"Undefined symbols for architecture armv7:
  "_OBJC_CLASS_$_IQKeyboardManager", referenced from:
      objc-class-ref in UPAppDelegate.o
ld: symbol(s) not found for architecture armv7
clang: error: linker command failed with exit code 1 (use -v to see invocation)"
error . How should I do?

[2015-06-13 06:05] #221 closed

[2015-06-13 06:08] hackiftekhar commented on #9
Could you please confirm you're getting this error by creating new project and install via cocoapods. FYI, this is cocoapods issue and not from the library.

[2015-06-15 12:29] joaopedrok commented on #236
Agreed

[2015-06-16 07:23] chaoskyme opened #237 "presentViewController with UIModalPresentationCustom in iOS 8.3"
When I  present ViewController with `UIModalPresentationCustom` in iOS 8.3, IQKeyboardManager will not scroll in presentViewController but scroll in current view controller.

[2015-06-16 19:46] hackiftekhar commented on #237
Please share demo code.

[2015-06-18 06:01] chaoskyme commented on #237
Thanks. I have fixed it.

[2015-06-18 06:01] #237 closed

[2015-06-18 09:57] hackiftekhar commented on #237
Could you please let me know how you fixed it? It was library issue or your own code logic issue?

[2015-06-19 02:20] chaoskyme commented on #237
I new project to test it that can't repeat.
So I move the textfield up in presentViewController  to fix it.
My problem is this.
![out](https://cloud.githubusercontent.com/assets/1863204/8246141/f6fb7598-166b-11e5-8015-742e3ef646d3.gif)

[2015-06-19 03:58] hackiftekhar commented on #237
Could you please share demo code so that I'll check the problem with the library code?

[2015-06-19 04:34] sandeepdekhdekh commented on #161
Hi
I am Sandeep I am working on chatting application in which i have one UIcontroller class in which i have one UItableview and at the bottom i have one UItextfield when i click on textfield the IQKeyboard appear which hides UInavigation bar from that screen.But i dont want to hide that bar.Can you please help me to resolved that issue i will be really thank full to you.

[2015-06-19 12:15] hackiftekhar commented on #161
I would suggest you to disable IQKeyboardManager in your chat screen and implement it in your own way. because it's gard to implement chat screen with IqKeyboardManager.

[2015-06-19 12:16] sandeepdekhdekh commented on #161
Thanks for the quick reply.

[2015-06-22 05:42] hackiftekhar commented on #230
Any updates?

[2015-06-22 05:43] hackiftekhar commented on #229
Any updates? Did you got how to suppress deprecation warnings in swift?

[2015-06-22 05:43] hackiftekhar commented on #227
Any updates?

[2015-06-22 05:44] hackiftekhar commented on #224
Any updates? Have you figured out the reason?

[2015-06-22 05:45] hackiftekhar commented on #219
Any updates or any demo code for me to debug?

[2015-06-22 12:48] jaimeat1 commented on #227
Hi,

Finally, I moved the view with the textfields to be the first in scrollview (left side), so I can avoid this weird behaviour.

Thanks for your time!

[2015-06-22 14:54] #227 closed

[2015-06-23 15:19] hieuld commented on #236
So for now, we have to use the bridge for the swift project? I am realy looking forward the IQKeyboardManager for Swift version. Thanks for your effort.

[2015-06-23 15:44] retsohuang commented on #236
@hieuld If your app support iOS 8 above, you can use IQKeyboardManager objc version don't need bridging header by include `use_frameworks!` at Podfile, otherwise you have to use bridging header or drag and drop IQKeyboardManager for Swift version to your project.

[2015-06-24 04:01] xareelee commented on #224
@hackiftekhar Not yet.

ZendeskSDK has published a new version. I'll update and try the SDK and again when I'm available.

[2015-06-24 04:21] hackiftekhar commented on #224
But actually the logic depends on the client app (your app), I think it's your responsibility to disable library when showing ZendeskSDK screen and re-enable the library when ZendeskSDK dismisses. Because ZendeskSDK doesn't know who are going to integrate IQKeyboardManager and who are not. and my wordings are same for IQKeyboardManager too.

[2015-06-24 11:43] snezdoliy commented on #179
@hackiftekhar sorry for asking in closed issue, I just do not want to bring this discussion in a new issue, as this is just possibly enhancement / clarification.
Is there any possibility to have textfields in separate view within same controller, but add those which are needed to be "tracked" together to a separate `IBOutletCollection` which will be tracked by `IQKeyboardManager` ? I am currently

[2015-06-24 12:52] hackiftekhar commented on #179
Surely you can do, take a look at -(void)considerToolbarPreviousNextInViewClass:(Class)toolbarPreviousNextConsideredClass; method example at repository demo project.

[2015-06-24 14:06] snezdoliy commented on #179
@hackiftekhar thank you for quick response! With example I got how it should work.
Actually I've managed to do this with just creating UIView subclass and `considering` it with this method.
After that I made main view on UIViewController to be of this class (from storyboard) and did not need to create separate view in storyboard and add all my subviews with constraints to it. It works, thanks!

[2015-06-25 05:49] taojigu opened #238 "How to replace Previous/Next button with Cancel Button"
How could I add a Cancel Button at the left part of toolbar , instead the previous/next button?
Thanks

[2015-06-25 06:35] hackiftekhar commented on #238
This can not be changed by IQKeyboardManager automatically, however you still have two options:-

Option 1: Add a toolbar manually using the method 'addCancelDoneOnKeyboardWithTarget:' defined in 'IQUIView+IQKeyboardToolbar.h'.

Option2: For global change you can change 'addPreviousNextDoneOnKeyboardWithTarget' method with  'addCancelDoneOnKeyboardWithTarget:' in 'IQKeyboardManger.h' at line numbe

[2015-06-25 06:35] #238 closed

[2015-06-26 11:53] hieuld commented on #236
Thanks, I will check on that. :)

[2015-06-28 02:24] xareelee commented on #224
Hi @hackiftekhar,

ZendeskSDK has fixed this problem in version 1.3.0.1, so I think this issue is not due to IQKeyboardManager. You could close this issue.

[2015-06-28 02:56] #224 closed

[2015-06-30 06:47] Darkhorse-Fraternity opened #241 "CollectionCell Can not come back"
Warm 'the item height must be less than the height of the UICollectionView minus the section insets top and bottom values.'

the collection  layout scrollDirection is UICollectionViewScrollDirectionVertical

![e0f2aecb-e0f6-47de-8d73-8857d62924f6](https://cloud.githubusercontent.com/assets/5756752/8425289/dedcec02-1f36-11e5-860e-44adf0009e60.jpg)

[2015-06-30 06:59] mythodeia commented on #241
@Darkhorse-Fraternity are you sure that the warning you get is because of this library?

[2015-06-30 07:14] Darkhorse-Fraternity commented on #241
yes   and i use
[[[NSNotificationCenter defaultCenter]rac_addObserverForName:UIKeyboardWillHideNotification object:nil]subscribeNext:^(id x) {
       @strongify(self);
         [self.collectionView.collectionViewLayout invalidateLayout];
    }];

now it‘s ok

[2015-06-30 08:31] dimacheverda opened #242 "Can't change settings"
I have installed manager via Cocoapods and successfully used it until I needed to disable it for particular ViewController using following code, but it doesn't worked for me:
[code]

Then I tried to fully disable it in AppDelegate `didFinishLaunchingWithOptions:` :
[code]

But it doesn't work neither.
Here corresponding question on StackOverflow: [Link](http://stackoverflow.com/questions/31003246/

[2015-06-30 08:37] dimacheverda commented on #242
Also tried to disable Manager like this, but not working:

[code]

[2015-06-30 09:23] candyss9185 commented on #242
I am having the same problem. IQKeyboardManager seems to conflict with Layer's ATLAS library and I want to disable it for only the ViewControllers using Layer but I am not able to do so. If I disable for a certain viewController, the keyboard behaves in an unexpected way, sometimes showing the keyboard sometimes not showing anything. Did you find a solution?

[2015-06-30 09:32] dimacheverda commented on #242
I am using SlackTextViewController, and there was similar issue which seems to work for them, but not for me: [Issue Link](https://github.com/slackhq/SlackTextViewController/issues/155)

[2015-06-30 10:20] hackiftekhar commented on #242
Can someone provide me demo project to debug it?

[2015-06-30 10:22] candyss9185 commented on #242
I have added the following lines of code in the AppDelegate:
    [[IQKeyboardManager sharedManager] setEnable:YES];
    [[IQKeyboardManager sharedManager] disableInViewControllerClass:[PWBaseConversationViewController class]];

and it seems to be working fine for now. There was a bug reported because of the keyboard but I haven't been able to reproduce it, so I'll assume it works for now. Thanks!

[2015-07-04 16:36] lucianovalle commented on #103
Dear haycklftekhar: How  do you add IQKeyboardManager.bundle  to the project property?
The method I am using, POD, is not working properly, and show the following error:
ld: library not found for -lPods-teste-IQKeyboardManager clang: error: linker command failed with exit code 1 (use -v to see invocation)

Thank you

[2015-07-04 17:53] hackiftekhar commented on #103
It looks like Cocoapods setup issue and not by the library. Searching on the stackoverflow may find a solution for this Cocoapods install issue.

[2015-07-07 13:03] apocolipse opened #243 "considerToolbarPreviousNextInViewClass broken in UITableView PrototypeCells (Swift)"
Hey there, thanks for a great keyboard manager!
I noticed a bug working in Swift with the prev/next/done buttons not showing up automagically (or even forcibly with `considerToolbarPreviousNextInViewClass`).
I have a LoginViewController backed as a UITableViewController in storyboard with Static Cells (2 cells) each with a UITextField in the contentView.
<img width="272" alt="screen shot 2015-07-0

[2015-07-07 18:27] hackiftekhar commented on #243
Is toolbar appears an d next/prev does not? Or whole toolbar is disappeared?

[2015-07-07 18:28] apocolipse commented on #243
The toolbar appears with the "Done" button and the placeholder text in the toolbar.  the "Prev"/"Next" buttons do not.
I'll see if I can replicate the issue in a standalone app.

[2015-07-08 01:39] lucianovalle commented on #103
Dear haycklftekhar: How to Use UIDatePicker with hours ?

Thank you

[2015-07-08 03:08] faizan85 commented on #103
@lucianovalle I think you should raise a ticket on IQDropDownTextField/IQActionSheetPickerView repo instead of IQKeyboardManager repo.

[2015-07-08 05:04] hackiftekhar commented on #208
Closing this issue because we need to disable IQKeyboardManager and need to do different workaround according to customised requirement.

[2015-07-08 05:04] #208 closed

[2015-07-08 05:49] hackiftekhar commented on #219
Closing because didn't get any updates on the above issue.

[2015-07-08 05:55] controlrole commented on #219
my send your email

[2015-07-08 08:16] #232 closed

[2015-07-08 08:18] #241 closed

[2015-07-08 09:06] hackiftekhar commented on #219
Thanks for the reminder. I'll check it today.

[2015-07-08 11:37] hackiftekhar commented on #219
I checked the demo app, but it may take some time to fix it.

[2015-07-10 01:03] lucianovalle opened #244 "IQDropDownTextField/IQActionSheetPickerView"
Hi!
I am new with development of swift and I am facing  some problems.
I am trying to assemble two PickerView with hours and another with date, but I am not succeeding  with the use of IQDropDownTextField to assemble.
Following is the code  I have assembled with researches.

        var myDatePicker: UIDatePicker = UIDatePicker()
        myDatePicker.datePickerMode = UIDatePickerMode.Time // 4- us

[2015-07-10 03:25] hackiftekhar commented on #244
Firstly you should raise IQDropDownTextField related questions here:- https://github.com/hackiftekhar/IQDropDownTextField on issue tracker.

 IQDropDownTextField has 'dropDownMode' property, you should try that one.

[2015-07-10 03:25] #244 closed

[2015-07-11 03:43] ivangarcialopez opened #245 "Keyboard Shown in front of popup window"
Hello, thanks a lot for your code. It's really helpful.
I found a problem and I don't know how to proceed. I'm using the IQKeyboardManager and it works perfect between the 2 fields in my login screen.
I added a function in the textFieldShouldReturn delegate which when I have the 2 fields completed and I'm in the last field when I press the return button in the keyboard I log in into the app.
The p

[2015-07-11 03:51] hackiftekhar commented on #245
That's very strange issue, could you please share demo code so I can debug that what is going on between textField and keyboard?

[2015-07-11 04:36] maimake opened #246 "How to disable a certain viewcontroller instance?"
I want to disable an instance , instead of class. How ?

[2015-07-11 06:24] hackiftekhar commented on #246
Use 'disableInViewControllerClass:' method of 'IQKeyboardManager' to disable it for the ViewController. Else if you have more than one instance of viewcontroller and want to enable/disable on condition then you can use 'enabled' property to decide whether you want to make it enable or not.

[2015-07-11 06:24] #246 closed

[2015-07-11 16:14] ivangarcialopez commented on #245
Hello, I'm trying to reproduce the error in a demo but It's impossible. I only have the error in our app. Can I upload the full app?

[2015-07-12 04:56] hackiftekhar commented on #245
No, you should not share your app source code with anyone. You should share demo code only.

[2015-07-17 07:20] bobintornado commented on #114
Hi! I have a very similar issue with **UITextView** when combined with **UIPageViewController** when using **IQKeybordManagerSwift**, and as stated above, the wired behaviour only happens with **Scroll** transition style.

@hackiftekhar  I don't quite understand where should I add in this "exlicit check to not _UIQueingScrollView as UIScrollView.", would you mind sharing some hints?

Thanks so muc

[2015-07-17 07:25] bobintornado commented on #229
My solution:

Line 756:
let interfaceOrientation = (IQ_IS_IOS8_OR_GREATER) ? UIInterfaceOrientation.Portrait :   UIApplication.sharedApplication().statusBarOrientation

Line 1208
let interfaceOrientation = (IQ_IS_IOS8_OR_GREATER) ? UIInterfaceOrientation.Portrait : UIApplication.sharedApplication().statusBarOrientation

[2015-07-17 09:00] hackiftekhar commented on #114
I mean I already added a check to determine _UIQueingScrollView (PageView ScrollView) and ignoring that, You don't need to do anything.

[2015-07-21 00:22] kevinnguy opened #247 "IQKeyboardReturnKeyHandler doesn't work alongside with considerToolbarPreviousNextInViewClass method"
When using `[[IQKeyboardManager sharedManager] considerToolbarPreviousNextInViewClass:[CustomView class]];`, IQKeyboardReturnKeyHandler does not work because of how `initWithViewController` works. I can look into how we can handle text fields in custom views.

[2015-07-21 02:49] hackiftekhar commented on #247
IQKyboardManagerReturnKeyHandler is totally different from IQKeyboardManager. There are no relationships between them. I need to do something to make relation between IQKeyboardManager and the returnKeyHandler.

[2015-07-21 08:05] bobintornado commented on #114
@hackiftekhar I see. But it seems when I using UITextView when combined with UIPageViewController (Scroll transition), IQKeybordManagerSwift still behaves strangely. :/

Just to clarify, both Swift and OC versions have been patched right?

[2015-07-21 14:00] hackiftekhar commented on #114
I think both versions have been patched. But I need to check if you still getting buggy scroll transition.

[2015-07-21 15:53] kevinnguy commented on #247
For now, my workaround is:

[code]

Works without `IQKeyboardReturnKeyHandler`

[2015-07-21 15:53] #247 closed

[2015-07-22 12:19] kean opened #248 "Remove useless comments"
[code]

Could you please remove all the useless comments from the source code? It's impossible to read. Thank you.

[2015-07-24 09:48] huxia1124 opened #249 "IQLayoutGuideConstraint not supported in swift code"
The swift code is not synchronized with OC code. In swift code, some features are missing such as IQLayoutGuideConstraint related things.

[2015-07-24 13:24] hackiftekhar commented on #249
Yes that feature is missing in swift. Usually I sync ObjC code with Swift within 2-3 months, unfortunately I didn't get time to sync my code in last 3-4 month.

[2015-07-27 13:08] NBibikov opened #250 "Text in textView behind keyboard"
Hello! Thanks for great library!
I have one problem that i can't fix self
I have textView on UIViewController. For textView i added IQLayoutGuideConstraint
But text still behind keyboard

GIF - http://d.pr/i/1eye6

[2015-07-27 16:10] hackiftekhar commented on #250
Can you please try with 'canAdjustTextView' property with YES.

[2015-07-27 17:54] NBibikov commented on #250
Unfortunately doesn't work
i use
[[IQKeyboardManager sharedManager] setEnable:YES];
and tried add
[[IQKeyboardManager sharedManager] setCanAdjustTextView:YES];

http://d.pr/i/13Z3t

[2015-07-27 17:59] lfarah opened #251 "Not working on Swift 2"
I know that is still in beta, but....

[2015-07-29 16:07] diegothucao commented on #245
I met the same problem

[2015-07-29 16:09] diegothucao opened #252 "Swift - How to disable IQKeyboardManager in a specific UIViewController"
Dear fiiends,
I am using IQKeyboardManager for my Swift Project (iOS 8.4).
Now I want IQKeyboardManager does not affect a specific UIViewController in my projects. How to make it ?

Thanks in advance,

Thu

[2015-07-30 02:08] diegothucao opened #253 "Swift iOS 8.4 - How to show Popover when click in UITextView with IQKeyboardManager"
Dear Friends,
I want to show popover or customized Warring message when I click on a specific UITextView, I used:

-(BOOL)textFieldShouldBeginEditing:(UITextField *)textField
{
    if (textField == customWorkTextField)
    {
        if (textField.isAskingCanBecomeFirstResponder == NO)
        {
            //Do your work on tapping textField.
            [[[UIAlertView alloc] initWithTitle:@"IQKey

[2015-07-30 02:35] XCGit opened #254 "crashed use UIAlertView"
## It will crash sometimes on   UIAlertView , which use UIAlertViewStylePlainTextInput style.

crashed   at  IQKeyboardManager.m

line 326:  [lastScrollView setContentOffset:startingContentOffset animated:YES];

[2015-07-30 03:22] hackiftekhar commented on #253
Put conditions just like sample code doing, and show popover where alert view is showing ( //Do your work on tapping textField.).

[2015-07-30 03:27] hackiftekhar commented on #252
Use 'disableInViewControllerClass' method to disable it for a viewController.

[2015-07-30 03:28] hackiftekhar commented on #252
Use 'disableInViewControllerClass' method to disable it for a viewController.

[2015-07-30 03:30] hackiftekhar commented on #254
So you mean sometimes it works perfect and sometime it crashed. Right?

[2015-07-30 03:31] diegothucao commented on #252
It seems does not work

[2015-07-30 03:32] diegothucao commented on #253
textFieldShouldBeginEditing is not existed in Swift

[2015-07-30 04:01] diegothucao commented on #252
In Swift, there is no method to get Class, Am I right ?

[2015-07-30 05:31] hackiftekhar commented on #252
You should pass class name directly. For example your class name is 'Person' then you should pass 'Person' in the method.

[2015-07-30 05:33] hackiftekhar commented on #253
It exists, do you have any reference to point-out that textFieldShouldBeginEditing is not exist in swift?

func textFieldShouldBeginEditing(state: UITextField) -> Bool {
 return false
}

http://stackoverflow.com/questions/11775110/function-textfieldshouldbeginediting-is-not-called

[2015-07-30 09:27] kamarshad opened #255 "Property setKeyboardDistanceFromTextField not working"
Hello @hackiftekhar ,

I am using your wonderful library in my iOS application.
In My application showing a tableview, which contains textfields inside the cells.
I want to show some gap(not the default one your api providing) between tapped textfield and keyboard.
I am accessing property `keyboardDistanceFromTextField` and setting desired value,But I am not able to show that gap between keyboard

[2015-07-30 09:53] kamarshad commented on #255
Ignored the documentation since my tableview is a part of UITableviewController.
As I go with UIViewController everything started working fine.
Well thanks for nice Library +1)

[2015-07-30 09:53] #255 closed

[2015-07-30 12:35] pr0gramm3r8hai opened #256 "Table view Issue in Swift."
Hello,
I am using this manager for table view which contains UITextFields in cell, When i tapped the last text field of cell, it lifts view, thats fine, but on resigning first responder the table view does not regains its original position! Please Replay ASAP ! Hoping to get solution! Thnks in Advance!
![screen shot 2015-07-30 at 6 19 32 pm](https://cloud.githubusercontent.com/assets/12591229/8983

[2015-07-30 15:15] hackiftekhar commented on #256
Could you please share demo project.

[2015-07-31 04:41] pr0gramm3r8hai commented on #256
yes! Btw i am just using your class that implements Tableview!

[2015-07-31 04:45] pr0gramm3r8hai commented on #256
https://github.com/pr0gramm3r8hai/TableViewWithIQKeyboardManager

[2015-08-02 14:08] hardikdevios commented on #253
@diegothucao you are approaching a Wrong delegate You are using ```UITextView``` and tried to call the delegation of ```UITextField``` but the correct method is,
#### textViewShouldBeginEditing(_:)####
https://developer.apple.com/library/ios/documentation/UIKit/Reference/UITextViewDelegate_Protocol/#//apple_ref/occ/intfm/UITextViewDelegate/textViewShouldBeginEditing:

[2015-08-03 10:53] spensko opened #257 "How I can keep from hiding NON-default navigation bar?"
I have UIViewController with some custom view as navigation bar on it and a tableview with programmatically created textfields in cells.

* superview
  * tableview (0, 0, width, height) // Y is 0 because I have custom blur on navbar
  * uiview (0, 0, width, 65) // custom navbar on the top of hierarchy

Then some textfield is become active my custom navbar is hiding. Can't figure out how I can prev

[2015-08-03 18:57] hackiftekhar commented on #253
@hardikdevios You are right! @diegothucao you are using wrong delegate method.

[2015-08-04 08:13] diegothucao commented on #253
Thanks for you helps.
I have done with it.

Thank

[2015-08-04 14:54] drake1138 opened #258 "Crashes at Start: Xcode Claims the Version Pulled from Cocoapods is 1.0.0"
I get this error message when my app attempts to start on my phone:

dyld: Library not loaded: @rpath/IQKeyboardManager.framework/IQKeyboardManager
  Referenced from: /private/var/mobile/Containers/Bundle/Application/48541CD5-9631-44F8-A625-F81F120F386A/NAS Repair.app/NAS Repair
  Reason: Incompatible library version: NAS Repair requires version 3.0.0 or later, but IQKeyboardManager provides versi

[2015-08-05 00:40] XCGit commented on #254
yes

[2015-08-05 03:57] #253 closed

[2015-08-05 04:13] hackiftekhar commented on #258
How about removing use_frameworks! option and try again?

[2015-08-05 04:25] hackiftekhar commented on #254
Then how can I debug it?

[2015-08-05 05:50] SurajSundar opened #259 "Update for Swift 2.0"
The current library does not work with Swift 2.0. Please try to provide us with an update of the library for Swift 2.0.

[2015-08-05 12:20] drake1138 commented on #258
When i remove "use_frameworks!" i get this error when building the project.

ld: library not found for -lIQKeyboardManager
clang: error: linker command failed with exit code 1 (use -v to see invocation)

I found out that if i go to the build settings of the pod project IQKeyboardManager target, you can set the compatibility version to be 1, and it will run. I am just wondering if it actually has t

[2015-08-05 13:10] hackiftekhar commented on #258
Thanks @drake1138  for sharing this patch for the problem

[2015-08-05 13:10] #258 closed

[2015-08-06 16:26] hardikdevios commented on #259
@SurajSundar Swift 2.0 is a Beta version and has few issues with the SDK , i suppose if you are developing an App which will be totally going to be the support from swift 2.0 , than you must wait for the primary/ultimate Relese for the Xocde 7 , till than you can user the Bridging header of this lib which i dont think have much issue with that.

[2015-08-07 03:05] lzyroot opened #260 "crash"
When the keyboard pops up click on the "Show Alert With Textfield" will crash

<img width="320" alt="qq20150807-1 2x" src="https://cloud.githubusercontent.com/assets/11453465/9127926/2c249c82-3cf4-11e5-8407-836ddcf976e4.png">

[2015-08-07 06:10] wy19901227 opened #261 "hello"
如何让导航栏  不随界面  一起 上移呢?

[2015-08-07 06:16] hackiftekhar commented on #261
You should put your content on UIScrollView to not move NavigationBar along with your contents.

[2015-08-07 06:47] wy19901227 commented on #220
But  why  must  set self.view=scollview;  why not fix it in code?

[2015-08-07 09:44] hackiftekhar commented on #220
Without scrollView I'm not able to scroll the content. and I can't insert a UIScrollView inside self.view. If I do this then developer logic may fail.

[2015-08-07 10:15] #242 closed

[2015-08-07 10:17] hackiftekhar commented on #245
Can someone upload a demo project to demonstrate this issue?

[2015-08-07 10:39] #248 closed

[2015-08-07 10:48] #252 closed

[2015-08-07 10:49] hackiftekhar commented on #257
If you have textFiels on tableView then I think it should work just fine. if it's not working then please share demo.

[2015-08-07 10:50] #261 closed

[2015-08-07 10:55] #260 closed

[2015-08-08 18:53] scorpiohjx opened #262 "No need to do any toolBarButtonInvocation when shouldResignOnTouchOutside=YES"
I think there's no need to do any toolBarButtonInvocation when shouldResignOnTouchOutside is set by YES, including doneAction, cancelAction, previousAction, nextAction, leftAction, rightAction. The reason is simple, I just touch that outside the keyboard, not those UIBarButtonItems or IQBarButtonItems. So, just resign the firstResponder (textField/textView), without do invocation.

Here's my situa

[2015-08-09 07:57] hackiftekhar commented on #262
When a keyboard resign by touching outside then yes, I should not invoke doneAction. Will take a look and will find the cause of this issue. Thanks for your bug report.

[2015-08-10 16:39] uzegonemad commented on #256
Not sure if you're still having this issue or not but I was having the same issue on Obj-C.

I set

[code]
and it fixed my issue.

It would be something like this in Swift:
[code]

[2015-08-13 16:55] #262 closed

[2015-08-13 17:08] scorpiohjx commented on #262
thanks!

[2015-08-13 17:34] #230 closed

[2015-08-13 17:46] hackiftekhar commented on #254
It seems when any other textField is first responder and then try to show UIAlertView with UIAlertViewSTylePlainTextInput then it crashes. If this was the case then you should resign old textField first before showing UIAlertView. Let me know if I'm right.

[2015-08-14 10:08] michellezi opened #266 "Undefined symbols for architecture arm64"
Undefined symbols for architecture arm64:
  "_OBJC_CLASS_$_IQKeyboardManager", referenced from:
      objc-class-ref in AppDelegate.o
ld: symbol(s) not found for architecture arm64

Does IQKeyboardManager support arm64?

[2015-08-14 16:11] hackiftekhar commented on #266
IQKeyboardManager is available via source code and not via compiled library and not related to arm64 issue. It seems like you have may have some issues with your project settings.

[2015-08-15 01:21] hackiftekhar commented on #259
Now Swift2.0 library is available in Swift2 branch.

[2015-08-15 01:22] hackiftekhar commented on #251
Now Swift2.0 library is available in Swift2 branch.

[2015-08-15 01:23] hackiftekhar commented on #249
Added supportfor IQLayoutGuideConstraint on swift. If you're working with Swift2.0 then you can get Swift2.0 version from Swift2 branch.

[2015-08-15 01:23] #249 closed

[2015-08-17 15:06] mplorentz commented on #258
I am receiving the same error but @drake1138's fix doesn't fix it for me. It only happens when I try to run the app on my iPhone 5S running iOS 8.4.

[2015-08-17 22:45] mplorentz commented on #258
I fixed my issue by deleting my project and re-checking it out from its repository. Maybe there was something in my xcuserdata that was causing it.

[2015-08-18 06:44] SurajSundar commented on #259
How do I add the library to my project in case of Swift?

[2015-08-18 18:31] hackiftekhar commented on #259
Could you pleaee confirm you are compiling this in Xcode7?

[2015-08-19 04:07] SurajSundar commented on #259
I tried to compile the code using Xcode 7 beta 4. I'm currently downloading the beta 5. I will try with that one too and update you

[2015-08-19 05:15] hackiftekhar commented on #259
Apple is constantly updating Swift syntax. That's why I was waiting for Xcode7 official release.

[2015-08-20 14:05] bobintornado opened #268 "IQLayoutGuideConstraint not showing up in "Outlets""
[Beginner Question]

I am trying to follow screenshot and "map TopLayoutGuide/BottomLayoutGuide constraint with IQLayoutGuideConstraint", but I am not exactly sure how to map it, as it seems my view controller doesn't have the IQLayoutGuideConstraint outlet.

![screenshot 2015-08-20 21 55 16](https://cloud.githubusercontent.com/assets/3308031/9385104/1701249a-4787-11e5-98f5-148b6bcae39b.png)

I tr

[2015-08-20 14:08] hackiftekhar commented on #268
Could you please confirm you have added 'IQUIViewController+Additions.h' in project?

[2015-08-20 14:34] bobintornado commented on #268
@hackiftekhar Gotcha.

I was using an outdated swift version of IQKeyboardManager, and I guess that version didn't include the IQLayoutGuideConstraint yet.

I tried switching to the Swift2 version and realise that version is not for Xcode 6.X, and I am not ready to make the Xcode version jump for my production app yet.

So I fall back to the objective-c version and bridge it back swift 1.2, and it

[2015-08-20 15:32] hackiftekhar commented on #268
FYI, the current swift version have the IQLayoutGuideConstrainy feature with swift1.2 on master branch. And swift2.0 version on Swift2 beanch.

[2015-08-20 15:57] bobintornado commented on #268
@hackiftekhar I see.

Those two branches all have the same folder name "IQKeybordManagerSwift", and I think I must have confused myself.

Maybe on master branch the "IQKeybordManagerSwift" should be renamed to "IQKeybordManagerSwift12" and on the Swift2 branch to be renamed to "IQKeybordManagerSwift2".

 Just my two cents.

[2015-08-20 16:32] hackiftekhar commented on #268
As per me, IQKeyboardManagerSwift on master will always contain the official latest version of swift language. So no need to rename it and on Swift2 branch, there may be a chance to rename branch but not the IQKeyboardManagerSwift folder name because Swift2 branch will be merged in master in near future.

[2015-08-20 17:32] mihirpmehta commented on #111
if this bug is already fixed. Can you fix the ReadME file. because read me file says it is still known issie in swift

[2015-08-20 18:55] hackiftekhar commented on #111
Thanks for reminding me. Will surely update. Thanks :)

[2015-08-20 19:28] Flyte27 opened #269 "Rotating to landscape and back with keyboard open doesn't correct view"
I've found that when the keyboard is up, and the user rotates the screen to landscape and back, then hits done on the keyboard, the view gets stuck dragged downwards. This only seems to happen when the view was initially pushed upwards so the user could see the textfield.

![img_0814](https://cloud.githubusercontent.com/assets/2347600/9393448/fd0aa3cc-474f-11e5-9fc4-c98632deb24e.jpg)

![img_0815](

[2015-08-20 20:15] mplorentz commented on #258
This issue came up again for me and I spent some more time investigating it. Apparently it is an issue with CocoaPods 0.38.2.

The fix is to clean the build folder (Command-Option-Shift-K). You can find more info [here](http://stackoverflow.com/questions/31750603/dyld-library-not-loaded-app-requires-afnetworking-2-0-0-but-provides-version-1).

[2015-08-21 00:52] hackiftekhar commented on #111
Readme updated

[2015-08-21 00:54] hackiftekhar commented on #269
Could you please share a demo code to debug it?

[2015-08-21 00:57] hackiftekhar commented on #258
Thank for sharing the workaround. Thanks again.

[2015-08-21 14:29] Flyte27 commented on #269
Working on recreating it with a smaller project, though no luck so far. Seems to be rotating from landscape to portrait mode forces the current view to get pushed downwards.

[2015-08-21 14:32] Flyte27 commented on #269
Got it. This happens when the project is inside a TabBarController. Ill upload the small test project I wrote to a repo

[2015-08-21 15:35] hackiftekhar commented on #269
Thanks :) I'll take a look

[2015-08-25 07:17] wy19901227 opened #271 "UItextView bug"
when i add a UItextView, first I tap the textView,it can not adjust the frame, but second I tap the textView,
it can adjust the frame.  I do not konw why?

[2015-08-25 07:38] wy19901227 commented on #271
first the _textFieldView=nil, secont it is not nil,  why?

[2015-08-25 08:55] wy19901227 commented on #271
I have temporarily fix the bug in a bad way .
show the code
 int the adjustfram method

   if (!one) {
        one=YES;
        [self adjustFrame];
    }

what a strange bug.  I hope  you can  fix it.