[2016-04-11 14:25] #375 closed

[2016-04-11 14:27] hackiftekhar commented on #484
Hmm, unfortunately that's not possible for me to add support for a property for older versions, they all are released with git tag feature. :(

[2016-04-11 14:28] Japspre commented on #484
I see. Well I know the solution, I'll try to come up with something myself.

Thanks!

[2016-04-11 14:47] hackiftekhar commented on #396
I'm having difficulties with building a project with AGi18n, @abutalha  could you please share a demo project.

[2016-04-11 14:48] #397 closed

[2016-04-12 02:04] awesomeswift commented on #481
but, it worked with this command : github "hackiftekhar/IQKeyboardManager" == 4.0.0
anw, please fix this issue

[2016-04-12 03:39] aabosh opened #485 "IQKeyboardManager Adding Empty Space Below UIScrollViews?"
Hi,

I noticed that when IQKeyboardManger (Swift) is enabled, when scrolling below a UITextField, there is a lot of extra empty space. This does not happen when IQKeyboardManger is disabled. Is it possible to adjust the amount of space or remove it?
![demo](https://cloud.githubusercontent.com/assets/7517009/14449206/9a1c9e84-003e-11e6-87b0-34c9b6f47781.png)

Thank you for your work!

Regards,
Andr

[2016-04-12 11:59] clooth commented on #481
This is fixed in the master branch as far as I can tell.

[2016-04-12 12:55] hackiftekhar commented on #481
Yup, it's fixed in master branch.

[2016-04-13 07:46] laughing25 opened #486 "Hello,When i use IQKey and MFMessage"
When i use IQKey and MFMessage, the MFMessage click cancel, the navigation will jump many times。my english is not good, if you can use google, this is my chinese "当我使用IQ和IOS系统短信功能MFMessage时，在弹出MFMessage时，IQ的键盘监听影响到了MFMessage的退出，在点击取消按钮的时候"

[2016-04-13 08:15] hackiftekhar commented on #486
If you are presenting some third party library UI to do your things, then it's developer responsibility to enable/disable IQKeyboardManager when dismissing/presenting third party library UI. IQKeyboardManger will not be responsible to handle third party library issues. For more you can check `Warning` section in README file.

[2016-04-13 08:15] #486 closed

[2016-04-13 11:25] sinhagaurav010 opened #487 "How to stop extra scrolling when keyboard is visible."
Thanks for your great work..!!
When keyboard is visible, screen is scrollable with a high contentSize.
Is there any way to stop this extra scrolling? I only want screen to scroll till the UITextField set just above keyboard.

[2016-04-14 01:18] laughing25 commented on #486
thanks!

[2016-04-14 17:21] hackiftekhar commented on #315
Can someone confirm if this issue is still valid?

[2016-04-14 23:06] edgarjs opened #488 "Selected field scrolls too much (gets covered)"
Hi, awesome library.

I found there're some cases where it doesn't work properly though. I have a UITableView with many sections and some fields in each section. When I select a field, it gets scrolled all the way up, too much that it even gets covered. I'm not sure if I'm doing something wrong or it's a bug. I don't have any special setting enabled or anything.

![1604145w3tx](https://cloud.githu

[2016-04-15 03:14] dongmai commented on #93
Seems it doesn't work on iOS 9.3.

[2016-04-15 03:23] hackiftekhar commented on #488
This shouldn't happen. I'll check this with my demo.

[2016-04-15 03:25] hackiftekhar commented on #93
Could you please share an screenshot of issue you are getting?

[2016-04-15 03:33] dongmai commented on #93
![simulator screen shot apr 15 2016 10 33 13 am](https://cloud.githubusercontent.com/assets/3855966/14550738/7fe1eff6-02f5-11e6-82b8-127590c132b6.png)

[2016-04-15 05:56] shaojiankui opened #489 "ipad ios9.3 textfield textview cant respone"
the viewcontrooler isaddsubview a rootviewcontroller,all textfield textview cantinput anything and cant respond click,not 100%happed

[2016-04-15 07:24] hackiftekhar commented on #93
Hmm, looks like you set `keyboardDistanceFromTextField` to something about 100-200, but still this shouldn't happen.

[2016-04-15 07:26] hackiftekhar commented on #489
If it's tapping issue then you are responsible for it. If it's not then could you please explain your issue with some more details?

[2016-04-15 07:39] dongmai commented on #93
No, I didn't touch `keyboardDistanceFromTextField` property.

[2016-04-15 07:53] dongmai commented on #93
I used a ScrollView there to make it scrollable to select fields.

[2016-04-15 10:45] dillidon opened #490 "UITableViewController :: Xcode 7.3 (7D175) :: iOS 9.3.1"
It does not work in UITableViewController but still works in UIViewController after updating Xcode to version Version 7.3 (7D175) and iOS 9.3.1..... Could you fix it?

[2016-04-15 16:27] hackiftekhar commented on #490
UITableViewController has native support for moving view when a textField become first responder.

[2016-04-15 16:28] hackiftekhar commented on #93
Are you sure your scrollView is calculating correct contentSize?

[2016-04-16 06:40] mathiarasan24 commented on #287
Hi @hackiftekhar ,

I did my self move ``textField`` up and down with dynamic cell creation and I forgot, I raised question for that. Just now I saw and make a video for that can you check that video and you will find the issue.

[IQKeyboardDynamicTableCellCreationIssue.mov.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/222073/IQKeyboardDynamicTableCellCreationIssue.mov.zip)

And thi

[2016-04-16 14:18] dillidon commented on #490
As I sad, IQKeyboard works in UITableViewController w\o becoming first responder of UITextFiled before Xcode update. How can I manage it?

[2016-04-16 15:05] hackiftekhar commented on #490
I'm not sure, I need to look into it.

[2016-04-16 15:58] awesomeswift commented on #481
@hackiftekhar,
It's still failing

** BUILD FAILED **

The following build commands failed:
        CompileSwift normal arm64 /Users/awesomeswift/Workspace/AwesomeS/iOS/Carthage/Checkouts/IQKeyboardManager/IQKeyboardManagerSwift/IQKeyboardManager.swift
        CompileSwiftSources normal arm64 com.apple.xcode.tools.swift.compiler
(2 failures)
/Users/awesomeswift/Workspace/AwesomeS/iOS/Carthage/Chec

[2016-04-18 08:17] dongmai commented on #93
Actually I didn't touch contentSize, I do auto layout config all on Storyboard. It displays fine when keyboard isn't showing. Weird!!!

[2016-04-18 09:35] hackiftekhar commented on #93
Then could you please share a demo project?

[2016-04-19 02:01] billychen2014 opened #491 "App crashed while resign first responder"
screenshot as below:

![2016-04-19 10 01 00](https://cloud.githubusercontent.com/assets/7981655/14625446/aa1381ea-0615-11e6-9db6-7b98dbcb0257.png)

[2016-04-19 06:50] techmehra commented on #481
Yes, It's still failing . i am also getting the same error after upgrading to xcode 7.3

[2016-04-19 07:10] hackiftekhar commented on #491
Hmm, looks like some internal issue with UIKit framework. Could you please confirm you are getting this issue everytime? Or it's rarely reproducible?

[2016-04-19 07:14] billychen2014 commented on #491
yes, it's corner case. i only  encountered this problem twice. it looks like the UIKit framework is changing something..

[2016-04-20 21:45] jose920405 opened #492 "Exist a way for listen done click but without change the design"
Currently the design is

![screen shot 2016-04-20 at 4 43 45 pm](https://cloud.githubusercontent.com/assets/12536184/14691482/13141446-0717-11e6-8681-efca6b7ee080.png)

But when i want listen the done action. I'm using `myTextfield.addDoneOnKeyboardWithTarget(self, action: "doneAction")`

and the design is

![screen shot 2016-04-20 at 4 43 22 pm](https://cloud.githubusercontent.com/assets/12536184

[2016-04-21 01:52] XHJiang opened #493 "In April the import does not support the tableView, but support in March"
In April the import does not support the tableView, but support in March

[2016-04-21 06:33] hackiftekhar commented on #493
Please elaborate

[2016-04-21 06:37] hackiftekhar commented on #492
Please check IQUIView+IQToolbar.h, there is a method
-(void)setCustomDoneTarget:(nullable id)target action:(nullable SEL)action;

But please be sure to read document comments first.

[2016-04-21 06:40] XHJiang commented on #493
In march, when I wrote the test engineering support to achieve the tableView click blank keyboard recovered, but I import project is not support in April, I wrote a new test project, using SDK in March is good, but not a new imported SDK in April. I use cocopods import

[2016-04-21 07:13] zishanj opened #494 "Update keyboard position on multiline UITextView"
I am using a custom component for multiline UITextView where the newline is created after pressing the return key. Due to this custom developed feature, the newline then get under the keyboard. **Is there any supporting function that refreshes the keyboard position after the layout get outdated?**

[2016-04-21 12:30] clooth commented on #412
Any progress on this?

[2016-04-21 12:44] jose920405 commented on #492
@hackiftekhar

Thanks, and sorry i search but not found that method.

Works perfect.

[2016-04-21 12:50] hackiftekhar commented on #492
Np

[2016-04-22 11:28] #492 closed

[2016-04-22 11:30] hackiftekhar commented on #412
Not yet @clooth, I didn't work with UIStackView till now. But thanks for the reminder.

[2016-04-22 11:36] #287 closed

[2016-04-22 12:08] #480 closed

[2016-04-22 12:46] hackiftekhar commented on #481
4.0.2 has now been pushed with the fix via cocoapods.

[2016-04-22 12:46] #481 closed

[2016-04-22 12:47] hackiftekhar commented on #478
4.0.2 has now been pushed with the fix via cocoapods.

[2016-04-22 12:47] #478 closed

[2016-04-22 14:53] hackiftekhar commented on #460
This has been implemented with v4.0.2.

[2016-04-22 14:53] #460 closed

[2016-04-22 15:42] simonbarker opened #495 "How do I import the framework?"
Feeling quite stupid at the moment, I want to use IQKeyboardManager in my project as it looks great but I can't get it run at all.

I've downloaded and run the demo and that works fine. I've then copied the IQKeyboardManagerSwift folder into the project. When I compile the app builds fine but IQKM isn't doing anything, when I try to reference the class IQKeyboardManager I just get an unresolved id

[2016-04-22 17:04] simonbarker commented on #495
I've managed to get the project to recognise the class so I can now instantiate the object (I had to move it out of it's main folder and put the first level of the directory into the project) however I've got 96 errors stoping me compiling now the first is

`if let textFieldViewController = _textFieldView?.viewController() ` on line 77of IQKeyboardManager.swift. Since others can compile I assume I

[2016-04-22 17:13] simonbarker commented on #495
Solved it!

I had to select "Create Groups" when importing rather than "Create folder references" when adding the files

[2016-04-22 17:13] #495 closed

[2016-04-23 17:19] hackiftekhar commented on #495
If you are adding Swift library then you need to enable it in appDelegate. If you are using ObjC version then you don't need to do it another other than just including the library folder.

[2016-04-24 03:33] tospery opened #496 "view misplacement"
I need to use IQKeyboardManager in the nib（enable auto layout）, and the navigation bar is translucent. When closing the keyboard, the view will misplacement. The bug is in 3.3.7 and 4.0.2 version, you can download the demo to reproduce this. thanks.
Download Demo:  http://pan.baidu.com/s/1hshNTqO

[2016-04-25 21:24] Alarson93 opened #497 "Dynamic Cells With TextViews"
I have a table view. It has cells that contain textviews (constrained to the edges of the cell; scrolling disabled) and I am using automatic dimensions.

I have the following textview delegate method:
`- (void) textViewDidChange:(UITextView *) textView
{
    self.answerObject.comments = textView.text;

    __weak typeof(self) weakSelf = self;
    [UIView performWithoutAnimation:^{
         [weakSe

[2016-04-26 00:33] hackiftekhar commented on #497
I undeesrand what you are trying to explain. Could you please share a demo project so that I can debug it about the first character of new line issue?

Btw return key handler is different from what you undersrand.

In general it is hard to fix issues with UITableView/UICollectionView because they usee cell reusability concept.

[2016-04-26 18:36] Alarson93 commented on #497
I will provide you with a demo later today or sometime tomorrow.

For what it's worth, I did recently play with the estimated row height and changing that value does impact behavior.

[2016-04-26 20:07] PuneetKohli opened #498 "Text hides behind keyboard on "Return" press or Paste from clipboard"
Hi,

I'm trying to implement this with a very dynamic view - I have a UITableView which has TextView's of resizable height.

When I add text to the textview, everything works as expected. But when I press "return" or when I paste text from the clipboard to the textviews, it does not adjust with the keyboard.

I tried a few workarounds, and even made adjustFrame() a public function, calling it when

[2016-04-26 23:36] Alarson93 commented on #497
I've attached a demo that illustrates the issue.
Make sure that you are using a 9.3 simulator (I couldn't reproduce the issue in 8.4).

[Dynamic Textview Demo.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/237680/Dynamic.Textview.Demo.zip)

[2016-04-27 19:06] hackiftekhar commented on #498
Are you using UITableViewController's subclass or you are directly using UITableView? If it's UITableViewController's subclass then I can't do anything because textField hiding issues is already managed by UITableViewController. If you are using UITableView directly then I need to check what is wrong with your code.

[2016-04-28 06:11] xiaoyishan opened #499 "uitextfeildview text can Scrolling on present 3 times and late the viewcontroller, once touch the field now, the field will be cleared but the field data also existed."

[2016-04-28 09:40] hackiftekhar commented on #499
Can't understand, please explain

[2016-04-28 12:01] NasrullahKhan commented on #463
i am facing same issue on the scroll view.  i have 6 textfield in scroll view , number 3 textfield have keyboardType = PhonePad and that textfield having next/previous icon problem, except number 3 textfield all fields are showing next/previous icon.

[2016-04-28 17:51] PuneetKohli commented on #498
I'm using a UITableView. My ViewController is quite complex. It's for a Note taking app that allows both images and text, similar to the Medium app

There is a main view, which contains a tableview (no textfields). There is a tableview (lets refer to this tableview from now onwards) in a hidden panel that comes down on swipe from top of the screen. This tableview contains 2 types of cells
1. TextC

[2016-04-29 03:46] hackiftekhar commented on #498
I understand what issue you are facing. KeyboardManager adjust textField positioned perfectly but when your textField size gets updated then KeyboardManager doesn't update view position. Correct?

I'll try to fix it.

[2016-04-29 03:48] hackiftekhar commented on #463
May be something wrong has happened. You shouldn't get this issue.

[2016-04-29 05:12] PuneetKohli commented on #498
Yes. Correct

[2016-04-29 06:45] NasrullahKhan commented on #463
whether i set 1 or 2 or 4,5,6 textfield as PhonePad i face the same issue.

[2016-04-29 08:19] xiaoyishan commented on #499
I am sory I submit a old version Issue，all situation is all right. best wishes!

[2016-04-29 13:14] PuneetKohli commented on #498
Is there any temporary fix while you get to updating the code?
Or atleast if you point me in the right direction I can try figuring it out myself

[2016-04-29 13:16] PuneetKohli commented on #494
This happens to me as well

[2016-04-29 13:34] #499 closed

[2016-04-29 13:42] hackiftekhar commented on #498
`-(void)adjustFrame` is the main method responsible for adjusting keyboard position. But it's not a public method. If you didn't used source code then you can give a try to call this method.

[2016-04-29 16:13] jlubeck opened #500 "When keyboard appears, navigation bar steps on status bar."
Have a look at this screen:

![Image](https://monosnap.com/file/3n4sMH439UrhbV1Oi0vzxRu2YbG3kl.png)

[2016-04-29 16:28] Alarson93 commented on #497
@hackiftekhar I saw you post in another issue that the adjustFrame method updates the position of the textView. I made adjustFrame public and called it right after endUpdates (which seems to have temporarily solved my problem until a proper solution is found).

`    __weak typeof(self) weakSelf = self;
    [UIView performWithoutAnimation:^{
         [weakSelf.tableView beginUpdates];
         [wea

[2016-04-29 21:02] PuneetKohli commented on #498
Yes I tried implementing that function (made it public) every time I am adjusting the textview height, but it doesn't seem to do anything at the moment.

Using it by calling sharedmanager().adjustFrame()

Could you possibly look into it soon.

[2016-05-01 03:02] abellee commented on #455
but the YYTextView seems can not be the first responder,

so everytime I do click the YYTextView, the keyboard will rise again and again even though it has showed up!

[2016-05-01 03:04] abellee commented on #487
I have the same problem on iOS 7.

[2016-05-01 03:05] abellee commented on #485
happened on iOS 7 too.

[2016-05-01 09:00] hackiftekhar commented on #485
I need to look into this issue. I feels that there is already a ticket for something similar issue. Btw, now library doesn't support iOS7. Minimum iOS version should be iOS8.

[2016-05-01 16:04] abellee commented on #485
I use the version 3.3.7

[2016-05-01 16:26] abellee commented on #485
I found another question, if I use addTextFieldViewDidBeginEditingNotificationName to add a custom notification, and also set disableInViewControllerClass for a viewcontroller. But if I second time click the textview, it will show up again.

[2016-05-04 01:16] devkiang commented on #21
cool!

[2016-05-04 08:24] mkhoshpour commented on #470
I have a tableview inside scrollview, I want the scrollview scrolls when keyboard shows up instead of tableview.

[2016-05-04 15:56] CapeFurSeal opened #501 "Trying to Initialize the toolbar takes a few seconds?"
When trying to click on a textfield, the toolbar and editing mode takes really long to Initialize?

[2016-05-04 15:58] CapeFurSeal commented on #501
using xcode 7.3 running on ios 9.3,  iphone 6.

[2016-05-04 16:22] #501 closed

[2016-05-05 03:15] lmh0921 opened #502 "textView when paste many words the cursor will dismissing to outside the textview"
i set the textView's height is 85,and when i input words,the textview will bounce and bounce...then i code:self.automaticallyAdjustsScrollViewInsets = NO;..........and then when i paste many words,about 1000,the cursor will go out of the textview to top where i can't see,and i pull down the textview's scrollview,the cursor show and become normol......when i delete iqkeyboardmanager from my project

[2016-05-06 05:25] lmh0921 commented on #502
there is bug!! I added: [IQKeyboardManager sharedManager].shouldFixTextViewClip = NO; then it worked. you set it YES as default

[2016-05-06 18:50] hackiftekhar commented on #502
btw, shouldFixTextViewClip was added to fix a known issue with UITextView in iOS7 http://stackoverflow.com/questions/18966675/uitextview-in-ios7-clips-the-last-line-of-text-string. Now as we are supporting iOS8 as minimum OS version, so I removed this property permanently with 2d27f52e02b9816d3b1c0dbae5b87d1c44ede659 commit .

[2016-05-06 18:50] #502 closed

[2016-05-07 01:19] 1791422018 commented on #40
hey，I am a Chinese ，I want to know the toolbar's Done is a button？ or item？？？ I want to make the “Done” become Chinese

[2016-05-08 11:47] nikitasharmasahu opened #503 "Not working with UITextField as the subviews of 2 views on single screen"
I have two views in a single screen and each contains textfields but screen is not scrolling up for textfields in the below view.

[2016-05-09 03:15] Monkshae commented on #356
OK,Now my project only surport iOS8.

[2016-05-09 06:40] hackiftekhar commented on #40
It's `UIBarButtonItem`.

[2016-05-09 06:42] 1791422018 commented on #40
okay,thank you

[2016-05-09 06:42] hackiftekhar commented on #503
Could you please explain why it's not working? Are you sure you haven't pinned topLayoutConstraint or bottomLayoutConstraint with view.

[2016-05-10 14:58] hosven commented on #500
same problem

[2016-05-10 15:08] hackiftekhar commented on #500
You all know, this can't be handled with library, because if you implement your own solution then you'll also get this issue.

[2016-05-10 15:11] jlubeck commented on #500
What do you mean?

[2016-05-10 15:13] hackiftekhar commented on #500
I mean this can't be handled by library because library doesn't know if status bar is overlapping with ViewController's content. library also doesn't know when to hide/show status bar and what is users requirement and what they need.

[2016-05-10 15:19] jlubeck commented on #500
But it's not the view controller content that is overlapping, is the Navigation Bar. And it's a standard navigation bar, nothing fancy. If you see Apple Apps, when the keyboard comes into view, the viewcontroller contents go under the navigation bar, and the navigation bar stays fixed.

If you say you can't change anything in the library, can you at least give me some ideas on how can I fix it on

[2016-05-10 15:56] jlubeck commented on #500
Ok, I don't know if this was the right way to do it, but at least it's good enough for my own application.
@hosven see if it helps you too.

I'm basically hiding the status bar when I start editing the bottom most textfield (which was giving me the issue)

Si this is what I added to the ViewController:
[code]

If you find a better way, let me know...

[2016-05-11 10:50] hackiftekhar commented on #500
You can put all your content inside a UIScrollView, so library just scroll the scrollView and will not move whole UIView. This is the easiest way you can fix this issue.

[2016-05-11 14:11] jlubeck commented on #500
Nope, the content is already in a UIScrollView, and it was still doing this behavior

[2016-05-11 15:46] hackiftekhar commented on #500
Are you using UINavigationController as container or you directly added UINavigationBar?

[2016-05-11 15:52] jlubeck commented on #500
UINavigationController

[2016-05-12 02:48] AbnerChen028 opened #505 "crash iphone4 iOS7.1"
#import "IQUIView+IQKeyboardToolbar.m"  line 423
+[UIImage imageNamed:inBundle:compatibleWithTraitCollection:]: unrecognized selector sent to class

[2016-05-12 03:55] hackiftekhar commented on #505
Library support iOS8 as minimum deployment target.

[2016-05-12 03:58] hackiftekhar commented on #500
It's working as expected in my demo. If it's not working fir you then please share demo project.

[2016-05-12 06:41] Zach41 opened #506 "Problem with UISearchController"
I imported IQKeyboardManager in my project, and I used UISearchController in my project too, when I clicked cancel button in searchBar, searchBar shifted up weirdly. After I removed IQKeyboardManager, searchBar behaved correctly.

[2016-05-12 21:00] ziyuanliu opened #507 "When inputAccessoryView is initialized as UIView(), it takes multiple tries to get the scrollview to scrollup"
the scrollview is not scrolled above the keyboard on the first try, it does, however, after a few tries.

[2016-05-13 02:46] ziyuanliu commented on #507
also does it conflict with textViewDidBeginEditing in the view controller?

[2016-05-13 08:38] hackiftekhar commented on #507
Are you using UITableViewController?

[2016-05-13 12:06] ziyuanliu commented on #507
Yes I am, it's actually the same chat uiviewcontroller demonstrated in the readme

[2016-05-13 15:30] hackiftekhar commented on #507
Ahh, If you are using UITableViewController then it's not handled by library.  Please go to https://developer.apple.com/library/ios/documentation/StringsTextFonts/Conceptual/TextAndWebiPhoneOS/KeyboardManagement/KeyboardManagement.html and search for UITableViewController, you'll find a note that it automatically handles it, this is why I forcefully ignore UITableViewController. If it isn't workin

[2016-05-13 16:18] ziyuanliu commented on #507
@hackiftekhar thank you very much! I disabled the library for my specific viewcontroller and implemented what apple suggested -- it works flawlessly!

[2016-05-15 07:06] #424 closed

[2016-05-15 07:08] hackiftekhar commented on #462
Is there any updates?

[2016-05-15 07:09] hackiftekhar commented on #477
Do you have any updates on this?

[2016-05-15 07:10] hackiftekhar commented on #479
Any updates?

[2016-05-15 07:16] hackiftekhar commented on #482
Any updates on demo?

[2016-05-15 07:19] hackiftekhar commented on #487
Looks like a duplicate of #485. Could you please confirm?

[2016-05-15 07:20] hackiftekhar commented on #489
Any updates?

[2016-05-15 07:22] hackiftekhar commented on #490
Looks like it's an iOS issue and I'm unable to do anything for this.

[2016-05-15 07:22] #490 closed

[2016-05-15 07:27] Ankit8946 commented on #482
Sorry I haven't had the time. I am not using the library anymore.
Resorted to implementing everything on my own.
You can close the issue if you like.

Thanks
Ankit Srivastava

On Sun, May 15, 2016 at 12:46 PM, Mohd Iftekhar Qurashi <
notifications@github.com> wrote:

[2016-05-15 07:27] hackiftekhar commented on #482
Thanks for getting back to me. :)

[2016-05-15 07:28] #482 closed

[2016-05-15 07:29] hackiftekhar commented on #493
It looks like Xcode settings or Obj-C<->Swift header linking issue and not caused by the library. May be you've upgraded Xcode.

[2016-05-15 07:33] hackiftekhar commented on #494
Library doesn't have anything like that yet. But probably I need to expose some methods in public header to refreshes the view position to uncover textView from keyboard.

[2016-05-15 07:35] hackiftekhar commented on #496
Looks like the demo project doesn't exist there. If you can upload demo project on dropbox and share like with me or email me the demo at hack.iftekhar@gmail.com then it would be great.

[2016-05-15 07:37] hackiftekhar commented on #498
Well, I think this is duplicate of #496. Could you please confirm?

[2016-05-15 11:26] #489 closed

[2016-05-15 17:37] #507 closed

[2016-05-15 17:37] #505 closed

[2016-05-15 18:06] hackiftekhar commented on #494
I've added `reloadLayoutIfNeeded` method for you, Please check and let me know if it works for you.

[2016-05-15 18:08] hackiftekhar commented on #491
Looks like Baidu Mobile SDK is sending some events, doesn't seem to be an issue with library.

[2016-05-15 18:09] hackiftekhar commented on #498
I've added `reloadLayoutIfNeeded` method for you, Please check and let me know if it works for you.

[2016-05-15 18:16] hackiftekhar commented on #406
Your single specialView should be on top of all textField, there shouldn't be multiple specialView.

[2016-05-15 18:16] #406 closed

[2016-05-15 18:33] #491 closed

[2016-05-15 18:33] #493 closed

[2016-05-15 18:36] hackiftekhar commented on #496
Got your demo

[IQDemo.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/265185/IQDemo.zip)

[2016-05-15 18:49] hackiftekhar commented on #496
This isn't a bug, but you should write
`    _scrollView.shouldRestoreScrollViewContentOffset = YES;`

In ViewDidLoad. You may need to import required files using
`#import <IQKeyboardManager/IQUIScrollView+Additions.h>`

[2016-05-15 18:52] hackiftekhar commented on #496
But it looks like, IQKeyboardManager is doing some contentSize change in between, that's why some empty space is showing at the bottom.

[2016-05-16 03:07] boai commented on #500
Demo wrote a little mess, for example: there are navi will push navi, sometimes block input box, these problems in your demo no problem, but you did not say how to solve this problem!

[2016-05-16 04:15] zhiyongXu commented on #24
I copy the code in the readme.md ,but it doesn't work . Do you know the reason ?

[2016-05-16 04:40] tospery commented on #496
Thanks, so i need use UIKeyboardWillHideNotification to reset contentSize, like demo, right?

[2016-05-16 06:03] hackiftekhar commented on #496
For now, you may have to write a workaround. But I think I need to remove the code to change content size of ScrollView.

[2016-05-16 06:06] hackiftekhar commented on #24
I don't know the reason. Did you checked the demo project? It is working there.

[2016-05-16 07:09] zhiyongXu commented on #24
Thanks. I will check carefully.

[2016-05-16 07:46] hackiftekhar commented on #488
It's working good with my demo, if you could share a demo project with me then it would be great.

[2016-05-16 07:48] #485 closed

[2016-05-16 07:48] #487 closed

[2016-05-16 07:48] #496 closed

[2016-05-16 07:51] hackiftekhar commented on #396
Any updates?

[2016-05-16 07:55] abellee commented on #485
Can I updated this commit via CocoaPods?

[2016-05-16 07:55] hackiftekhar commented on #399
@DmitryArbuzov I realised that setting contentSize leads to some issues reported in #485 #487 #496, looks like removing that code 28b2d9c0ee8169bd6c4cc3dfbdca8f272d059f7c fixed those issues .

[2016-05-16 07:55] #399 closed

[2016-05-16 07:57] hackiftekhar commented on #485
It will take some time to available this via cocoapods. However you can refer repository master branch to get current code via cocoapods.

[2016-05-16 07:58] abutalha commented on #396
I have not tested it again quite a while, will check now and share a demo project soon.

[2016-05-16 07:59] abellee commented on #485
OK thanks

[2016-05-16 09:03] hackiftekhar commented on #346
I checked and found that UICollectionView internally change contentOffset. You can try it without library and this issue is happening there as well.

[2016-05-16 09:04] #346 closed

[2016-05-16 09:06] hackiftekhar commented on #396
Thank You!

[2016-05-16 09:26] zhiyongXu commented on #24
The problem has been saved after I update the verson in my project. Thanks.

[2016-05-16 10:20] paneaktae opened #508 "How to hide only Next/Previous Button"
help me pls. thank you

[2016-05-16 11:27] hackiftekhar commented on #508
Currently there is no functionality to hide only Next/Previous button. But will expose a property for you.

[2016-05-16 14:19] appcelerate opened #509 "Exception after installing via pods"
I get this

*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Please file a radar on UIKit if you see this assertion.'

*** First throw call stack:
(
	0   CoreFoundation                      0x0000000112d4fd85 __exceptionPreprocess + 165
	1   libobjc.A.dylib                     0x00000001127c3deb objc_exception_throw + 48
	2   CoreFoundation

[2016-05-16 14:41] seecoolguy commented on #315
@hackiftekhar as of 4.0.2 it is still an issue, do you have a work around?

[2016-05-16 15:50] hackiftekhar commented on #285
Added support to follow `scrollView.scrollEnabled` property to check if scrollView can scroll or not. Probably 34634225fdba162b56cdd3b519fc7d691e22fd2c commit fixed this issue.

[2016-05-16 15:50] #285 closed

[2016-05-16 15:52] hackiftekhar commented on #470
This is probably duplicate of #285 and now I added support to follow `scrollView.scrollEnabled` property to check if scrollView can scroll or not. Probably 34634225fdba162b56cdd3b519fc7d691e22fd2c commit fixed this issue.

[2016-05-16 15:52] #470 closed

[2016-05-16 15:55] hackiftekhar commented on #441
It looks like duplicate of #496, #487, #485 Probably 28b2d9c0ee8169bd6c4cc3dfbdca8f272d059f7c commit fixed your issue.

[2016-05-16 15:55] #441 closed

[2016-05-16 15:57] hackiftekhar commented on #509
Not sure because from stack trace, I don't find any function calling from library. Looks like an issues with TLView because it is on the top of callstack.

[2016-05-16 16:56] hackiftekhar commented on #315
I don't have any workaround yet because it works most of the time with cocoapods but sometime it isn't working. Technically `Resource Bundle` which are having next-prev icons isn't being copied to project. That's why we are getting issues. May be something wrong with IQKeyboardManager.podspec file which I don't know.

[2016-05-16 18:10] hackiftekhar commented on #412
I checked a demo project with UIStackView with UITextView and I didn't observe any problem with that. It is working fine according to me. There may be something wrong with your code.

[2016-05-16 18:10] #412 closed

[2016-05-16 18:13] hackiftekhar commented on #420
Most of the time `canAdjustTextView` will not work with autolayout, this was build to support Autoresizing and setting frame features. It would be much harder to write a workaround for AutoLayout.

[2016-05-16 18:13] #420 closed

[2016-05-16 19:13] hackiftekhar commented on #455
It's working for me with your demo with some changes. Please check.
[YYTextViewDemo.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/266786/YYTextViewDemo.zip)

[2016-05-16 19:13] #455 closed

[2016-05-16 19:15] hackiftekhar commented on #461
If it's like UITextField/UITextView then you could use `registerTextFieldViewClass:didBeginEditingNotificationName:didEndEditingNotificationName` method to register your object with **Objective-C** version of library. It's not fully supported with Swift version because there are some complexities with **Swift Strong Typecasting**.

[2016-05-16 19:15] #461 closed

[2016-05-16 19:25] hackiftekhar commented on #462
Looks like this is already fixed with 4143c4b3eba4b7cba5b67a78a3c0ac4caec6e46d. Could you please recheck?

[2016-05-16 19:25] #462 closed

[2016-05-16 19:30] hackiftekhar commented on #463
I'm sure this is not due to library, I checked it with a new demo. There is probably something wrong with your code.

[2016-05-16 19:30] #463 closed

[2016-05-16 19:32] hackiftekhar commented on #479
When you have a working demo project, please reopen this issue.

[2016-05-16 19:33] #494 closed

[2016-05-16 19:35] hackiftekhar commented on #497
Now I've added `reloadLayoutIfNeeded` method for you, so you can call it to refresh keyboard/textView layout.

[2016-05-16 19:35] #497 closed

[2016-05-16 19:38] hackiftekhar commented on #498
One more thing, could you please check if you added `topLayoutConstraint` or `bottomLayoutConstraint` in your view hierarchy which may be affecting the layout?

[2016-05-16 19:39] hackiftekhar commented on #500
Then Could you please share a demo project where I can find the problem and will try to fix that?

[2016-05-17 07:47] boai commented on #500
OK! I wrote to you git address!

[2016-05-18 10:02] lazyprogram opened #510 "Archive failed due to code signing"
Its working in my iphone, but if try to archive its nor working.

PhaseScriptExecution Embed\ Pods\ Frameworks /Users/samye/Library/Developer/Xcode/DerivedData/JBot-eacnlmgocwhxcbbdfkackcofyyvi/Build/Intermediates/ArchiveIntermediates/JBot/IntermediateBuildFilesPath/JBot.build/Release-iphoneos/JBot.build/Script-4CA56E0435E0170D8EAC4C20.sh
    cd /Users/samye/Documents/Projects/jbot-ios
    /bin/sh

[2016-05-18 11:53] hackiftekhar commented on #510
This isn't library related issue, may be there is something wrong with your Xcode settings.

[2016-05-20 07:30] hackiftekhar commented on #509
hey @appcelerate, are you still getting issues?

[2016-05-20 07:30] #510 closed

[2016-05-20 13:33] hackiftekhar commented on #315
Today I checked the demo project again without any change and it's working fine for me. It looks looks like an issue with the previoius Xcode version. I'm having Xcode 7.3 now and it's working fine.

[2016-05-20 13:33] #315 closed

[2016-05-20 14:23] seecoolguy commented on #315
yeah I ran a pod update and now the arrows are back, I've been running in 7.3.1 :+1:

[2016-05-20 14:44] hackiftekhar commented on #315
Even if you don't run `pod update` or `pod install` and just run the sample project, it will work. No changes needed in demo.

[2016-05-20 16:29] robegamesios commented on #315
Thanks, I see the arrows too now on 7.3, one thing that causes a crash for me is if I change the inputView to a datepicker. If the datepicker animation is set to YES, it will crash when pressing Previous button too quickly

[2016-05-20 20:24] hackiftekhar commented on #315
Hmm, If you could find something useful about crash then let me know.

[2016-05-20 20:28] robegamesios commented on #315
I think the issue is the date picker animation is not yet done when the new animation is being called. So it may not be an issue with just pressing the previous or next buttons, but the timing of when to press them.  it would nice to have the previous and next button disabled until all animations are done in the view.  Turning off the date picker animation eliminates the crash. thanks

[2016-05-21 03:57] Piyush08 commented on #492
How to get call back for Swift?

[2016-05-21 05:43] v-ken opened #511 "Disable autoscrolling when selecting text field if keyboard is already on screen"
Was wondering if this is an issue to anyone else? When the keyboard is already on screen, shouldn't the auto scrolling be disabled as there is no longer a chance for the keyboard to be covering the editing field (unless user hits 'next' button in toolbar). Moving the screen on every field change when the keyboard is already on screen can be quite unpleasant for the user.

If it is an issue, I can

[2016-05-21 11:30] hackiftekhar commented on #492
There is same method in swift too.

[2016-05-21 11:32] hackiftekhar commented on #511
I believe that this is user dependent. A user may want to disable scrolling when keyboard is up, and may be another user may want to still scroll when keyboard is up. So I'm not sure if it's an issue.

For a workaround a developer may listen for notification and may enable/disable scrolling of scrollView.

[2016-05-21 21:45] ritesh-nitw opened #512 "map a constraint with IQLayoutGuideConstraint"
As mentioned in docs Working with TopLayoutGuide and BottomLayoutGuide section:

How can I map a constraint with IQLayoutGuideConstraint using interface builder or programatically?

I am using objective C and installed the  module using pods.

I tried including `#import "IQUIViewController+Additions.h" `and I tried replacing NSLayoutConstraint with  IQLayoutGuideConstraint: `@property (weak, nonat

[2016-05-21 21:50] cecgsn opened #513 "Can't set IQLayoutGuideConstraint"
I downloaded and installed IQKeyboardManager via carthage and currently using v4.0.3. Automatically the keyboard appears, but now I want to manually specify an IQLayoutGuideConstraint outlet to a constraint, but the IQLayoutGuideConstraint outlet doesn't appear into my list of available outlets in any window.
![captura de pantalla 2016-05-21 a las 2 50 11 p m](https://cloud.githubusercontent.com/a

[2016-05-22 02:57] KodiKraig opened #514 "Using the top keys on keyboard to cycle through textfields not working when textfields inside uiStackView?"
I have textfields in two separate stacks. When the the keyboard comes up, there is no option to cycle to the next textfield. Is there a workaround other than just not using stack views?

[2016-05-22 04:02] hackiftekhar commented on #514
I believe this should all work fine without issue. Mabe you have a containerView for your textField?

[2016-05-22 04:04] hackiftekhar commented on #513
It library is added then option should appear. I need to check it with carthage.

[2016-05-22 04:08] hackiftekhar commented on #512
Programmatically youshould only say
`
Self.IQLayoutGuideConstraint = self.tfaSubViewToBottomLayoutGuideConstraint`

And this should work.

[2016-05-22 18:19] KodiKraig commented on #514
I am using 'TextFieldEffects'. I am not exactly sure how that is implemented. It works fine when I have the textfields outside the stack views, just not inside of them.

[2016-05-23 02:12] quhaoran007 opened #515 "Does't work on keyWindow Subview"
If a view is added by keyWindow (keyWindow addSubview:aView), and keyboard covers the aView's textField or textView, the frame will not be adjusted.

[2016-05-23 04:20] hackiftekhar commented on #515
This is the issue with your layout. View shouldn't be added directly to key window. There is already a closed ticket for this.

[2016-05-23 05:57] quhaoran007 commented on #515
So do you mean any UIView should not add on to keyWindow or ?  I've tried to search the closed ticket in this repository, but I couldn't find. Can you pls tell me the keyword or link for it? Thank you

[2016-05-23 07:32] hackiftekhar commented on #515
I remembered that this issue was raised in the past however I'm also having difficulties finding that ticket number. Probably I probably remind this one https://github.com/hackiftekhar/IQKeyboardManager/issues/378.

[2016-05-23 08:28] DivineDominion opened #516 "Weird new API with exposed disabledDistanceHandlingClasses property"
Instead of a method on `IQKeyboardManager` that hides implementation details users are now encouraged to violate the object's boundaries and mutate one of its properties directly with `IQKeyboardManager.sharedManager().disabledDistanceHandlingClasses.addObject(...)`.

I would understand the other way 'round, but what's the rationale behind this move?

[2016-05-23 13:38] PuneetKohli commented on #498
I am checking the reloadLayoutIfNeeded function now.

As for the constraints - yes it is added.

Also, this is not a duplicate of #496

[2016-05-23 14:03] hackiftekhar commented on #498
If you've added topLayoutConstraint or bottomLayoutConstraint then you have to map it with IQLayoutConstraint. because UILayoutConstraint work a bit differently as compared to normal constraint and there is a workaround for that.

[2016-05-23 14:09] PuneetKohli commented on #498
The view is completely dynamic, so none of it is via storyboard.

Initially there is no textview. It is added dynamically via code depending on the necessity.

[2016-05-23 14:11] hackiftekhar commented on #498
So you are adding UILayoutConstraint from the code. right?

[2016-05-23 14:16] PuneetKohli commented on #498
`reloadLayoutIfNeeded` is bouncing the view back to the top.

Yes, but there are potentially a lot of UITextView's ; all of whom are embedded as an item in a Table View. In this case I wouldn't know how to handle individual constraints.

My View Heirarchy looks something like this

UITableView
-> Header View
-> UITextView
-> UIImageView
-> UITextView
-> UIImageView
-> UIImageView
-> UITextView

Ba

[2016-05-23 14:49] plastus commented on #485
I just downloaded the latest version of IQKeyboardManager, but I am still experiencing this issue. Scroll view has no empty space at bottom before keyboard appears. Once it is dismissed, a large empty space at the bottom of the UIScrollView exists. Any suggestions on how to address this bug?

[2016-05-23 15:05] hackiftekhar commented on #498
Are you using UITableViewController and the UITableView you shown is UITableViewController.UITableView?

[2016-05-23 15:21] hackiftekhar commented on #485
I think this shouldn't be an issue after the fix. Could you please share a demo if you still experiencing the issue. I'm sure I removed the code from library to change contentSize.

[2016-05-23 16:08] PuneetKohli commented on #498
No it is a UIViewController.

There are other views in the scene, so can't use a TableViewController
On May 23, 2016 8:36 PM, "Mohd Iftekhar Qurashi" <notifications@github.com>
wrote:

[2016-05-23 16:27] hackiftekhar commented on #498
I think you should share a demo project if you are facing an issue which I'm unable to reproduce. I can check the demo.

[2016-05-23 19:23] PuneetKohli commented on #498
I'll try and wrap up a demo project with only said functionality, and get
back to you- thanks!

On Mon, May 23, 2016 at 9:57 PM, Mohd Iftekhar Qurashi <
notifications@github.com> wrote:

--
Thank you,
Puneet Kohli

[2016-05-24 06:27] hackiftekhar commented on #516
I exposed those properties because I found it's easy to manage.

[2016-05-24 06:56] DivineDominion commented on #516
On the client side or on the library's?

[2016-05-24 10:00] edopelawi opened #517 "Multiple depth for IQKeyboardManager's toolbarPreviousNextAllowedClasses"
Hi,

first of all, I'd like to thank you for this awesome library, it helped me a lot :)

I'm currently trying to register a custom `UIView` class with a `UITextField` inside it, lets call it `CustomTextField`. I wanted to make IQKeyboardManager's built-in next and previous button enabled for it, and found that I could do it by registering the class to `toolbarPreviousNextAllowedClasses`.

Problem

[2016-05-24 10:51] hackiftekhar commented on #516
Both side, but more on the library's side.

[2016-05-24 11:04] hackiftekhar commented on #517
In general, CustomTextView should be on top of all UITextField. Library will detect all textFields which are inside CustomTextView even if with multiple hierarchy.

[2016-05-24 13:21] hardikdevios opened #518 "IQTextView delegate issue (Swift only)"
Hello mate,
I think you are missing something in `IQTextView.swift`.

**Your Code**
[code]

**Hot Fix**

[code]

Because no delegate fire, if you set your delegate from code. need PR for this ? :)

[2016-05-25 05:36] #518 closed

[2016-05-25 05:52] Ankish opened #519 "Programatiaclly Next or previous textfield"
Need a way to programatically resign current and set next/previous responder.

[2016-05-25 07:43] hackiftekhar commented on #519
That you can do it with natural programming logic, there is no need to do anything with library, you should just call `becomeFirstResponse` on next button when resigning previous. However there are also some methods like `goPrevious` `goNext` which you can use to navigate programmatically thought textFields.

[2016-05-25 07:45] Ankish commented on #519
👍  . I found that was just going to close it . Thanks a lot !

[2016-05-25 07:45] #519 closed

[2016-05-25 07:59] hardikdevios commented on #518
is this path updated in latest Pod ? or you planning to release  this after few more fixes ?

[2016-05-25 10:13] hackiftekhar commented on #518
This isn't ipdated to pod. Generally I release a new version after couple of fixes.

[2016-05-25 11:29] hardikdevios commented on #518
No problem

[2016-05-26 05:19] lqcjdx commented on #479
I have the same issue. Next/Previous buttons not working properly and after i clicked Next/Previous button many times then the Done button is also not working properly.

[2016-05-26 14:48] hackiftekhar commented on #479
hey @lqcjdx could you please share demo?

[2016-05-27 02:01] lqcjdx commented on #479
In my project, each UITableViewCell has a UITextField. I found that when i do "[tableView reloadData]" in "-(void)textFieldDidEndEditing:(UITextField *)textField", it will cause the Next/Previous/Done button not working properly. Could you explain it? Thank you in advance. @hackiftekhar

[2016-05-27 02:08] hackiftekhar commented on #479
I'm not gonna explain. It's working in demo and it is as it is. Please check it yourself.

I'm asking for a demo from a long time and peoples are ignoring my messages but don't forget to asking questions from me. How can J answer a question without knowing the reason. I'm feeling very very frustrated.

[2016-05-27 02:33] lqcjdx commented on #479
[IQDemo.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/285672/IQDemo.zip)
@hackiftekhar  I am so sorry for that. Now i provide a demo and a GIF.

[2016-05-27 05:51] mengmakies opened #520 "iOS7 crash because of iOS8 api:[UIImage imageNamed:inBundlecompatibleWithTraitCollection:]"
In IQUIView+IQKeyboardToolbar.h line 531,532,626,627,717,718

(UIImage *)imageNamed:(NSString *)name inBundle:(NSBundle *)bundle compatibleWithTraitCollection:(UITraitCollection *)traitCollection NS_AVAILABLE_IOS(8_0);

I'm replace with below code：
UIImage *imageLeftArrow = [UIImage imageNamed:@"IQKeyboardManager.bundle/IQButtonBarArrowLeft"];
    UIImage *imageRightArrow = [UIImage imageNamed:@"I

[2016-05-27 09:40] hackiftekhar commented on #520
Library support iOS8 as minimum deployment target.

[2016-05-27 09:40] #520 closed

[2016-05-27 10:33] harshvishu opened #521 "IQLayoutGuideConstraint doesn't appear in Storyboard"
I am using `pod 'IQKeyboardManager'` updated to version '4.0.3'.
The `IQLayoutGuideConstraint` doesn't appear in the storyborad.

Xcode version: V7.2
iOS/OSX version: OS X El Captain 10.11.4 (15E65)

[2016-05-27 11:02] edopelawi commented on #517
Hmm. Is it possible to assign that class to an UIView via XIB?

[2016-05-27 11:06] edopelawi commented on #517
Oops, seems I logged the wrong class. It works now :)

Still, I found it only sets the toolbar's next and before button... isn't it supposed to set the `Next` button as replacement of the `Return` button on the keyboard, too?

[2016-05-27 13:45] hackiftekhar commented on #521
Not sure because it's appearing with my Xcode v7.3, btw when I was working with Xcode 7.2 it was showing there too.

[2016-05-27 13:45] hackiftekhar commented on #517
You should take a look at IQKeyboardReturnKeyHandler class to handle keyboard `Return` key.

[2016-05-27 13:45] #517 closed

[2016-05-27 17:48] edgarjs commented on #488
Sorry for the delay. Here's the repo with the demo. And a gif showcasing it.

https://github.com/edgarjs/IQKeyboardManagerBugDemo

![Bug Gif](http://i.giphy.com/l41YtzKPZa290LQ9q.gif)

[2016-05-27 19:29] hackiftekhar commented on #488
Thanks, I'll review the demo when I get some time. Thanks :)

[2016-05-28 08:06] Piyush08 opened #522 "Previous Next button with UIStackView"
Hello

I implemented my textField in UIStackView. But it only shows "done"  button in toolbar. I also want to show previous next buttons.

How to do this?

Help me to solve this.

Thank you

[2016-05-28 13:21] hackiftekhar commented on #522
If you have only 1 textField then there should be no next/prev. However I need to add a demo controller with UIStackView.

[2016-05-30 16:03] CarlGitHub opened #523 "Switch Perdicvtive"
-[UIWindow endDisablingInterfaceAutorotationAnimated:] called on <UITextEffectsWindow: 0x7fc2917f89f0; frame = (0 0; 414 736); opaque = NO; autoresize = W+H; layer = <UIWindowLayer: 0x7fc2917f9010>> without matching -beginDisablingInterfaceAutorotation. Ignoring.
![simulator screen shot 2016 5 31 12 00 06](https://cloud.githubusercontent.com/assets/5214718/15653976/f7196ba8-26c2-11e6-8019-ac7a55e5

[2016-05-30 18:43] hackiftekhar commented on #523
I'm not much sure but looks like it is the inputAccessoryView. Could you please try with setting `textView.inputAccessoryView = [[UIView alloc] init];`

[2016-06-01 07:43] sinhagaurav010 opened #524 "Next/Previous buttons not showing if two text fields are there."
When there are two text fields on U.I, then next/previous buttons not shown to navigate between two text fields.
Could you please look into this.? I am using iphone 6s with iOS 9.3.

[2016-06-01 07:51] #524 closed

[2016-06-01 07:53] sinhagaurav010 commented on #524
Mistake was on my side. I was using two different views having single textfield on each view on main UIView.

[2016-06-01 11:10] hackiftekhar commented on #524
You can now check IQPreviousNextView feature if you need your textFields within different view and still need previous/next button.

[2016-06-05 08:57] pengxianhe opened #526 "next/previous button not show in swift project"
I use cocoapods，podfile like this:
platform :ios, '8.0'
use_frameworks!

target 'KeyBoard' do
pod 'IQKeyboardManagerSwift'
end

but the toolbar not show the next/previous button， only has done button
<img width="311" alt="11111" src="https://cloud.githubusercontent.com/assets/6385833/15804528/7cb744ae-2b3e-11e6-8a30-577f9eb29f95.png">

[2016-06-05 09:31] #526 closed

[2016-06-06 10:43] shahrukh-61 opened #527 "IQDropDownTextField on click textfield method mannually call"
I am using IQDropDownTextfield in storyboard so i am facing a issue how to click listner call in textfield method because not single textfield Delegate method call.

[2016-06-06 10:47] hackiftekhar commented on #527
Not sure what you are asking. Could you please provide some details that what you are trying to achieve?

[2016-06-06 11:05] shahrukh-61 commented on #527
1)I am drag UITextfield in sotryboard
2)Set uitextfield class change to IQDropDownTextfield.
3) call in viewwillappear
-(void)setDataIQDropDownTextField:(NSArray *)arr :(IQDropDownTextField *)textfield
{
    textfield.isOptionalDropDown = YES;
    [textfield setItemList:arr];
}
 whenever i am click in IQDropDownTextfield Pickerview is Open
so now this all good But my problem is

Problem: this uite

[2016-06-06 11:48] shahrukh-61 commented on #527
If you are not getting or understanding  my problem so i have to rewrite again.
 When i click UITextField this methd is called
(void)textFieldDidBeginEditing:(UITextField *)textField; // became first responder

 When i click IQDropDownTextfield this methd is not called
(void)textFieldDidBeginEditing:(UITextField *)textField; // became first responder

[2016-06-06 13:37] pengxianhe commented on #436
@ghost can you tell me how did you solved this problem

[2016-06-06 15:26] hackiftekhar commented on #527
ahh, so you mean it's native delegate methods are not getting called. Make sure you are using the IQDropDownTextField classes from here https://github.com/hackiftekhar/IQDropDownTextField and not from the IQKeyboardManager repo, this will probably fix your problem. IQKeyboardManager has old version of IQDropDownTextField. If you still having issues then you should open an issue here https://github

[2016-06-06 15:26] #527 closed

[2016-06-07 13:22] MuhammedFareed opened #528 "Not Workin in All views for some iPhones"
I have used the swift version , I have many views in my app in which the IQKeyboard is working fine, however there is one view with one text box , on the iphone 6, 6s , 6 plus , 6s plus it is working and the IQKeyboard is shown , on the 5, 5s , 4s for the same view the IQKeyboard is not showing

[2016-06-07 13:25] hackiftekhar commented on #528
Could you please share demo?

[2016-06-07 13:41] MuhammedFareed commented on #528
![screen shot 2016-06-07 at 3 37 42 pm](https://cloud.githubusercontent.com/assets/16104978/15859584/6cca6cf6-2cce-11e6-8ddd-987e96dcad2c.png)
this what i gets ,, it is only in this view ,, for the iphone 4s ,5 and 5s it is working in the other views
I have followed the usage tutorial , I Added the IQKeyboardmanager.sharedManager().enable=true to my App delegate .
I have no pin constraints in that

[2016-06-07 14:05] hackiftekhar commented on #528
Did you tested on real devices? This is probably because you enabled hardware keyboard in iOS simulator.

[2016-06-07 23:40] MuhammedFareed commented on #528
I tested it on a real 5s , the same problem ,, It is just weird because it is working fine all over the app, it is just this view actually

[2016-06-08 02:49] hackiftekhar commented on #528
I don't know the actual reason that is it a but in library or is there any other issues with your view hierarchy. Could you please share a demo so that I can debug it?

[2016-06-08 10:14] MuhammedFareed commented on #528
I will check my view once again , if nothing new happened i will send you a copy of the view to debug it

[2016-06-08 10:22] hackiftekhar commented on #528
You may check if you pinned any of your views with either TopLayoutGuide or BottomLayoutGuide.

[2016-06-10 10:47] jacky007 commented on #509
Hi have the same problem. Below is debug info:
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'An instance 0x7d297e00 of class UITableView was deallocated while key value observers were still registered with it. Current observation info: <NSKeyValueObservationInfo 0x7f749860> (
<NSKeyValueObservance 0x7f7397a0: Observer: 0x7f730ef0, Key path: contentOffse

[2016-06-10 12:18] hackiftekhar commented on #509
Looks like you are using a third party UIView category (UIKitManual) which is xausing the issue.

[2016-06-10 13:17] RZR666 opened #529 "Possible to override Placeholder text? and Override Next button?"
Hi,

Is it possible to set a different text for a specific input field instead of the placeholder?

Also it possible to set a custom next button action for a specific field?

Thanks

[2016-06-10 14:59] hackiftekhar commented on #529
For placeholder, you can check 'IQUIView+IQToolbar.h', there is a property 'placeholderText'.
For custom next action, you can register for a callback using `-(void)setCustomNextTarget:(nullable id)target action:(nullable SEL)action;` method in same file. However you can't change the default implementation of going next. If you want full control then you can add toolbar using methods defined in sam

[2016-06-11 04:05] acerts04 opened #530 "Problem with disabling toolbar in specific class"
Hello,
I am attempting to disable the toolbar in a specific class using IQKeyboardManager.sharedManager().disabledToolbarClasses  , but doing so does not disable the toolbar in the class i want it to. Only the deprecated line of code does.
IQKeyboardManager.sharedManager().disableToolbarInViewControllerClass(OutputViewController)

[2016-06-11 07:57] hackiftekhar commented on #530
Could you please check the demo app once? Looks like it is working fine there.

[2016-06-11 08:47] hardikdevios opened #531 "Be Ready for Swift 3"
I know its still very much early to post but just want you to take a look of changes of Swift 3 in this lib

![screen shot 2016-06-11 at 2 09 25 pm](https://cloud.githubusercontent.com/assets/6657591/15984150/69a65824-2fde-11e6-8f04-51f62f807c06.png)

you can close it but if you like you can try **Swift 3 toolchain** just to check how much changes are there, i know they will give code converter bu

[2016-06-11 09:10] hackiftekhar commented on #531
Thanks @hardikdevios for the update, will surely look. Thanks 🙂

[2016-06-11 10:09] jacky007 commented on #509
I didn't see any library that create category UIKitManual, so how can we fix it?

[2016-06-11 13:11] hackiftekhar commented on #509
I'm not sure but it doesn't look like IQKeyboardManager issue.

[2016-06-11 23:34] acerts04 commented on #530
Thanks for the reply, hack. I will take a look, is it ok to use disableToolbarInViewControllerClass for now as that is working no problem for me?

[2016-06-12 10:03] MuhammedFareed commented on #528
I have checked my views many times, the funny thing it turns out that the library did not start at all , while i'm debugging the library works fine , but is not working after i submit to the store and install my app on other device

[2016-06-12 11:51] MuhammedFareed commented on #528
I have checked my views many times , no Top or Bottom LayoutGuide used , and still the IQKeyboard is not working , I was mistaken earlier the IQKeyboard doesn't start at all in any of the views of the app. Some of my team mebmers confused it with the keyboard of the iphone and thought the problem was only in one or two views. It turned out that the IQKeyboard doesn't actually shows up , although U

[2016-06-12 14:03] hackiftekhar commented on #528
Ahh, so you are using swift version. Swift version needs to be enable in AppDelegate due to some swift language limitations.

[2016-06-12 17:53] hackiftekhar commented on #528
So it's working fine now. Right?

[2016-06-13 09:44] MuhammedFareed commented on #528
Yeah , now it is working fine .. I checked the code again and everything is fine , i just thaught the problem was with the IQKeyboard as it was working fine then it stopped workin suddenly

[2016-06-13 09:44] #528 closed

[2016-06-13 12:53] #522 closed

[2016-06-13 12:55] hackiftekhar commented on #318
This issue is fixed wtih 68702f0a4d4c13497025d1af1a094850a9f750cf

[2016-06-13 12:55] #318 closed

[2016-06-13 12:57] hackiftekhar commented on #477
Any updates?

[2016-06-13 12:59] hackiftekhar commented on #498
Any updates for demo project?

[2016-06-14 03:44] #464 closed

[2016-06-14 15:36] hackiftekhar commented on #488
I found that you've added UITableViewController and the IQKeyboardManager doesn't do anything in case of textField is inside a UITableViewController because of it's internal implementation of handilng textFields. For more information see Notes section about UITableViewController here:- https://developer.apple.com/library/ios/documentation/StringsTextFonts/Conceptual/TextAndWebiPhoneOS/KeyboardMana

[2016-06-14 15:36] #488 closed

[2016-06-14 15:40] edgarjs commented on #488
So I could disable IQKeyboardManager and the behaviour will be the same?

[2016-06-14 15:45] hackiftekhar commented on #500
@boai Have you wrote a demo yet?

[2016-06-14 15:47] hackiftekhar commented on #503
@nikitasharmasahu If you are talking about next/prev button then you can check IQPreviousNextView. It will help you to populate next/prev button on keyboard.

[2016-06-14 15:47] #503 closed

[2016-06-14 15:48] hackiftekhar commented on #488
Yup, because IQKeyboardManager ignore UITableViewController because of it's internal implementation of handling keyboard.

[2016-06-14 15:50] #511 closed

[2016-06-14 15:50] edgarjs commented on #488
Hm interesting. But it's weird native behaviour does hide the textfield, probably is kind of clashing with IQKeyboardManager? I'll do some tests, thanks for the help!

[2016-06-14 15:51] #512 closed

[2016-06-14 15:52] hackiftekhar commented on #488
For a testing purpose, you can remove library and then you can try. You'll find same behaviour because I already checked that in your demo and found that library is doing nothing.

[2016-06-14 15:52] hackiftekhar commented on #509
Closing because this issue is not relavant to library bug.

[2016-06-14 15:52] #509 closed

[2016-06-14 15:54] hackiftekhar commented on #514
I added UIStackView demo in github demo project. So you can take a look and library is working there.

[2016-06-14 15:54] #514 closed

[2016-06-14 15:55] #515 closed

[2016-06-14 15:55] #516 closed

[2016-06-14 15:56] #523 closed

[2016-06-14 15:56] #529 closed

[2016-06-14 15:56] #530 closed

[2016-06-14 15:58] hackiftekhar commented on #396
@abutalha Have you written a demo for me?

[2016-06-15 03:53] hvtor commented on #531
Hey @hackiftekhar I'd love to be able to help with the upgrades to Swift 3. How can I help?

[2016-06-15 08:01] topchiyev opened #532 "Swift disabledToolbarClasses is not working"
IQKeyboardManager.sharedManager().disabledToolbarClasses.insert(CustomTableViewController)
error:
Cannot convert value of type '(CustomTableViewController).Type' (aka 'CustomTableViewController.Type') to expected argument type 'String'

IQKeyboardManager.sharedManager().disabledToolbarClasses.insert(**"CustomTableViewController"**)
No error, But in runtime generates lots of broken LayoutConstraint

[2016-06-15 08:41] hackiftekhar commented on #532
Are you using pods version or the latest master source code?

[2016-06-15 08:43] topchiyev commented on #532
pod 'IQKeyboardManagerSwift', '4.0.3'

[2016-06-15 09:29] bianxiang opened #533 "I have a requirement， I want to disabled toolbar in some textfield，but don't effect other textfield?"
Hello！I have a requirement， I want to disabled toolbar in some textfield，but don't effect other textfield? how to？

[2016-06-15 09:57] hackiftekhar commented on #533
You can set `textField.inputAccessoryView = [[UIView alloc] init];` for those textFields whome you want to disable toolbar and this will work for you.

[2016-06-15 09:57] #533 closed

[2016-06-15 10:06] bianxiang commented on #533
I have try ,but don't take effect ~~ can you give it a try   or tell me when to set （textField.inputAccessoryView = [[UIView alloc] init];）
![img_0539](https://cloud.githubusercontent.com/assets/16380379/16075960/b8d300e4-3323-11e6-823a-dd37579a0bc3.PNG)
![image](https://cloud.githubusercontent.com/assets/16380379/16075981/d4e6aec0-3323-11e6-99f3-7acacc65eba7.png)

[2016-06-15 10:19] hackiftekhar commented on #533
Give a try to `tf.inputAccessoryView = UIView();` You are currently writing it with optional `?`

[2016-06-15 10:26] bianxiang commented on #533
AHa ，thank you!

[2016-06-15 10:36] hackiftekhar commented on #532
I think your this line `IQKeyboardManager.sharedManager().disabledToolbarClasses.insert("CustomTableViewController")` should work but not sure why it's not working for you.

[2016-06-15 19:00] hackiftekhar commented on #446
Could you please share steps, I tried but it's not reproducing with me.

[2016-06-16 10:36] hackiftekhar commented on #417
@stackJolin I tested it with my demo and I don't find anything much regarding memory issue, if you could provide any demo then it would be great. There may also be a chance that your project is increasing the memory and not the library?

[2016-06-16 10:37] hackiftekhar commented on #506
I tried my library with UISearchController and it seems fine. I tested UISearchController with UITableViewController? If you have different configuration then please share demo.

[2016-06-16 15:37] Zach41 commented on #506
Here is my Controller

[code]
It's a UIViewController with a TableView as its property.

And this is my search result controller

[code]

It's just a UITableViewController.

I recorded the result, and there is gif.

![preview](https://cloud.githubusercontent.com/assets/3941604/16122763/ed1f2ad8-341a-11e6-8bb2-5ba61dbddec1.gif)

There is my Podfile

[code]

When I removed IQKeyboardManager, search

[2016-06-16 16:34] hackiftekhar commented on #506
Thanks, I'll check.

[2016-06-17 17:01] hackiftekhar commented on #477
I found that this is because you pinned your top label with Top Layout Guide and it's behaving correctly according to iOS.

[2016-06-17 17:01] #477 closed

[2016-06-17 17:11] hackiftekhar commented on #500
@boai any updates for demo project?

[2016-06-17 17:50] hackiftekhar commented on #521
I think you are using carthage. Right?

[2016-06-17 17:51] hackiftekhar commented on #513
I can confirm that this issue is happening with carthage framework.

[2016-06-17 17:57] hackiftekhar commented on #532
I checked it with demo
project and it's working as expected. I'm not sure about the current version 3.0.4. But if there are any issues then it will be solve in next release.

[2016-06-17 17:59] #532 closed

[2016-06-18 08:03] tkallioras opened #535 "Problem with IQTextView delegate (and possible fix)"
In a Swift 2.2 XCode project, the IQTextView delegate does not work (no calls to the UITextViewDelegate are made). After some tries, I removed the `get` `set` properties, and I used a `didSet` property, where I just call the `refreshPlaceholder` function. It seems to be working now.

[2016-06-19 04:56] codwam opened #537 "toolbarPreviousNextAllowedClasses didn't add arrow"
My code:
        let keyboardManager = IQKeyboardManager.sharedManager()
        // This has effect, but is depredated
        keyboardManager.considerToolbarPreviousNextInViewClass(CardsInfoView.classForCoder())
        // Can't add arrow in inner textField
        keyboardManager.toolbarPreviousNextAllowedClasses = Set<String>(arrayLiteral: String(CardsInfoView))
        keyboardManager.shouldRe

[2016-06-19 05:02] codwam commented on #537
Sorry, I have found the reason.

// This can't find the class in swift...
keyboardManager.toolbarPreviousNextAllowedClasses = Set(arrayLiteral: String(CardsInfoView))

// <# ProjectName #>.<# View.classname #> is the right way to load in swift...
keyboardManager.toolbarPreviousNextAllowedClasses = Set<String>(arrayLiteral: NSStringFromClass(CardsInfoView.classForCoder()))

[2016-06-19 05:02] #537 closed

[2016-06-20 09:04] Prit-Singh opened #538 "Need to change Keyboard barItem's Language."
Great Work done by you,
But i face one issue. When i try to change language of my app within the app. App language is changed except Keyboard barItem. I need to change this too.
I initialise  IQKeyboardManager in AppDelegate and change the language from any class.Please let me know how to change language of keyboard Item bar.

Thank you..

[2016-06-20 11:52] hackiftekhar commented on #538
Do you want to change done button text on the fly? I mean when you change your app language from app then keyboard done button should also be change immediately? If YES, then you can take a look at `toolbarDoneBarButtonItemText` and you can change done button text on the fly. Let me know if you need more help.

[2016-06-20 11:52] #538 closed

[2016-06-20 12:28] #508 closed

[2016-06-21 03:51] hackiftekhar commented on #535
I checked with my demo and the previous logic works for me by mapping from storyboard and also by setting delegate programmatically. I updated demo here 7d1dcdd9e3f23cf0d43b9c828778662904bd5e5a please check. I don't think this needs any changes. btw are you using `IQKeyboardReturnKeyHandler` for that class?

[2016-06-21 03:53] hackiftekhar commented on #531
@hardikdevios @hvtor I created `swift3` branch for you guys. You all can start creating pull requests pointing to `swift3` branch.

[2016-06-21 05:43] tkallioras commented on #535
I do not use `IQKeyboardReturnKeyHandler'
I am mapping the delegate both from storyboard and programmatically, and it is still not working.
I may be wrong but the delegate is a stored property and not a computed property, isn't it? Because `get` and `set` in Swift only work with computed properties. For any other case `disSet` and `willSet` are used to "override" the default implementation.

[2016-06-21 05:55] Prit-Singh commented on #538
Thank you @hackiftekhar your suggestion is working for me. I access toolbarDoneBarButtonItemText in my class and change language with NSLocalizedString. Its working fine now.

[2016-06-22 08:51] fannisuyuti commented on #268
Hi, i'm using swift 2 and IQKeyboardManager 4.0.1 installed from cocoapods, the `IQUIViewController+Additions.swift` already included, but i can't see the outlet. Am i missing something?

[2016-06-22 11:00] hackiftekhar commented on #268
Of you don't see outlets then as a tweak you can also set this property programmatically.

[2016-06-22 14:14] #396 closed

[2016-06-22 14:15] hackiftekhar commented on #417
If you could provide any then upload your demo and reopen this issue

[2016-06-22 14:15] #417 closed

[2016-06-22 14:16] hackiftekhar commented on #446
@madao1237 Could you please update me with demo and exact steps to reproduce?

[2016-06-22 14:20] hackiftekhar commented on #498
@PuneetKohli Do you have any updates for the demo?

[2016-06-22 14:24] PuneetKohli commented on #498
Hey sorry,

Haven't been able to put it together - you can close this if you want. I'll
open another issue once I have the demo ready

On Wed, Jun 22, 2016 at 7:50 PM, Mohd Iftekhar Qurashi <
notifications@github.com> wrote:

--
Thank you,
Puneet Kohli

[2016-06-22 15:04] hackiftekhar commented on #498
ok I'm closing this ticket now, but it would be better for the library if you could provide me a demo in near future.

[2016-06-22 15:04] #498 closed

[2016-06-22 15:05] hackiftekhar commented on #500
@boai I didn't find any demo in my mailbox. Are you sure you sent me a demo?

[2016-06-22 15:09] hackiftekhar commented on #513
For now I think you can do this by programmatically (as a workaround). Closing this ticket for now as their are issues with the the carthage and IBDesignable/IBOutlets.

[2016-06-22 15:09] #513 closed

[2016-06-22 15:10] hackiftekhar commented on #521
Could you please confirm about the carthage? There is similar ticket like you here #513 you can also take a look at it.

[2016-06-23 05:09] RomanVolkov opened #539 "Adding framework package"
When I compile the project from sources and D&D .framework to my project U got crash on starting the app. Some of the images are missing. How I can solve this?
I want to use compiled version of your library and do not include source files

[2016-06-23 14:30] hackiftekhar commented on #539
You can use CocoaPods if you can or you can use Carthage if you want to include compiled version of library.

[2016-06-23 17:55] hackiftekhar commented on #446
@madao1237 Could you please let me know steps to reproduce it?

[2016-06-23 19:06] RomanVolkov commented on #539
Yeah. But what If I'm not using CocoaPods. They have some bugs.

[2016-06-24 02:31] madao1237 commented on #446
It appeared with version of 3.3.5. And I tried to reproduce it with the latest version, but that can not work anymore.
In simulator, the steps to reproduce is:
[code]

Here is My code：
[code]
But here I found some little problems in latest version,follow the steps in your demo:
[code]
It will show like this:
![little problem](http://7xp8z6.com1.z0.glb.clouddn.com/16-6-24/16035457.jpg)
The black sp

[2016-06-24 04:02] hackiftekhar commented on #539
Btw you are compiling dynamic version of framework. You should compile a static version. You can search on stackoverdlow about "dylib Image Not Found" issue and I'm sure you'll find something useful. However closing this issue because it's a developer choice to compile library code to a framework and it's not much related to library issues.

[2016-06-24 04:03] #539 closed

[2016-06-24 04:06] hackiftekhar commented on #446
Thanks for the steps. It will really help me to debug the issue. Thanks @madao1237 for great help. I hope I can fix this issue.

[2016-06-24 04:42] RomanVolkov commented on #539
Thanks for the reference about static version. I guess it's what I needed

[2016-06-24 17:56] #446 closed

[2016-06-24 20:34] ish3lan opened #540 "UITextFields inside different UIViews"
I have 5 text fields in my ViewController, each is inside a UIView along with a label.

![screen shot 2016-06-24 at 11 36 28 pm](https://cloud.githubusercontent.com/assets/7420284/16349981/7f1e49d8-3a64-11e6-9d08-f5453dca922d.png)

How can I manage to have the functionality working? now it deals with each view (the container of UILabel and UITextField) as a separate thing, I want it to deal with a

[2016-06-24 20:50] ish3lan commented on #540
I was able to solve this by building the constraints from the bottom of the ViewController, I had an upper constraint between the first View(container) and the outer View, this constraint was making the trouble

[2016-06-25 02:50] hackiftekhar commented on #540
Previous next button only works with textField siblings, by default it will not work if your text Fields are in different views. But there is a workaround and you can take a look at IQPreviousNextView in demo project. Hope this help.

[2016-06-25 02:50] #540 closed

[2016-06-25 09:31] liaodalin19903 opened #541 "How can I close IQKyeboardManager in a special viewcontroller?"
How can I close IQKyeboardManager in a special viewcontroller? in my project I have a controller does not need IQKeyboardManager,how can I close IQKeyboardManager in that viewcontroller?

[2016-06-25 10:43] hackiftekhar commented on #541
You could take a look at this property

`@property(nonatomic, strong, nonnull, readonly) NSMutableSet<Class> *disabledDistanceHandlingClasses;`

Hope this helps.

[2016-06-25 10:44] #541 closed

[2016-06-25 14:37] ish3lan commented on #540
@hackiftekhar I am sorry to say this, I could not understand how this is supposed to be done,

What I have done?
1. search for IQPreviousNextView in the demo app,
2. What I figured out was { I have IQPreviousNextView that will be switched on and off, but not sure how to use it to solve my problem}
Your help is really appreciated
Thank you

[2016-06-25 19:41] eclair4151 opened #542 "You git deleted old files causing anyone using a previous build to fail"
iqkeyboardmanager.swift along with many other files were git deleted and uploaded as a new file in 4.0.4. This causes anyone with a specific pod of git version before 4.0.4 to have the files deleted if you are not on the latest version. i cant update to xcode 7.3 so i need v4.0.0 but getting that from the pod file or even manually git pulling results in a basicly empty folder. in the root folder t

[2016-06-25 20:02] hackiftekhar commented on #542
I was experimenting today with https://rtyley.github.io/bfg-repo-cleaner to reduce repo size. And it's caused by this. I'll try to fix it by tomorrow.

[2016-06-26 07:13] hackiftekhar commented on #542
Restored tags manually. I think this should fix the issue.

[2016-06-26 11:25] dwjdwj1216 opened #543 "How can I can custom the Done button event"
When user click the Done button I also want app commit the text in field.How can I do this?

[2016-06-26 12:30] hackiftekhar commented on #543
You can listen textFieldDidEndEditing notification to do the same.

[2016-06-26 20:24] eclair4151 commented on #542
It works if you do a git clone and then do a manual
git reset --hard v4.0.0
and then import the folder into xcode it works  but doing

pod 'IQKeyboardManagerSwift', '4.0.0'
still results in a broken library

[2016-06-27 03:48] hackiftekhar commented on #542
Could you please try with pod update once? Because at first time CocoaPods create a local copy of the library repo. Either you need to delete that copy from local storage or try with pod update once?

[2016-06-27 08:14] dwjdwj1216 commented on #543
worked!Thinks!

[2016-06-27 08:14] dwjdwj1216 commented on #543
Worked!Thanks!

[2016-06-27 08:47] #543 closed

[2016-06-27 08:48] hackiftekhar commented on #542
btw, I restored the original commit to the tags. So I think this will no longer be an issue.

[2016-06-27 08:49] #500 closed

[2016-06-27 17:58] forsan commented on #93
Same issue here. iOS 9.3 before this version its working correctly.

<img width="761" alt="screen shot 2016-06-27 at 8 57 16 pm" src="https://cloud.githubusercontent.com/assets/1745621/16390104/c404265c-3ca9-11e6-850a-26d3ba5f32fd.png">
![simulator screen shot jun 27 2016 8 56 51 pm](https://cloud.githubusercontent.com/assets/1745621/16390103/c403796e-3ca9-11e6-9c9e-8e6e944e5888.png)

[2016-06-28 04:31] hackiftekhar commented on #93
@forsan @dongmai Could you please share a demo project so that I can debug it?

[2016-06-28 10:00] harshvishu commented on #521
Sorry for late reply. I am using Cocoapods. The ticket '#513 ' seems similar to mine.

[2016-06-28 14:59] Sweeper777 opened #545 "Can you fix the screenshots in MANUAL MANAGEMENT.md?"
I am learning how to use the library but I saw that some screenshots are missing. Can you fix it? I really want to know how to work with Bottom Layout Guide constraints.

Specifically, these screenshots:

<img width="905" alt="screen shot 2016-06-28 at 10 58 21 pm" src="https://cloud.githubusercontent.com/assets/13585047/16420417/d73710b0-3d83-11e6-869d-cd00755aa093.png">

[2016-06-28 15:23] hackiftekhar commented on #521
Could you please let me know whigh language version you are using? Mean ObjC or Swift version?

[2016-06-29 03:29] hackiftekhar commented on #545
Dure! Will do today!

[2016-06-29 04:50] Sweeper777 commented on #545
Thanks, please tell me when it is fixed.

[2016-06-29 04:54] hackiftekhar commented on #545
Screenshot is restored

[2016-06-29 04:54] #545 closed

[2016-06-29 06:11] harshvishu commented on #521
Swift version

[2016-06-29 08:23] Sweeper777 opened #546 "How can I hide all the things but the done button in the toolbar?"
If I set `enableAutoToolbar` to `true`, the toolbar will have the < > buttons, the placeholder, and the done button. But I only want the Done button.

I found out I can set `shouldShowTextFieldPlaceholder` to hide the placeholder, but how can I hide the < > buttons as well?

[2016-06-29 08:48] hackiftekhar commented on #546
There is another property to hide previousNext button, you should use shouldHidePreviousNext for this.

[2016-06-29 08:48] #546 closed

[2016-06-29 08:49] hackiftekhar commented on #521
ok, I'll check and will let you know.

[2016-06-29 09:04] Sweeper777 commented on #546
Oh yes! My eyesight is kind of bad... Maybe you can put it in the PROPERTIES AND FUNCTIONS.md?

[2016-06-29 10:50] hackiftekhar commented on #546
You probably correct. I need to update **PROPERTIES AND FUNCTIONS.md** docs. I hasn't updated it from a long time.

[2016-06-30 08:00] r00li opened #547 "Resizeable textView inside scrollView issues"
Hi!
I have an issues with using IQKeyboard manager in combination with a textView and a scrollView.

Basically I have a slightly larger form that doesn't normally fit on a screen. So I am using a scrollview to display it. In that form I have a bunch of textfields and a single textview. I have scrolling disabled for the textview because I want the textview to resize when I enter multiline text.

An

[2016-07-01 00:49] idokleinman opened #548 "Remove next/previous arrows"
Is there a way to programmatically remove the next/previous arrows for a specific viewcontroller?

[2016-07-01 02:53] hackiftekhar commented on #548
Nope, there is no way to remove it for specific viewController. You must have to use the global property.

[2016-07-01 03:57] liufengyu opened #549 "TextField Previous and Next not appear"
on ViewController when I add TextField to a subView of self.view

[2016-07-01 04:03] hackiftekhar commented on #549
Prev Next will appear if there are more than 1 sibling textField

[2016-07-01 05:41] liufengyu commented on #549
I add 3 textField but not appear

[2016-07-01 10:05] hackiftekhar commented on #549
You added 3 textField but doesn't appear? when you added to self.view they appeared? didn't understand. Both are looking like same statement.

[2016-07-01 10:55] oliverfoggin commented on #549
Is there any way to get IQKeyboardManager to search up and down the view hierarchy? I have a view laid out with multiple nested UIStackViews (a common use case for stack views) and I can't find a way to get the next rev to appear.

Would be awesome to have a way of manually setting them like a delegate callback "nextTextFieldForCurrentTextField" etc...

[2016-07-01 17:50] idokleinman commented on #548
What's the global property for removing those?

[2016-07-01 18:23] hackiftekhar commented on #548
You can find that property in IQKeyboardManager.h.

[2016-07-01 22:45] idokleinman commented on #548
Got it, thanks

[2016-07-01 22:45] #548 closed

[2016-07-01 22:46] idokleinman opened #550 "Long delay on first keyboard appearence"
Since I added IQKeyboardManager to my app every _first time_ keyboard needs to be displayed the app freezes for 2-3 seconds and then continues normally. Subsequent keyboard popups work fine.

Any idea?

[2016-07-04 01:53] tospery opened #551 "IQ in custom view"
I have a custom view with textfield, that not in controller. how can i use IQ in this view?

[2016-07-04 05:59] hackiftekhar commented on #551
If you have a textField not in controller then probably you are adding a subView in Window. You are going on wrong way, IQKeyboard doesn't support textField handling which is added directly to UIWindow.

[2016-07-04 06:21] tospery commented on #551
Thanks.

[2016-07-04 06:21] #551 closed

[2016-07-04 06:53] LvJianfeng opened #552 "Do not support 7.0?"

[2016-07-04 13:22] oliverfoggin commented on #549
I added a couple lines of code... not in a PR yet but possibly soon.

Anyway...

    ///------------------
    /// MARK: AutoToolbar
    ///------------------

    /**	Get all UITextField/UITextView siblings of textFieldView. */
    private func responderViews()-> [UIView]? {

        if let overriddenTextFields = overrideIteratingTextFields {
            return overriddenTextFields
        }

[2016-07-04 14:14] hackiftekhar commented on #549
That's a bit of extra manual management and need to take extra care in viewWillDisappear. This is not we want in a library, @oliverfoggin We may need to come with a generic solution which should do the trick without any external textField references.

[2016-07-04 14:16] oliverfoggin commented on #549
@hackiftekhar true. But in this case the automatic part of the library isn't working. You could make it recursively search for all UITextFields but not sure how that would perform (also a possibility of getting text fields that currently aren't visible etc...)

This was a quick hack for me and works until something better is done.

[2016-07-04 14:20] hackiftekhar commented on #549
Yeah you totally correct *It's a quick hack* this is why it's not suitable for a open source library used by many developers. We may need to come up with a generic solution by combining toolbarManageBehaviour with IQPreviousNextView.

[2016-07-04 14:28] oliverfoggin commented on #549
@hackiftekhar I didn't say it was suitable. I merely pointed out how I had forced it to work. I had 20 minutes to get this working. I wouldn't have submitted this but something similar. Anyway, it is working for me now and if I remove the update then it doesn't work so I'm happy. Do whatever you think is necessary.

[2016-07-05 06:07] maulikpat commented on #120
@hackiftekhar I am facing this same issue in iOS 9.3

[2016-07-05 07:11] maulikpat opened #553 "iPad Issue : portrait to landscape"
Hi,

I found one issue in iPad. In your demo code, in portrait select Present and select the last text filed so keyboard will be displayed and view will scrolls up.

![simulator screen shot jul 5 2016 12 39 40 pm](https://cloud.githubusercontent.com/assets/2304770/16576565/9e1ef2aa-42ad-11e6-85e9-b23de22f6228.png)

Now change the orientation. Text filed will be covered by keyboard.

![simulator sc

[2016-07-05 07:50] hackiftekhar commented on #553
Will look into this Thanks for letting me know

[2016-07-05 08:38] walker-ll commented on #553
I found  the codes download from git is different from cocoaPods ~

[2016-07-05 09:03] hackiftekhar commented on #553
@walker-ll So what's the issue with this? CocoaPods has stable version while git->master branch is the development branch.

[2016-07-05 19:09] wkwyatt commented on #478
The 4.0.3 release has the same issue I think.  I am getting the same errors

[2016-07-05 22:57] hackiftekhar commented on #478
Ok, I'll check.

[2016-07-06 02:17] vinnyoodles opened #554 "Keyboard is covering up textfield inside a subview"
I placed my textfields in a container view and when I open the keyboard, it covers up the textfields.

[2016-07-06 02:17] vinnyoodles commented on #554
![demo](https://cloud.githubusercontent.com/assets/8698599/16605588/50da82f6-42fe-11e6-8beb-47437309f933.gif)

[2016-07-06 02:40] vinnyoodles commented on #554
It fixed itself when I removed it from the container view

[2016-07-06 02:40] #554 closed

[2016-07-06 06:06] youbinbin commented on #9
3.3.7 is the last iOS 7 supported version.
ld: embedded dylibs/frameworks are only supported on iOS 8.0 and later (@rpath/IQKeyboardManager.framework/IQKeyboardManager) for architecture arm64

[2016-07-06 06:55] hackiftekhar commented on #554
You've pinned your view with topLayoutGuide that's why it's behaving like this and it's expected behavior according to iOS.

[2016-07-06 08:13] yslforrest opened #555 "IQKeyboardManager can't move downwards of scroll view"
In my view controller, I have a navigation bar on the top and a tool bar at the bottom. In the middle, I have 4 UITextFields and 1 UITextView in a view. And I'm working with AutoLayout.
In order not to move upwards the navigation bar, I have changed my view controller's view to UIScrollView in the storyboard. But then another problem jumped up, when the pointer moved upwards, IQKeyboardManager did

[2016-07-06 08:19] yslforrest commented on #555
I'm pinning my UITextfield/UITextView contained view with TopLayoutGuide/BottomLayoutGuide. And I followed the IQKeyboardManager document to map TopLayoutGuide/BottomLayoutGuide constraint with IQLayoutGuideConstraint. But It still doesn't work.

[2016-07-06 08:49] hackiftekhar commented on #555
I believeyour UIScrollView is not getting proper contentSize. Could you please try adding a scrollView in your view hierarchy (not changing main UIView class to UIScrollView) and put all your textField inside it with proper autolayout constraint?

[2016-07-06 16:45] oliverfoggin commented on #549
@hackiftekhar please could you explain what the `toolbarPreviousNextAllowedClasses` property does?

I have added this...

        IQKeyboardManager.sharedManager().toolbarPreviousNextAllowedClasses = [UIStackView.self, UIView.self]

But it is still not showing prev or next arrows.

Going to have to put my hack in again to fix this. Thanks

[2016-07-06 18:31] hackiftekhar commented on #549
This property treats all it's inner subviews as part of siblings to navigate through. I'm not sure why it doesn't work for you.

[2016-07-07 00:17] eclair4151 commented on #542
Nope still cant put any version. manually deleted the folder and it was still all messed up on anything lower than 4.0.4. try it, go to a project and add
pod 'IQKeyboardManagerSwift', '4.0.0'

[2016-07-07 01:36] yslforrest commented on #555
I tried to add a scrollView in my view hierarchy and give it proper autolayout constraints and it works. Thank you.

[2016-07-07 07:00] king129 opened #556 "Keyboard bug"
When I was in other application pop-up keyboard Return my current when the keyboard out of the application of step down again

[2016-07-07 09:03] oliverfoggin commented on #549
@hackiftekhar I think the problem (possibly) is that it only goes one level deep.

My view hierarchy is...

[code]

So it would need to go up twice and down twice to find the next/prev text field.

It's actually more complex than this but it shows as an example.

[2016-07-07 10:59] hackiftekhar commented on #549
ok, I think you should put all this hierarchy inside IQPreviousNextView (On top of the most top UIStackView), so it will find all inner textFields.

[2016-07-07 11:00] hackiftekhar commented on #556
Can't understand, please explain.

[2016-07-07 11:20] oliverfoggin commented on #549
@hackiftekhar ah! That works! Thanks :D

[2016-07-07 18:58] resand opened #557 "how to change the Toolbar's done button 's name"
how to change the Toolbar's done button 's name en Swift??
<img width="321" alt="captura de pantalla 2016-07-07 a las 1 58 27 p m" src="https://cloud.githubusercontent.com/assets/5307015/16665915/e77c25e6-444a-11e6-989a-463c0e7ab3d8.png">

[2016-07-08 12:38] hackiftekhar commented on #557
There  is a property exposed with IQKeyboardManager class to change Done button text.

[2016-07-08 17:17] resand commented on #557
look but found, as it is called property?

[2016-07-09 05:25] king129 commented on #556
Aapp is my project One of the pages have pop-up keyboard events, but I did not trigger it

At that time I double click the HOME switch to Bapp after Bapp pop-up keyboard In double click HOME to return to the Aapp

At this time the Aapp appeared a keyboard pops up and step down Can you understand what I mean

[2016-07-09 15:51] hackiftekhar commented on #556
I got a basic understand what you are trying to explain. Could you please share screenshot of your A app when you come back to it at last?

[2016-07-10 07:15] king129 commented on #556
Mainly Aapp listening to the keyboard Bapp notice, I think it's not your framework

[2016-07-10 18:21] hackiftekhar commented on #556
In iOS A App is completely different from B App, generally not possible to exchange any kind of messages or notifications directly between different apps.

[2016-07-11 00:54] king129 commented on #556
Is indeed had received other applications of the keyboard!
I added the following code application state judgment is not that kind of problem.

`- (void)_keyboardWillShow:(NSNotification*)sender
{
    FALogRed(@"应用状态 %ld",[UIApplication sharedApplication].applicationState)
    if ([UIApplication sharedApplication].applicationState != UIApplicationStateActive)  return;

    NSValue* keyboardBounds =

[2016-07-11 01:10] younanjo opened #560 "Error: Value of type 'Set<String>' has no member 'append'"
Hi Guys,

All of a sudden I'm getting a compile time error on following line:

`IQKeyboardManager.sharedManager().toolbarPreviousNextAllowedClasses.append(RootView)`

Error says:
`Value of type 'Set<String>' has no member 'append'`

Compiles fine on Simulator, but gives compile time errors as above when building on "Generic iOS device" or on real device? Any ideas what's going on here?

http://sta

[2016-07-11 09:14] SPkay commented on #556
I had this problem too.
My solution is:
`- (void)applicationWillResignActive:(UIApplication *)application {
    [[UIApplication sharedApplication].keyWindow endEditing:YES];
}`

[2016-07-11 09:38] king129 commented on #556
@SPkay You also have a good solution

[2016-07-12 09:10] cconecode opened #561 "Not work in Swift"
when I use in swift, then in Appdelegate set enable = true, but isn't work. I used 4.0.3

![2016-07-12 17 04 17](https://cloud.githubusercontent.com/assets/14048405/16761426/b75c3a84-4852-11e6-8912-290176674936.png)

[2016-07-12 09:23] IsmailHassanein opened #562 "showing the keyboard pulls the form down!"
As in the screenshot, when I showed the keyboard the form has been scrolled down till the active field is just above the keyboard!
![screen shot 2016-07-12 at 10 04 04](https://cloud.githubusercontent.com/assets/8446961/16761965/5fd654bc-481a-11e6-9cc3-d6f19e5c0eb7.png)

[2016-07-12 09:58] hackiftekhar commented on #562
How was your view looking before presenting showing keyboard?

[2016-07-12 10:02] hackiftekhar commented on #561
May be you are pinning your view to top layout guide.

[2016-07-12 10:25] IsmailHassanein commented on #562
![screen shot 2016-07-12 at 11 20 02](https://cloud.githubusercontent.com/assets/8446961/16763926/44f6d9c4-4823-11e6-8797-af87bbf847a8.png)

[2016-07-12 10:45] hackiftekhar commented on #562
Hmm, ok, could you please share a demo app so I can check it?

[2016-07-12 11:13] IsmailHassanein commented on #562
Actually I don't know how this happens to reproduce it.  it behaves as expected all over the project except for this form. The only different thing here is it presented modally as Form sheet.
I have tried to change one of the segues to modal form sheet in your demo but It had no problem.

I will investigate it properly and let you know.
Thanks.

[2016-07-12 11:20] hackiftekhar commented on #562
I believe that the issue is there but I don't know the exact configuration by which I can reproduce, if you can give it a try then it would be great, thanks :)

[2016-07-12 16:02] trupin commented on #120
@hackiftekhar I'm also facing this issue on iOS 9.3 on iPad in landscape mode

[2016-07-13 01:31] cconecode commented on #561
yeah, I'm pinning to top layout guide, so must pinning to bottom ?

[2016-07-13 04:30] hackiftekhar commented on #561
It doesn't directly wirk with layout guide constraint, please check documentation.

[2016-07-13 11:23] slynglen opened #563 "Swift 3 branch issues"
Hello

I got a few issues when using the Swift 3 branch.

- Line 690 in IQKeyboardManager.swift seems to be a duplicated line of 687.
- Ambiguous use of '`textView(_:shouldInteractWith:in:interaction)`' on lines 448, 458, 468 and 478 in IQKeyboardReturnKeyHandler.swift

Can you fix that? :-)

Nice project!

[2016-07-13 11:32] hackiftekhar commented on #563
Could you please make a pull-request. Unfortunately I don't have Xcode 8 Beta so I don't exactly know where the issue is, the swift3 branch was updated yesterday by a pull reqeust.

[2016-07-13 13:24] macfanatic commented on #542
This is still an issue. We're still using version `3.2.4` (I know, old) but point being if you just go download the tag from github as a ZIP or TAR and inspect the contents, you see the `IQKeyboardManager.REMOVED.git-id` still in the repo.  I checked a couple releases behind 3.2.4 and that was the case for all of them.

Totally broke this for us :(

<img width="593" alt="screen shot 2016-07-13 at

[2016-07-13 13:32] hackiftekhar commented on #542
Now I forced updated all the old tags from the beginning. So you'll be able to download any tags you want without any issues. Thanks :)

[2016-07-13 13:32] #542 closed

[2016-07-13 13:36] macfanatic commented on #542
Thanks, downloading 3.2.4 tag via Github includes the file correctly now so presumably will fix installing via cocoapods as well, after clearing the cache.

[2016-07-13 13:37] hackiftekhar commented on #560
Which Xcode version you are using?

[2016-07-13 13:45] #561 closed

[2016-07-13 13:46] hackiftekhar commented on #556
Yeah, @king129 and I think it's developer responsibility to take appropriate action when application goes/comeback to background/foreground.

[2016-07-13 13:46] #556 closed

[2016-07-13 13:47] hackiftekhar commented on #557
It's toolbarDoneBarButtonItemText`

[2016-07-13 13:47] #557 closed

[2016-07-13 13:48] #555 closed

[2016-07-13 14:28] hackiftekhar commented on #553
@maulikpat I checked this issue and I found that iOS internally changing view's frame and not respecting the frame I explicitly set in library, so probably this cannot be fix.

[2016-07-13 14:28] #553 closed

[2016-07-13 14:29] #552 closed

[2016-07-13 14:32] hackiftekhar commented on #547
Thanks @r00li for demo project, I'll test it and will let you know my feedback.

[2016-07-13 14:34] hackiftekhar commented on #542
hmm, yes.

[2016-07-13 15:37] hackiftekhar commented on #547
I checked and I think it's an special case where textView height is dynamic when keyboard is appearing. You could listen to textChange notifications and make a call to `reloadLayoutIfNeeded` method of IQKeyboardManager to refresh view positions. This may be an expensive call so you could check that if a line break is added or not and then choose to call `reloadLayoutIfNeeded` or not.

[2016-07-13 15:37] #547 closed

[2016-07-13 15:59] r00li commented on #547
I actually tried that:
`    func textViewDidChange(textView: UITextView) {
        IQKeyboardManager.sharedManager().reloadLayoutIfNeeded()
    }`

Adding this (and connecting the textview delegate of course) helps a bit, but doesn't actually fix the issue. It just makes it less severe. Still looks ugly though.

[2016-07-13 18:15] hackiftekhar commented on #547
So before making a call to reloadLayoutIfNeeded, the textView frame should be updated, if it's not getting updated before the call then this may be the issue.

[2016-07-13 19:51] ltsuda commented on #563
Hi @slynglen, I did the Swift 3 PR and commented that in those lines I've this "Ambiguous use" issue too.

If you option+click in these function, you'll see that both have the same function signature and when we use as a Selector, we receive the "Ambiguous use" issue. I couldn't find a solution.

[2016-07-14 12:22] hzx157 opened #564 "Hello, often can appear the keyboard according to the phenomenon of blank, this is a kind of what problem, two projects have emerged,"
Hello, often can appear the keyboard according to the phenomenon of blank, this is a kind of what problem, two projects have emerged,
![2c42e5391611c8bcb1f14a7642952d2d](https://cloud.githubusercontent.com/assets/5343996/16839253/b7ce9e58-4a00-11e6-8347-5165ffba5fed.png)

[2016-07-14 12:25] hzx157 commented on #564
mainly on the UITextView appeared this problem

[2016-07-14 13:44] hackiftekhar commented on #564
It looks like you have customised keyboard. right?

[2016-07-14 13:50] Mr-Luxry opened #565 "when the keyboard appeared,it cover the inputview"
yes,most time ,the IQKeyboardManager works well and i like it very much.but today i have meet a problem when use it.i have a project which was combined with ios native project and unity-ios project,and the unity-ios project is main. when i touched a textview,the keyboard appeared,but the textview donot change it frame,so the keyboard covered it.i have tried many times,but it still dosenot worked,s

[2016-07-14 17:02] hackiftekhar commented on #565
I haven't tested my library with unity-ios, could you please share demo project so I can take a look?

[2016-07-14 20:36] hadiyazdi opened #566 "IQTitleBarButtonItem has no member kIQBarTitleInvocationTarget"
I added IQKeyboardManagerSwift manually to my project, and at first startup I got this error

IQTitleBarButtonItem has no member kIQBarTitleInvocationTarget

[2016-07-15 09:30] hackiftekhar commented on #566
Yeah, you was correct, this happens due do recent changes I made yesterday. btw this is fixed now.

[2016-07-15 09:39] VladKorzun opened #567 "IQKeyboardReturnKeyHandler may set wrong textfield's keyboard type"
IQKeyboardReturnKeyHandler may cause wrong type of keyboard appearance. Solution is to change

textField.**keyboardType**  = [dict[kIQTextFieldReturnKeyType] integerValue];

for

textField.**returnKeyType**  = [dict[kIQTextFieldReturnKeyType] integerValue];

in "dealloc" and "removeTextFieldView:textField" methods of IQKeyboardReturnKeyHandler.m

[2016-07-15 11:25] sinhagaurav010 opened #568 "Enable IQKeyboardManager only for one ViewController"
Hi there

I want IQKeyBoardManager to get enabled only for one ViewController, remain disabled for rest.
Could you please help me in this.?

[2016-07-15 14:04] viral105 commented on #549
What to do in objective c for same problem ?

[2016-07-15 14:38] dipsvaishnav opened #569 "Not Wroking in Swift 2.2 and Xcode 7.3 by cocoapods"
i use IQKeyboardManager but still is not working all device iPhone 4,5,6 and plus
![screen shot 2016-07-15 at 8 06 31 pm](https://cloud.githubusercontent.com/assets/8614189/16877872/d6c93634-4ac7-11e6-9844-c9be346b6780.png)

[2016-07-15 15:53] hackiftekhar commented on #569
Please check these things:-
1) Enable in AppDelegate (Swift only)
2) Have you pinned TopLayoutGuie or BottomLayoutGuie with any of the views?

[2016-07-15 15:54] hackiftekhar commented on #549
Things are same for ObjC and Swift, so you can follow same approach in both languages.

[2016-07-15 15:56] hackiftekhar commented on #568
- set NO to global `enable` property.
- Add your ViewController class to `enabledDistanceHandlingClasses` set.

[2016-07-15 20:08] ZeranLatte opened #570 "Click Return key in keyboard does not dismiss nor go to next textField"
Using Xcode 7.3 Swift 2.2
<img width="651" alt="screen shot 2016-07-15 at 13 01 43" src="https://cloud.githubusercontent.com/assets/10468849/16887072/cbbefeb2-4a8c-11e6-801a-58398520531c.png">

Set a breakpoint here (IQKeyBoardReturnKeyHandler.swift) but it was not caught. Guess the ReturnKey handler not enabled?
The left/right arrow and "Done" work great.

[2016-07-16 01:40] hadiyazdi commented on #566
Thank you, it works perfectly

[2016-07-16 01:40] #566 closed

[2016-07-16 05:59] younanjo commented on #560
OSX El Capitan, Xcode 7.3.1

[2016-07-16 15:27] yuyangdexue opened #571 "react native"
react native  and IQKeyboardManager  load uitextfield  text jump

[2016-07-16 19:47] karnakar opened #572 "swift - disable for specific view controller"
Thanks for the awesome library, I tried to disable for specific view controller, as per the doc i tried "disableInViewControllerClass" method, but it is not available in v 4.0.0, i updated the pod file (v 4.0.4) but still I'm unable to see the method in the class "IQKeyboardManager". Can you help this to sort out.

[2016-07-17 21:15] RNB-IT opened #573 "field in multiple stack views has no previous and next buttons"
[KeyBoardTest.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/368138/KeyBoardTest.zip)
Hi
First of all thanks for the perfect framework!
When we use the IQKeyboardManager with field that's placed in one stackview it works perfect.
But when place the field with one label in another stackview, and that's placed also in a stackview, than the buttons previous and next disappears.
See the

[2016-07-18 02:44] hzx157 commented on #564
是系统自带的键盘，偶尔会出现键盘显示空白，

[2016-07-18 02:44] hzx157 commented on #564
Is the keyboard system, occasionally there will be a keyboard displayed blank,

[2016-07-18 03:38] hackiftekhar commented on #564
Btw I'm not sure if it's library issue or not.

[2016-07-18 03:42] hackiftekhar commented on #573
Thanks for the demo, I'll check.

[2016-07-18 04:31] hzx157 commented on #564
Yes, I've tested if no library won't appear, may also is also linked to other classification,

[2016-07-18 06:26] hackiftekhar commented on #572
This is replaced by `disabledDistanceHandlingClasses` NSMutableSet property

[2016-07-18 06:26] #572 closed

[2016-07-18 06:27] hackiftekhar commented on #564
ok, so it's probably library issue according to you. Could you please provide a demo so that I can look into it?

[2016-07-18 07:51] antons81 opened #574 "Disable plugin on specify ViewController"
How Can I disable IQKeyboardManager on specific controller IQKeyboardManager.sharedManager().enableAutoToolbar = false IQKeyboardManager.sharedManager().enable = false
doesn't work for me

[2016-07-18 10:48] karnakar commented on #572
will this return disabledDistanceHandlingClasses or set the classes, i want to disable for one view controller

[2016-07-18 13:45] hackiftekhar commented on #572
you can add your controller class to this NSMutableSet.

[2016-07-18 13:45] hackiftekhar commented on #574
Please take a look at #572 looks like you are looking for this

[2016-07-18 13:50] antons81 commented on #574
This doesn't help I have tried it as well

  IQKeyboardManager.sharedManager().disabledToolbarClasses.addObject(self)
        IQKeyboardManager.sharedManager().enableAutoToolbar = false
        IQKeyboardManager.sharedManager().enable = false

        IQKeyboardManager.sharedManager().disabledDistanceHandlingClasses.addObject(self)

[2016-07-19 02:30] CodeEagle opened #575 "carthage failed @v4.0.4"
when carthage compile ,error `Failed to read file or folder at`

[2016-07-19 11:34] JadianZheng opened #576 "Hello, can anyone tell me what tool draw the flow chart in the home page"
Same the title.

[2016-07-19 17:46] hackiftekhar commented on #574
ok, then could you please take a look at demo project? It's implemented there.

[2016-07-19 17:48] hackiftekhar commented on #576
Could you please let me know how flow chart is related to IQKeyboardManger?

[2016-07-20 06:35] LearnMoreAndBetter opened #577 "真机调试时报错（数字键盘）"
Can't find keyplane that supports type 4 for keyboard iPhone-Portrait-NumberPad; using 563160167_Portrait_iPhone-Simple-Pad_Default

[2016-07-20 06:40] MillerJiang538 opened #578 "It's crash In my Phone."
This is my code.
 [[IQKeyboardManager sharedManager] disableDistanceHandlingInViewControllerClass:NSClassFromString(@"ReportErrorController")];

This is my debug log.
-[IQKeyboardManager disableDistanceHandlingInViewControllerClass:]: unrecognized selector sent to instance 0x12cd28fb0

Why it's crash In my phone?Thanks!

[2016-07-20 07:52] louis-cai commented on #578
which version are you using？

[2016-07-20 12:14] hackiftekhar commented on #578
This is replaced by `disabledDistanceHandlingClasses` NSMutableSet with latest version.

[2016-07-20 12:15] hackiftekhar commented on #577
This issue not due to library but from the iOS SDK.

[2016-07-20 12:15] #577 closed

[2016-07-20 12:17] hackiftekhar commented on #575
I need to check.

[2016-07-21 02:14] wqhiOS opened #579 "Hello,I want to hide the arrows one the toolbar"
I want to hide the arrows one the toolbar,but I don't know what to do, can you give me solution....   (ps:my Engilst is bad....)

[2016-07-21 02:39] wqhiOS commented on #579
Look at your code for a long time, I was finally solved the problem.... your code is cool!

[2016-07-21 03:26] CodeEagle commented on #575
![image](https://cloud.githubusercontent.com/assets/2311352/17010381/fa410a3e-4f35-11e6-8b20-26346af61eec.png)

[2016-07-21 07:30] amorenew commented on #210
i use the library by pod
so is there any way to use these functions by override in my UIViewController ?

[2016-07-21 11:36] hackiftekhar commented on #210
This function belongs to IQKeyboardManager class, so if `SearchTextField` class is subclass of UITextField then `-(void)goNext` should work for you.

[2016-07-21 11:36] hackiftekhar commented on #579
Great!

[2016-07-21 11:36] #579 closed

[2016-07-21 11:38] amorenew commented on #210
it's sub of UITextField but not go next
should i add tags or something in it

[2016-07-21 11:42] hackiftekhar commented on #210
Could you please let me know how many other textFields are on same view with your SearchTextField and what kind of action you are doing to go next.

[2016-07-21 12:28] mr746866 opened #580 "View is not restoring to it's normal state when keyboard is dismissed by clicking on webview"
I have a UITextField and a UIWebView in my ViewController. When I click on the UITextField, the view goes up to accommodate the keyboard as expected. Then I click on the UIWebView which dismisses the keyboard but the view is not restored to the initial state. As a result there is a white space below my view and my title bar is not visible.

[2016-07-21 13:33] amorenew commented on #210
the author of library give me this code and it's worked
IQKeyboardManager.sharedManager().toolbarManageBehaviour = .ByTag
**link to fix**:
https://github.com/apasccon/SearchTextField/issues/1#issuecomment-234249965

[2016-07-21 13:36] amorenew commented on #210
i have 2 search SearchTextField and 2 UITextField for date picker

[2016-07-21 19:24] hackiftekhar commented on #580
Secondtime did you coicjed on a textFiekd of UIWebView?

[2016-07-22 02:16] mr746866 commented on #580
No the UITextField and UIWebView are completely separate. There is a container UIView which is the parent of UIWebView. This UIView and the UITextField are siblings.

[2016-07-22 04:52] hackiftekhar commented on #580
But how tapping on the webView dismiss the keyboard?

[2016-07-22 05:11] mr746866 commented on #580
Same way if I press the Done button on keyboard, except the view does not restore to it's initial state.

[2016-07-22 10:33] najmul-csebuet commented on #550
Same issue here.

[2016-07-22 19:51] hardikdevios commented on #576
@hackiftekhar He is asking about this
https://raw.githubusercontent.com/hackiftekhar/IQKeyboardManager/v3.3.0/Screenshot/IQKeyboardManagerCFD.jpg

Which tool you have used for this? lols 😆

[2016-07-22 22:18] galileoguzman commented on #61
If I'm ussing IQKeyboardManager with CocoaPods, exists the possibility to can rise some issue if I'll add code on pods folder?

[2016-07-23 02:53] hackiftekhar commented on #61
If you think there is a bug then you cqn make pull-request

[2016-07-24 10:30] hackiftekhar commented on #540
@ish3lan I'm updating doc here https://github.com/hackiftekhar/IQKeyboardManager/blob/master/MANUAL%20MANAGEMENT.md please take a look

[2016-07-24 13:15] ish3lan commented on #540
@hackiftekhar Thank you for the neat solution, it works absolutely fine now 👍🏻

[2016-07-24 20:26] t-unit commented on #570
Having the exact same issue. Problem also exist in the Demo application (both DemoSwift & DemoObjC).

[2016-07-25 06:24] hackiftekhar commented on #570
Please check manual management doc to know how to use IQKeyboardReturnKeyHandler.

[2016-07-25 07:29] t-unit commented on #570
Ok thanks for clarifying.

I'll add a `IQKeyboardReturnKeyHandler` to each view controller requiring keyboard handling.
(fare well *No More Manual Work* &  *No More #imports* 😉)

[2016-07-25 07:40] viral105 commented on #549
Thanks for reply.
I have tried following in objective c.
[IQKeyboardManager sharedManager] = [tfd1,tfd2,tfd3,tfd4];

but it is giving me following error.
Expected Identifier.

[2016-07-25 07:52] hackiftekhar commented on #570
@t-unit In most of the cases *Library is Codeless*. But for return key handling, there is no easy way to know when user taps on return key. We can only know via it's delegate and you know that library cannot override user's set delegate because it could lead to many issues. This is why developer needs to do extra work if they want to handle Return Key too.

If you don't implement `IQKeyboardReturn

[2016-07-25 08:01] t-unit commented on #570
@hackiftekhar  Not to bitch about your work. In fact I think this project does its job very well! You just promise a bit more than you can deliver in the end. `**CODELESS**, Zero Line Of Code` is simply only true in some cases. (IMHO having working return keys is pretty important.)

But overall thanks for providing us with this project, maintaining it and responding so quickly!

[2016-07-25 09:35] hackiftekhar commented on #570
@t-unit `Codeless` is true in most of the cases. It means that Just Drag and Drop  or just do `pod install` it will work for sure.

But all of us have different requirements, so if developers wants to customise it according to their requirement then surely it isn't `codeless` for them.

Now I think I can do something better with `UIControlEventEditingDidEndOnExit` control event and will understand

[2016-07-25 11:13] andrey-krukovskiy commented on #575
Seems, in ```IQKeyboardManager/Demo/Objective_C_Demo/Resources/Info.plist``` ```CFBundlePackageType ``` was ```APPL``` and not ```FMWK```. That was a reason why carthage does not read and not copy framework, I think.
It was fixed in some of the next commits.

[2016-07-25 17:46] ZeranLatte commented on #570
@hackiftekhar Thanks a lot.

[2016-07-25 17:47] #570 closed

[2016-07-25 18:05] hackiftekhar commented on #549
@viral105 please check solution regarding `IQPreviousNextView`. You are currently doing wrong.

[2016-07-25 22:29] OktayGardener opened #582 "Crash after orientation switch"
Yo.

I downloaded your library and tried to use it in my project, works fine except:

User taps the UITextField, gets focus. Switch orientation counter clock wise - crash.

Version 8.0 beta 3 (8S174r)
Objective-C.

#import statement in Appdelegate.m with the following line in didFinihsLaunchingWithOptions:

`    [IQKeyboardManager sharedManager].enable = YES;`

[2016-07-27 07:24] viral105 commented on #549
@hackiftekhar I am not using UIStackView but my textfields are subview of different UIView. So where should I found the code for that ?

[2016-07-27 09:27] hardyZhi opened #583 "SEGV_ACCERR"
0 libobjc.A.dylib	objc_msgSend + 28
1 UIKit	-[UIScrollView(UIScrollViewInternal) _notifyDidScroll] + 72
2 UIKit	-[UIScrollView setContentOffset:] + 500
3 UIKit	-[UIAnimator(Static) _advanceAnimationsOfType:withTimestamp:] + 316
4 QuartzCore	CA::Display::DisplayLinkItem::dispatch() + 32
5 QuartzCore	CA::Display::DisplayLink::dispatch_items(unsigned long long, unsigned long long, unsigned long long)

[2016-07-27 09:28] hardyZhi commented on #583
IQKeyboardManager v3.3.7

[2016-07-27 10:49] hackiftekhar commented on #582
So why are you trying this with iOS8 beta 3? you should try this against final release version. Could you please let me know the details of crash because it doesn't happening in my demo.

[2016-07-27 10:56] hackiftekhar commented on #549
You could check *CustomView Example* in demo or you can read documentation here:-
https://github.com/hackiftekhar/IQKeyboardManager/blob/master/MANUAL%20MANAGEMENT.md

[2016-07-27 10:57] hackiftekhar commented on #583
How can you sure that it's related to library. By seeing crash logs, I'm not sure if this is due to library because there is no info related to library.

[2016-07-27 11:10] Tulleb commented on #563
I can't find the PR where you propose the fixes @ltsuda, could you link it here please?
I found [this one](https://github.com/hackiftekhar/IQKeyboardManager/pull/558) but it seems it was merged without @slynglen shown issues.

[2016-07-27 11:12] oliverfoggin commented on #549
@viral105 the solution (that was mentioned long ago) is to use the IQPreviousNextView and put all your text fields inside that.

This is a very easy solution and works.

I'm not even sure what your code... `[IQKeyboardManager sharedManager] = [tfd1,tfd2,tfd3,tfd4];` is trying to do? What do you think it is doing?

Just put the controls inside the `IQPreviousNextView`.

[2016-07-27 13:58] viral105 commented on #549
Its Done. @oliverfoggin comment helped me to resolve my problem.
Thanks @oliverfoggin  and @hackiftekhar for your time and help.

[2016-07-27 19:26] ltsuda commented on #563
This PR you found was merged and I have mention that was errors and warnings, the same as @slynglen commented in this issue.

I couldn't fix those errors, I hope someone with more knowledge could help.

- There're error in these files below:
IQKeyboardManager.swift
IQKeyboardReturnKeyHandler.swift

[2016-07-28 02:44] hardyZhi commented on #583
In my project,only this library use setContentOffset.

[2016-07-28 06:51] hackiftekhar commented on #583
Please provide demo, I'm not sure why this crash happens.

[2016-07-28 07:37] srikanthraju opened #584 "change donebuttontitle based on textfield"
Not working
      phoneTextfield.doneButtonText = "Continue"

[2016-07-28 07:40] srikanthraju commented on #584
I'm not able to add right button of textfields

 phoneTextfield.addRightButtonOnKeyboardWithText("Check", target: self, action: #selector(validate))

[2016-07-28 11:54] fiattt commented on #372
same issue.
xcode: Version 7.3.1 (7D1014)
version:IQKeyboardManager-4.0.4
build error: Assigning to 'UIKeyboardType' from incompatible type 'long _Nullable'
![image](https://cloud.githubusercontent.com/assets/1531440/17211571/cfd6175e-54fc-11e6-817a-4a4c0f5bbd76.png)

I change
textField.keyboardType = [dict[kIQTextFieldReturnKeyType] integerValue];
to
textField.keyboardType = (UIKeyboardType)[dict

[2016-07-28 16:26] b20160 commented on #550
I am getting the same issues I have tried version 4.0.0,4.0.3,4.0.4

[2016-07-28 17:04] hamsternik opened #585 "Subscribe to "done" button action"
I using your library and a few times ago i found a small problem, making interaction with my screen more problematically. So, i think that's would be great to subscribe, for example, on action for **done** default button in the keyboard toolbar (so, do smth when i pressed on it).

So, the question is - whether implemented this functional? I don't find anything about what i wrote above or about too

[2016-07-28 20:41] tiferrei commented on #563
@ltsuda & @hackiftekhar: The problem on `IQKeyboardManager.swift` I believe is just a duplicate of a variable declaration as [line 960](https://github.com/hackiftekhar/IQKeyboardManager/blob/swift3/IQKeyboardManagerSwift/IQKeyboardManager.swift#L690) is repeated.

On `IQKeyboardReturnKeyHandler.swift` it seems to be because there are 2 functions, who take different parameters, but have the same na

[2016-07-29 01:27] hardyZhi commented on #583
I can't reproduce this crash,only get this crash in a analysis platform,so i can't provide demo to reproduce this crash.

[2016-07-29 03:12] KodiKraig commented on #518
After you added "super.delegate = newValue", did your delegate methods start working? Still cannot get mine to fire. Did the change you suggested but still same result. Here is my class:

`import Foundation
import IQKeyboardManagerSwift

class TextViews: IQKeyboardReturnKeyHandler {

    init(view: IQTextView) {
        super.init()
        view.delegate = self
    }

    override func textViewDid

[2016-07-29 05:13] hackiftekhar commented on #583
Closing this issue because of following reason:
- according to crash logs, it doesn't look like library issue.
- There is no demo project because it isn't reproducible.

[2016-07-29 05:13] #583 closed

[2016-07-29 18:16] ltsuda commented on #563
Hi @tiferrei, this is the exactly problem. I found some reports about Swift 3 in these kind of problem but I couldn't solve here.

[2016-07-31 01:34] JackWchen2015 commented on #479
@lqcjdx  I have  the  same  issue  with you,what's more,I found that,when I  call  the goNext function ,the code  that the nextField becomeFirstResponder return No,that's why I can't understand.

[2016-08-01 04:39] ManjulShresth commented on #569
I am having the same issue. The view just wont move up. A quick fix would be appreciated.

[2016-08-01 04:50] dipsvaishnav commented on #569
i resolve this issue problem my side remove first uitextfield up constraints

Deepak Kumar Vaishnav

On Mon, Aug 1, 2016 at 10:09 AM, ManjulShresth <notifications@github.com>
wrote:

[2016-08-01 04:56] ManjulShresth commented on #569
How will it work if you remove first UITextField up constraints. Like how will it know what Y coordinate should first textfield be from?

[2016-08-01 04:59] dipsvaishnav commented on #569
can i see your screen

Deepak Kumar Vaishnav

On Mon, Aug 1, 2016 at 10:26 AM, ManjulShresth <notifications@github.com>
wrote:

[2016-08-01 05:03] ManjulShresth commented on #569
You sure can. Have a look.
![simulator screen shot aug 1 2016 10 39 47 am](https://cloud.githubusercontent.com/assets/19974269/17283885/3b69ae38-57d5-11e6-8055-c5d95e37627b.png)

The first is search bar with button on it. Second is UITableView and then the TextFields start to come.

[2016-08-01 05:08] dipsvaishnav commented on #569
please share me your skype id if u don't mind

Deepak Kumar Vaishnav

On Mon, Aug 1, 2016 at 10:33 AM, ManjulShresth <notifications@github.com>
wrote:

[2016-08-01 05:10] dipsvaishnav commented on #569
Deepak Kumar Vaishnav

On Mon, Aug 1, 2016 at 10:38 AM, deepak vaishnav <dvaishnav750@gmail.com>
wrote:

[2016-08-01 05:13] dipsvaishnav commented on #569
u See first Uitextfiled constraints

Deepak Kumar Vaishnav

On Mon, Aug 1, 2016 at 10:40 AM, deepak vaishnav <dvaishnav750@gmail.com>
wrote:

[2016-08-01 05:39] lqcjdx commented on #479
@JackWchen2015 You need not call the goNext function yourself.
My issue is when each UITableViewCell contains a UITextField, if i don't call `` [tableView reloadData]`` function  in ``-(void)textFieldDidEndEditing:(UITextField *)textField`` callback method,  then Next/Previous buttons are work normal.

[2016-08-01 12:04] Tulleb commented on #563
PR waiting for approval @hackiftekhar.

[2016-08-01 16:19] oliverfoggin commented on #585
I was just about to ask the same thing :D

[2016-08-02 02:43] Rachel829 commented on #580
I got the same question with you    i set the shouldResignOnTouchOutside value with 'NO' ;  and  it doesn't work.

[2016-08-02 05:30] AmySong commented on #550
I also met the same problem

[2016-08-02 05:31] AmySong commented on #550
I also met the same problem，but  only appear on the iPad

[2016-08-02 05:34] AmySong opened #588 "The navigation bar is up"
My textfile at the bottom, when the keyboard out, navigation has been up，how to don't let the navigation bar

[2016-08-02 07:11] zaptechtusharpatel opened #589 "Getting Crash when keyboard appear in UItableview cell textfield"
![screen shot 2016-08-02 at 12 38 16 pm](https://cloud.githubusercontent.com/assets/20788848/17319918/77e643f6-58ae-11e6-81e2-254a2ae57f13.png)

[2016-08-02 07:59] lc081200 opened #590 "Method of textField's delegate call exception"
Dear master：
I created a lot of input textField.   I want to show A alertView when some of these textField begin editing. But all of these textField  will run  the method of "-(BOOL)textFieldShouldBeginEditing".

And when I touch other position current textField, It will run  method of "- (void)textFieldDidBeginEditing:(UITextField *)textField".

[2016-08-02 08:14] davidgloves opened #591 "can't see Next and Previous button"
I wrapped UITextField in UIView, which maybe caused this issue. How can I get solve this. I do need wrap the textfield in UIView.
this is the demo.[keyboardDemo](https://github.com/davidgloves/keyboardDemo/archive/master.zip)

[2016-08-02 09:46] stefz commented on #562
@hackiftekhar It appens when the presented form sheet is the root view controller of a UINavigationController. Take a look to my example..
[TestIQKeyboardManager.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/396375/TestIQKeyboardManager.zip)

[2016-08-02 19:30] jamesdo opened #592 "content sliding under status bar with overlap."
Does anyone have a concise workaround for this?

<img width="377" alt="screen shot 2016-08-02 at 3 29 22 pm" src="https://cloud.githubusercontent.com/assets/5696001/17342176/f0c1298c-58c5-11e6-9faa-5f6cce8389fd.png">

[2016-08-03 04:31] chika-kasymov opened #593 "Not working in horizontal UICollectionView inside UITableView"
I have a problem to show keyboard in horizontal `UICollectionView` which is inside `UITableViewCell`.

When I press `UITextField` which is in `UICollectionViewCell`, `UICollectionView` changes it's insets or offsets and disappear from `UITableViewCell`, but keyboard not appear at all.

Can you guide how to solve this issue?

[2016-08-03 07:15] ibhavin opened #594 "Keyboard is not dismissing while showing popup"
@hackiftekhar

I have multiple textfield in my tableview so, I have give unique tag to it. Some of textfield requires keyboard for input, some of require pickerview and some requires popup.

Here is my screen:
![simulator screen shot 03-aug-2016 12 41 27 pm](https://cloud.githubusercontent.com/assets/16459948/17356727/aa56d616-5976-11e6-850d-8cb6fb159ab8.png)

I don't want to show keyboard on text

[2016-08-03 07:17] parasdaff commented on #563
@hackiftekhar Can you please update the branch with pull request from @Tulleb .

[2016-08-03 08:17] Tulleb commented on #563
Meanwhile you can pod my own branch if you are in a hurry @parasdaff:
`pod 'IQKeyboardManagerSwift', :git => 'https://github.com/Tulleb/IQKeyboardManager.git', :branch => 'swift3'`

[2016-08-04 07:33] chika-kasymov commented on #593
I sovled problem with `UIKeyboard`, it was not showing because I did `[self.tableView reloadData];` in my `keyboardWillShow:` observer. Now keyboard showing, but distance handling is wrong.
When I press `UITextField`, library scrolls `UICollectionView` instead of `UITableView`.

[2016-08-04 12:00] LeeKM opened #595 "compile failed with method conflict error"
when i has code below in my project

[code]

I got an compile error
`Getter for 'viewController' with Objective-C selector 'viewController' conflicts with method 'viewController()' from superclass 'UIView' with the same Objective-C selector`,is there any way to fix this problem without changing my code ?

[2016-08-05 10:52] dipsvaishnav commented on #569
Hello r u there

Deepak Kumar Vaishnav

On Mon, Aug 1, 2016 at 10:43 AM, deepak vaishnav <dvaishnav750@gmail.com>
wrote:

[2016-08-06 08:21] abdbarjoud commented on #588
same problem with me, any solution ?

[2016-08-06 18:41] hackiftekhar commented on #590
You should read Manual Management guidelines. There are something useful for your problem.

[2016-08-06 18:41] hackiftekhar commented on #589
Did you get crash only a single time or it is frequently reproducible?

[2016-08-06 18:43] hackiftekhar commented on #562
Thanks for the example project. I'll check.

[2016-08-06 18:44] hackiftekhar commented on #592
Nope, this should be handle manually because library doesn't know if you have any content overlapping statusbar, otgerwise you should put your content in a screollview.

[2016-08-06 18:45] hackiftekhar commented on #590
You can find the link of documentation in Read me file.

[2016-08-06 18:45] hackiftekhar commented on #591
Ok, will check your demo.

[2016-08-06 18:47] hackiftekhar commented on #594
You could take a look at the Manual Management Doc, there are some useful information regarding textFieldShouldBeginEditing delegate method.

[2016-08-06 18:52] hackiftekhar commented on #593
Ok, please provide a demo, I'll check when I'll get some time.

[2016-08-06 18:54] hackiftekhar commented on #595
You are getting this because there is a ViewController method in a UIView category in my lubrary. You could try changing your variable name.

[2016-08-06 18:56] hackiftekhar commented on #588
Please check Manual Management doc for this issue, you can find some workaround there. Yoh can find doc link in read me file.

[2016-08-06 19:04] hackiftekhar commented on #563
Merged!

[2016-08-07 03:22] chika-kasymov commented on #593
@hackiftekhar I created demo project with my layout structure, you can download it from this [link](https://www.dropbox.com/s/qwiivatwtwreacu/IQTest.zip?dl=0).

[2016-08-07 03:25] shiyong-zhong opened #596 "clicked clear button in UITextfield with IQKyeboardManager will fail"
Seems that IQKyeboardManager captured the button click action ,then keyboard was hidden while the input text in field would not be cleared.

[2016-08-07 13:51] jaltying-developer commented on #592
@hackiftekhar Did you exposed some properties that could identify how far did the view moved in Y axis?

[2016-08-07 19:43] hackiftekhar commented on #592
@jaltying-developer currently there is ni propery to know about view position movement. But now I think there should be a readonly property to expose this info.

[2016-08-07 19:46] hackiftekhar commented on #596
Library generally doesn't capture clear button action, but I'll checkiuf there is anything I can help you with. Keyboard shouldn't be dismiss by library if user tap clear button on text field. Are you sure that you are not dismissing it when clear button tap by user?

[2016-08-07 19:47] hackiftekhar commented on #593
Thanks, I'll check it when I get dome free time.

[2016-08-07 19:48] hackiftekhar commented on #593
Thanks, I'll check it when I'll get some free time.

[2016-08-08 05:05] #596 closed

[2016-08-08 05:19] zaptechtusharpatel commented on #589
Hello,

It’s frequently reproduced.

Thanks
Tushar Patel

[2016-08-08 06:39] TheBloodElf opened #597 "UITextView禁用编辑，可选择文本拷贝，这时会有问题"
视图中其他响应者弹起键盘，此时长按UITextView，键盘消失，视图不下降，下面会有黑边。

[2016-08-08 06:40] TheBloodElf commented on #597
View other responder bounce keyboard, then press UITextView, keyboard disappears, the view does not drop, the following will be black bars.

[2016-08-08 07:32] hackiftekhar commented on #589
Can you wrap up all this in a demo project?

[2016-08-08 21:44] vinner2112 commented on #482
Dear,
As I understood from your last message you were looking for some information  , I think this is it <http://honest.fightframe.com/e4wlh>
Sincerely yours, vinner_2112

[2016-08-10 07:12] tigerZhang86 opened #598 "Sometimes, TextField text frame error when textFieldViewDidBeginEditing"
IQKeyboardManager (3.3.2)

Sometimes,i find textfield's text frame is incorrect  when textFieldViewDidBeginEditing, it would be normal when  textFieldViewDidEndEditing.
What should I do for this?

ps:because upload screenshot fail ,so i paste links :
http://ww1.sinaimg.cn/large/005zmieUjw1f6onze18fdj30hs0qo0t7.jpg
http://ww3.sinaimg.cn/large/005zmieUjw1f6onzz2gg5j30hs0qoaa8.jpg

[2016-08-10 16:44] rabehssera opened #599 "Keyboard covers textfield/textview"
Hello

I have a view controller with 2 views in it. 1 is a static view, the other one is a scroll view. Inside the scroll view, there's a textview. When I tap in it, the keyboard appears, its top being at the top of the scrollview.

So, the keyboard covers the textview.

Can you help me ?

Thanks

[2016-08-10 17:38] Whirlwind opened #600 "Can you public keyboard property ?"
Sometimes, I need get the properties of the keyboard, e.g. Frame, Size, isShowing ...

I know that I can add observer to the keyboard notification, but I hope get the information without observer.

Can you public the properties about the keyboard?

[2016-08-10 18:51] hackiftekhar commented on #600
I can think about making some information public.

[2016-08-10 19:22] MJason23 opened #601 "Doesn't work correctly for container view"
I have a view controller contains another view controller's view within a container view, and that contained view controller has 3 UITextField, keyboard will cover those text field when I try to input. What should I do for this?

[2016-08-10 19:56] hackiftekhar commented on #601
I'll check it with a demo, because it should work with you situation too.

[2016-08-10 20:22] lecksfrawen opened #602 "Swift - IQKeyboardManager.sharedManager() ignored"
Hi. When I use the following function...
[code]
... in any UITextField, the IQKeyboardManager.sharedManager() object properties are ignored for that UITextField.

This is what happens:
![Example](https://d3dr1ze7164817.cloudfront.net/items/3W0D3u1V2N2h1c0s3V1J/Screen%20Recording%202016-08-10%20at%2001.30%20PM.gif)

Am I missing something?

I'm setting the following properties in AppDelegate:
![App

[2016-08-11 00:18] MJason23 commented on #601
Well, it works now after I embed all of those textfields in a stack view, and place that stack view onto a scroll view. Thanks anyway~

[2016-08-11 00:19] MaximusMcCann opened #603 "Can't reload input toolbar to enable next btn after unhiding textField"
Demo & video attached.
I have UITextFields that start off as hidden.  Then an action unhides them.  I have been unable to figure out how to refresh the autoToolbar on IQKeyboard manager.  Please help.

![iqkeyboardmanagerdemo](https://cloud.githubusercontent.com/assets/1643285/17575495/37f52168-5f2f-11e6-8a33-28a5bccd92d3.gif)

[IQKeyboardManagerDemo.zip](https://github.com/hackiftekhar/IQKeyboard

[2016-08-11 04:23] daront commented on #550
same for me. Swift 4.0.4

[2016-08-11 05:06] RamandeepGosal commented on #148
Hello There,

Literally its an awesome library , I keep using it in each of my projects.
But what i want to do is change the toolbar text for a certain textfeild in my code.
lets say i have a textfeild with date picker an I want to show the chosen date there (with year).
can it be done in any manner ?
can I change the tool bar text in any manner ?

[2016-08-11 06:53] zzyspace opened #604 "enabledDistanceHandlingClasses is noneffective"
I set `enable` to `NO` in AppDelegate:
[code]
and then add `HWAddressDetailController` to `enabledDistanceHandlingClasses` in `viewDidLoad`:
[code]
but it doesn't work..

[2016-08-11 07:11] ibhavin commented on #594
@hackiftekhar

 Thanks for pointing out that. [textFieldShouldBeginEditing in Manual Management Doc](https://github.com/hackiftekhar/IQKeyboardManager/blob/master/MANUAL%20MANAGEMENT.md#doing-custom-work-on-textfield-with-returning-no-in-textfieldshouldbeginediting-delegate) helped me.

[2016-08-11 07:11] #594 closed

[2016-08-11 07:28] zzyspace commented on #604
With breakpoint, I found that `UIViewController *textFieldViewController = [_textFieldView viewController];` in `-(BOOL)privateIsEnabled` always nil because following method never be called:
[code]
I think the '- viewController' method might be overrided in other UIView category in my project but I can't find yet. I suggest you can add prefix for every method in categories with your lib.

[2016-08-11 07:55] zzyspace commented on #604
I resovle this problem by adding prefix for `viewController` property:
[code]

[2016-08-11 09:43] JackWchen2015 commented on #479
My issue  is  same  with you，I  talked   where  it's can't work.but i can't  slove it  yet.

[2016-08-11 12:59] hackiftekhar commented on #599
I'll check it, if you could provide a demo then it would be great.

[2016-08-11 13:17] hackiftekhar commented on #602
Using `addPreviousNextDoneOnKeyboardWithTarget` method is purely manual, you have to handle all the things. It's just a convenient method to add UIToolbar and easily add callback functions only.

[2016-08-11 13:18] hackiftekhar commented on #603
There is a method to in IQKeyboardManager to reload inputViews, please call that method to reload UI at your convenience.

[2016-08-11 13:22] hackiftekhar commented on #148
It's already there. There is `placeholderText` in `IQUIView+IQKeyboardToolbar.h` file, please update it according to your requirement for that textField and it will update the toolbar displayed text. :)

[2016-08-11 14:11] mihirpmehta commented on #96
Hey hackiftekhar,

Thanks for the wonderful library first of all, I am still facing this issue with done button. when pressing done button the cursor goes to first row's textfield instead of last.

I know it's happening because dequeuing of cells. I am just wondering if there is any workaround around this things.

Thanks

[2016-08-11 15:09] hackiftekhar commented on #604
Hmm, not sure but looks like there some other lib override the category method

[2016-08-11 15:37] lecksfrawen commented on #602
I see. Thanks for the quick reply.

[2016-08-11 15:37] #602 closed

[2016-08-11 16:31] zzyspace commented on #604
Yeah, finally I find `viewController` method with another framework. I have forked your project and add prefix for categories. I'll pr tomorrow. By the way, IQKeyboardManager is really a fantastic lib~

[2016-08-11 17:09] MaximusMcCann commented on #603
Have tried variations of this method to toggle the buttons:
[code]

I have looked through IQKeyboardManager.swift, but am not seeing a specific method to call to update the input view.  I clearly must be missing something :/
Have tried setting `layoutIfNeededOnUpdate = true`
Have tried `reloadLayoutIfNeeded()`
Have updated to make sure I'm using v4.0.4
I see `textFieldViewDidBeginEditing` calls `r

[2016-08-11 17:43] MaximusMcCann commented on #603
This is my gross solution:
[code]

[2016-08-11 18:27] lfarah commented on #479
hey @hackiftekhar, I'm so sorry. I work daily on open source libraries and I know how frustrating it is when people don't answer. I wasn't able to find the bug when creating a new project

[2016-08-11 19:22] hackiftekhar commented on #603
`- (void)reloadInputViews` is the main function which reload inputViews. Now I think I should also trigger addToolbarIfRequired method in reloadInputViews method.

[2016-08-11 19:24] hackiftekhar commented on #604
Thanks, Now I think I should prefix some other methods too whose names are commonly used by other libs too.. Don't worry I'll do that myself. Thanks for pointing out.

[2016-08-11 19:27] hackiftekhar commented on #479
@Ifarah I think there is only you who can debug your main project code with my library and fix the bug (If library has somewhere).

[2016-08-12 00:38] #598 closed

[2016-08-12 04:42] hackiftekhar commented on #598
I got this issue sometime but couldn't identify why this is happening.

[2016-08-12 11:04] funkydev opened #605 "Library is changing text appearance"
When I'm setting up text programmatically for text fields it's changing text appearance randomly. Eg. it's
* setting up non-serif, bigger text
* centering text in control

[2016-08-12 14:02] hackiftekhar commented on #605
I don't think library is changing text appearance, looks like it is your app issue. If not then please share a demo project to demonstrate the issue.

[2016-08-14 11:31] funkydev commented on #605
It's changing when I'm setting up text programmatically, eg. in didBeginEditing outlet method. I'll prepare application to demonstrate bug.

I don't exclude my mistake, but I had this bug in three applications.
I hope we solve the problem.

[2016-08-14 20:43] hackiftekhar commented on #605
Ok, tgen could you please share a demo project?

[2016-08-15 04:54] Alex293 opened #606 "Placeholder vs title"
Is it possible to have a different values for the bar title over the keyword and the place holder in the textview ?
I would like for example to place "email" in the title and a sample email like "test@mydomaine.com" in the content. Would be a nice feature to have.

[2016-08-15 06:22] hackiftekhar commented on #606
It's possible, please check #529 issue.

[2016-08-15 06:28] Alex293 commented on #606
Thank for your quick answer I didn't noticed the difference between placeholderText and placeHolder !

[2016-08-15 06:28] #606 closed

[2016-08-16 01:31] randongjun opened #607 "键盘回收问题"
有时候键盘弹出后无法回收，好像框架会失效

[2016-08-16 01:33] randongjun commented on #607
Sometimes can't recovery, after the keyboard pops up like framework will fail

[2016-08-16 01:34] hackiftekhar commented on #607
Can you please provide any examples? I can't figure out whats the actual issue. Please be specific.

[2016-08-16 01:40] randongjun commented on #607
When I use the real machine test, sometimes textField bring up the keyboard cannot be recycled, but the recovery method of keyboard I have calls

[2016-08-16 01:42] randongjun commented on #607
//1.设置点击背景收回键盘
    [IQKeyboardManager sharedManager].shouldResignOnTouchOutside = YES;
    //2.隐藏键盘上的工具条
    //[IQKeyboardManager sharedManager].enableAutoToolbar = NO;
    [IQKeyboardManager sharedManager].enable = YES;
    [IQKeyboardManager sharedManager].shouldToolbarUsesTextFieldTintColor = YES;

[2016-08-16 01:43] randongjun commented on #607
have probblem?

[2016-08-16 02:44] hackiftekhar commented on #607
Not sure, please share a demo project and steps to reproduce.

[2016-08-16 07:54] carya opened #608 "When keyboard show, how to setup make scrollview scroll up, not it's subview(uicollectionview) scroll up"
I made a UICollectionView on UIScrollView，and a UITextField as UICollectionView's SectionFooterView, when the keyboard showing, I want the UIScrollView scroll up，not the UICollectionView, how could I do?

[2016-08-16 08:54] carya commented on #608
And the UICollectionView's scrollEnabled value is NO

[2016-08-16 09:18] hackiftekhar commented on #608
I think your UIScrollView should scroll in this case but I'm not sure about the actual caused. Can you share all this in a quick demo? I can check it when I got some time.

[2016-08-16 10:26] Tulleb opened #609 "Xcode 8 Beta 6 compatibility"
I'll submit a PR asap.

[2016-08-16 10:37] hackiftekhar commented on #609
It's already an issue open for this #531, we are also maintaining a `swift3` for Xcode 8. If you found any compilation issue with swift3 branch then I'm ok with your PR pointing to `swift3`.

[2016-08-16 10:54] Tulleb commented on #609
@hackiftekhar sorry for the duplicate then. I thought you would like a different issue for every Xcode beta incompatibilities (they is different issues every time obviously).

FYI: I've already submit the previous #587 PR that you merged a few days ago. I am having quite some trouble with the Beta 6 update which has a lot of changes.

I'll comment in #531 from now on.

Closed.

[2016-08-16 10:54] #609 closed

[2016-08-16 10:57] Tulleb commented on #531
I am currently working on the Beta 6 compatibility, but there is a lot of issues caused by the update [27639935](http://adcdownload.apple.com/Developer_Tools/Xcode_8_beta_6/Release_Notes_for_Xcode_8_beta_6.pdf)...

[2016-08-16 11:10] Tulleb commented on #563
Duplicate of #531.

[2016-08-16 16:39] zljkevin opened #611 "the "Done" button in keyboard is Invalid"
"Done" button in tool bar overlaps the function of the "Done" button in keyboard, so when I kick the "Done" button in keyboard ,there's no response.

[2016-08-16 18:02] hackiftekhar commented on #611
You have to implement textFieldShouldReturn and handle the return key yourself. Library cannot override keyboard done button due to some limitations.

[2016-08-16 18:03] #563 closed

[2016-08-17 00:50] zljkevin commented on #611
I have implement textFieldShouldReturn method, but it did not work!  It's  weird.

[2016-08-17 05:06] hackiftekhar commented on #611
You have to wring your own logic there.

[2016-08-17 11:00] zhouzhongguang opened #612 "use MFMessageComposeViewController with IQKeyboardManager in project"
When i use MFMessageComposeViewController to send message in my project, the IQKeyboardManager is in use alose, i find the animation to dismiss the MFMessageComposeViewController is weirdly.
And i remove IQKeyboardManager from my project, the animation works crrectly.

this is my code，you can
/**
 *  调取短信发送页面
 *
 *  @param phoneNumber 号码
 */
- (void)displaySMSComposerSheetWithPhone:(NSString *)pho

[2016-08-17 11:02] zljkevin commented on #611
I find something wrong in my code, thanks.

[2016-08-17 11:11] #611 closed

[2016-08-17 11:12] hackiftekhar commented on #612
Thanks for letting me know, I'll check it.

[2016-08-17 19:43] hackiftekhar commented on #479
@lqcjdx your demo contains UITableView and you are reloading tableView in textFieldDidEndEditing that is causing the issue while in @lfarah gif it looks like an scrollView. @lfarah could you please share your demo?

[2016-08-18 06:17] lfarah commented on #479
@hackiftekhar unfortunately I'm just using a normal ViewController. No scrollview.
I can't share this project because of NDA with client. I tried to create a new project but I wasn't able to recreate the bug.

[2016-08-18 06:20] hackiftekhar commented on #479
I think you should debug addToolbarIfRequired method to find why the order is incorrect.

[2016-08-18 09:39] hackiftekhar commented on #506
I dont know how the cell will look because it doesn't contain ScoreControllerCell, ScoreControllerCell, fd_heightForCellWithIdentifier, bk_initWithImage. Can you wrap-up all this in a demo?

[2016-08-18 09:41] hackiftekhar commented on #521
For now I think you can do this by programmatically (as a workaround). Closing this ticket for now as their are issues with the the carthage and IBDesignable/IBOutlets.

[2016-08-18 09:41] #521 closed

[2016-08-18 10:23] zhouzhongguang commented on #612
Today i test the problem on system iOS8.4.1 also, the animation is ok. So the animation weird problem is on iOS9.3.4.

Another problem, the device sytem version is also iOS9.3.4, when show keyboard in viewDidLoad method, the tool bar on
![screen shot 2016-08-18 at 6 17 51](https://cloud.githubusercontent.com/assets/10241716/17770506/c23f4f00-6570-11e6-814a-8cdda86abeba.png)
 the top of keyboard is

[2016-08-18 17:14] riznyk7 commented on #305
super.ViewWillAppear()  fkn amazing!!!!!
till now I will always call super methods, fuck that shit

[2016-08-18 18:57] hackiftekhar commented on #535
I override `delegate` property and it's `get` observer to refresh placeholder text show/hide. I observed that the `delegate` `get` observer is always called if there are any changes with the textView. It was necessary for me to override `set` property too because it's readwrite.

[2016-08-18 18:57] #535 closed

[2016-08-19 17:57] #562 closed

[2016-08-19 17:58] hackiftekhar commented on #564
@hzx157 Could you please provide a demo to debug it?

[2016-08-19 17:59] hackiftekhar commented on #565
@Mr-Luxry could you please share demo project?

[2016-08-19 18:05] #567 closed

[2016-08-19 18:06] #568 closed

[2016-08-19 18:06] #569 closed

[2016-08-19 18:07] hackiftekhar commented on #571
Could you please share a demo?

[2016-08-19 18:23] hackiftekhar commented on #573
This is because the second stackView textField's have direct siblings and next/previous logic is written to find direct siblings. The first stackView have different textFields within different stackView which isn't a direct siblings. You can find my answer in #549 issue.

[2016-08-19 18:23] #573 closed

[2016-08-19 18:36] hackiftekhar commented on #576
I've done this all manually using https://www.draw.io

[2016-08-19 18:36] #576 closed

[2016-08-19 18:37] #578 closed

[2016-08-19 18:37] #574 closed

[2016-08-19 18:43] hackiftekhar commented on #582
@OktayGardener Could you please provide any crash details?

[2016-08-19 18:46] hackiftekhar commented on #589
@zaptechtusharpatel could you please provide any demo project?

[2016-08-19 18:46] #588 closed

[2016-08-19 18:51] hackiftekhar commented on #585
IQKeyboardManager class uses `IQUIView+IQKeyboardToolbar` category to add keyboard toolbar. There are two possible ways for you.
1) Subscribe for done button actions but this doesn't let you to override default done button functionality and it will always perform it's default action and you'll only get notify when done is pressed. Please check `Get notified when tapping on previous/next/done butto

[2016-08-19 18:51] #585 closed

[2016-08-19 18:53] hackiftekhar commented on #584
There is no such functionality like `phoneTextfield.doneButtonText = "Continue"` but `phoneTextfield.addRightButtonOnKeyboardWithText("Check", target: self, action: #selector(validate))` should work for you.

[2016-08-19 18:53] #584 closed

[2016-08-19 18:54] #590 closed

[2016-08-19 18:58] hackiftekhar commented on #591
@davidgloves This is because your TextFields are not direct siblings. You have added both textFields in differentView i.e. LoginField->CCTextField->UITextField. Next/Previous only works with direct siblings. For a tweak you can read `Show Previous/Next arrow buttons for textField which are not direct disblings` section here https://github.com/hackiftekhar/IQKeyboardManager/blob/master/MANUAL%20MAN

[2016-08-19 18:58] #591 closed

[2016-08-19 19:05] hackiftekhar commented on #597
Not understand, please share demo.

[2016-08-19 19:07] hackiftekhar commented on #599
@rabehssera Could you please provide a demo?

[2016-08-19 19:07] #601 closed

[2016-08-19 19:28] hackiftekhar commented on #603
Swift version is missing `- (void)reloadInputView` method in IQKeyboardManager class while it is there in Objective-C version. I'm adding it.

[2016-08-19 19:30] #603 closed

[2016-08-19 19:31] hackiftekhar commented on #605
@funkydev Could you please share a demo?

[2016-08-20 13:32] ufoloko opened #613 "Framework file"
Please add framework file to add to project, it could be great

[2016-08-20 16:35] hackiftekhar commented on #613
I think it should be a developer requirement. I was hosting framework files before 1 year but then I removed it because it was taking unnecessary development time to rebuild framework after each updates. Now a days most us use cocoapods or carthage to add it as dependency which would easy our task and reduce requirement of hosting framework file. I would love to hear from you in this.

[2016-08-20 18:43] ufoloko commented on #613
Thanks for your response

I'm relatively new in iOS development but if you can guide me on how to generate framework file I can help you with that task.

The reason to prefer use framework file is for clean code, having all the files into our projects is not a good practice in our company because we don't want our developers have access to modify thirty party components.

From now I will try to he

[2016-08-20 19:29] hackiftekhar commented on #613
Here is the clean tutorial I found to make a framework http://locomoviles.com/uncategorized/create-ios-cocoa-touch-framework-using-xcode/

[2016-08-20 19:29] #613 closed

[2016-08-20 19:49] hackiftekhar commented on #600
For getting keyboard information I think the best way to add notifications. For `isShowing` and `movedDistance` I exposed properties.

[2016-08-20 19:49] #592 closed

[2016-08-20 19:49] #600 closed

[2016-08-21 12:11] hamsternik commented on #585
Yep. That's what i actually searched: https://github.com/hackiftekhar/IQKeyboardManager/blob/master/MANUAL%20MANAGEMENT.md#get-notified-when-tapping-on-previousnextdone-button-for-specific-uitextfielduitextview

[2016-08-22 05:11] zaptechtusharpatel commented on #589
Hello,

Sorry for inform you,I had resolve this issue.it was created due to other third party code.

Thank You.
Tushar

[2016-08-22 05:13] hackiftekhar commented on #589
Thanks

[2016-08-22 05:13] #589 closed

[2016-08-22 12:01] wojczitsu opened #615 "textFieldShouldBeginEditing not called"
In my UITableViewCell subclass:

    -(BOOL)textFieldShouldBeginEditing:(UITextField *)textField{
    if (textField.isAskingCanBecomeFirstResponder == YES){
        NSLog(@"A");
        return YES;
    }
    NSLog(@"B");
    return NO;
    }
I've got few UITextFields in one UITableViewCell.
Steps:
1. I touch textfield in first cell - B gets called by delegate and then A gets called by manager (COR

[2016-08-22 14:48] qiuyuliang opened #616 "How to custom previous and next button?"
If I want to custom previous and next button(maybe I just want to change the arrow image to title "Previous", "Next"), how to?Thank you...

[2016-08-22 15:06] hackiftekhar commented on #615
I think you should debug your code to check if your delegate is properly set.

[2016-08-23 06:07] smebberson commented on #575
This is still occurring. Are you able to make a new release, or do I just make Carthage build from master (somehow)?

[2016-08-23 06:09] hackiftekhar commented on #575
I'll release a new build soon.

[2016-08-23 06:09] smebberson commented on #575
@hackiftekhar, thanks.

[2016-08-24 09:33] mihirpmehta opened #617 "Nex previous works incorrectly when there is textfield in tablesection"
I have multiple UITextField in UITableViewCell as Well as textfields in Table Section Header.

When last text field of last row is become first responder

1> Next button is shown as enabled
2> pressing next goes to first textfield of first section header.

Any idea on quick fix ?

[2016-08-24 09:51] hackiftekhar commented on #550
I checked and found that `addToolbarIfRequired` is taking more time for the first time. I tried to optimise the logic but the optimisation causes some other bugs.

[2016-08-24 09:56] hackiftekhar commented on #616
Unfortunately this is currently not supported by library. You'll have to do it by your own code.

[2016-08-24 10:02] mihirpmehta commented on #617
Here is the demo project for the same.

Click on the last textfield of the UItableViewCell (kr placeholder) and click next.

[2016-08-24 12:07] hackiftekhar commented on #612
I checked my library with MFMessageComposeViewController and MFMailComposeViewController and it all animation looks ok to me. Regarding the black bar issue can you please share demo?

[2016-08-24 12:21] hackiftekhar commented on #617
Thanks for the demo, I'll check

[2016-08-24 13:13] #617 closed

[2016-08-24 15:04] mihirpmehta commented on #617
Is there any chance i will get this in pod ? so that i can update my pod

[2016-08-24 15:13] hackiftekhar commented on #617
I just updated Obj-C version v4.0.5 about an hour ago. I'm updating swift version.

[2016-08-24 15:15] mihirpmehta commented on #617
Super cool, you're unbelievably fast ... :)

[2016-08-24 15:22] hackiftekhar commented on #617
Actually I was planning to update CocoaPods from couple of days, so today I updated it with this fix.

[2016-08-24 18:03] mihirpmehta commented on #617
Thanks man, I updated the code and it works like a charm.  👍

[2016-08-25 07:14] qiuyuliang commented on #616
Thank you

[2016-08-25 07:14] #616 closed

[2016-08-25 08:16] wojczitsu commented on #615
It is properly set. If I remove plugin from project, everything works as expected.

[2016-08-25 15:21] hackiftekhar commented on #615
Are you using IQKeyboardReturnKeyHandler in that class?

[2016-08-27 00:53] pcicp opened #618 "PayPal-iOS-SDK with IQKeyboardManager ~> 4.0.5 crash under iOS 9 only"
hi guys

i use PayPal-iOS-SDK. it's PayPalPaymentViewController will present a internal PPAuthViewController if user isn't remembered.

PPAuthViewController is a view controller with login/password input and will trigger 'becomeFirstResponder' (in my option), then project will crash. Here app no response, console no log, in debug session will see cpu about 99%, memory continuously increase.

this

[2016-08-27 18:59] hackiftekhar commented on #618
Ok, please provide a demo and I'll check

[2016-08-28 02:39] pcicp commented on #618
i update the demo, please check
[Demo.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/440959/Demo.zip)

[2016-08-28 04:21] hackiftekhar commented on #618
Thanks :)

[2016-08-28 17:48] #575 closed

[2016-08-28 21:05] funkydev commented on #605
This is problem with system textfield control, not library.
I checked it again in new demo project.

Sorry for wasted time.

[2016-08-28 21:05] #605 closed

[2016-08-29 18:48] hackiftekhar commented on #605
np

[2016-08-30 12:54] kaviyarasu7 opened #619 "How to hide lable of field showing on keyboard layout ?"
Pls find the attached image
![image1](https://cloud.githubusercontent.com/assets/5144291/18089715/efade07e-6ede-11e6-8c55-457b5aac00de.PNG)

[2016-08-30 13:27] hackiftekhar commented on #619
If you would like to hide for all, then set shouldShowTextFieldPlaceholder=YES of IQKeyboardManager property. If you would like to hide it for just this textField then set shouldHidePlaceholderText=YES (IQUIView+IQKeyboardToolbar.h) of textField.

[2016-08-30 13:27] #619 closed

[2016-08-31 04:05] kaviyarasu7 commented on #619
Thanks for the quick response

[2016-08-31 06:09] PrithiviMelio commented on #619
I need to stop all fields of the app.

Which i need to modify IQUIView+IQKeyboardToolbar.h or IQUIView+IQKeyboardToolbar.m

[2016-08-31 06:48] PrithiviMelio commented on #619
How to avoid IQKeyboardManager for particular view

[2016-08-31 08:46] HeMiaoAmy opened #620 "textField in scrollView will always response the “ textFieldShouldBeginEditing” With IQKeyboardManger Swift 4.0.4"
in an  viewcontroller ,I set many textFields in scrollview ,and set delegates.
i find all textfield will resopnse this delegate function "textFieldShouldBeginEditing",even I set if conditional
eg:
 func textFieldShouldBeginEditing(textField: UITextField) -> Bool {
        if textField == first {
            print("first")
            return false
        } else if textField == second {

[2016-08-31 09:02] snowjade commented on #571
maybe I meet the same problem .
![image](https://cloud.githubusercontent.com/assets/11959369/18122484/4be8c602-6f9c-11e6-921b-dc5edd0599c5.png)

![image](https://cloud.githubusercontent.com/assets/11959369/18122440/21e4e7d2-6f9c-11e6-821b-42cfaf319274.png)

[2016-08-31 09:03] snowjade commented on #571
this is the main code .
![image](https://cloud.githubusercontent.com/assets/11959369/18122571/b9411e70-6f9c-11e6-843e-f0cc07e0096d.png)
![image](https://cloud.githubusercontent.com/assets/11959369/18122587/c5c7db02-6f9c-11e6-9e0a-20e290efd507.png)

[2016-08-31 09:04] yuyangdexue commented on #571
copy 4.04  (iOS 8.0 +)  private pod

[2016-08-31 09:11] snowjade commented on #571
@yuyangdexue  sorry, what you mean?  what you say is the problem or the   solution?

[2016-08-31 09:15] yuyangdexue commented on #571
@snowjade   我们这个问题是因为 RN 和 IQKeyBoardManager 起冲突了 导致文字抖动 具体是哪 不知道 因为 7.0以上版本不能安装最新的  试了一下 8.0 以上的库 改了一下 这个问题就被解决了 自己做一个私有pod   供内部使用

[2016-08-31 09:23] snowjade commented on #571
@yuyangdexue 好的，谢谢。

[2016-08-31 10:59] xiaodoudou opened #621 "Force Auto Toolbar to reload Textfields"
Hi,

I am facing an issue on my current project.
I am using a UITableView, when the field ends the edit, we have to reload the data of the table as some field are under some conditions to be displayed or not...

The conditions are trigger by a UIPickerView when it matchs specifics values.
By doing such things, (reloadData the UITableView) the current fields inside the toolbar doesn't exist anymore

[2016-08-31 17:34] hackiftekhar commented on #620
Please read Manual Management guidelines about textFieldShouldBeginEditing method.

[2016-08-31 17:36] hackiftekhar commented on #619
You cannot remove it from a particular ViewController but you can remove it from a view controller, please read Manual Management guidelines.

[2016-08-31 17:40] hackiftekhar commented on #621
You can use the IQUIView toolbar category in library to add your own toolbar and can add your own selector. This way all the controls will goes to you.

[2016-09-01 07:17] amitpaliwal87 commented on #479
hi hackiftekhar
i found exact reseaon why it is happening . when all textfield drag in stroryboard. then perferct work if you change order textfield then will not work next previous functionality. if again u set in order all text field then this problem will come again . if u remove all textfield then will work . so suggest me why it is happeing

[2016-09-01 07:24] amitpaliwal87 commented on #479
answer found. if u open xml file of storyboard then set all textfield in order then this problem solved. in story board u  changed again  textfield order this will good appear in storyboard  but will not effect in xml file. so change textfield order in xml file

[2016-09-01 14:14] s1Moinuddin commented on #620
Manual Management guidelines don't solve the problem. As,
-(BOOL)textFieldShouldBeginEditing:(UITextField *)textField {
 if (textField == customTextField)
    { return NO; }
    else
    { return YES;}
}

Always returns no for any TesxtField, I mean  (textField == customTextField) always true no matter which text field you select. I also Tried by adding Tag to different UITextFields, but unfortuna

[2016-09-02 07:07] hackiftekhar commented on #620
@HeMiaoAmy @s1Moinuddin I believe you haven't read Manual Management guide carefully, there are two proposed solutions and you only read half part of the first solution.

[2016-09-02 07:16] hackiftekhar commented on #479
Could you please let me know how to reproduce it? The app logic is to get all the siblings using textField.superview.subviews (IQAutoToolbarBySubviews is default behaviour of library).

[2016-09-03 11:12] s1Moinuddin commented on #620
My bad... I was thinking in wrong way... It do solves the problem...

[2016-09-03 13:46] #620 closed

[2016-09-04 12:08] TadeasKriz opened #622 "UITextField in UINavigationBar's titleView with UITableView content"
I can't seem to get working this scenario. I have a `UITextField` as a `titleView` for searching. The content of the controller pushed into the `UINavigationController` is a `UITableView` with results. The problem is, that when I click on the text field and keyboard opens, the `UITableView` still shows content behind the keyboard. I tried the `IQLayoutGuideConstraint`, but it does not work because

[2016-09-05 08:11] Shamsiddin commented on #340
I've just downloaded your demo example. and played around for UITableView and got the same problem. You said

Can you give solution how to fix it. Do we need to give unique cell identifier for each cell or what?

Thanks.

[2016-09-05 08:20] hackiftekhar commented on #622
This is because your textField isn't inside UITableView so the library think that all is going good. It's a user special case which cannot be handled by library, you must move your tableView contentInset or it's frame in order to fix UITableView scrolling issue.

[2016-09-05 08:23] hackiftekhar commented on #340
UITableView cell logic works different than it appears, UITableview remove cell from it self it cell goes above or below it's frame. So technically when cell isn't appearing then cell isn't in the view hierarchy. If you give a unique cell identifier then you could somehow optimise 70% to deal with the situation but it doesn't fix problem 100%.

[2016-09-05 08:29] Shamsiddin commented on #96
Hi hackiftekhar, I have some solution for this issue, maybe it helps.
Do to invisible cells are not on the view hierarchy, `textField` can't be first responder, for this reason don't move focus onto `textField` unless it's visible, but first of all move your `cell` (with `textField`) to the visible area and then make it first responder. Hope it helps.

[2016-09-05 08:35] hackiftekhar commented on #96
@Shamsiddin it's a good solution at first look, but still we don't know if the invisible cell has textFields or not. That's why library cannot identify if it needs to enable previous button or disable it. Do you have any idea about it?

[2016-09-05 09:08] Shamsiddin commented on #96
I'll dive a little into your library and give you note as far as I can. But you can without any problem catch `textField` from invisible cells if they have.

[2016-09-05 10:04] hackiftekhar commented on #96
It will work if user uses unique cell identifier for each cell, but will not work if user has same cell identifier, because a cell may be reused at any other indexPath. For example if cell was using at 3rd row previously then on reusing the cell may use at 10th position and any other, so it's harder than we think. Do you have any other proposed solution?

[2016-09-05 13:02] Rashesh-Bosamiya opened #623 "Automatic scroll suddenly not working."
I have tableView containing lots of textboxes, IQKeyboardManager was handling the auto scroll of tableView.

But now suddenly auto scrolling doesn't working.

what should I do?

[2016-09-06 03:58] hackiftekhar commented on #623
You mean it was working before and suddenly stopped working?

[2016-09-06 04:04] Rashesh-Bosamiya commented on #623
Yes

[2016-09-06 04:08] Rashesh-Bosamiya commented on #623
Maybe, I've upgraded the  version

[2016-09-06 04:10] hackiftekhar commented on #623
May be, probably you could debug to know the reason why it qas working before and stopped working now.

[2016-09-06 05:21] Rashesh-Bosamiya commented on #623
Where I do debug? In which file?

Even, I have refreshed the pod file and installed `pod 'IQKeyboardManagerSwift', '4.0.0'` version.
But scroll still not working.

[2016-09-06 05:29] Rashesh-Bosamiya commented on #623
I just found that scrolling working in `UIViewController` but not working in `UITableViewController`

[2016-09-06 07:47] alesp56 commented on #550
Any progress (or workaround) on that issue?

[2016-09-06 12:52] rvishal1991 opened #624 "Orientation changes make issue when keyboard is open"
- Open keyboard
- make orientation change
- view frame are not set as expected

[2016-09-06 13:23] VladKorzun opened #625 "UITextField subviews does not listed in -deepResponderViews"
In case when UITextField contain responder subviews they won't be listed by -deepResponderViews method. Proposition: remove 'else' from condition inside for loop than if textfield will have respondable subviews they will be included to final deep responder views array. Attaching corrected code below.
`- (NSArray*)deepResponderViews
{
    NSMutableArray *textFields = [[NSMutableArray alloc] init];

[2016-09-07 03:23] chika-kasymov commented on #593
I noticed that without using `IQKeyboardManager``UITableView` will scroll automatically to current row with active `UITextField` which is inside `UICollectionView`. Maybe this behaviour makes you library works wrong.

[2016-09-07 08:27] hackiftekhar commented on #623
Ahh, then you probably not calling [super viewWillAppear:animated];, there are some other closed issue you can find related to UITableViewController

[2016-09-07 08:50] Rashesh-Bosamiya commented on #623
Ok Thanks

[2016-09-07 08:50] #623 closed

[2016-09-07 09:50] hackiftekhar commented on #550
Not yet, I'm open to suggestions.

[2016-09-07 10:13] hackiftekhar commented on #625
Generally textField or textView doesn't contain a view which can become first responder. Could you please let me k ow your user case?

[2016-09-07 10:18] VladKorzun commented on #625
In my particular case textField's left and right views can become first responder and I would like to see them in deepResponderViews hierarchy.

[2016-09-07 10:57] hackiftekhar commented on #625
Then you could trying using IQPreviousNextView example, it may help you a lot.

[2016-09-07 11:18] VladKorzun commented on #625
All my textFields are already embedded in IQPreviousNextView. Wrapping this particular textField in another one IQPreviousNextView does not help, it just breaks previous/next logic so when you reach this textField you cant go "<" or ">"

[2016-09-07 14:04] ealeksandrov commented on #547
This solves everything for me:

[code]

[2016-09-07 15:39] VladKorzun opened #626 "IQKeyboardReturnKeyHandler steals UITextFieldDelegate"
When I use IQKeyboardReturnKeyHandler in my ViewController, delegated method:

`- (BOOL)textField:(UITextField *)textField shouldChangeCharactersInRange:(NSRange)range replacementString:(NSString *)string;`

from UITextFieldDelegate protocol won't fire.

Possible solution is to change this delegated method of IQKeyboardReturnKeyHandler class:

[code]

to

[code]

[2016-09-08 04:39] hackiftekhar commented on #626
Hmm, that will be better. Thanks for pointing out.

[2016-09-08 04:43] hackiftekhar commented on #625
All textField should be inside same IQPreviousNextView. You are putting all textField inside different IQPreviousNextView.

[2016-09-08 07:00] VladKorzun commented on #625
In my original case I have IQPreviousNextView with several UITextFields inside and one of this TextFields has left and right views that can became first responder too. So when 'deepResponderViews' method reaches this if statement:

[code]

it finds that textField can become first responder but because of 'if -> else if' statement it can't go further to check if textField's subviews also can become

[2016-09-08 10:49] tigerraj32 opened #627 "No visible @interface for 'UITouch' declares the selector 'view'"
I am using this library in Xcode 7.3 project and receiving this error
No visible @interface for 'UITouch' declares the selector 'view'  for method

-(BOOL)gestureRecognizer:(UIGestureRecognizer *)gestureRecognizer shouldReceiveTouch:(UITouch *)touch
{
    //  Should not recognize gesture if the clicked view is either UIControl or UINavigationBar(<Back button etc...)    (Bug ID: #145)
    return ([

[2016-09-09 06:47] hackiftekhar commented on #627
Will check for sure!

[2016-09-09 10:04] damirstuhec commented on #168
Having the same issue.

[2016-09-09 11:24] kevinonik opened #628 "textFieldShouldBeginEditing loading every textfield in tableview"
I have a actionsheet picker that needs to be called when certain textfields are tapped. It is now conflicting with IQKeyboard ..

`
       func textFieldShouldReturn(textField: UITextField) -> Bool {

        if textField.tag == 6 {
            textField.resignFirstResponder()

        }
        else{
            IQKeyboardManager.sharedManager().goNext()
        }
        return true
    }

    f

[2016-09-09 12:04] kevinonik commented on #628
never mind i did the other way around using tap gesture

[2016-09-09 12:04] #628 closed

[2016-09-09 14:12] IsmailHassanein opened #629 "Swift 3 for Xcode 8 GM support!"

[2016-09-09 14:56] hackiftekhar commented on #168
Please share demo, also please be sure that your scrollView has correct contentOffset.

[2016-09-09 18:27] damirstuhec commented on #168
The issue was that the height of the root content/container view inside the `UIScrollView` was too small. Looks like there is some logic depending on this height in some way. I fixed it by constraining that view to have full height of the `UIScrollView`.

[2016-09-09 18:43] hackiftekhar commented on #168
Yeah, the height is also considered with the algorithm I wrote.

[2016-09-10 15:40] X901 commented on #629
I have same problem i hope IQKeyboardManagerSwift support Swift 3 soon

[2016-09-10 20:29] OktayGardener commented on #582
Hey man. I decided not to use your lib because of tableview + autolayout problems. I don't remember specific details, but maybe you should check how your library behaves with iOS 10 + Xcode 8

[2016-09-10 21:31] hackiftekhar commented on #582
I never tested with iOS10 yet, will definitly try.

[2016-09-11 21:24] erusso1 commented on #629
Same! The migration assistant isn't as smooth as I had hoped to be.

[2016-09-12 08:28] LiChangcong commented on #479
[TestKeyBoardManager.zip](https://github.com/hackiftekhar/IQKeyboardManager/files/466847/TestKeyBoardManager.zip)
I reproduce it in a demo project. when a UITableViewCell contains a UITextField,and you call [tableView reload] in textFieldDidEndEditing, then it happens

[2016-09-13 07:23] hackiftekhar commented on #479
I need a demo without tableview because @Ifarah is having issue without tableview. If you are calling reloadData then there may be issues.

[2016-09-13 21:31] kevinnguy commented on #629
https://github.com/hackiftekhar/IQKeyboardManager/issues/531

[2016-09-14 00:29] ignotusverum commented on #593
Having same issue, been struggling with it for quite some time. Disabling IQKeyboardManager for specific text input would be perfect. Any updates on this issue ?

Thanks !

[2016-09-14 06:17] hackiftekhar commented on #593
@chika-kasymov If it's inside UITableViewController then library ignore to scroll and respect default behaviour of UITableViewController.

[2016-09-14 06:17] hackiftekhar commented on #593
@ignotusverum This issue exists due to tableview and collectionview cell reusing logic.

[2016-09-14 10:02] anilios opened #631 "“Use Legacy Swift Language Version” with pod 'IQKeyboardManagerSwift' on XCode 8"
I have to convert my project from XCode 7 to 8. I have following in my pod file: pod 'IQKeyboardManagerSwift'

And i get this error on compilation.

“Use Legacy Swift Language Version” (SWIFT_VERSION) is required to be configured correctly for targets which use Swift. Use the [Edit > Convert > To Current Swift Syntax…] menu to choose a Swift version or use the Build Settings editor to configure th

[2016-09-14 11:29] #531 closed

[2016-09-14 11:29] #629 closed

[2016-09-14 11:50] hackiftekhar commented on #627
it's not giving error to me. It just compile fine.

[2016-09-14 14:15] ignotusverum commented on #593
Got it, thanks for heads up @hackiftekhar.

[2016-09-14 15:15] hackiftekhar commented on #593
@chika-kasymov I checked your demo and as I say the issue exists due to the tableview and collectionview cell reusing logic, I cannot do anything with it.

[2016-09-14 16:07] MathisDetourbet opened #632 "Error Ambiguous use of 'textView(:shouldInteractWith:in:)'"
Hi,

I've just installed Swift 3 and Xcode 8. I updated IQKeyboardManager (v 4.0.5) and i have this following error :
![capture d ecran 2016-09-14 a 18 07 01](https://cloud.githubusercontent.com/assets/5748462/18519947/11ac5778-7aa6-11e6-819b-d448b320f6d6.png)

Thanks for your help !

[2016-09-14 16:41] OmarCaf opened #633 "Xcode8 + Carthage + IQKeyboardManager v4.0.5"
Carthage Build fail, the log is below:

The following build commands failed:
	Check dependencies
(1 failure)
A shell task (/usr/bin/xcrun xcodebuild -project /Users/omarcafini/Documents/Code/xxx-user/Carthage/Checkouts/IQKeyboardManager/IQKeyboardManager.xcodeproj -scheme IQKeyboardManagerSwift -configuration Release -sdk iphoneos ONLY_ACTIVE_ARCH=NO BITCODE_GENERATION_MODE=bitcode CODE_SIGNING_RE

[2016-09-14 21:27] hackiftekhar commented on #632
Swift 3  ersiin will be release soon via CocoaPods.

[2016-09-14 22:13] briankeane opened #634 "Keyboard covers TextField when it is close to the bottom"
Hi!  First off -- thanks for the really, really great library.

I'm having trouble keeping the keyboard from covering the textField when it is relatively close to the bottom of the screen.  My constraints are from the top neighbor.  Here is a demo with no code...

https://github.com/briankeane/IQKeyboardManagerExmple

And here are some screenshots of the layout and the issue.  Would you mind takin

[2016-09-15 02:37] tlandsmancars opened #635 "IQKeyboard Manager - v(4.0.5)"
I upgraded to XCode 8 and updated my pods using Cocoapods.
I got 443 build errors for IQKeyboardManager
<img width="376" alt="screen shot 2016-09-14 at 9 35 38 pm" src="https://cloud.githubusercontent.com/assets/17576176/18536507/6fd9e2bc-7ac3-11e6-8ac7-1a11748f3396.png">

[2016-09-15 02:38] chika-kasymov commented on #593
@hackiftekhar ok, I understood. For now this behaviour do not break anything and is sufficient. Thanks for help!

[2016-09-15 02:38] #593 closed

[2016-09-15 03:55] xuanzi23 commented on #631
me too having this problem also

[2016-09-15 06:37] anilios commented on #635
Same issue here.

[2016-09-15 08:14] ReFiRnE commented on #631
` post_install do |installer|
    installer.pods_project.targets.each do |target|
        target.build_configurations.each do |config|
            config.build_settings['SWIFT_VERSION'] = '3.0'
        end
    end
  end`
put this at the end of your pod file if you use cocoa pods

[2016-09-15 10:51] jeroen-develop opened #636 "IQKeyboardManger in swift3"
When enabling the manager the black toolbar appears, but the view doesn't move up.
The source files are imported in the project.

unfortunately no errors are thrown to debug the issue.

[2016-09-15 10:53] RomanVolkov commented on #633
I opened IQKeyboardManager manually and updated swift version and target (XCode ask you about it, plus, check swift version).
Then make carthage build --platform ios (not update).

As temporary solution - fine.

[2016-09-15 10:55] siryu8888 commented on #635
same issue.. please help anyone?

[2016-09-15 11:36] Raghvendra7 opened #637 "Textfield and textview under keyboard when return back to controller"
Hi
Actually i m using ur library.I have screen in which there are multiple textfield and textview in scrollview,Library working fine (field move above keyboard) but in a case from one textfield i have to move to new controller,when i pop back to previous screen and tap on email textfield in move behind the keyboard,i m attaching screenshot for the same
![img_0151](https://cloud.githubusercontent.c

[2016-09-15 12:55] yangzhixiao opened #638 "Is there a Swift 2.3 version compatible ?"
RT

[2016-09-15 13:14] hackiftekhar commented on #637
Hmm, you could try endEditing at your viewWillDisappear. Let me know if this solve your problem otherwise please share demo and I'll check.

[2016-09-15 18:53] tristandarwent commented on #635
I'm having the same issue. Comparing the branches, it doesn't seem to be updating the file through pods correctly.

[2016-09-16 02:19] snydersaurus opened #639 "How to prevent auto-hide of keyboard if there are textfield errors"
I would like to prevent the hiding of the keyboard on 'Done' if there is a problem with the text entry (e.g. an invalid email address).

I cannot find a way to override this (unfortunately 'textFieldShouldReturn' doesnt work).

Has anyone figured this out?

[2016-09-16 05:45] hackiftekhar commented on #639
You could either remove toolbar for that field kr add your own toolbar, so that you'll have full control over there.

[2016-09-16 05:46] hackiftekhar commented on #639
Yoh could probably wrote some logics in textFieldShouldEndEditing too.

[2016-09-16 05:58] Raghvendra7 commented on #637
@hackiftekhar i have already done that but problem not solved i dont understand why the problem is for only bottom email textfield and detail textview as all other working fine

[2016-09-16 09:31] parasdaff commented on #635
Same issues....Please do some help.

[2016-09-16 09:52] Rahulgupta-cdnsol opened #640 "UItextView Handling Issue"
HI,

I have taken UItextview and when I click on that IQkeyboardmanager nothing handles.

Can you please let me know what need to do so it works for UItextview.

Thanks

[2016-09-16 10:01] parasdaff commented on #638
is it compatible with swift 2.3?

[2016-09-16 11:41] singhmanpreet1 commented on #636
Same for me. Its not working in Swift 3.0 and iOS 10.0

[2016-09-16 12:50] OmarCaf commented on #636
Idem, yesterday in the branch "swift3" it worked

[2016-09-16 13:50] snydersaurus commented on #639
Ah yes, handling textFieldShouldEndEditing is a good strategy. Thanks.

[2016-09-16 15:25] hackiftekhar commented on #640
Could you please send more info? what isn't handled?

[2016-09-16 15:26] hackiftekhar commented on #637
Then you need to share a demo @Raghvendra7 and I'll check.

[2016-09-16 15:42] hackiftekhar commented on #624
It is working for me. Please provide more details

[2016-09-16 15:46] bdrelling commented on #635
Same issues... This is pretty crazy.

[2016-09-16 15:47] hackiftekhar commented on #635
Wait some minutes, I'm releasing Xcode8 compatible version soon.

[2016-09-16 16:38] #631 closed

[2016-09-16 16:38] #632 closed

[2016-09-16 16:38] #633 closed

[2016-09-16 16:38] #635 closed

[2016-09-16 16:38] #636 closed

[2016-09-16 16:38] #638 closed

[2016-09-16 18:23] jeroen-develop opened #641 "IQKeyboardManger in swift3"
Using the latest version (4.0.6) in swift 3,xcode 8, the view does not move for hidden textFields.

Tried a new project with a bunch of textFields, imported the source files but still no luck.

enabled the manager like this:

`  func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplicationLaunchOptionsKey: Any]?) -> Bool {
        // Override point for

[2016-09-16 18:38] bdrelling commented on #635
How long does this take to propagate for CocoaPods properly? I have to manually do the following for it to work right now:

`pod 'IQKeyboardManagerSwift', :git => 'https://github.com/hackiftekhar/IQKeyboardManager.git', :tag => 'v4.0.6'`

[2016-09-16 20:00] hackiftekhar commented on #635
Just pushed

[2016-09-16 20:01] hackiftekhar commented on #641
Could you please share demo app?

[2016-09-16 20:29] jeroen-develop commented on #641
Recreated the project from scratch.
The previous project I tried to use the pods, then I used the source files.

The new project I only imported the source files and by miracle everything works like it's supposed to work.

[2016-09-16 20:40] hackiftekhar commented on #641
Tgat's great!

[2016-09-17 00:54] yangzhixiao commented on #638
and which version what i should pod use cocospod ?
4.0.5?

[2016-09-17 03:21] siryu8888 commented on #635
Thx..

[2016-09-17 04:33] #641 closed

[2016-09-17 04:36] #639 closed

[2016-09-17 04:58] hackiftekhar commented on #638
There is no official supported
version for swift2.3 of IQKeyboardManager,

[2016-09-17 17:08] ujikol opened #642 "Toolbar cursor buttons not updated when changing enabled"
I dynamically set enabled for next text field in editing changed callback. This works fine. But the cursor button in the toolbar of the keyboard are not updated.

To give an example:
At the begin only the email field is enabled. When the user starts to edit it the keyboard shows the cursor keys grayed out. Once the contents of the text field looks like a valid email address the password field is e

[2016-09-17 17:11] hackiftekhar commented on #642
there is a method in IQKeyboardManager to reload inputView, you should call that method at appropriate time to reload toolbar button state.

[2016-09-17 18:23] ujikol commented on #642
Thanks. That works if there are more than 1 text fields enabled when editing starts.

In case of a single enabled text field no curser are show (instead of disabled ones), and reloadInputView don't show them even when another text field became enabled.

[2016-09-17 19:06] hackiftekhar commented on #642
Hmm, that I can check for single ehabled textField.

[2016-09-18 01:08] vbresults opened #643 "[Demo] Tapping Outside Hides Keyboard But Retains Layout Changes"
Edit: Never mind, this is not a bug.  It is resolved by doing this:

[code]

[2016-09-18 01:18] vbresults opened #644 "becomeFirstResponder Does Not Trigger IQKeyboardManager"
When you call becomeFirstResponder on a TextField programmatically, instead of in response to a tap event, this plugin is not triggered and the default behavior occurs where the field is covered.

Is there a specific way this should be done programmatically?

[2016-09-18 01:36] #643 closed

[2016-09-18 04:06] vbresults commented on #580
@hackiftekhar Thank you for this wonderful plugin (:

This issue is a showstopper :(

[2016-09-19 07:18] look1n commented on #625
Upvoting on this, i believe that library can expanded to enlist all views that can become first responders. We have a control that can become first responder and placed as right view of UITextField, when it becomes first responder it show UIPicker to select values and that resigns first responder, so i think it will be reasonable to include left and right views to -deepResponderViews

[2016-09-19 07:18] look1n commented on #625
We can create pull request if you wish ;)

[2016-09-19 07:57] hackiftekhar commented on #625
@look1n okay, I think we can include this support, but I should have to check some more scenarios so it would be better if I do change from my own and it would take some time. :)

[2016-09-19 08:01] look1n commented on #625
Great, thank you!

[2016-09-19 09:08] Sunxb opened #645 "How can i hide top toolbar of the keyboard"
thanks

[2016-09-19 12:14] EstebanVallejo commented on #638
Version 4.0.5 already supports Swift 2.3

[2016-09-19 14:25] hackiftekhar commented on #638
4.0.5 was built over Xcode7.3 and In my knowledge Xcode7.3 support Swift2.2.1. Correct me if I'm wrong.

[2016-09-19 17:15] EstebanVallejo commented on #638
@hackiftekhar - Yes, you are right, but v4.0.5 compiles without problem in Xcode 8 and Swift 2.3 (setting the "Use Legacy Swift Language Version" to YES in pod's build target) even thought it was built using Xcode 7.3 with Swift 2.2.1 ...

That's why I say that v4.0.5 already supports Swift 2.3

[2016-09-20 03:16] Treverr opened #646 "Does Not Adjust for Form Sheet"
Is this supposed to help adjust with form sheets?

I have a UITableViewController inside a UINavigationController which is presented in a Form Sheet and it doesn't adjust anything like I thought it would.

Is there anything i need to do?

[2016-09-20 07:59] hackiftekhar commented on #638
That's great @EstebanVallejo then I can assume swift2.3 has very less syntax changes as compared to swift2.3 and doesn't affect our library.

[2016-09-20 08:03] hackiftekhar commented on #646
Library also handle FormSheet case but if you are using UITableViewController then it has own logic for moving tableView to show content. So library ignore moving anything and respect UITableViewController default behaviour. For more please see **Note:** at **Moving Content That Is Located Under the Keyboard** section https://developer.apple.com/library/content/documentation/StringsTextFonts/Conce

[2016-09-20 08:37] RuslanKim commented on #133
ios 9/10.0.1 still a bug in IQK 4.0.5

[2016-09-20 08:51] hackiftekhar commented on #645
If you want to hide it for only one textField then it is explained here https://github.com/hackiftekhar/IQKeyboardManager/blob/master/MANUAL%20MANAGEMENT.md in **Hide UIToolbar for specific UITextField/UITextView** section. If you want to hide it for all textField then there is a property something like `enableAutoToolbar` and you can set it to NO.

[2016-09-20 08:52] hackiftekhar commented on #133
@RuslanKim Can you share any demo?

[2016-09-20 08:58] Sunxb commented on #645
@hackiftekhar Thank you!

[2016-09-20 09:02] hardikdevios opened #647 "Swift3 Please Use @discardableResult in some methods"
**For example**

[code]

So it gives warning result of this function result is not used, but it also not required to use so i Hope you should put `@discardableResult`

**e.g**

[code]

This is how we don't have to write something like this everytime
`let _ = IQKeyboardManager.sharedManager().goNext() 👎
`

[2016-09-20 09:03] RuslanKim commented on #133
![2016-09-20_16-01-22](https://cloud.githubusercontent.com/assets/5648249/18664207/c3d4ccba-7f4b-11e6-9bb2-0f51b711bb9a.png)
we have no open source yet, but it seems we have a dialog:
let alert = UIAlertController(
			title: title,
			message: message,
			preferredStyle: UIAlertControllerStyle.Alert)
and if we call in editing mode a dialog
![2016-09-20_16-02-08](https://cloud.githubusercontent.com

[2016-09-20 09:04] #645 closed

[2016-09-20 09:05] hackiftekhar commented on #647
That's great :) Can you make a pull request with these changes?

[2016-09-20 09:08] hackiftekhar commented on #133
If you cannot share a demo then I would suggest you to dismiss keyboard explicitly before presenting UIAlertController.

[2016-09-20 09:17] rs10693 opened #648 "TableViewInContainerViewController class"
In this "TableViewInContainerViewController"  you can add textField.delegate = self and also add "textFieldShouldBeginEditing" function multiple time call that function.

[2016-09-20 09:22] RuslanKim commented on #133
It seems like it helps, but I hope it would be fixed .)

[2016-09-20 09:25] rs10693 commented on #615
In my case "textFieldShouldBeginEditing" call multiple time.

[2016-09-20 09:26] hackiftekhar commented on #648
@rs10693 Could you please make pull-request with the changes?

[2016-09-20 09:26] hackiftekhar commented on #133
If you would like it to be fixed then you should share a demo and I can check if issue exist at library side or apple side.

[2016-09-20 09:28] hackiftekhar commented on #615
@rs10693 Please check Manual Management guide for more help on this, if you still got issue then please share some more details.

[2016-09-20 09:34] rs10693 commented on #648
i am Facing problem. that kind of like

i am write textField.delegate = self and then run it and print simple message so print out multiple time.

[2016-09-20 11:28] rs10693 commented on #615
I have follow your step like given action method but doesn't call. See below i have mention some of code snippet.

    func tableView(tableView: UITableView, cellForRowAtIndexPath indexPath: NSIndexPath) -> UITableViewCell {
            textField.delegate = self
            cell?.contentView.addSubview(textField)
            textField.addTarget(self, action: #selector(textFieldAction(_:)) , forCon

[2016-09-20 12:01] dizialina opened #649 "Doesn't return to start position when using TextView"
I'm using 4.0.6 version with Swift 3. IQKeyboardManager works fine with TextField. But when i try to enter text in TextView my keyboard appears and view going up - all is fine, but when my keyboard hide - my view do not return to start position (look screenshot). How can I fix it?
![alt tag](http://i66.tinypic.com/2rd7ms1.png)

[2016-09-20 13:22] jigs611989 opened #650 "keyboard not visable in iOS 10 Device Actual device Very inconsistent"
Hi Hackiftekjar,

I've tried with iOS 10 and see that no keyboard showing. Please check the attached image for more details.

**Note : It is a random issue, very inconsistent**

**Note : This issue is in iOS 10 device iPhone 6s, not in simulator. I know for simulator goto Menu->Hardware->Simulate Hardware Keyboard, and deselect that. **

![keyboardissue](https://cloud.githubusercontent.com/assets/

[2016-09-20 15:54] pcicp commented on #618
@hackiftekhar i tested again PayPal-iOS-SDK (2.15.1) + IQKeyboardManager (4.0.6). it seems bug only under ios9, ios8 and ios10 are ok.

[2016-09-21 06:36] rahthakor opened #651 "changing font doesn't reflect on input for 3rd party app"
Hi,

I have tried to use keyboard as extension with Raleway Font(Google) but I'm not able to see displaying Raleway font on input control. It uses same system font.

Is it possible to do so to change font of textfield or textarea of any 3rd Party app.

Thanks in advance

Regards,
rAhul

[2016-09-21 07:06] hackiftekhar commented on #651
Not sure what you exactly asking. Please elaborate.

[2016-09-21 07:07] hackiftekhar commented on #618
hmm, thanks for the more info @pcicp btw I was having some issues with presenting PayPal SDK that's why I couldn't get much time to fix it and check the demo.

[2016-09-21 10:18] rahthakor commented on #651
I have created keyboard extension with reference to this repo.

What I have changed is system font to Raleway Font(Google)  which are displayed on keyboard buttons without any problem. But When I press any button on keyboard that particular button title is display or textfield or wherever I'm typing but with system font not with font which I'm using in my keyboard title.

As you might know insertT

[2016-09-23 07:00] Vicktor0616 opened #652 "about the datasource"
hi,when i use a switch that can change the datasource,i mean that maybe the next tf is hidded,then the IQ 's nextbutton won't work...

[2016-09-23 09:06] hackiftekhar commented on #652
Please elaborate. I didn't understand it properly.

[2016-09-23 09:52] OrdHu opened #653 "IQKeyboardManager"
It is so great! Thank you!

[2016-09-23 12:02] hackiftekhar commented on #653
Thank You!

[2016-09-23 12:02] #653 closed

[2016-09-23 19:49] asadali737 opened #654 "[Objective-C] - Disable for specific view controller"
I am trying to disable it for specific view controller, I've tried with following properties

I tried `disableInViewControllerClass` property, but it is `read-only`
I tried `disabledDistanceHandlingClasses` property, but it is `read-only` too.

Would you please help me how to do it.

`IQKeyboardManager (v 4.0.6)`

Code sample
`[[IQKeyboardManager sharedManager] disabledToolbarClasses] = [NSSet set

[2016-09-23 20:05] asadali737 commented on #654
Sorry, my bad. I just figure it out how to do it. Here's my sample code for doing it.

`[[IQKeyboardManager sharedManager].disabledDistanceHandlingClasses addObject:NSClassFromString(@"ExampleVC")];`

[2016-09-23 20:05] #654 closed

[2016-09-26 01:33] sec7et opened #655 "Disable IQKeyboardManager failed"
I used

[2016-09-26 01:33] #655 closed

[2016-09-26 01:38] sec7et opened #656 "How to disable the IQKeyboardManager in somewhere"
I used this way to disable the IQKeyboardManager, but it doesn’t work:
- (void)viewDidAppear:(BOOL)animated {
    [super viewDidAppear:animated];

    [IQKeyboardManager sharedManager].enable = NO;
}

And I also try to use another method, it doesn't work, too:
[[[IQKeyboardManager sharedManager] disabledDistanceHandlingClasses] addObject:[XXXX class]];

How can I disable the IQKeyboardManager when

[2016-09-26 02:12] Vicktor0616 commented on #652
![qq20160926-0](https://cloud.githubusercontent.com/assets/15155110/18820573/628ff850-83d1-11e6-9dfb-9dbc5f565329.png)
![qq20160926-1](https://cloud.githubusercontent.com/assets/15155110/18820576/6a32d46a-83d1-11e6-9c77-10a5e896ec9d.png)
![qq20160926-2](https://cloud.githubusercontent.com/assets/15155110/18820578/6ccabbc0-83d1-11e6-9f55-7a79237194e1.png)
In the picture two,i changed the switch's s

[2016-09-26 09:56] Vicktor0616 commented on #652
![qq20160926-3](https://cloud.githubusercontent.com/assets/15155110/18830152/1117e352-8412-11e6-944d-ce14dec81055.png)

[2016-09-26 10:53] Vicktor0616 commented on #652
i fond the similar bug in #434,but i have to use it in iOS 7.0~~~ how can i do

[2016-09-27 06:15] #647 closed

[2016-09-27 08:22] JuoCode opened #658 "Next and previous button not appear in react-native project"
Is there any implement of IQPreviousNextView for react-native?

[2016-09-27 08:53] sabertoothPaste opened #659 "Touch outside of the keyboard , the keyboard did not hide"
I build a headerView with some TextFields for UITableViewController through StoryBoard as a extern view, and return it in the "
- tableView:viewForHeaderInSection:" function. But the keyboard didn't hide when I touch outside of the keyboard. I already set shouldResignOnTouchOutside = YES.

[2016-09-27 08:57] sabertoothPaste commented on #659
<img width="439" alt="2016-09-27 4 56 26" src="https://cloud.githubusercontent.com/assets/13805289/18866622/6437d0f8-84d3-11e6-8efd-dadf1f3afa49.png">

[2016-09-27 13:01] hackiftekhar commented on #658
Yup, you can add your own view class to toolbarPreviousNextAllowedClasses NSet to work same like as IQPreviousNextView.

[2016-09-27 13:52] JuoCode commented on #658
Thanks for your reply, i will try later.

[2016-09-27 14:18] damirstuhec commented on #168
@hackiftekhar I just had the same issue in table view as well. Running version `4.0.5`, Xcode 7, iOS 9.

The issue occurs if the content size of the table view is not high enough. In that case, I have to add empty footer view to expand the tableview and therefore "fill up" the parent view. Seem like there is some issue when the content is not high enough.

[2016-09-27 14:42] damirstuhec commented on #168
@hackiftekhar The funny thing is that everything works well if I use `Next` button on keyboard, but if I focus on text field directly, then the keyboard covers the text field.

[2016-09-28 01:07] #652 closed

[2016-09-28 05:34] JuoCode commented on #658
[code]

It not work, which view should i add to toolbarPreviousNextAllowedClasses?

[2016-09-28 06:33] zxshang commented on #656
I found the same problem. it's not working what ever enable is YES or NO...  I just want some page use IQKeyboardManager and other handle myself. sign...

[2016-09-28 09:18] hackiftekhar commented on #652
I think you are probably looking for `reloadInputViews` methods of `IQKeyboardManager`.

[2016-09-28 09:24] hackiftekhar commented on #658
This should be the top view of all, means next/prev will show for all inner textFields inside this view. For example

RCTView
-UIView
--UITextField
--UITextField
-UIView
--UITextField
-UITextField
-UITextField

So with this, next/previous will show for all 5 textFields to navigate between them.

[2016-09-28 09:25] hackiftekhar commented on #656
@sec7et are you asking about disabling toolbar too?

[2016-09-28 13:39] damirstuhec opened #660 "Content insets are wrong"
We have a `UIViewController` with `UITableView` and a `UIButton` at the bottom.
`UITableView` is constrained to the bottom layout guide with `52` constant, which equals to the height of the button at the bottom.

In the table view, we have quite a few cells with `UITextField`s and when we give focus to the last `UITextField` the table view insets are wrong.

We are moving the bottom button up alon

[2016-09-29 02:31] hackiftekhar commented on #660
Thank You for the explanation, I'll definitely take a look at this issue.

[2016-09-29 05:47] yoha opened #661 "Override content inset to accomodate toolbar"
Hi Mohd,

my implementation of uitoolbar currently blocks the text view's content behind it (keyboard is not running). Which variable should I change in your codebase so that the whole content moves up by 44 points so that it's "on top" of the toolbar?

I tried changing the value for the variable `startingTextViewContentInsets` in `IQKeyboardManager.swift` but I got nothing.

Thanks for the pointe

[2016-09-29 05:55] yoha commented on #661
Please disregard this issue. This is actually easily fixed by adjusting the vertical height of the text view in the storyboard. Thanks.

[2016-09-29 05:55] #661 closed

[2016-09-29 08:59] angelmic commented on #656
I have same issue in UITableViewController.

[2016-09-29 19:45] damboscolo commented on #568
Not working for me.

[2016-10-01 09:00] hackiftekhar commented on #660
hmm, @damirstuhec I checked this and library is doing correct, technically library doesn't know that there is a button which is hiding the textField. So I think your tableFooterView workaround is the best thing for now to overcome with this situation.

[2016-10-01 09:05] hackiftekhar commented on #659
@sabertoothPaste Please share an example project.

[2016-10-01 09:05] #658 closed

[2016-10-01 11:28] hackiftekhar commented on #651
Looks like this question isn't related to library. Are you sure that it's related to IQKeyboardManager?

[2016-10-01 11:30] hackiftekhar commented on #650
@jigs611989  Then you are probably setting inputView as [[UIView alloc] init] or something else. Can you please check again?

[2016-10-01 11:30] hackiftekhar commented on #649
@dizialina can you please share a demo project?

[2016-10-01 12:34] Premal-Khetani opened #662 "Not Working With UITextView in ios 9 and as well as 10"
Hello, I am using it with HPGrowingTextView. In ios 8 it was working but don't know whats happning it's not working in ios 9 and ios 10.  when keyboard appears the textview doesn't go up from the bottom and stick to bottom of view only. although the tool bar is showing but the textview is hidden behind the keyboard. please help me asap as i am using it in live project.
Thank you.

[2016-10-01 13:29] hackiftekhar commented on #662
I think it's your responsibility to check @Premal-Khetani for the issue if it's something related to your project, if you find something related to IQKeyboardManager then it's my responsibility to check, I can help you for sure!

[2016-10-02 14:53] rahthakor commented on #651
@hackiftekhar Yeah actually I show your code more deeply than I found out that what I was looking for might be not available in your repo.
You have used your toolbar on top of system keyboard. I basically you haven't created an extension which I guessing.

Any which ways thank you.
you can close this issue.

[2016-10-02 15:25] #651 closed

[2016-10-04 11:08] irshadqureshi opened #663 "Textfield hiding behind the keyboard in Popover ViewController"
I had added multiple TextField in the popover and while calling a popover the library is not working properly for the top most TextField and for the bottom most TextField when the screen orientation is landscape but it works fine with portrait orientation, Please have a look at the example project I am adding and let me know if there is a solution for it.

FYI: This is an iPad Project and I am fac

[2016-10-04 14:01] hackiftekhar commented on #650
ahh, I also got keyboard hiding issues with Touch ID when I tap on **Enter Password** button, so this is probably a bug with Touch ID popup.

[2016-10-04 14:08] hackiftekhar commented on #663
Thanks for the adding demo project @irshadqureshi

[2016-10-06 10:13] PurviJani commented on #236
Hello, i  tried both pod 'IQKeyboardManagerSwift','4.0.6' and pod 'IQKeyboardManagerSwift'
IQKeyboardManagerSwift for Xcode 8, Swift 3 but it's not working....Please help me

For pod 'IQKeyboardManagerSwift'
   import IQKeyboardManagerSwift
  IQKeyboardManager.sharedManager().enable = true

And For:  'IQKeyboardManagerSwift','4.0.6'
drag And Drop IQKeyboardManagerSwift
IQKeyboardManager.sharedMana

[2016-10-06 10:19] retsohuang commented on #236
Hi @PurviJani
Can you share your Podfile? And what version of Swift you use? Swift 3 or Swift 2.3?